---
title: Random Terrain
layout: page
struct:
  - abou
  - tech
  - rand
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | technology | random terrains | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/tech" target="_self" class="whitelink">technology</a> | <a href="abou/tech/rand" target="_self" class="whitelink">random terrains</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center"><center><a href="abou/tech/rand" target="_self"><img src="images/abou/tech_rand_{{ current }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						<td class="lightwords"><br><b>Please note</b> Levels grabbed from the editor have no special effects, particles, sky, water, lighting/shading or edge-trimming, so they look pretty rough as opposed to how they look when they are in the game and the engine does it's magic!<br></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | random terrains | image -->
{%- endif %}

			<!-- ABOUT | technology | random terrains -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/tech" target="_self" class="whitelink">technology</a> | random terrains ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">spotlight on<br>random terrains</td>
						<td class="darktext">
One of the coolest features about previous Worms games was the ability to generate thousands of 
different levels, so the game would always feel different. Because of the generation technique, the 
seed-based level data was small and compact, meaning it was quick to send over network and levels 
could effectively be created by typing a name to generate them (a seed would be derived). People 
even started to 'read' the landscape created by a date or name in a similar fashion to how you might 
read a horoscope or tea-leaves!<br>&nbsp;<br>

However cool it was in 2D, there were only a small range of level types created and sometimes the 
levels randomly generated didn't play really well. In Worms 3D, we wanted random 3D worlds that would 
be rich in terms of features, be quick to generate and handle (via button or entering a 
word/name/birthday) - and use the best features of the new game engine.<br>&nbsp;<br>

To do this, we have created hundreds and hundreds of 'seed modules' which are chunks of land, 
features and objects which are used and joined together randomly (albeit with some controls on each 
seed module) to ensure that levels were feature-packed, placed worms in good positions 
etc.<br>&nbsp;<br>

Currently the random generation resides in the level editor tool, but it currently being 
incorporated into the game's user-interface. However, we've been able to grab some images from the 
editor to demonstrate the variety of landscapes you can expect - and you'll see some of the objects 
and theme-stuff for the first time!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | random terrains -->
			<!-- ABOUT | technology -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">why now?</td>
						<td class="darktext">
Why haven't we done the 3D thing before? Well, the problem with moving the game into three dimensions has
always been one of the technology of the time allowing us to do a good job of randomly generating and
destroying landscape. We feel confident that the technology we've now developed in-house allows for both
fantastic true-3D landscape deformation as well as the  faithful translation of the established Worms
comic-book visual style. Think tunnelling, roping, random levels and realistic landscape deformation all
in beautiful 3D and you won't be too far wrong.<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">out with the old?</td>
						<td class="darktext">
So has the core game changed moving into three dimensions? Not at all! It's always been our intention to
make the game as true to the 2D games as possible while still taking advantage of the opportunities offered
by an extra dimension. To this end, the gameplay remains relatively unchanged yet enhanced: relying on the
player to judge the trajectory and strength of their shots in order to inflict maximum damage on opponents.
All the favourite weapons such as bazooka, grenade, dynamite and sheep are all still present and correct,
and additions such as 'Wormpot' have been included too.<br>&nbsp;<br> 
 
And of course, the emphasis is still on great multiplayer action and challenging single player
fun!<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">the landscape</td>
						<td class="darktext">
Worms 3D uses a proprietary, all-new deformable polygon/voxel landscape engine that allows the player to
destroy any part or ALL of the landscape, from any direction.<br>&nbsp;<br>
 
<i>Shoot through the floor, make a hole and shoot at the player below you on a plateau!</i><br>&nbsp;<br>
 
Tunnel your way through the hillside! Blast your way through! Watch as the landscape crumbles, sinks
and deforms as you use progressively more powerful weapons!<br>&nbsp;<br>
 
Unlike other engines, the technology allows you to explode any part of the land, create holes, tunnels,
cliffs, caves and emulates the way the game played in 2D. We're pretty pleased with it.<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology -->

			<!-- ABOUT | technology | random terrains -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/tech/rand" target="_self" class="navilink"><img src="images/abou/welc_tech_rand.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> | <a href="abou/tech/rand" target="_self" class="navilink">random terrains</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/tech/rand" target="_self" class="whitelink"><b>Worms 3D random terrains</b></a><br>
Click here for a spotlight on the randomly generated terrains!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | random terrains -->

			<!-- ABOUT | technology | wireframes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/tech/wire" target="_self"><img src="images/abou/welc_tech_wire.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> | <a href="abou/tech/wire" target="_self" class="navilink">wireframes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/tech/wire" target="_self" class="whitelink"><b>Worms 3D wireframes</b></a><br>
Click here for our technical spotlight on wireframes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | wireframes -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | technology | random terrains -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/tech/rand/1" target="_self"><img src="images/abou/tech_rand_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/2" target="_self"><img src="images/abou/tech_rand_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/3" target="_self"><img src="images/abou/tech_rand_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/tech/rand/4" target="_self"><img src="images/abou/tech_rand_4.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/5" target="_self"><img src="images/abou/tech_rand_5.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/6" target="_self"><img src="images/abou/tech_rand_6.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/tech/rand/7" target="_self"><img src="images/abou/tech_rand_7.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/8" target="_self"><img src="images/abou/tech_rand_8.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/rand/9" target="_self"><img src="images/abou/tech_rand_9.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | technology | random terrains -->
{%- endblock %}
