---
title: Wireframes
layout: page
struct:
  - abou
  - tech
  - wire
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | technology | wireframes | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/tech" target="_self" class="whitelink">technology</a> | <a href="abou/tech/wire" target="_self" class="whitelink">wireframes</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center"><center><a href="abou/tech/wire" target="_self"><img src="images/abou/tech_wire_{{ current }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | wireframes | image -->
{%- endif %}

			<!-- ABOUT | technology | wireframes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/tech" target="_self" class="whitelink">technology</a> | wireframes ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">spotlight on<br>wireframes</td>
						<td class="darktext">
These images show just how many polygons that the game is throwing
around. It's a lot! The fact that the game uses "polygon wrapped
voxel-technology" mean that there's a lot of mesh-data flying about.
Traditionally a lot of tricks and techniques are used to discard, hide
and make scenes appear a lot more polygon-intense than they perhaps are
- but here you can see just whats going on.<br>&nbsp;<br>

There needs to be this amount of detail in order to fully deform the
landscape in 3D, there's no real getting away from it. The game looks
cartoony and clean because that's the way it's been arranged, complete
with "soft-edges" and vivid colours. The engine doesn't really suit
large, expansive areas or particularly realistic ones - although we're
doing some experiments now that may make it into the game as hidden
extras.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | wireframes -->
			<!-- ABOUT | technology -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">why now?</td>
						<td class="darktext">
Why haven't we done the 3D thing before? Well, the problem with moving the game into three dimensions has
always been one of the technology of the time allowing us to do a good job of randomly generating and
destroying landscape. We feel confident that the technology we've now developed in-house allows for both
fantastic true-3D landscape deformation as well as the  faithful translation of the established Worms
comic-book visual style. Think tunnelling, roping, random levels and realistic landscape deformation all
in beautiful 3D and you won't be too far wrong.<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">out with the old?</td>
						<td class="darktext">
So has the core game changed moving into three dimensions? Not at all! It's always been our intention to
make the game as true to the 2D games as possible while still taking advantage of the opportunities offered
by an extra dimension. To this end, the gameplay remains relatively unchanged yet enhanced: relying on the
player to judge the trajectory and strength of their shots in order to inflict maximum damage on opponents.
All the favourite weapons such as bazooka, grenade, dynamite and sheep are all still present and correct,
and additions such as 'Wormpot' have been included too.<br>&nbsp;<br> 
 
And of course, the emphasis is still on great multiplayer action and challenging single player
fun!<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">the landscape</td>
						<td class="darktext">
Worms 3D uses a proprietary, all-new deformable polygon/voxel landscape engine that allows the player to
destroy any part or ALL of the landscape, from any direction.<br>&nbsp;<br>
 
<i>Shoot through the floor, make a hole and shoot at the player below you on a plateau!</i><br>&nbsp;<br>
 
Tunnel your way through the hillside! Blast your way through! Watch as the landscape crumbles, sinks
and deforms as you use progressively more powerful weapons!<br>&nbsp;<br>
 
Unlike other engines, the technology allows you to explode any part of the land, create holes, tunnels,
cliffs, caves and emulates the way the game played in 2D. We're pretty pleased with it.<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology -->

			<!-- ABOUT | technology | random terrains -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/tech/rand" target="_self" class="navilink"><img src="images/abou/welc_tech_rand.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> | <a href="abou/tech/rand" target="_self" class="navilink">random terrains</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/tech/rand" target="_self" class="whitelink"><b>Worms 3D random terrains</b></a><br>
Click here for a spotlight on the randomly generated terrains!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | random terrains -->

			<!-- ABOUT | technology | wireframes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/tech/wire" target="_self"><img src="images/abou/welc_tech_wire.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">technology</font> | <a href="abou/tech/wire" target="_self" class="navilink">wireframes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/tech/wire" target="_self" class="whitelink"><b>Worms 3D wireframes</b></a><br>
Click here for our technical spotlight on wireframes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | technology | wireframes -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | technology | wireframes -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/tech/wire/1" target="_self"><img src="images/abou/tech_wire_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/wire/2" target="_self"><img src="images/abou/tech_wire_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/wire/3" target="_self"><img src="images/abou/tech_wire_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/tech/wire/4" target="_self"><img src="images/abou/tech_wire_4.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/wire/5" target="_self"><img src="images/abou/tech_wire_5.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/tech/wire/6" target="_self"><img src="images/abou/tech_wire_6.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>wireframe screenshots</b><br> .jpg 640x448<br>&nbsp;<br>
<a href="images/abou/tech_wire.zip" target="_self"><img src="images/abou/tech_wire.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
Decompress using<br><a href="http://www.winzip.com" target="_blank" class="whitelink">Winzip</a>/<a href="http://www.stuffit.com" target="_blank" class="whitelink">Stuffit</a> or similar.<br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | technology | wireframes -->
{%- endblock %}
