---
title: Links
layout: page
struct:
  - abou
  - pres
  - link
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- ABOUT | press | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | links ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">links</td>
						<td class="darktext">
press sites will be added here.. get them sent in!<br>&nbsp;<br>					

<b>UK Press Sites</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gcube.hotlinks.co.uk/interviews.php?id=worms3D" title="G-Cube | Interview with Martyn" target="_blank" class="navilink">G-Cube</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.eurogamer.net/article.php?article_id=53251" title="Eurogamer | Game Preview" target="_blank" class="navilink">Eurogamer</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamershell.com/reviews_Worms3DPreview.shtml" title="Gamershell | Game Preview" target="_blank" class="navilink">Gamershell</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.computerandvideogames.com/news/news_story.php?id=96233" title="Computer and Video Games | Game Preview" target="_blank" class="navilink">Computer and Video Games</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://gamesradar.msn.co.uk/previews/default.asp?page=1&amp;subsectionid=176&amp;pagetype=2&amp;searchstring=&amp;articleid=65885" title="Games Radar | Interview with Martyn " target="_blank" class="navilink">Games Radar</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamershell.com/hellzone_Arcade-Platform_Worms_3D.shtml" title="Gamershell | Demo Screens" target="_blank" class="navilink">Gamershell</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.cube-europe.com/news.php?nid=5349" title="GameCube Europe | In-game movies" target="_blank" class="navilink">GameCube Europe</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://mediaviewer.ign.com/mediaviewer.jsp?fromint=1&amp;page_title=Worms+3D&amp;channel_id=74&amp;site=cube&amp;pagetype=medialist&amp;adtag=network%3Dign&amp;object_id=552309" title="IGN | In-game movies" target="_blank" class="navilink">IGN</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.xbox.com/en-us/polygon/20030825.htm" title="Xbox | Interview with Martyn" target="_blank" class="navilink">Xbox</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespot.com/ps2/strategy/worms3/preview_6074135.html" title="Gamespot | Hands-On Impressions ECTS" target="_blank" class="navilink">Gamespot</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.silicon-fusion.com/news/1107/index.html" title="Silicon Fusion | Pre-show report ECTS" target="_blank" class="navilink">Silicon Fusion</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.msxbox-world.com/view_media.php?game=Worms%203D" title="MSXbox World | Movie" target="_blank" class="navilink">MSXbox World</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://uk.special.reserve.co.uk/q_GC7301_worms_3d.html" title="Special Reserve Catalogue | New screenshots" target="_blank" class="navilink">Special Reserve Catalogue</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamerseurope.com/article.php?id=262" title="Gamers Europe | Info/screens" target="_blank" class="navilink">Gamers Europe</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://spong.com/x?vid=11033697" title="SPOnG.com | Info/screens" target="_blank" class="navilink">SPOnG.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamesxtreme.net/searchgx.php?ss=worms+3d" title="games xtreme | Previews" target="_blank" class="navilink">games xtreme</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.totalvideogames.com/?section=Read%20Features&amp;id=117&amp;gameid=3152&amp;format=000006" title="Total Video Games | Interview" target="_blank" class="navilink">Total Video Games</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespy.com/games/search/index.asp?search=worms+3d" title="GameSpy.com | Previews" target="_blank" class="navilink">GameSpy.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://uk.playstation.com/news/newsStory.jhtml?storyId=104025_en_GB_NEWS&amp;linktype=SSL" title="PlayStation.com | New screenshots/info" target="_blank" class="navilink">PlayStation.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.silicon-fusion.com/games/PC/531/index.html" title="Silicon Fusion | New screens" target="_blank" class="navilink">Silicon Fusion</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.ferrago.co.uk/story/1440" title="Ferrago.co.uk | Preview" target="_blank" class="navilink">Ferrago.co.uk</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamerswave.com/all2305032.htm" title="Gamerswave.com | New screenshots" target="_blank" class="navilink">Gamerswave.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.cubefocus.com/read.php?cid=263&amp;type=n" title="Cube Focus | 4 new screens" target="_blank" class="navilink">Cube Focus</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.loadedinc.com/gamehub/game_info.php?&amp;game=Worms%203D" title="Loaded Inc | New info" target="_blank" class="navilink">Loaded Inc</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespot.com/ps2/strategy/worms3" title="Gamespot | PS2 Preview" target="_blank" class="navilink">Gamespot</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespot.com/gamecube/strategy/worms3" title="Gamespot | Gamecube Preview" target="_blank" class="navilink">Gamespot</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespot.com/xbox/strategy/worms3" title="Gamespot | Xbox Preview" target="_blank" class="navilink">Gamespot</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamespot.com/pc/strategy/worms3" title="Gamespot | PC Preview" target="_blank" class="navilink">Gamespot</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.xbox365.com/news/gdb.cgi?class=gameid&amp;id=EpVZFuVkZpZlKkDClK" title="XBOX365 | Preview" target="_blank" class="navilink">XBOX365</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.bonusweb.cz/pc/preview/worms3dp1.html" title="Bonusweb.cz | Preview" target="_blank" class="navilink">Bonusweb.cz</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.fragland.net/index.php?page=gamedetails&amp;gid=795" title="Fraglans.net | Preview" target="_blank" class="navilink">Fraglans.net</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.jucaushii.ro/read_art.php?aid=185" title="Romanian Gaming Magazine | Interview" target="_blank" class="navilink">Romanian Gaming Magazine</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.etoychest.org/reviews/interview_003.html" title="eToychest | Interview" target="_blank" class="navilink">eToychest</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamingworldx.com/news/E3Worms3DImpressions.shtml" title="Gaming World X | E3 Impressions" target="_blank" class="navilink">Gaming World X</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.penny-arcade.com/news.php3?date=2003-05-19#1327" title="Penny Arcade | E3 Impressions" target="_blank" class="navilink">Penny Arcade</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.absolute-playstation.com/members/index.php?act=ST&amp;f=24&amp;t=6916" title="Absolute PlayStation | E3 info" target="_blank" class="navilink">Absolute PlayStation</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.homelanfed.com/index.php?id=13952" title="Homelan | Interview" target="_blank" class="navilink">Homelan</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.homelanfed.com/index.php?id=13952" title="Homelan | Interview" target="_blank" class="navilink">Homelan</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.axbdata2.de/php/interview_worms3_e.php" title="AreaXBox | Interview" target="_blank" class="navilink">AreaXBox</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.playstationultra.com/previews.php?view=previews1&amp;action=view&amp;id=6" title="PlayStation Ultra | Preview" target="_blank" class="navilink">PlayStation Ultra</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.computerandvideogames.com/news/news_story.php(que)id=76753&amp;domain=nom" title="Computer and VideoGames | Preview" target="_blank" class="navilink">Computer and VideoGames</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.thexboxstop.com/games/w/worms3/default.asp" title="The Xbox Stop | Preview" target="_blank" class="navilink">The Xbox Stop</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://pc.ign.com/objects/486/486858.html" title="IGN | PC Preview" target="_blank" class="navilink">IGN</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://ps2.ign.com/objects/486/486859.html" title="IGN | PS2 Preview" target="_blank" class="navilink">IGN</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://cube.ign.com/objects/488/488094.html" title="IGN | Gamecube Preview" target="_blank" class="navilink">IGN</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.pcgameworld.com/game.php/id/1247" title="PC Gameworld | Preview" target="_blank" class="navilink">PC Gameworld</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.neoseeker.com/Games/Products/GC/worms3" title="Neoseeker | Preview" target="_blank" class="navilink">Neoseeker</a> ]<br>&nbsp;<br>

<b>Belgium</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.console.be/search.php?query=worms+3" title="Console.be | New screenshots" target="_blank" class="navilink">Console.be</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamershell.com/hellzone_Arcade-Platform_Worms_3D.shtml?q=worms+3D" title="GamersHell | New screenshots" target="_blank" class="navilink">GamersHell</a> ]<br>&nbsp;<br>

<b>Danish Press Sites</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.xboxgamers.com/?temp_view=view_news.php&amp;viewid=97" title="XboxGamers | New screenshots" target="_blank" class="navilink">XboxGamers</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.dailyrush.dk/wolfenstein/stories/11360" title="Dailyrush.dk | Multi-Platform screenshots" target="_blank" class="navilink">Dailyrush.dk</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamescodes.dk/vis_nyhed.asp?id=1618" title="Gamescodes.dk | PC Screenshots" target="_blank" class="navilink">Gamescodes.dk</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamereactor.net/news/index.asp?NewsID=9112" title="Gamereactor.net | Orme i 3D fra Team 17" target="_blank" class="navilink">Gamereactor.net</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamewire.dk/livesite/shownews.aspx?newsID=47" title="Gamewire.dk | New Screens" target="_blank" class="navilink">Gamewire.dk</a> ]<br>&nbsp;<br>

<b>Dutch</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.cube-europe.com/archive.php?search=worms+3d" title="GameCube Europe | New preview" target="_blank" class="navilink">GameCube Europe</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamez.nl/content/gallery.phtml?id=1333" title="GameZ.nl | 12 new screens" target="_blank" class="navilink">GameZ.nl</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.dgs-online.nl/nieuws/?id=11041" title="DGS Online | 9 new screens" target="_blank" class="navilink">DGS Online</a> ]<br>&nbsp;<br>

<b>French Press Sites</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.hardgamers.org/recherche.html?queljeu=worms+3d" title="HardGamers.org | New screenshots" target="_blank" class="navilink">HardGamers.org</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.playscope.com/viewpage.php?keyword=worms+3d&amp;page=recherche" title="Playscope | 4 new articles" target="_blank" class="navilink">Playscope</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.xbox-mag.net/?page=mag_aff&amp;cat=news&amp;id=3473" title="Xbox-mag.net | 5 images" target="_blank" class="navilink">Xbox-mag.net</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.xbox-attitude.com/news_affichage.php?id=4216" title="Xbox-attitude.com | 5 images" target="_blank" class="navilink">Xbox-attitude.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.playfrance.com/news/news.html?article:3645,5486" title="Playfrance.com | 15 new images" target="_blank" class="navilink">Playfrance.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.nintendo-vision.com/suitenews.php?id_news=3039" title="Nintendo-vision.com | 10 new screenshots" target="_blank" class="navilink">Nintendo-vision.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.puissance-nintendo.com/cgi-bin/news/viewnews.cgi?category=3&amp;id=1057575870" title="Puissance-nintendo.com | New images" target="_blank" class="navilink">Puissance-nintendo.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.slidegames.com/zegames/news/news.php?id_news=2581" title="Slidegames.com | Multi-Platform screenshots" target="_blank" class="navilink">Slidegames.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.factornews.com/seenews.php?n=6196" title="Factornews.com | Multi-Platform screenshots" target="_blank" class="navilink">Factornews.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.jeuxvideo.fr/html/news/aff_news.asp?jour=4&amp;mois=7&amp;annee=2003&amp;id=1175" title="Jeuxvideo.fr | 20 screenshots " target="_blank" class="navilink">Jeuxvideo.fr</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.jeuxvideo.com/whatsnew.htm?news=00006753" title="Jeuxvideo.com | 12 new screenshots" target="_blank" class="navilink">Jeuxvideo.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamekult.com/tout/actus/articles/A0000026485.html" title="Gamekult.com | 12 new screenshots" target="_blank" class="navilink">Gamekult.com</a> ]<br>&nbsp;<br>

<b>Hungarian</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.pcdome.hu/preview.php?id=1302" title="PC Dome | PC preview" target="_blank" class="navilink">PC Dome</a> ]<br>&nbsp;<br>

<b>Norwegian</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.tothegame.com/search.asp?status=All&amp;format=All&amp;category=All&amp;title=worms+3d" title="ToTheGame.com | Previews" target="_blank" class="navilink">ToTheGame.com</a> ]<br>&nbsp;<br>

<b>Portuguese</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.ptgamers.com/galeria.asp?id_galeria=449&amp;tipo=Em+Desenvolvimento" title="PTGamers | New screenshots" target="_blank" class="navilink">PTGamers</a> ]<br>&nbsp;<br>

<b>Spanish Press Sites</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.vandal.net/cgi-bin/buscar.pl?buscar=worms+3" title="Vandal Online | Images" target="_blank" class="navilink">Vandal Online</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.vicarltd.com/nacionnintendo/noticias2k3/06072003/worms3d.htm" title="Nacionnintendo.com | 4 new GC screenshots" target="_blank" class="navilink">Nacionnintendo.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.canaljuegos.com/producto_noticia.asp?idproducto=821&amp;idnoticia=942" title="Canaljuegos.com | New info" target="_blank" class="navilink">Canaljuegos.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.lycos.es/entretenimiento/juegos/noticias/index.html?id=4" title="Lycos.es | 5 images" target="_blank" class="navilink">Lycos.es</a> ]<br>&nbsp;<br>

<b>Swedish Press Sites</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.worthplaying.com/article.php?sid=12134" title="Worthplaying.com | Screens/previews" target="_blank" class="navilink">Worthplaying.com</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamereactor.nu/news/index.asp?NewsID=8701" title="Gamereactor.nu | nya bilder" target="_blank" class="navilink">Gamereactor.nu</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://spel.torget.se/home/spel/nyheter/nyheter_v2900.shtml" title="Torget.se | Nya maskar från Team 17" target="_blank" class="navilink">Torget.se</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gamesonline.nu/index.php?art_id=31&amp;comment=1" title="Gamesonline.nu | Interview with Martyn" target="_blank" class="navilink">Gamesonline.nu</a> ]<br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.level7.nu/spel/spel.html?id=600" title="Level7.nu | Worms 3-bilder" target="_blank" class="navilink">Level7.nu</a> ]<br>&nbsp;<br>

<b>Swiss</b><br>
[ <a href="https://web.archive.org/web/20071011150919/http://www.gbase.ch/index.asp?target=search&amp;zone=pc&amp;str=worms+3d" title="Gbase | PC trailer" target="_blank" class="navilink">Gbase</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">disclaimer</td>
						<td class="darktext">
Please note that Team17 are not responsible for the content of external sites.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | links -->
			<!-- /CRON -->

			<!-- ABOUT | press -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">stop press!</td>
						<td class="darktext">
Welcome to the press section, here you will find everything that has been said about W3D! Including 
latest press releases, links, quotes and reviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press -->

			<!-- ABOUT | press | releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self" class="navilink"><img src="images/abou/welc_pres_rele.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/rele" target="_self" class="navilink">releases</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>Press Releases</b></a><br>
Click here for the latest press releases!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | releases -->

			<!-- ABOUT | press | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/link" target="_self" class="navilink"><img src="images/abou/welc_pres_link.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/link" target="_self" class="navilink">links</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/link" target="_self" class="whitelink"><b>Press Links</b></a><br>
Click here for the latest press links!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | links -->

			<!-- ABOUT | press | quotes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/quot" target="_self" class="navilink"><img src="images/abou/welc_pres_quot.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/quot" target="_self" class="navilink">quotes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/quot" target="_self" class="whitelink"><b>Press Quotes</b></a><br>
Click here for the latest press quotes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			
			<!-- ABOUT | press | reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi" target="_self" class="navilink"><img src="images/abou/welc_pres_revi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/revi" target="_self" class="navilink">reviews</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press reviews!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
{%- endblock %}
