---
title: Quotes
layout: page
struct:
  - abou
  - pres
  - quot
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- ABOUT | press | quotes --><a name="11jul03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | quotes ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PSM2<br><i>Nov 2003</i></td>
						<td class="darktext">
&quot;<i>It's a lot of fun and the worms' winning formula is still there.</i>&quot;<br>
&quot;<i>As we all know, classic old 2D games don't always translate well to next-gen 
consoles...Worms though, that could work, couldn't it? The answer to that is, yes it could work. 
In fact it's working pretty well already, thank you very much.</i>&quot;<br>
&quot;<i>Excellent multiplayer battle.</i>&quot;<br>
&quot;<i>In multiplayer, this will almost certainly be a hit.</i>&quot;<br>
&quot;<i>It's great fun.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PLAY<br><i>Nov 2003</i></td>
						<td class="darktext">
&quot;<i>...we were pleasantly surprised. The game is as addictive as ever and plays just the way 
we remember.</i>&quot;<br>
&quot;<i>The multiplayer is of course, superb.</i>&quot;<br>
&quot;<i>The turn-based team battler has a place in every gamer's heart and we can happily say 
that this latest incarnation in the series is not going to break any of those blood-pumping 
organs.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PSi-2<br><i>Nov 2003</i></td>
						<td class="darktext">
&quot;<i>The thing that surprised us about playing the game is how much it feels like Worms. 
Other games often lose something in the translation, but not Worms.</i>&quot;<br>
&quot;<i>All the classic charm of the Worms series is still there.</i>&quot;<br>
&quot;<i>It's certainly eye-opening to see one of the longest-running game series ever in 3D but 
it works, and it works just as well as it did in two dimensions.</i>&quot;<br>
&quot;<i>Long-term fans can rest easy, knowing their game remains just as fun and newcomers can 
get all excited by a new game that still feels like a classic.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">NGC<br><i>Nov 2003</i></td>
						<td class="darktext">
&quot;<i>...one of those understated games that's almost impossible to stop 
playing.</i>&quot;<br>
&quot;<i>The best news is that Team 17 have pretty much kept the classic and well-loved gameplay 
intact with the only major change being the extra dimension.</i>&quot;<br>
&quot;<i>So, after a few dodgy versions, we finally have a new Worms game that's worthy of the 
name.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesMaster<br><i>Nov 2003</i></td>
						<td class="darktext">
&quot;<i>It's Worms in 3D and it's still good fun!</i>&quot;<br>
&quot;<i>Definitely still got the Worms magic.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">P2<br><i>Issue 39</i></td>
						<td class="darktext">
&quot;<i>We played the preview code and are happy to report that Worms 3D hasn't lost it's 
magical touch.</i>&quot;<br>
&quot;<i>It might look different but the mayhem remains as insane as usual</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">CUBE<br><i>Issue 24</i></td>
						<td class="darktext">
&quot;<i>Every part of the action now looks amazing.</i>&quot;<br>
&quot;<i>Worms 3D is the perfect party game and is best when four players are competing - the 
tension and hatred levels are incredible as alliances are built and destroyed.</i>&quot;<br>
&quot;<i>Worms 3D looks brilliant fun and after the shock of the added third dimension dies 
you'll discover this is still the game we all know and love.</i>&quot;<br>
&quot;<i>It's easy, simplistic and just so much fun to play.</i>&quot;<br>
&quot;<i>Looking like a real blast.</i>&quot;<br>
&quot;<i>Mad party fun for up to four players.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Games TM<br><i>Issue 11</i></td>
						<td class="darktext">
&quot;<i>Worms 3D does exactly what it says on the tin by delivering all the joys of the previous 
games, but from a 3D perspective.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">SPOnG.com<br><b>Stefan Walters</b><br><i>Editor</i></td>
						<td class="darktext">
&quot;<i>As the world struggles to convert successful 2D 
franchises for modern consoles, Team 17 seems to have 
effortlessly bridged this gap. Without question the best dimensional leap in video gaming to 
date. This is Worms. This is 3D. Magic</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Eurogamer.net<br><b>Kristen Reed</b><br><i>Editor</i></td>
						<td class="darktext">
&quot;<i>Christmas can't come soon enough...<br>Its the game that millions of Wormers the world 
over are waiting for. Eat my weapons of death!</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PS2 IGN.com<br><b>Kaiser Hwang</b></td>
						<td class="darktext">
&quot;<i>After some quality time with Worms 3D, we can definitely say that the game remains 
faithful to the series</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Penny-Arcade.com<br><b>Tycho</b><br>&nbsp;<br></td>
						<td class="darktext">
&quot;<i>How they did it I have no idea, but this is most certainly Worms</i>&quot;</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">C&VG Online<br><b>Johnny Minkley</b><br><i>Editor</i></td>
						<td class="darktext">
&quot;<i>The leap from 2D to 3D is an onerous one for any established franchise...<br>Worms 3D 
looks to have made the jump with aplomb, while retaining the classic feel of the 
original</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Eurogamer.net<br><b>Martin Taylor</b></td>
						<td class="darktext">
&quot;<i>Incidentally we've been playing Team17's latest incessantly all weekend, and you can 
expect our impressions once we manage to tear ourselves away from it long 
enough</i>&quot;<br>
&quot;<i>It's just so damn addictive....<br>
Instant and massive appeal</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Games Radar</td>
						<td class="darktext">
&quot;<i>The only important fact to take home is this: Worms 3D may well be in possession of a 
little extra dimension, but it retains the feel and flavour of the 2D series. It's success with 
established fans is assured</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">C&VG Online</td>
						<td class="darktext">
&quot;<i>Thankfully, what we already love about Worms 3D is no doubt the one thing that fans of 
the series are dying to hear - that, after half an hour of play, you almost forget that you're 
playing in a 3D environment and that you're just playing Worms, good, old, horribly addictive 
Worms</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Xbox World<br><i>October Issue</i></td>
						<td class="darktext">
&quot;<i>Finally a good excuse to spend hours playing with your little pink fella. It's just like 
the old days, only transponded into a new dimension</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">XBM<br><i>Issue 24</i></td>
						<td class="darktext">
&quot;<i>This is one bout of Worms you really should be excited about catching this 
Christmas</i>&quot;<br></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			<!-- ABOUT | press -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">stop press!</td>
						<td class="darktext">
Welcome to the press section, here you will find everything that has been said about W3D! Including 
latest press releases, links, quotes and reviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press -->

			<!-- ABOUT | press | releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self" class="navilink"><img src="images/abou/welc_pres_rele.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/rele" target="_self" class="navilink">releases</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>Press Releases</b></a><br>
Click here for the latest press releases!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | releases -->

			<!-- ABOUT | press | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/link" target="_self" class="navilink"><img src="images/abou/welc_pres_link.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/link" target="_self" class="navilink">links</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/link" target="_self" class="whitelink"><b>Press Links</b></a><br>
Click here for the latest press links!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | links -->

			<!-- ABOUT | press | quotes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/quot" target="_self" class="navilink"><img src="images/abou/welc_pres_quot.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/quot" target="_self" class="navilink">quotes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/quot" target="_self" class="whitelink"><b>Press Quotes</b></a><br>
Click here for the latest press quotes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			
			<!-- ABOUT | press | reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi" target="_self" class="navilink"><img src="images/abou/welc_pres_revi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/revi" target="_self" class="navilink">reviews</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press reviews!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
{%- endblock %}
