---
title: Releases
layout: page
struct:
  - abou
  - pres
  - rele
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- ABOUT | press | Feral --><a name="28nov03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | Feral Interactive Press Release ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<b>Worms 3D Destined For The Mac</b><br>
<i>Feral Interactive to bring Worms 3D to the Macintosh</i><br>&nbsp;<br>

LONDON, UK - November 28, 2003 - Feral Interactive, today announced that it is bringing Team 17's l
atest title Worms 3D to the Mac. Worms 3D is the first 3D incarnation of the highly acclaimed and 
best-selling Worms franchise. This is the first time since the original Worms appeared nearly a 
decade ago that a core Worms game has appeared on the Macintosh.<br>&nbsp;<br>

The Worms phenomenon has taken the gaming world by storm for many years with sales approaching 8 
million units, gripping the minds of gamers everywhere through its simple appearance yet 
cunningly designed gameplay. Finally, to the excitement of Mac fans everywhere, Worms comes to 
Mac with a new dimension. Worms 3D is set in a more exciting and immersive game world than ever 
before, with the same winning emphasis on great multiplayer action and challenging single player 
fun.<br>&nbsp;<br>

The classic Worms game-play remains unchanged, featuring turn-based fighting and relying on the 
player to judge the trajectory and strength of their shots in order to inflict maximum damage on 
opponents, but this time in glorious 3D. Favorite weapons such as bazookas, grenades, dynamite, 
air strikes and sheep are all present with, the addition of brand new weapons designed to take 
advantage of the new liberating 3D landscape. With a multitude of tactics available, coupled with 
the ever changing, randomly generated landscapes, Worms 3D is set to take Worms' award-winning 
gameplay to the next level.<br>&nbsp;<br>

The Macintosh version of Worms 3D is being developed by Feral's porting partner Zonic and will be 
released for Mac OS 9 and X. A worldwide release of the Mac version is scheduled for Q1 2004.<br>&nbsp;<br>
					<tr valign="top">
						<td class="lightwords">quotes</td>
						<td class="darktext">
David Stephen, Managing Director, Feral Interactive said: &quot;<i>Worms is one of the classic 
franchises of computer gaming and Worms 3D is a superb development of the franchise - brilliant 
gameplay and as funny as ever; an absolute delight  - we are thrilled to be publishing it for the 
Mac</i>&quot;<br>&nbsp;<br>

Debbie Bestwick, Commercial Director, Team17 Software Ltd, added, &quot;<i>We have long been   
aware of the massive demand from Mac users to get a new core Worms game onto the Mac platform  
and we are absolutely delighted to have this opportunity to work with Feral them to bring Worms 
3D to the Mac.</i>&quot;<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">about Feral<br>Interactive</td>
						<td class="darktext">
Feral interactive is a leading publisher of games for Macintosh platform founded in 1996; based 
in London England. It is responsible for such Macintosh hits as Championship Manager, Theme Park 
World and Black & White.<br>&nbsp;<br>

[ <a href="http://www.feralinteractive.com" target="_blank" class="navilink">visit the Feral Interactive website</a> ]<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">about Zonic</td>
						<td class="darktext">
Founded in 1996, Zonic is a dedicated Macintosh development house based in the UK. It provides 
high quality conversions of titles from Windows to Mac OS and is specialised in bringing 
best-selling PC games to the Mac, which are published by Feral Interactive.<br>&nbsp;<br>

[ <a href="http://www.zonic.co.uk" target="_blank" class="navilink">visit the Zonic website</a> ]<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | Feral -->
			
			<!-- ABOUT | press | webkit --><a name="24oct03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | SEGA Press Release ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<b>SEGA Europe Ltd Announces Worms 3D Fansite Competition</b><br>
<i>SEGA Europe and Team 17 Call Upon Fans to Prove Their Web Mettle</i><br>&nbsp;<br>

LONDON, UK - October 24, 2003 - SEGA Europe Ltd, today launched a
competition to find the 'Official Worms 3D Fansite'. Sponsored by Packard
Bell and NVIDIA, the competition is now live and will run from now until
28th November 2003, when the winners will be announced.<br>&nbsp;<br>

Since 1991, the Worms phenomenon has seen six titles released, with
worldwide sales in excess of eight million units. Worms 3D will be launched
on 31st October for the Nintendo GameCubeTM, the PlayStationR2 computer
entertainment system, the XboxTM video game system from MicrosoftR and the
PC. Anticipation of the release is at fever pitch with the number of visitss
on the Team 17 Worms 3D website averaging one million users a week.<br>&nbsp;<br>

SEGA Europe has joined forces with Team 17 to challenge all budding
webmasters and fans to design their own Worms Fansite. To enter,
participants will need to download assets in the form of a special webkit
from www.worms3d.com. Once the site is completed, entrants must submit the
URL which will then be added to the links page on the Worms 3D website. Team
17 will choose the top ten sites which will progress to the next phase.
These sites will be given exclusive content for submission of the final
site.<br>&nbsp;<br> 

The winning site will be announced on 28th November. There are a number of
prizes on offer to the winner and runners-up.<br>&nbsp;<br>
					<tr valign="top">
						<td class="lightwords">prizes</td>
						<td class="darktext">
First Prize is a top-spec 'ixtreme 6093' 2.8 GHz PC from Packard Bell.<br>&nbsp;<br>

Five runners-up will each receive a 'Leadtek A340 FX5200 Ultra TD' graphics
card from NVIDIA featuring GeForce technology.<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">quotes</td>
						<td class="darktext">
Matthew Woodley, European Marketing Director, SEGA Europe, commented, &quot;<i>For
years, restless kids have spent summer afternoons looking under paving slabs
for worms. This is a good chance for fans to get creative with their wriggly
friends. We're hoping the entrants will get into the spirit of things and
tap into the humour that underlies the game. I'm really looking forward to
seeing the results.</i>&quot;<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">in addition</td>
						<td class="darktext">
The Worms 3D campaign website www.startawar.com is now live. Hosted by 
SEGA Europe, the site features a number of barmy features such as food recipes 
involving worms and a random insult generator to amuse yourself and your friends.
Worms 3D is backed by an extensive advertising campaign across specialist, lifestyle 
and broadcast media.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | webkit -->
			
			<!-- ABOUT | press | NVIDIA --><a name="29aug03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | NVIDIA Press Release ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<b>NVIDIA Corporation to demo Worms 3D</b><br>
<i>Worms 3D on show in 'The Way It's Meant To Be Played' campaign</i><br>&nbsp;<br>

LONDON, UK - August 18th, 2003 — NVIDIA Corporation (Nasdaq: NVDA), the worldwide leader in visual 
processing solutions, will be the talk of the show at this year's ECTS (Earls Court, London, August 
27th to 29th) hosting some of the most highly anticipated PC games this year, including: STALKER, 
Breed (new multiplayer version), Worms 3D, Hidden and Dangerous II and Aquanox 2.<br>&nbsp;<br>

These games represent the fruits of NVIDIA's involvement at the forefront of games creation through 
its 'The Way It's Meant To Be Played' campaign. Working closely with many of the leading 
development studios worldwide, NVIDIA helps to achieve optimal visual results using DirectX 9.0 
technologies.<br>&nbsp;<br>

&quot;<i>ECTS gives us the perfect opportunity to demonstrate to the European trade our latest range of 
GeForce FX GPUs and nForce platform products running the hottest PC titles for this year,</i>&quot; said 
Alain Tiquet, marketing director EMEA at NVIDIA. &quot;<i>Visitors to our stand will experience for 
themselves just how far our products push real-time interactive gaming and content 
creation.</i>&quot;<br>&nbsp;<br>

As well as the latest games, NVIDIA will also demonstrate its top-to-bottom range of DirectX 9.0 
graphics solutions, including the new GeForce FX Go 5600 for mobile computing, the flagship desktop 
solution GeForce FX 5900 Ultra and the latest addition to the high-end workstation market, the 
Quadro FX 3000.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">
confirmed<br>games
						</td>
						<td class="darktext">
To appear on the NVIDIA stand (in alphabetical order):<br>&nbsp;<br>
Aquanox 2<br>
Breed<br>
Broken Sword 3<br>
Chaser<br>
Commandos III<br>
Conflict: Desert Storm II<br>
Freedom Fighters<br>
Ghostmaster<br>
Hidden and Dangerous II <br>
Mace Griffin: Bounty Hunter<br>
Stalker<br>
Tomb Raider<br>
Tron 2.0<br>
<b>Worms 3D</b><br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | NVIDIA -->
			
			<!-- ABOUT | press | SEGA --><a name="25apr03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | SEGA Press Release ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<b>SEGA Europe Ltd Announces Worms 3D</b><br>
<i>First 3D Version of Popular Turn-based Strategy Game Comes to Latest-Generation Consoles &amp; 
PC</i><br>&nbsp;<br>

LONDON, UK - April 25, 2003 - SEGA Europe Ltd, today announced an agreement with Team17 Software 
Ltd, granting SEGA Europe rights to publish 'Worms&#153; 3D' on GameCube&#153; from Nintendo&reg;, 
PlayStation&reg;2 computer entertainment system from Sony&reg;, Xbox&#153; video game system from 
Microsoft&reg;, the as well as the PC. Worms 3D is the first 3D incarnation of the highly acclaimed 
and best-selling Worms franchise, and this latest version marks the first time a core Worms game 
will appear on the latest generation consoles.<br>&nbsp;<br>

SEGA Europe has rights to publish the game across all PAL video system territories, including Europe 
and Australia/New Zealand, as well as US NTSC video systems including North America. The game will 
be localised across key European territories, including France, Germany, Spain and 
Italy.<br>&nbsp;<br>

The Worms phenomenon has taken the gaming world by storm for many years with sales approaching 8 
million units, gripping the minds of gamers everywhere through its simple appearance yet cunningly 
designed gameplay. Finally, to the excitement of fans everywhere, Worms comes to PC and the latest 
consoles with a new dimension. Worms 3D is set in a more exciting and immersive game world than ever 
before, with the same winning emphasis on great multiplayer action and challenging single player 
fun.<br>&nbsp;<br>

The classic Worms game-play remains unchanged, featuring turn-based fighting and relying on the 
player to judge the trajectory and strength of their shots in order to inflict maximum damage on 
opponents, but this time in glorious 3D. Favorite weapons such as bazookas, grenades, dynamite, air 
strikes and sheep are all present with, the addition of brand new weapons designed to take advantage 
of the new liberating 3D landscape. With a multitude of tactics available, coupled with the ever 
changing, randomly generated landscapes, Worms 3D is set to take Worms’ award-winning gameplay to 
the next level.<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">quotes</td>
						<td class="darktext">
Matthew Woodley, European Marketing Director, SEGA Europe, commented, &quot;<i>Brilliant gameplay 
and a strong brand – Worms 3D has SEGA 'hit' written all over it. The creators at Team17 have 
inspired us all with their passion and vision and we're delighted to be partnering with them in 
bringing Worms 3D to as wide a market as possible.</i>&quot;<br>&nbsp;<br>

Debbie Bestwick, Commercial Director, Team17 Software Ltd, added, &quot;<i>SEGA has an incredible 
reputation and a real passion for developing truly great video games. We're honoured and absolutely 
delighted to have this opportunity to work with them to bring Worms 3D to market. Their approach has 
been a breath of fresh air - just what the European games development industry needs.</i>&quot;<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">info</td>
						<td class="darktext">
Worms 3D marks the first European title signing for SEGA Europe since its reconfiguration as a software-only publisher.<br>&nbsp;<br>
<b>All formats are currently scheduled for release across Europe in Q4 2003.</b><br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | SEGA -->
			<!-- ABOUT | press -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">stop press!</td>
						<td class="darktext">
Welcome to the press section, here you will find everything that has been said about W3D! Including 
latest press releases, links, quotes and reviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press -->

			<!-- ABOUT | press | releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self" class="navilink"><img src="images/abou/welc_pres_rele.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/rele" target="_self" class="navilink">releases</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>Press Releases</b></a><br>
Click here for the latest press releases!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | releases -->

			<!-- ABOUT | press | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/link" target="_self" class="navilink"><img src="images/abou/welc_pres_link.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/link" target="_self" class="navilink">links</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/link" target="_self" class="whitelink"><b>Press Links</b></a><br>
Click here for the latest press links!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | links -->

			<!-- ABOUT | press | quotes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/quot" target="_self" class="navilink"><img src="images/abou/welc_pres_quot.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/quot" target="_self" class="navilink">quotes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/quot" target="_self" class="whitelink"><b>Press Quotes</b></a><br>
Click here for the latest press quotes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			
			<!-- ABOUT | press | reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi" target="_self" class="navilink"><img src="images/abou/welc_pres_revi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/revi" target="_self" class="navilink">reviews</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press reviews!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
{%- endblock %}
