---
title: Reviews
layout: page
struct:
  - abou
  - pres
  - revi
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- ABOUT | press | previews --><a name="previews"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | previews ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Nintendojo<br><br>&nbsp;<br></td>
						<td class="darktext">
[ <a href="http://www.nintendojo.com/previews/NGC/view_item.php?1077118184" target="_blank" class="navilink">click to read preview</a> ]<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">All Game Guide<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
[ <a href="http://www.allgame.com/cg/agg.dll?p=agg&SQL=GIH||||44640" target="_blank" class="navilink">click to read preview</a> ]<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Game Informer</td>
						<td class="darktext">
&quot;<i>experience the timeless joy of classic Worms gameplay in a fully rendered environment.</i>&quot;<br>
&quot;<i>more fun than scorching ants with a magnifying glass...</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">OPM</td>
						<td class="darktext">
&quot;<i>As possibly the greatest cult-classic series in the history of strategy videogames, Worms has developed quite a following.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamerFeed<br>Feb 2004<br>&nbsp;<br></td>
						<td class="darktext">
[ <a href="http://microsoft.gamerfeed.com/gf/news/5368" target="_blank" class="navilink">click to read preview</a> ]<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Next Level Gaming<br>Feb 2004</td>
						<td class="darktext">
&quot;<i>...possibly one of the most addicting strategy/party games I have ever played.</i>&quot;<br>
&quot;<i>Worms is such a simplistic yet deep game. It's literally hours of fun, and I am as serious as I can be about that.</i>&quot;<br>
&quot;<i>In a month or two Mario's gonna have to move over, because a new party game is going to take over.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.nlgaming.com/nl/asp/id_142/nl/previewDisp.htm" target="_blank" class="navilink">click to read preview</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">1up<br>Jan 2004</td>
						<td class="darktext">
&quot;<i>...the game itself is confident in its unabashed ability to charm you.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.1up.com/article2/0,4364,1493331,00.asp" target="_blank" class="navilink">click to read preview</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">ign<br>Jan 2004</td>
						<td class="darktext">
&quot;<i>There is something delightfully evil about the Worms franchise.</i>&quot;<br>
&quot;<i>...having played the game all afternoon we're pleased with the end result.</i>&quot;<br>&nbsp;<br>
[ <a href="http://cube.ign.com/articles/463/463378p1.html" target="_blank" class="navilink">click to read preview</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">HSG<br>Jan 2004</td>
						<td class="darktext">
&quot;<i>Possibly the most popular and well-known turn-based strategy franchise on the planet.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.hsgamers.com/previews/worms3d.php" target="_blank" class="navilink">click to read preview</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Total Games<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>Worms is a perfect party game and is best when four players are competing in the fight.</i>&quot;<br>
&quot;<i>Worms 3D is brilliant fun and after the initial shock of the added third dimension dies you'll discover that this is indeeds till the game we all know and love!</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.totalgames.net/(skvyqgb0g1yde445vtphmkyh)/pma/17955" target="_blank" class="navilink">click to read preview</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Xbox Gamer<br>Nov 2003</td>
						<td class="darktext">
&quot;<i>Delicious isn't usually a word associated with Worms, but in this case it's needed.</i>&quot;<br>
&quot;<i>Hopefully this will be as good as we're thinking it will.</i>&quot;<br>
&quot;<i>It certainly plays like a beauty.</i>&quot;<br>
&quot;<i>Visually we're already dry-humping it.</i>&quot;<br>
&quot;<i>Intestinal parasites aside, the Xbox reinvention of the humble worms is sublime.</i>&quot;<br>
&quot;<i>The gameplay oozes through your fingers like ah andful of squashed worms.</i>&quot;<br>
&quot;<i>Safe to say, we're so looking forward to this.</i>&quot;<br>&nbsp;<br>
<b>Loves:</b><br>
&quot;<i>The amazing working camera.</i>&quot;<br>
&quot;<i>The faithful gameplay.</i>&quot;<br>
&quot;<i>Brand new missions and levels.</i>&quot;<br>
<b>Hates:</b><br>
&quot;<i>Nothing.</i>&quot;<br>
&quot;<i>Seriously, nothing.</i>&quot;<br>
&quot;<i>For the third time, nothing.</i>&quot;<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Eurogamer<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>The prizes up for grabs certainly seem worth brushing up on your HTML skills for, with a 2.8GHz PC up for grabs (albeit from Packard Bell) as First Prize, and Leadtek A340 GeForce FX5200 Ultra TD video cards for five runners-up. All those numbers must mean it's pretty expensive.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.eurogamer.net/article.php?article_id=53602" target="_blank" class="navilink">click to read story</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Gamespot<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Sega Europe and Team 17 launched a competition challenging budding webmasters to design their own Worms fan site.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.gamespot.com/gamecube/strategy/worms3/news_6077280.html" target="_blank" class="navilink">click to read story</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Playstation<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>While Worms 3D's more conventional game site features the usual array of game features, screenshots and competitions, the freshly launched www.startawar.com focuses purely on ways to antagonise prospective opponents. With templates for bogus e-mails, a fully automated Insult Generator and more besides, it has everything the combat-hungry aggressor could possibly hope for.</i>&quot;<br>&nbsp;<br>
[ <a href="http://uk.playstation.com/news/newsStory.jhtml?storyId=104631_en_GB_NEWS&linktype=GRS" target="_blank" class="navilink">click to read story</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesDomain<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Sega has unveiled a new website for upcoming 3D tactical sheep-based destructathon, Worms 3D. The site throws two fingers up at dullw ebsites with a range of genius items including worms recipes (yes, really: yummy), insult generators, and all the bits and bobs you need to start your own personal war. Top stuff</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.gamesdomain.co.uk/news/19059.html" target="_blank" class="navilink">click to read story</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Eurogamer<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>With Worms 3D out this Friday on every format under the sun, Team 17 is keen to encourage as many of you as possible to buy it instead of the many other treats sneaking onto retailers' shelves this weekend. Obviously we are too, having decided that it's one of the most entertaining multiplayer games of the year.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.eurogamer.net/article.php?article_id=53619" target="_blank" class="navilink">click to read demo news</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesDomain (UK)<br>Sept 2003</td>
						<td class="darktext">
&quot;<i>The Worms phenomenon has taken the gaming world by storm for many years, gripping the minds of players through its simple appearance yet cunningly designed interior. Finally, to the excitement of fans everywhere Worms comes to PC in full 3D. Continuing to capture the true essence of the game as teams of worms battle across bizarre randomly generated landscapes.</i>&quot;<br>&nbsp;<br>
[ <a href="http://www.gamesdomain.co.uk/demos/demo/1900.html" target="_blank" class="navilink">click to download demo</a> ]<br></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | previews -->
			
			<!-- ABOUT | press | reviews --><a name="reviews"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/pres" target="_self" class="whitelink">press</a> | reviews ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">AVault<br>May 2004<br>&nbsp;<br></td>
						<td class="darktext">
&quot;<i>I&rsquo;ve been a casual fan of the Worms franchise for years. I might need to revise that to &ldquo;hardcore&rdquo; with Worms 3D.</i>&quot;<br>
&quot;<i>Everything that makes a game good is featured here: Worms 3D looks amazing, plays like a dream and is drenched in fun and funny. What more can you ask for?</i>&quot;<br>&nbsp;<br>
<b>4.5 Stars - A Solid Hit</b><br>&nbsp;<br>
[ <a href="http://www.avault.com/reviews/review_temp.asp?game=worms3d" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GameZone<br>Apr 2004<br>&nbsp;<br></td>
						<td class="darktext">
&quot;<i>Everyone&rsquo;s favorite violent invertebrates are back and ready to rumble... this time in 3-D.</i>&quot;<br>&nbsp;<br>
<b>7.9/10</b><br>&nbsp;<br>
[ <a href="http://ps2.gamezone.com/gzreviews/r20919.htm" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Michigan Daily<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
<b>4/5</b><br>&nbsp;<br>
[ <a href="http://www.michigandaily.com/vnews/display.v/ART/2004/03/31/406a79d29274f" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Gamenikki<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
<b>8/10</b><br>&nbsp;<br>
[ <a href="http://www.gamenikki.com/Pages/Reviews/PlayStation2/Worms3D//index.php4" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">USA Today<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
<b>Game of the Week</b><br>&nbsp;<br>
[ <a href="http://www.usatoday.com/tech/columnist/marcsaltzman/2004-03-23-saltzman_x.htm" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Console Gameworld<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
<b>90/100</b><br>&nbsp;<br>
[ <a href="http://www.consolegameworld.com/review.php/id/103/" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Shack news<br>Mar 2004<br>&nbsp;<br></td>
						<td class="darktext">
[ <a href="http://www.shacknews.com/reviews/game.x?gid=1295&msg=v" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Gamers Saga<br>Mar 2004</td>
						<td class="darktext">
&quot;<i>The game will have you laughing when you blow a enemy worm sky high and seeking mad revenge when one of your worms gets fried.</i>&quot;<br>&nbsp;<br>
<b>9/10</b><br>&nbsp;<br>
[ <a href="http://www.gamersaga.com/reviews-worms_3d.htm" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Next Level Gaming<br>Mar 2004</td>
						<td class="darktext">
<b>85/100</b><br>&nbsp;<br>
[ <a href="http://www.nlgaming.com/nl/asp/id_864/nl/reviewDisp.htm" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Electronic Gaming<br>Mar 2004</td>
						<td class="darktext">
<b>8/10</b><br>&nbsp;<br>
[ <a href="http://www.egmmag.com/article2/0,2053,1548371,00.asp" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">1up<br>Mar 2004</td>
						<td class="darktext">
&quot;<i>Ultimately, fans of the series and newcomers alike will find plenty to enjoy in Team 17's Worms 3D. The lighthearted, quirky nature of the Worms franchise remains wholly intact, only delivered in a new setting that may take some adjusting to, but will still not fail to appeal.</i>&quot;<br>&nbsp;<br>
<b>7/10</b><br>&nbsp;<br>
[ <a href="http://www.1up.com/article2/0,2053,1551784,00.asp" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Deeko</td>
						<td class="darktext">
<b>8/10</b><br>&nbsp;<br>
[ <a href="http://www.deeko.com/gamecube/reviewDetail.asp?id=287" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">VG-Force<br></td>
						<td class="darktext">
<b>8.5/10</b><br>&nbsp;<br>
[ <a href="http://www.deeko.com/gamecube/reviewDetail.asp?id=287" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Game Informer</td>
						<td class="darktext">
&quot;<i>Successful evolution indeed</i>&quot;<br>
&quot;<i>...done so well, that old fans will feel comfortably at home...</i>&quot;<br>
&quot;<i>What is the strategy classic actually like in this brave new world? Refreshingly, and stunningly it remains largely the same.</i>&quot;<br>
&quot;<i>Worms is just as addictive as its predecessors, but features more thoughtful challenges and conquests.</i>&quot;<br>
&quot;<i>Pick this up, and you'll be throwing down with your friends for years to come, and it's not often that you can say that about a console strategy title.</i>&quot;<br>&nbsp;<br>
<b>8/10</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesDomain<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>Awesome party game.</i>&quot;<br>
&quot;<i>Just as funny as ever.</i>&quot;<br>
&quot;<i>Worms 3D's new engine isn't a necessary improvement on the classic and enduring 2D game, but the upgrade works, even if it makes the controls a little more cumbersome.</i>&quot;<br>
&quot;<i>It still has the tone, humour and playability that is synonymous with Worms, so fans can take comfort that their slimy pink friends have come out sassier and stronger than ever, ready to kick some slithering butt.</i>&quot;<br>
&quot;<i>Well, the good news is that Team17 spent six years trying to get it right and on the whole, they've managed to pull it off.</i>&quot;<br>
&quot;<i>But as everyone knows, Worms is all about multiplayer and there are no disappointments in that department.</i>&quot;<br>
&quot;<i>...excellent Wormpot.</i>&quot;<br>&nbsp;<br>
<b>4/5 'Top Game'</b><br>&nbsp;<br>
[ <a href="http://www.gamesdomain.co.uk/gdreview/zones/reviews/pc/nov03/worms3d.html" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PC Format<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>One of the best games of the year, and a return to form for Worms.</i>&quot;<br>
&quot;<i>Verily, it doth look wonderful.</i>&quot;<br>
&quot;<i>A joy to use.</i>&quot;<br>
&quot;<i>Beautiful and massively customisable.</i>&quot;<br>
&quot;<i>Sets a strong precedent for every game that follows.</i>&quot;<br>
&quot;<i>Annelid annhiliation is a very good thing indeed.</i>&quot;<br>
&quot;<i>The lunchtime squabble of choice at PC Format.</i>&quot;<br>&nbsp;<br>
<b>88%</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PC Zone<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>Single player is the best that the series has seen.</i>&quot;<br>
&quot;<i>...missions are invariably novel and entertaining.</i>&quot;<br>
&quot;<i>There is no doubt that the extra dimension adds a hell of a lot to the worms experience..</i>&quot;<br>
&quot;<i>The whole package is impeccably presented, endlessly customisable and contains music so good you'll be dancing on the rooftops.</i>&quot;<br>
&quot;<i>...an old-school charm shines through that cant help but make you smile.</i>&quot;<br>
&quot;<i>But as everyone knows, Worms is all about multiplayer and there are no disappointments in that department.</i>&quot;<br>
&quot;<i>Charms your socks off.</i>&quot;<br>&nbsp;<br>
<b>80% 'Essential Award'</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Total Games<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>One of the finest multiplayer games around.</i>&quot;<br>&nbsp;<br>
<b>86% (from PLAY)</b><br>&nbsp;<br>
[ <a href="http://www.totalgames.net/(tz1lga550uhvognpk40ay145)/pma/18112" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Xbox World<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>Team 17, amazingly, has achieved what only the likes of the preternaturally talented master coders at Nintendo have everm anaged to translate a benchmark game into 3D and make it not only work, but actually improve on the original concept. We've been crying and hugging in the office, such is our relief. In a very manly way, obviously.</i>&quot;<br>
&quot;<i>Four player multiplayer will never be the same again.</i>&quot;<br>
&quot;<i>"...another massives ection of society is about to be split asunder again.</i>&quot;<br>
&quot;<i>Brilliant 3D translation.</i>&quot;<br>
&quot;<i>Essential multiplayer.</i>&quot;<br>
&quot;<i>You have friends, you must buy this.</i>&quot;<br>
&quot;<i>The transition to 3D struck terror into our hearts, but this is a gem. The multiplayer is genius. Ours is a special brew. Pass the skins.</i>&quot;<br>&nbsp;<br>
<b>8/10</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">NGC<br>Dec 2003</td>
						<td class="darktext">
&quot;<i>Excellent in every way. If you loved the previous versions you're going to be blown away by this.</i>&quot;<br>
&quot;<i>A multiplayer must.</i>&quot;<br>
&quot;<i>Worms 3D is a four-player game that's the equal of any other on Gamecube.</i>&quot;<br>
&quot;<i>We suggest you buy it now.</i>&quot;<br>
&quot;<i>Super Smash who? Your new favourite multiplayer game wriggles onto Gamecube...</i>&quot;<br>&nbsp;<br>
<b>90%</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PSM2<br>Dec 2003<br>&nbsp;<br></td>
						<td class="darktext">
<b>80%</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesMaster<br>Dec 2003<br>&nbsp;<br></td>
						<td class="darktext">
<b>88%</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PLAY<br>Dec 2003<br>&nbsp;<br></td>
						<td class="darktext">
<b>86%</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">PC Gamer<br>Nov 2003</td>
						<td class="darktext">
&quot;<i>There's never been a better time to have Worms.</i>&quot;<br>
&quot;<i>The most manic cartoon fun you can have on your PC.</i>&quot;<br>
&quot;<i>A great little game in it's own right.</i>&quot;<br>
&quot;<i>All you need to know is that it's Worms in 3D with everything that would imply.</i>&quot;<br>
&quot;<i>A breath of fresh air.</i>&quot;<br>&nbsp;<br>
<b>90% 'Game of Distinction'</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Official Xbox Magazine<br>Nov 2003</td>
						<td class="darktext">
&quot;<i>At the heart of Worms 3D is a very comprehensive single player mode.</i>&quot;<br>
&quot;<i>A strong vein of off-the-wall humour.</i>&quot;<br>
&quot;<i>Worms 3D provides a good deal of fun and frolics.</i>&quot;<br>
&quot;<i>Entertaining sequel that fans of the series will enjoy.</i>&quot;<br>
&quot;<i>Great sense of humour.</i>&quot;<br>
&quot;<i>Hilarious dialogue.</i>&quot;<br>
&quot;<i>Huge multiplayer and theoretically limitless map combinations mean you'll be at this for a long time.</i>&quot;<br>&nbsp;<br>
<b>7.3/10</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Eurogamer<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>It really does house one of the finest multiplayer experiences we've had to date, and one that remains largely unchanged...probably to the relief of teary-eyed nostalgics and to the disgust of dismissive remake cynics.</i>&quot;<br>
&quot;<i>Worms 3D looks great...it's perfect for the franchise. Thes imple worm models manage to convey an impressive amount of character through facial expressions alone, with cartoon awe, delight, fear and cockiness brilliantly realised along with those trademark high-pitched vocals.</i>&quot;<br>
&quot;<i>But of course there still remains the reason everyone loved Worms in the first place: multiplayer. It's as compulsive as it ever was.</i>&quot;<br>
&quot;<i>Worms 3D remains one of the most satisfying, addictive and downright enjoyable multiplayer gaming experiences I've ever encountered, online or no, and for that it scores highly.</i>&quot;<br>&nbsp;<br>
<b>8/10</b><br>&nbsp;<br>
[ <a href="http://www.eurogamer.net/article.php?article_id=53609" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">MS Xbox-world<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Worms 3D is a truly great game to play and is an excellent conversion from 2D, Worms 3D is just a brilliant game as it's older 2D games were but will keep you going for a long time, a little dash of Xbox Live would have been the cherry on the cake, but nether the less this is still one banana bomb of a game!</i>&quot;<br>&nbsp;<br>
<b>8.5/10</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Deafgamers<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Worms moves from 2D to 3D in impressive fashion and proves to be as addictive as ever. It's a shame that it doesn't support Xbox Live though.</i>&quot;<br>&nbsp;<br>
<b>8.9/10</b><br>&nbsp;<br>
[ <a href="http://www.deafgamers.com/rev0304/worms3d_xbox.htm" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Hotlinks<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Worms 3D is a fantastic game and it's made an almostp erfect transition from 2D to 3D.</i>&quot;<br>
&quot;<i>What was most gratifying was that the game keeps its spirit and playability that made the 2D predecessors so enjoyable.</i>&quot;<br>
&quot;<i>Worms 3D is definitely a must have game for anyone and everyone particularly those looking for a fun and humorous game that also delivers with great gameplay. You won't be disappointed!</i>&quot;<br>&nbsp;<br>
<b>8.5/10</b><br>&nbsp;<br>
[ <a href="http://www.xbox.hotlinks.co.uk/xbx/reviews.php?initial=w/Worms3D&p=2" target="_blank" class="navilink">click to read Xbox review</a> ]<br>&nbsp;<br>
[ <a href="http://www.gcube.hotlinks.co.uk/gcn/reviews.php?initial=w/Worms3D" target="_blank" class="navilink">click to read GameCube review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesRadar<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>PC Gamer heralds the long-awaited return of the worms who wait their turn to turn.</i>&quot;<br>&nbsp;<br>
[ <a href="http://gamesradar.msn.co.uk/reviews/default.asp?subsectionid=169&articleid=66091&pagetype=2" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Total Video Games<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Team 17 deliver beyond all expectations, Worms 3D is like discovering the original for the very first time...</i>&quot;<br>
&quot;<i>However 'Worms' should always be played with friends and to this extent the game doesn't disappoint, in fact 'Worms 3D' has taken over from the mighty 'Pro Evolution Soccer 3' as the most played game in the office.</i>&quot;<br>
&quot;<i>'Worms 3D' is utterly brilliant and everything that we could have hoped for. Team 17 have performed an excellent job of retaining the look and feel of 'Worms' whilst changing the scope of the game enough to make it feel fresh and new for everybody.</i>&quot;<br>&nbsp;<br>
<b>9/10</b><br>&nbsp;<br>
[ <a href="http://www.totalvideogames.com/?section=Read%20Reviews&id=829&gameid=3153&format=000005" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">GamesRadar<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>PC Gamer heralds the long-awaited return of the worms who wait their turn to turn.</i>&quot;<br>&nbsp;<br>
[ <a href="http://gamesradar.msn.co.uk/reviews/default.asp?subsectionid=169&articleid=66091&pagetype=2" target="_blank" class="navilink">click to read review</a> ]<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">XBM<br>Oct 2003</td>
						<td class="darktext">
&quot;<i>Multiplayer entertainment doesn't get any better than this.</i>&quot;<br>
&quot;<i>Addictive? It's nigh on impossible to 'worm' your way out of playing.</i>&quot;<br>
&quot;<i>There's just something quite wholesome about killing innocentl ooking creatures</i>&quot;<br>&nbsp;<br>
<b>8/10</b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">EDGE<br>No.130</td>
						<td class="darktext">
&quot;<i>Single, charming and quintessentially British.</i>&quot;<br>
&quot;<i>Feels like an Amiga game backed by modern hardware.</i>&quot;<br>
&quot;<i>Worms' appeal lies in itsb readth and flexibility.</i>&quot;<br>
&quot;<i>It remains as appealing a way of antagonising your friends as ever.</i>&quot;<br>&nbsp;<br>
<b>7/10</b><br></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
			<!-- ABOUT | press -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">stop press!</td>
						<td class="darktext">
Welcome to the press section, here you will find everything that has been said about W3D! Including 
latest press releases, links, quotes and reviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press -->

			<!-- ABOUT | press | releases -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self" class="navilink"><img src="images/abou/welc_pres_rele.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/rele" target="_self" class="navilink">releases</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>Press Releases</b></a><br>
Click here for the latest press releases!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | releases -->

			<!-- ABOUT | press | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/link" target="_self" class="navilink"><img src="images/abou/welc_pres_link.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/link" target="_self" class="navilink">links</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/link" target="_self" class="whitelink"><b>Press Links</b></a><br>
Click here for the latest press links!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | links -->

			<!-- ABOUT | press | quotes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/quot" target="_self" class="navilink"><img src="images/abou/welc_pres_quot.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/quot" target="_self" class="navilink">quotes</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/quot" target="_self" class="whitelink"><b>Press Quotes</b></a><br>
Click here for the latest press quotes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			
			<!-- ABOUT | press | reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi" target="_self" class="navilink"><img src="images/abou/welc_pres_revi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">press</font> | <a href="abou/pres/revi" target="_self" class="navilink">reviews</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press reviews!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
{%- endblock %}
