td {
  color : #C0C0C0;
}

.text {
  color : #C0C0C0;
}

a         { color : #B30826; text-decoration : none }
a:active    { color : #B30826 }
a:visited   { color : #B30826 }
a:hover     { color : #B30826; font-weight : bold }
