td {
	font-family : geneva, tahoma, verdana, arial, helvetica, sans-serif;
	font-size : 9px;
	color : #7676A7
}

.text {
	font-family : geneva, tahoma, verdana, arial, helvetica, sans-serif;
	font-size : 11px;
}

.heading {
	font-family : geneva, tahoma, verdana, arial, helvetica, sans-serif;
	font-size : 9px;
	color : #F5F0E2;
	font-weight : bold;
}

input.box {
	font-family : geneva, tahoma, verdana, arial, helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	background-color: #F5F0E2;
	border-color: #F5F0E2;
	border-style: solid;
	border-top-width: 1;
	border-bottom-width: 1;
	border-right-width: 1;
	border-left-width: 1;
	margin-top: 1;
	width: 246;
}

textarea.box {
	font-family : geneva, tahoma, verdana, arial, helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	background-color: #F5F0E2;
	border-color: #F5F0E2;
	border-style: solid;
	border-top-width: 1;
	border-bottom-width: 1;
	border-right-width: 1;
	border-left-width: 1;
	margin-top: 1;
	width: 246;
	height: 56;
	scrollbar-base-color : #F5F0E2;
}

a 				{color : #F5F0E2; text-decoration : none}
a:active		{color : #F5F0E2}
a:visited 	{color : #F5F0E2}
a:hover 		{color : #7676A7; font-weight : bold}
