			<tr valign="bottom">
				<td height="100%"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="right">[ <a href="#top" target="_self" class="navilink">top</a> ]<br>&nbsp;<br>[ <a href="home/welc#terms" target="_self" class="navilink">terms & privacy</a> ]<br></td>
					</tr>
				</table></td>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="left"><a href="http://www.gamespy.com" target="_blank"><img src="images/index/logo_gamespy.gif" width="88" height="26" border="0" alt="" vspace="11"></a></td>
						<td width="100%" align="center"><a href="http://www.team17.com" target="_blank"><img src="images/index/logo_team17.gif" width="88" height="35" border="0" alt="" vspace="0"></a><br>&copy; 2002-2023 Team17 Software Limited</td>
						<td align="right"><a href="http://www.sega-europe.com" target="_blank"><img src="images/index/logo_sega.gif" width="88" height="22" border="0" alt="" vspace="11"></a></td>
					</tr>
				</table></td>
				{% if hitcount -%}
				<td height="100%"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="center">&nbsp;<br><b>hitcount</b><br>{{ hitcount }}<br>&nbsp;<br></td>
					</tr>
				</table></td>
				{%- endif %}

			</tr>
