<head>
	<title>..::] Worms 3D | The official website from Team17 [::..</title>
	<meta name="author" content="APJ">
	<meta name="description" content="..::] Worms 3D | The official website from Team17 [::..">
	<meta name="keywords" content="Team17, Team, 17, PC, DC, PS, PSX, PS2, N64, GB, X BOX, GC, Playstation, Playstation2, Dreamcast, X-Box, Gamecube, Alien, Breed, Addiction, Pinball, Arcade, Pool, Assassin, Body, Blows, Full, Contact, Nightlong, Phoenix, Project, X, 2, Stunt, GP, Silverball, Speris, Legacy, Superfrog, Super, Stardust, Worms, Armageddon, Reinforcements, World, Party, Blast, United, QWAK, Access, All, Areas, Profits, Warning, game, pink, hard, games, gameplay, humour">
{#- no cache
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
#}
{#- fix urls #}
	<base href="{{ "/" | url }}" />
	<script language="JavaScript" src="scripts/worms3d.js"></script>
{% if header_flash == true %}
	<script language="JavaScript" src="scripts/flash.js"></script>
{% endif %}
	<link href="scripts/worms3d_ie.css" rel="stylesheet" type="text/css">
{#-
	<link href="scripts/fixes.css" rel="stylesheet" type="text/css">
#}
</head>
