{%- if header_flash == true -%}
<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<center><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="navi" width="697" height="198"><param name="movie" value="images/navi/navi.swf?page={{ struct[0] }}"><param name="bgcolor" value="#5D75B2"><param name="quality" value="high"><param name="menu" value="false"><embed src="images/navi/navi.swf?page={{ struct[0] }}" name="navi" width="697" height="198" bgcolor="#5D75B2" quality="high" menu="false" autostart="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></object></center>
		</td>
	</tr>
</table>
{%- else -%}
	{%- if struct[0] == "home" -%}
		<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td bgcolor="#872849"><img src="images/home/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom"><img src="images/home/back_h1.gif" alt="" width="319" height="80" border="0" align="bottom"></td>
			</tr>
			<tr>
				<td bgcolor="#872849"></td>
				<td></td>
				<td><img src="images/home/back_h2.gif" width="401" height="10" border="0" alt="" hspace="8"></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/home/back_h3.gif"><img
src="images/navi/home_top_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_abou"><map name="top_abou"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_mult"><map name="top_mult"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_good"><map name="top_good"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_supp"><map name="top_supp"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/home/back_h4.gif"><a
href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"></a><img
name="home" src="images/navi/home_sel.gif" width="129" height="19" border="0" alt=""><a></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"><img
name="abou" src="images/navi/abou_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"><img
name="mult" src="images/navi/mult_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"><img
name="good" src="images/navi/good_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"><img
name="supp" src="images/navi/supp_off.gif" width="129" height="19" border="0" alt=""></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/home/back_h5.gif"><img
src="images/navi/home_bot_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_abou"><map name="bot_abou"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_mult"><map name="bot_mult"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_good"><map name="bot_good"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_supp"><map name="bot_supp"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
			<tr>
				<td bgcolor="#872849"></td>
				<td colspan="2" align="right"><img src="images/home/back_h6.gif" width="291" height="10" border="0" alt="" hspace="41"></td>
			</tr>
		</table>
	{%- elif struct[0] == "abou" -%}
		<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/graphics/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"></td>
				<td bgcolor="#B15C3D"><img src="images/abou/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom"><img src="images/abou/back_h1.gif" width="239" height="78" border="0" alt="" align="bottom"></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="#B15C3D"></td>
				<td><img src="images/abou/back_h2.gif" width="377" height="10" border="0" alt="" hspace="20"></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h3.gif"><img
src="images/navi/home_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_home"><map name="top_home"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_mult"><map name="top_mult"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_good"><map name="top_good"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_supp"><map name="top_supp"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h4.gif"><a
href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"><img
name="home" src="images/navi/home_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"></a><img
name="abou" src="images/navi/abou_sel.gif" width="129" height="19" border="0" alt=""><a></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"><img
name="mult" src="images/navi/mult_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"><img
name="good" src="images/navi/good_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"><img
name="supp" src="images/navi/supp_off.gif" width="129" height="19" border="0" alt=""></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h5.gif"><img
src="images/navi/home_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_home"><map name="bot_home"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_mult"><map name="bot_mult"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_good"><map name="bot_good"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_supp"><map name="bot_supp"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="#B15C3D"></td>
				<td align="right"><img src="images/abou/back_h6.gif" width="302" height="10" border="0" alt="" hspace="2"></td>
			</tr>
		</table>
	{%- elif struct[0] == "mult" %}
		<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/graphics/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom" bgcolor="#208275"><img src="images/mult/back_h1a.gif" width="53" height="44" border="0" alt="" align="bottom"></td>
				<td valign="bottom"><img src="images/mult/back_h1b.gif" width="278" height="80" border="0" alt="" align="bottom"></td>
			</tr>
			<tr>
				<td><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="138" vspace="4"></td>
				<td bgcolor="#208275"><img src="images/mult/back_h2a.gif" width="129" height="10" border="0" alt=""></td>
				<td><img src="images/mult/back_h2b.gif" width="278" height="10" border="0" alt=""></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/mult/back_h3.gif"><img
src="images/navi/home_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_home"><map name="top_home"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_abou"><map name="top_abou"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_good"><map name="top_good"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_supp"><map name="top_supp"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/mult/back_h4.gif"><a
href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"><img
name="home" src="images/navi/home_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"><img
name="abou" src="images/navi/abou_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"></a><img
name="mult" src="images/navi/mult_sel.gif" width="129" height="19" border="0" alt=""><a></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"><img
name="good" src="images/navi/good_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"><img
name="supp" src="images/navi/supp_off.gif" width="129" height="19" border="0" alt=""></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/mult/back_h5.gif"><img
src="images/navi/home_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_home"><map name="bot_home"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_abou"><map name="bot_abou"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_good"><map name="bot_good"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_supp"><map name="bot_supp"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="#208275" align="right"><img src="images/mult/back_h6a.gif" width="35" height="10" border="0" alt="" hspace="1"></td>
				<td align="right"><img src="images/mult/back_h6b.gif" width="270" height="10" border="0" alt="" hspace="4"></td>
			</tr>
		</table>
	{%- elif struct[0] == "good" -%}
		<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/graphics/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom" bgcolor="#2061AC"><img src="images/good/back_h1a.gif" width="85" height="80" border="0" alt="" align="bottom"></td>
				<td valign="bottom"><img src="images/good/back_h1b.gif" width="135" height="67" border="0" alt="" align="bottom"></td>
			</tr>
			<tr>
				<td><img src="images/graphics/space.gif" width="1" height="2" border="0" alt="" hspace="208" vspace="4"></td>
				<td bgcolor="#2061AC"><img src="images/good/back_h2a.gif" width="85" height="10" border="0" alt="" hspace="22"></td>
				<td><img src="images/good/back_h2b.gif" width="133" height="10" border="0" alt="" hspace="3"></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/good/back_h3.gif"><img
src="images/navi/home_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_home"><map name="top_home"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_abou"><map name="top_abou"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_mult"><map name="top_mult"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_supp"><map name="top_supp"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/good/back_h4.gif"><a
href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"><img
name="home" src="images/navi/home_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"><img
name="abou" src="images/navi/abou_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"><img
name="mult" src="images/navi/mult_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"></a><img
name="good" src="images/navi/good_sel.gif" width="129" height="19" border="0" alt=""><a></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"><img
name="supp" src="images/navi/supp_off.gif" width="129" height="19" border="0" alt=""></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/good/back_h5.gif"><img
src="images/navi/home_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_home"><map name="bot_home"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_abou"><map name="bot_abou"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_mult"><map name="bot_mult"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_supp"><map name="bot_supp"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
			<tr>
				<td align="right"><img src="images/good/back_h6a.gif" width="5" height="10" border="0" alt="" hspace="24"></td>
				<td bgcolor="#2061AC" align="right"><img src="images/good/back_h6b.gif" width="115" height="10" border="0" alt="" hspace="7"></td>
				<td align="right"><img src="images/good/back_h6c.gif" width="118" height="10" border="0" alt="" hspace="3"></td>
			</tr>
		</table>
	{%- elif struct[0] == "supp" -%}
		<table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/graphics/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom"><img src="images/supp/back_h1a.gif" width="182" height="79" border="0" alt="" align="bottom"></td>
				<td bgcolor="#7B2898" valign="bottom"><img src="images/supp/back_h1b.gif" width="115" height="80" border="0" alt="" align="bottom"></td>
			</tr>
			<tr>
				<td></td>
				<td align="right"><img src="images/supp/back_h2a.gif" width="182" height="10" border="0" alt=""></td>
				<td bgcolor="#7B2898"><img src="images/supp/back_h2b.gif" width="129" height="10" border="0" alt=""></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/supp/back_h3.gif"><img
src="images/navi/home_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_home"><map name="top_home"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_abou"><map name="top_abou"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_mult"><map name="top_mult"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_good"><map name="top_good"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_on.gif" width="129" height="25" border="0" alt=""></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/supp/back_h4.gif"><a
href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"><img
name="home" src="images/navi/home_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"><img
name="abou" src="images/navi/abou_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"><img
name="mult" src="images/navi/mult_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"><img
name="good" src="images/navi/good_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="supp" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"></a><img
name="supp" src="images/navi/supp_sel.gif" width="129" height="19" border="0" alt=""><a></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/supp/back_h5.gif"><img
src="images/navi/home_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_home"><map name="bot_home"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="home" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_abou"><map name="bot_abou"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_mult"><map name="bot_mult"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="mult" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_good"><map name="bot_good"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="good" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_on.gif" width="129" height="25" border="0" alt=""></td>
			</tr>
			<tr>
				<td></td>
				<td><img src="images/supp/back_h6a.gif" width="238" height="10" border="0" alt="" hspace="25"></td>
				<td bgcolor="#7B2898"><img src="images/supp/back_h6b.gif" width="129" height="10" border="0" alt=""></td>
			</tr>
		</table>
	{%- endif -%}
{%- endif -%}
