---
navilinks:
  home:
    colors:
      active: 9D0013
      hover: 872849
    links:
      welc: welcome
      news: news
      info: information
      link: links
  abou:
    colors:
      active: DC4F00
      hover: B15C3D
    links:
      welc: welcome
      theg: the game
      tech: technology
      pres: press
      thet: the team
  mult:
    colors:
      active: 008856
      hover: 208275
    links:
      welc: welcome
      conc: concept art
      dis2: dis2dat
      itsh: it shouldn't happen
      scre: screenshots
      movi: movies
      artw: artwork
      wall: wallpaper
      mode: models
      fana: fanart
      audi: audio
  good:
    colors:
      active: 0056A9
      hover: 2061AC
    links:
      welc: welcome
      devd: dev diary
      demo: demo
      webk: webkit
      newb: newbie guide
      weap: weapons guide
      play: players guide
      topt: top tips
  supp:
    colors:
      active: 8B008B
      hover: 7B2898
    links:
      welc: welcome
      patc: patch
      faqs: faqs
      worm: wormNET 3D
      foru: forums
textimages:
  abou:  { width:  44, height: 18 }
  artw:  { width:  62, height: 18 }
  audi:  { width:  41, height: 18 }
  conc:  { width:  87, height: 18 }
  demo:  { width:  42, height: 18 }
  devd:  { width:  66, height: 18 }
  dis2:  { width:  55, height: 18 }
  fana:  { width:  48, height: 18 }
  faqs:  { width:  34, height: 18 }
  feed:  { width:  73, height: 18 }
  foru:  { width:  57, height: 18 }
  game:  { width:  49, height: 18 }
  good:  { width:  55, height: 18 }
  home:  { width:  70, height: 18 }
  info:  { width:  88, height: 18 }
  itsh:  { width: 136, height: 18 }
  link:  { width:  34, height: 18 }
  mode:  { width:  55, height: 18 }
  movi:  { width:  53, height: 18 }
  mult:  { width:  85, height: 18 }
  news:  { width:  38, height: 18 }
  patc:  { width:  41, height: 18 }
  play:  { width:  99, height: 18 }
  pres:  { width:  42, height: 18 }
  scre:  { width:  90, height: 18 }
  supp:  { width:  58, height: 18 }
  tech:  { width:  82, height: 18 }
  theg:  { width:  71, height: 18 }
  thet:  { width:  67, height: 18 }
  topt:  { width:  59, height: 18 }
  wall:  { width:  76, height: 18 }
  weap:  { width:  11, height: 18 }
  webk:  { width:  51, height: 18 }
  worm:  { width:  99, height: 18 }
  error: { width:  40, height: 18 }
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>..::] Worms 3D | The official website from Team17 [::..</title>
		<meta name="author" content="APJ">
		<meta name="description" content="..::] Worms 3D | The official website from Team17 [::..">
		<meta name="keywords" content="Team17, Team, 17, PC, DC, PS, PSX, PS2, N64, GB, X BOX, GC, Playstation, Playstation2, Dreamcast, X-Box, Gamecube, Alien, Breed, Addiction, Pinball, Arcade, Pool, Assassin, Body, Blows, Full, Contact, Nightlong, Phoenix, Project, X, 2, Stunt, GP, Silverball, Speris, Legacy, Superfrog, Super, Stardust, Worms, Armageddon, Reinforcements, World, Party, Blast, United, QWAK, Access, All, Areas, Profits, Warning, game, pink, hard, games, gameplay, humour">
{#- fix urls #}
		<base href="{{ "/" | url }}" />
		<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
<script language="JavaScript" src="scripts/worms3d.js"></script>
{% if header_flash == true %}
<script language="JavaScript" src="scripts/flash.js"></script>
{% endif -%}
<link href="scripts/worms3d_ie.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#3E5182" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0" background="images/graphics/back_main.gif"><a name="top"></a>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<!-- blue -->
	<tr align="center">
		<td height="198" bgcolor="#5D75B2" align="center" valign="top">
			{%- include "header.njk" -%}
		</td>
	</tr>
	<!-- /blue -->
	<!-- line -->
	<tr align="center">
		<td height="1" bgcolor="#BAC9EF"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="342"></td>
	</tr>
	<!-- /line -->
	<!-- grey -->
	<tr align="center">
		<td align="center" valign="top">{{ content | safe | trim }}<br></td>
	</tr>
</table>
</body>
</html>
