		<table width="685" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				{#- left column #}
				<td width="129" align="center">
				{%- include "pagenav.njk" %}
				{%- if struct[0] == "home" and struct[1] == "welc" -%}
				<a
				href="https://secure.team17.com/browse/search&keyword=Worms%203D" title="Buy W3D full game" target="_blank"><img src="images/graphics/box.gif" width="129" height="164" border="0" alt="Buy W3D full game"></a><br><a
				href="supp/patc" title="Download W3D v.1003 to v.1053 service patch" target="_self"><img src="images/graphics/patch.gif" width="129" height="112" border="0" alt="Download W3D v.1073 service patch" vspace="10"></a><br><a
				href="good/demo" title="Download W3D demo" target="_self"><img src="images/graphics/demo.gif" width="129" height="112" border="0" alt="Download W3D demo"></a>
				{%- else -%}
				<table width="100%" height="137" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #333333">
					<tr>
						<td background="images/graphics/back_worm.gif"><img src="images/graphics/worm_3d_1.gif" width="81" height="76" border="0" alt="" hspace="22"><br><img src="images/graphics/worm_3d_2.gif" width="111" height="59" border="0" alt="" hspace="8"></td>
					</tr>
				</table><br>
				{%- endif -%}
				</td>
				{#- left separator #}
				<td width="10" rowspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="4"></td>
				{#- center column #}
				<td width="407"><img src="images/{{ struct[0] }}/back_v1.gif" width="407" height="10" border="0" alt=""><br><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						{%- set textimage = (textimage | default(struct[1])) %}
						<td><img src="images/text/{{ textimage | default(struct[1]) }}.gif" width="{{ textimages[textimage].width }}" height="{{ textimages[textimage].height }}" border="0" alt="" hspace="20" vspace="11"></td>
						<td align="right"><img src="images/{{ struct[0] }}/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
		<!-- /main -->
{%- block center %}
This is the center!
{% endblock %}
		<!-- /main -->
				</td>
				{#- right separator #}
				<td width="10" background="images/{{ struct[0] }}/back_v2.gif" rowspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="4"></td>
				{#- right column #}
				<td width="129" background="images/{{ struct[0] }}/back_v3.gif"{% if not footer_hitcount %} rowspan="2"{% endif %}><img src="images/graphics/space.gif" width="1" height="2" border="0" alt="" hspace="64" vspace="4"><br>
		<!-- right -->
{%- block right %}
{%- endblock %}
		<!-- /right -->
				</td>
			</tr>
			<tr valign="bottom">
				<td height="100%"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="right">[ <a href="#top" target="_self" class="navilink">top</a> ]<br>&nbsp;<br>[ <a href="home/welc#terms" target="_self" class="navilink">terms & privacy</a> ]<br></td>
					</tr>
				</table></td>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="left"><a href="http://www.gamespy.com" target="_blank"><img src="images/index/logo_gamespy.gif" width="88" height="26" border="0" alt="" vspace="11"></a></td>
						<td width="100%" align="center"><a href="http://www.team17.com" target="_blank"><img src="images/index/logo_team17.gif" width="88" height="35" border="0" alt="" vspace="0"></a><br>&copy; 2002-2006 Team17 Software Limited</td>
						<td align="right"><a href="http://www.sega-europe.com" target="_blank"><img src="images/index/logo_sega.gif" width="88" height="22" border="0" alt="" vspace="11"></a></td>
					</tr>
				</table></td>
				{% if footer_hitcount -%}
				<td height="100%"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="center">&nbsp;<br><b>hitcount</b><br>{{ footer_hitcount }}<br>&nbsp;<br></td>
					</tr>
				</table></td>
				{% endif %}
			</tr>
		</table>
