<table width="100%" border="0" cellspacing="0" cellpadding="6" bgcolor="#333333">
	<tr>
		<td>&nbsp;</td>
	</tr>
{%- for path, title in navilinks[struct[0]].links %}
	<tr>
	{% if path == struct[1] -%}
		<td align="right" bgcolor="#{{ navilinks[struct[0]].colors.active }}" background="images/navi/dots.gif"><b>{{ title | safe }}</b></td>
	{% else -%}
		<td align="right" onMouseOver="this.style.backgroundColor='#{{ navilinks[struct[0]].colors.hover }}'; this.style.cursor='hand'" onMouseOut="this.style.backgroundColor='#333333'" onClick="document.location='{{ struct[0] }}/{{ path }}'"><a href="{{ struct[0] }}/{{ path }}" target="_self" class="navilink">{{ title | safe }}</a></td>
	{% endif -%}
	</tr>
{%- endfor %}
	<tr>
		<td>&nbsp;</td>
	</tr>
				</table><br>{# -#}
