---
title: Information
layout: page
struct:
  - home
  - info
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- HOME | information | updates -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">information</font> | updates ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="33" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="16"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">subscribe<br>to updates</td>
						<td class="darktext">
Fancy a nice message in you e-mail inbox everytime we add something new to www.worms3d.com? Just click
the link below to add your subscription to our forum update thread.<br>&nbsp;<br>

[ <a href="http://forum.team17.com/member2.php?action=addsubscription&threadid=7343" target="_self" class="navilink">subscribe to W3D updates</a> ]<br>&nbsp;<br>
						
<b>All site updates</b><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">May</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="home/news#28may04" title="Updated HOME | NEWS with news on buying W3D for the Mac (904 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on buying...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="abou/pres/revi#reviews" title="Updated ABOUT | PRESS section with latest reviews (928 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#13apr04" title="Updated HOME | NEWS with news on the end of the webkit competition (928 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the en...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">April</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="good/webk#2results" title="Updated GOODIES | WEBKIT section with final results (949 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT section with f...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="darkwords">
[ <a href="abou/pres/revi#reviews" title="Updated ABOUT | PRESS section with latest reviews (957 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/webk#2update" title="Updated GOODIES | WEBKIT section with final judging info (957 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT section with f...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">1</td>
						<td class="darkwords">
[ <a href="abou/pres/revi" title="Updated ABOUT | PRESS section with latest reviews/previews (961 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">March</td>
						<td class="lightwords">30</td>
						<td class="darkwords">
[ <a href="abou/pres/revi#reviews" title="Updated ABOUT | PRESS section with latest reviews (963 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">24</td>
						<td class="darkwords">
[ <a href="abou/pres/revi" title="Updated ABOUT | PRESS section with latest reviews/previews (969 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">22</td>
						<td class="darkwords">
[ <a href="abou/pres/revi" title="Updated ABOUT | PRESS section with latest reviews/previews (971 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#22mar04" title="Updated HOME | NEWS with news on pre-ordering Worms 3D on the Mac (971 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on pre-or...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">15</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (978 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (978 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">11</td>
						<td class="darkwords">
[ <a href="abou/pres/rele" title="Updated ABOUT | PRESS section with 1 new Press release (982 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (984 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/patc" title="Added SUPPORT| PATCH section with v.1073 Service Patch (984 days ago)" target="_self" class="navilink">Added SUPPORT| PATCH section with v.107...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="darkwords">
[ <a href="home/news#5mar04" title="Updated HOME | NEWS with news on release dates and webkit round 2 judging (988 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on releas...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (988 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">February</td>
						<td class="lightwords">27</td>
						<td class="darkwords">
[ <a href="home/news#27feb04" title="Updated HOME | NEWS with news on Ferals updated website :-) and APJ's last day :-( (995 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on Ferals...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">20</td>
						<td class="darkwords">
[ <a href="home/news#20feb04" title="Updated HOME | NEWS with news on Ferals new microsite (1002 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on Ferals...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/revi" title="Updated ABOUT | PRESS section with latest previews and reviews (1002 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with late...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (1002 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="home/news#13feb04" title="Updated HOME | NEWS with news on major US stockist and patch info (1009 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on major ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">6</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with January images (1016 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="home/news#04feb04" title="Updated HOME | NEWS with details on XBox Live W3D for America (1018 days ago)" target="_self" class="navilink">Updated HOME | NEWS with details on XBo...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">2</td>
						<td class="darkwords">
[ <a href="mult/audi" title="Updated MULTIMEDIA| AUDIO section with frontend music tweak (1020 days ago)" target="_self" class="navilink">Updated MULTIMEDIA| AUDIO section with ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">January</td>
						<td class="lightwords">16</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs page with Nth America / Sth America / Far East release dates (1037 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs page with Nth Am...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page with Nth America / Sth America / Far East release dates (1037 days ago)" target="_self" class="navilink">Updated INDEX page with Nth America / S...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/rele" title="Updated ABOUT | PRESS section with 1 new Press release (1037 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (1044 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (1044 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">December</td>
						<td class="lightwords">23</td>
						<td class="darkwords">
[ <a href="webkit" title="Updated GOODIES | WEBKIT with Round 2 assets (1061 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT with Round 2 a...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with Chirstmas images (1061 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">19</td>
						<td class="darkwords">
[ <a href="home/news#19dec03" title="Updated HOME | NEWS with news on the webkit, patch, Xmas competition and Flash navi (1065 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the we...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="darkwords">
[ <a href="home/news#5dec03" title="Updated HOME | NEWS with news on the Xmas calendar/comp, webkit and new navigation (1079 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the Xm...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/quot" title="Updated ABOUT | PRESS quotes section with new quotes (1079 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS quotes section wi...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/revi" title="Added ABOUT | PRESS reviews section (1079 days ago)" target="_self" class="navilink">Added ABOUT | PRESS reviews section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with November's images (1079 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/weap" title="Updated GOODIES | WEAPONS GUIDE section with part two (1079 days ago)" target="_self" class="navilink">Updated GOODIES | WEAPONS GUIDE section...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">November</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="abou/pres/rele" title="Updated ABOUT | PRESS section with 1 new Press release (1086 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/weap" title="Added GOODIES | WEAPONS GUIDE section (1086 days ago)" target="_self" class="navilink">Added GOODIES | WEAPONS GUIDE section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/topt" title="Added GOODIES | TOP TIPS section (1086 days ago)" target="_self" class="navilink">Added GOODIES | TOP TIPS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#28nov03" title="Updated HOME | NEWS with news on the christmas competition and webkit (1086 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the ch...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">25</td>
						<td class="darkwords">
[ <a href="home/link" title="Updated HOME | LINKS with all webkit entries (1089 days ago)" target="_self" class="navilink">Updated HOME | LINKS with all webkit en...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">24</td>
						<td class="darkwords">
[ <a href="good/webk" title="Updated GOODIES | WEBKIT section with the latest on Round One (1090 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT section with t...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">21</td>
						<td class="darkwords">
[ <a href="home/news#21nov03" title="Updated HOME | NEWS with news on the news on the freshly released patch and more (1093 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the ne...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/patc" title="Added SUPPORT| PATCH section with v.1003 &gt; v1.053 Service Patch (1093 days ago)" target="_self" class="navilink">Added SUPPORT| PATCH section with v.100...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">14</td>
						<td class="darkwords">
[ <a href="home/news#14nov03" title="Updated HOME | NEWS with news on the patch, BAFTAs, charts, and internal tournament (1100 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the pa...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">10</td>
						<td class="darkwords">
[ <a href="good/webk" title="Updated GOODIES | WEBKIT section with FAQs (1104 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT section with FAQs</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/awar#results" title="Updated GOODIES | DEV DIARY with Press Tour special Part 2 competition results! (1104 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with Press ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">7</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with October's images (1107 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/webk" title="Updated GOODIES | WEBKIT section (1107 days ago)" target="_self" class="navilink">Updated GOODIES | WEBKIT section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (1107 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">October</td>
						<td class="lightwords">31</td>
						<td class="darkwords">
[ <a href="mult/artw" title="Added MULTIMEDIA | ARTWORK section (1114 days ago)" target="_self" class="navilink">Added MULTIMEDIA | ARTWORK section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/awar" title="Updated GOODIES | DEV DIARY with Press Tour special Part 2 (1114 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with Press ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/awar" title="Updated GOODIES | DEV DIARY with Press Tour special Part 2 (1114 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with Press ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="good/demo" title="Updated GOODIES | DEMO section with new download mirrors (1117 days ago)" target="_self" class="navilink">Updated GOODIES | DEMO section with new...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">27</td>
						<td class="darkwords">
[ <a href="good/demo" title="Updated GOODIES | DEMO section with brand new demo (1118 days ago)" target="_self" class="navilink">Updated GOODIES | DEMO section with bra...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">24</td>
						<td class="darkwords">
[ <a href="home/news#24oct03" title="Updated HOME | NEWS with news on the webkit, and internal tournament! (1121 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the we...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/webk" title="Added GOODIES | WEBKIT section (1121 days ago)" target="_self" class="navilink">Added GOODIES | WEBKIT section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/rele" title="Updated ABOUT | PRESS section with 1 new Press release (1121 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">17</td>
						<td class="darkwords">
[ <a href="home/news#17oct03" title="Updated HOME | NEWS with news on the internal tournament, and APJ's trip to France! (1128 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the in...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre#frontendoct" title="Updated MULTIMEDIA | SCREENSHOTS section with October batch (1128 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">10</td>
						<td class="darkwords">
[ <a href="home/news#10oct03" title="Updated HOME | NEWS with news on the game, new demo, webkit, and internal tournament (1135 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the ga...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">8</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (1137 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">3</td>
						<td class="darkwords">
[ <a href="home/news#3oct03" title="Updated HOME | NEWS with news on the webkit, US info, press &amp; promotion, and PC Gamer (1142 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the we...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (1142 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana/batt" title="Updated MULTIMEDIA | FANART section with latest batteryChicken comics (1142 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with September's images (1142 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">September</td>
						<td class="lightwords">26</td>
						<td class="darkwords">
[ <a href="home/news#26sep03" title="Updated HOME | NEWS with news on the demo, game, and website traffic (1149 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the de...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres" title="Updated ABOUT | PRESS section (1149 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/pres" title="Updated GOODIES | DEV DIARY with Press Tour special (1149 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with Press ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">19</td>
						<td class="darkwords">
[ <a href="good/demo" title="Added GOODIES | DEMO section (1156 days ago)" target="_self" class="navilink">Added GOODIES | DEMO section</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">18</td>
						<td class="darkwords">
[ <a href="home/news#18sep03" title="Updated HOME | NEWS with news on the leaked demo (1157 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the le...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">17</td>
						<td class="darkwords">
[ <a href="home/news#17sep03" title="Updated HOME | NEWS with news on the Gameplay competition (1158 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the Ga...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">12</td>
						<td class="darkwords">
[ <a href="home/link" title="Updated HOME | LINKS with 8 new  community links (1163 days ago)" target="_self" class="navilink">Updated HOME | LINKS with 8 new  commun...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/artw" title="Added MULTIMEDIA | ARTWORK section (1163 days ago)" target="_self" class="navilink">Added MULTIMEDIA | ARTWORK section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#12sep03" title="Updated HOME | NEWS with news on the demo, boxshots, and Spadge's tour of Europe (1163 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the de...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="darkwords">
[ <a href="abou/pres/link" title="Updated ABOUT | PRESS section with 1 new Press link (1170 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with August's images (1170 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre#frontend" title="Updated MULTIMEDIA | SCREENSHOTS section with frontend batch (1170 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/play" title="Added GOODIES | PLAYERS GUIDE section (1170 days ago)" target="_self" class="navilink">Added GOODIES | PLAYERS GUIDE section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#05sep03" title="Updated HOME | NEWS with news on the frontend, audio, and boxart! (1170 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the fr...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (1171 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Replaced ABOUT | FAQs section with SUPPORT | FAQs section (1171 days ago)" target="_self" class="navilink">Replaced ABOUT | FAQs section with SUPP...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">3</td>
						<td class="darkwords">
[ <a href="abou/pres/link" title="Updated ABOUT | PRESS section with 1 new Press link (1172 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">August</td>
						<td class="lightwords">29</td>
						<td class="darkwords">
[ <a href="abou/pres/rele#29aug03" title="Updated ABOUT | PRESS section with 1 new Press release (1177 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 1 ne...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#29aug03" title="Updated HOME | NEWS with news on the game, weapons, and demo! (1177 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the ga...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="home/news#28aug03" title="Updated HOME | NEWS with news on London Games Week, ECTS, and PlayStation Experience! (1178 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on London...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/link" title="Updated ABOUT | PRESS section with 2 new Press links (1178 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 2 ne...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">22</td>
						<td class="darkwords">
[ <a href="home/news#22aug03" title="Updated HOME | NEWS with news on the weapons guide, players guide, and Webkit! (1184 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on the we...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">18</td>
						<td class="darkwords">
[ <a href="abou/pres/link" title="Updated ABOUT | PRESS section with 27 new Press links (1188 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 27 n...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="supp/faqs" title="Updated SUPPORT | FAQs section (1188 days ago)" target="_self" class="navilink">Updated SUPPORT | FAQs section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/movi#inga" title="Updated MULTIMEDIA | MOVIE section with 4 new download locations (1188 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | MOVIE section with...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">15</td>
						<td class="darkwords">
[ <a href="mult/scre#explosion" title="Updated MULTIMEDIA | SCREENSHOTS section with Explosion Fest special (1191 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/movi#inga" title="Updated MULTIMEDIA | MOVIE section with in-game footage (1191 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | MOVIE section with...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#15aug03" title="Updated HOME | NEWS with video footage, game and demo info (1191 days ago)" target="_self" class="navilink">Updated HOME | NEWS with video footage,...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">8</td>
						<td class="darkwords">
[ <a href="mult/scre#jul03" title="Updated MULTIMEDIA | SCREENSHOTS section with July's batch (1198 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Updated MULTIMEDIA | FANART section with May, June and July's images (1198 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">July</td>
						<td class="lightwords">18</td>
						<td class="darkwords">
[ <a href="home/news#18jul03" title="updated HOME | NEWS introducing the new Worms 3D International Lounge (1219 days ago)" target="_self" class="navilink">updated HOME | NEWS introducing the new...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">14</td>
						<td class="darkwords">
[ <a href="home/link" title="Updated HOME | LINKS with 5 new site links (1223 days ago)" target="_self" class="navilink">Updated HOME | LINKS with 5 new site links</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">11</td>
						<td class="darkwords">
[ <a href="abou/pres/link" title="Updated ABOUT | PRESS section with 13 new Press links (1226 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 13 n...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/pres/quot#11jul03" title="Updated ABOUT | PRESS section with 5 new Press quotes (1226 days ago)" target="_self" class="navilink">Updated ABOUT | PRESS section with 5 ne...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/audi" title="Updated MULTIMEDIA | AUDIO section with 3rd Speechbank (1226 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | AUDIO section with...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="mult/audi" title="Updated MULTIMEDIA | AUDIO section with 2nd Speechbank (1233 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | AUDIO section with...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/wall#jul03" title="Updated MULTIMEDIA | WALLPAPER section with July's 2nd selection (1233 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | WALLPAPER section ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">June</td>
						<td class="lightwords">27</td>
						<td class="darkwords">
[ <a href="mult/movi" title="Added MULTIMEDIA | MOVIE section (1240 days ago)" target="_self" class="navilink">Added MULTIMEDIA | MOVIE section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/audi" title="Added MULTIMEDIA | AUDIO section (1240 days ago)" target="_self" class="navilink">Added MULTIMEDIA | AUDIO section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/wall#jul03" title="Updated MULTIMEDIA | WALLPAPER section with July's 1st selection (1240 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | WALLPAPER section ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#27jun03b" title="Updated HOME | NEWS with news on Sega's W3D video teaser (1240 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on Sega's...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#27jun03a" title="Updated HOME | NEWS with news on C&amp;VG's W3D exclusive (1240 days ago)" target="_self" class="navilink">Updated HOME | NEWS with news on C&VG's...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">20</td>
						<td class="darkwords">
[ <a href="mult/conc" title="Added MULTIMEDIA | CONCEPT ART section (1247 days ago)" target="_self" class="navilink">Added MULTIMEDIA | CONCEPT ART section</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="mult/wall#jun03" title="Updated MULTIMEDIA | WALLPAPER section with June's batch (1254 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | WALLPAPER section ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/newb" title="Added GOODIES | NEWBIE GUIDE section (1254 days ago)" target="_self" class="navilink">Added GOODIES | NEWBIE GUIDE section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/dis2" title="Updated MULTIMEDIA | DIS2DAT section (1254 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | DIS2DAT section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre#jun03" title="Updated MULTIMEDIA | SCREENSHOTS section with June's E3 selection (1254 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page with new Worms 3D logo (1258 days ago)" target="_self" class="navilink">Updated INDEX page with new Worms 3D logo</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">May</td>
						<td class="lightwords">30</td>
						<td class="darkwords">
[ <a href="good/devd/twel" title="Updated GOODIES | DEV DIARY with chapter twelve (1268 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="good/devd/tour" title="Updated GOODIES | DEV DIARY with interactive T17 studio tour special (1285 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with intera...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">12</td>
						<td class="darkwords">
[ <a href="home/news#12may03" title="Updated HOME | NEWS with Worms 3D @ E3 information (1286 days ago)" target="_self" class="navilink">Updated HOME | NEWS with Worms 3D @ E3 ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">2</td>
						<td class="darkwords">
[ <a href="mult/scre#may03" title="Updated MULTIMEDIA | SCREENSHOTS section with May's Gamecube batch (1296 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">April</td>
						<td class="lightwords">25</td>
						<td class="darkwords">
[ <a href="abou/pres/rele#25apr03" title="Updated ABOUT| PRESS with 'SEGA Europe Ltd Announces Worms 3D' press release (1303 days ago)" target="_self" class="navilink">Updated ABOUT| PRESS with 'SEGA Europe ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="home/news#25apr03" title="Updated HOME | NEWS with SEGA announcement information (1303 days ago)" target="_self" class="navilink">Updated HOME | NEWS with SEGA announcem...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (1303 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">17</td>
						<td class="darkwords">
[ <a href="mult/fana/apri" title="Updated MULTIMEDIA | FANART section with April's images (1311 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/focu" title="Updated GOODIES | DEV DIARY with Focus-group special (1311 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with Focus-...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/itsh#part7" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section with curly Worms (1311 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/thet/chuc" title="Updated ABOUT | THE TEAM section with Chuck Q 'n' A session (1311 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with C...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">11</td>
						<td class="darkwords">
[ <a href="mult/itsh#part6" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section with non-Wormy Worms (1317 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/thet/kilb" title="Updated ABOUT | THE TEAM section with Kilburn Q 'n' A session (1317 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with K...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/elev" title="Updated GOODIES | DEV DIARY with chapter eleven (1317 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="darkwords">
[ <a href="abou/thet/spad" title="Updated ABOUT | THE TEAM section with Spadge Q 'n' A session (1319 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with S...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="mult/itsh#part5" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section with out-takes (1324 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/tech/wire" title="Updated ABOUT | TECHNOLOGY with Wireframes section (1324 days ago)" target="_self" class="navilink">Updated ABOUT | TECHNOLOGY with Wirefra...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre#apr03" title="Updated MULTIMEDIA | SCREENSHOTS section with April's batch (1324 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS sectio...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">March</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="abou/tech/rand" title="Updated ABOUT | TECHNOLOGY with Random terrains section (1331 days ago)" target="_self" class="navilink">Updated ABOUT | TECHNOLOGY with Random ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/itsh#part4" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section (1331 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/dis2" title="Updated MULTIMEDIA | DIS2DAT section (1331 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | DIS2DAT section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/thet" title="Updated ABOUT | THE TEAM section with Kilburn Q 'n' A session link (1331 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with K...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/ten" title="Updated GOODIES | DEV DIARY with chapter ten (1331 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">21</td>
						<td class="darkwords">
[ <a href="abou/thet/jegg" title="Updated ABOUT | THE TEAM section with Jegg Q 'n' A session (1338 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with J...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">14</td>
						<td class="darkwords">
[ <a href="good/devd/nine" title="Updated GOODIES | DEV DIARY with chapter nine (1345 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/fana/twod" title="Updated MULTIMEDIA | FANART section with 2d images (1345 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/itsh#part3" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section (1345 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre#mar03" title="Updated MULTIMEDIA | SCREENSHOTS section (1345 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/thet" title="Updated ABOUT | THE TEAM section with Jegg Q 'n' A session link (1345 days ago)" target="_self" class="navilink">Updated ABOUT | THE TEAM section with J...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="darkwords">
[ <a href="mult/fana/thrd" title="Updated MULTIMEDIA | FANART section with 3d images (1355 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | FANART section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">February</td>
						<td class="lightwords">28</td>
						<td class="darkwords">
[ <a href="mult/fana" title="Added MULTIMEDIA | FANART section (1359 days ago)" target="_self" class="navilink">Added MULTIMEDIA | FANART section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/itsh#part2" title="Updated MULTIMEDIA | IT SHOULDN'T HAPPEN section (1359 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | IT SHOULDN'T HAPPE...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/eigh" title="Updated GOODIES | DEV DIARY with chapter eight (1359 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/mode" title="Updated MULTIMEDIA | MODELS section with your work! (1359 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | MODELS section wit...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">21</td>
						<td class="darkwords">
[ <a href="mult/wall" title="Updated MULTIMEDIA | WALLPAPER section (1366 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | WALLPAPER section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/itsh" title="Added MULTIMEDIA | IT SHOULDN'T HAPPEN section (1366 days ago)" target="_self" class="navilink">Added MULTIMEDIA | IT SHOULDN'T HAPPEN ...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/dis2" title="Added MULTIMEDIA | DIS2DAT section (1366 days ago)" target="_self" class="navilink">Added MULTIMEDIA | DIS2DAT section</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">19</td>
						<td class="darkwords">
[ <a href="mult/scre#feb03" title="Updated MULTIMEDIA | SCREENSHOTS section (1368 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | SCREENSHOTS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/wall" title="Updated MULTIMEDIA | WALLPAPER section (1368 days ago)" target="_self" class="navilink">Updated MULTIMEDIA | WALLPAPER section</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">14</td>
						<td class="darkwords">
[ <a href="good/devd/seve" title="Updated GOODIES | DEV DIARY with chapter seven (1373 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">12</td>
						<td class="darkwords">
[ <a href="mult/mode" title="Added MULTIMEDIA | MODELS section with Land Mine (1375 days ago)" target="_self" class="navilink">Added MULTIMEDIA | MODELS section with ...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">January</td>
						<td class="lightwords">31</td>
						<td class="darkwords">
[ <a href="index.html" title="Updated INDEX page (1387 days ago)" target="_self" class="navilink">Updated INDEX page</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/mode" title="Added MULTIMEDIA | MODELS section (1387 days ago)" target="_self" class="navilink">Added MULTIMEDIA | MODELS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/wall" title="Added MULTIMEDIA | WALLPAPER section (1387 days ago)" target="_self" class="navilink">Added MULTIMEDIA | WALLPAPER section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="mult/scre" title="Added MULTIMEDIA | SCREENSHOTS section (1387 days ago)" target="_self" class="navilink">Added MULTIMEDIA | SCREENSHOTS section</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="good/devd/six" title="Updated GOODIES | DEV DIARY with chapter six (1387 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">17</td>
						<td class="darkwords">
[ <a href="good/devd/five" title="Updated GOODIES | DEV DIARY with chapter five (1401 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">2</td>
						<td class="darkwords">
[ <a href="good/devd/four" title="Updated GOODIES | DEV DIARY with chapter four (1416 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="darkwords">
[ <a href="abou/theg" title="Updated ABOUT | THE GAME with 3 development shots (1416 days ago)" target="_self" class="navilink">Updated ABOUT | THE GAME with 3 develop...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">December</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="good/devd/thre" title="Updated GOODIES | DEV DIARY with chapter three (1436 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">2</td>
						<td class="darkwords">
[ <a href="home/news#2dec02" title="Updated HOME | NEWS with details of our Xmas unveiling and daily competitions (1447 days ago)" target="_self" class="navilink">Updated HOME | NEWS with details of our...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">November</td>
						<td class="lightwords">22</td>
						<td class="darkwords">
[ <a href="good/devd/two" title="Updated GOODIES | DEV DIARY with chapter two (1457 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">21</td>
						<td class="darkwords">
&nbsp; <a href="#" title="Launched worms3d.com v3 (1458 days ago)" target="_self" class="navilinkoff">Launched worms3d.com v3</a><br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">6</td>
						<td class="darkwords">
[ <a href="good/devd/one" title="Updated GOODIES | DEV DIARY with chapter one (1473 days ago)" target="_self" class="navilink">Updated GOODIES | DEV DIARY with chapte...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">August</td>
						<td class="lightwords">13</td>
						<td class="darkwords">
[ <a href="abou/pres/rele" title="Added ABOUT| PRESS with 'Activision acquires Worms 3' press release (1558 days ago)" target="_self" class="navilink">Added ABOUT| PRESS with 'Activision acq...</a> ]<br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">July</td>
						<td class="lightwords">17</td>
						<td class="darkwords">
&nbsp; <a href="#" title="Launched worms3d.com v2 (1585 days ago)" target="_self" class="navilinkoff">Launched worms3d.com v2</a><br>&nbsp;<br>
						</td>
					</tr>	
					<tr valign="top">
						<td class="lightwords">March</td>
						<td class="lightwords">21</td>
						<td class="darkwords">
&nbsp; <a href="#" title="Launched worms3d.com v1 (1703 days ago)" target="_self" class="navilinkoff">Launched worms3d.com v1</a><br>&nbsp;<br>
						</td>
					</tr>	
            </table>
				</td></tr></table><br>
			<!-- /HOME | information | updates -->
	
			<!-- HOME | information | sections -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">information</font> | sections ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">[ <a href="home" target="_self" class="bluelink">home</a> ]</td>
						<td class="darktext">
<b>Welcome to Worms 3D!</b><br>
The best things in life are THREE!<br>&nbsp;<br>

Worms 3D continues the history of turn based strategy featuring a bizarre
and outlandish array of deliciously explosive weaponry, mad animals,
crazy speech and laugh-out-loud instances, in 3Dimensions!<br>&nbsp;<br>

Release dates ::<br>
 Europe & Australia - <a href="supp/faqs#euau" target="_self" class="whitelink"><b>Out Now!</b></a><br>
Nth America, Sth America & Far East - <a href="supp/faqs#usea" target="_self" class="whitelink"><b>Out Now!</b></a>
<br>&nbsp;<br>
[ <a href="home/welc" target="_self" class="navilink">welcome</a> ]<br>

[ <a href="home/news" target="_self" class="navilink">news</a> ]<br>

[ <a href="home/info" target="_self" class="navilink">information</a> ]<br>

[ <a href="home/link" target="_self" class="navilink">links</a> ]<br>
&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">[ <a href="abou" target="_self" class="bluelink">about</a> ]</td>
						<td class="darktext">
<b>Information &amp; Development</b><br>
These sections guide you through everything you need to know about Worms
3 with details about the game and the people behind the scenes!
<br>&nbsp;<br>
[ <a href="abou/welc" target="_self" class="navilink">welcome</a> ]<br>

[ <a href="abou/theg" target="_self" class="navilink">the game</a> ]<br>

[ <a href="abou/tech" target="_self" class="navilink">technology</a> ]<br>

[ <a href="abou/pres" target="_self" class="navilink">press</a> ]<br>

[ <a href="abou/thet" target="_self" class="navilink">the team</a> ]<br>
&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">[ <a href="mult" target="_self" class="bluelink">multimedia</a> ]</td>
						<td class="darktext">
<b>Screenshots, Artwork &amp; Audio</b><br>
These sections give you an idea of what to expect visually and audibly
from Worms 3D, from conception through to production!
<br>&nbsp;<br>
[ <a href="mult/welc" target="_self" class="navilink">welcome</a> ]<br>

[ <a href="mult/conc" target="_self" class="navilink">concept art</a> ]<br>

[ <a href="mult/dis2" target="_self" class="navilink">dis2dat</a> ]<br>

[ <a href="mult/itsh" target="_self" class="navilink">it shouldn't happen</a> ]<br>

[ <a href="mult/scre" target="_self" class="navilink">screenshots</a> ]<br>

[ <a href="mult/movi" target="_self" class="navilink">movies</a> ]<br>

[ <a href="mult/artw" target="_self" class="navilink">artwork</a> ]<br>

[ <a href="mult/wall" target="_self" class="navilink">wallpaper</a> ]<br>

[ <a href="mult/mode" target="_self" class="navilink">models</a> ]<br>

[ <a href="mult/fana" target="_self" class="navilink">fanart</a> ]<br>

[ <a href="mult/audi" target="_self" class="navilink">audio</a> ]<br>
&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">[ <a href="good" target="_self" class="bluelink">goodies</a> ]</td>
						<td class="darktext">
<b>Other things Wormy</b><br>
These sections cover everything extra for Worms 3D, from support and
essential downloads to game guides and tips!
<br>&nbsp;<br>
[ <a href="good/welc" target="_self" class="navilink">welcome</a> ]<br>

[ <a href="good/devd" target="_self" class="navilink">dev diary</a> ]<br>

[ <a href="good/demo" target="_self" class="navilink">demo</a> ]<br>

[ <a href="good/webk" target="_self" class="navilink">webkit</a> ]<br>

[ <a href="good/newb" target="_self" class="navilink">newbie guide</a> ]<br>

[ <a href="good/weap" target="_self" class="navilink">weapons guide</a> ]<br>

[ <a href="good/play" target="_self" class="navilink">players guide</a> ]<br>

[ <a href="good/topt" target="_self" class="navilink">top tips</a> ]<br>
&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">[ <a href="supp" target="_self" class="bluelink">support</a> ]</td>
						<td class="darktext">
<b>Help &amp; support</b><br>
These sections cover everything technical related. Having a problem
with Worms 3D? Here's the place to look!
<br>&nbsp;<br>
[ <a href="supp/welc" target="_self" class="navilink">welcome</a> ]<br>

[ <a href="supp/patc" target="_self" class="navilink">patch</a> ]<br>

[ <a href="supp/faqs" target="_self" class="navilink">faqs</a> ]<br>

[ <a href="supp/worm" target="_self" class="navilink">wormNET 3D</a> ]<br>

[ <a href="supp/foru" target="_self" class="navilink">forums</a> ]<br>

						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | information | sections -->

			<!-- HOME | information | distribution -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">information</font> | distribution ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">developer</td>
						<td class="darktext">
<b>Team17 Software Limited</b><br>
We are a privately owned high calibre entertainment software development company headquartered in West
Yorkshire, England. We have developed over 100 SKU's in our ten-year history and specialise in quality
original titles using proprietary technology across all major hardware platforms. Key Franchise's and
Brands include Worms, Alien Breed, Project X, Superfrog, Phoenix, and Stunt GP.<br>&nbsp;<br>

[ <a href="http://www.team17.com" target="_blank" class="navilink">visit the Team17 website</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">publisher</td>
						<td class="darktext">
<b>SEGA Europe Limited.</b><br>
The European Publishing arm of Tokyo, Japan-based SEGA Corporation is a worldwide 
leader in interactive entertainment both inside and outside the home. The company develops, 
publishes and distributes interactive entertainment software products for a variety of hardware 
platforms including PC, wireless devices, and those manufactured by Nintendo, Microsoft and Sony 
Computer Entertainment Europe.<br>&nbsp;<br>

[ <a href="http://www.sega-europe.com" target="_blank" class="navilink">visit SEGA Europe's website</a> ]<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | information | distribution -->
			
				<!-- HOME | information | terms & privacy --><a name="terms"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">feedback</font> | terms & privacy ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td></td>
						<td class="darktext">
By using this site you agree to be bound by the following terms ::<br>&nbsp;<br>	
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">responsibility</td>
						<td class="darktext">
<b>Team17 Software Ltd</b> ('Team17') will use reasonable care to ensure the accuracy of
information on this site but excludes all liability in respect of any use of or reliance
on it. Team17 accepts no responsibility for third party websites linked to this site or
for information appearing on the public forums.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">rights</td>
						<td class="darktext">
Team17 or its licensors own the copyright and all other rights in this website.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">use</td>
						<td class="darktext">
You may download, copy and print material on this site only for your internal business use solely for
the purpose of selecting, evaluating and developing your use of Team17 products. You may not distribute
any material on this site to any third party without Team17's written consent.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">privacy</td>
						<td class="darktext">
Team17 respects the privacy of users of this site and does not share any personal information with
third parties, or use information supplied for any other purpose than for which it was intended.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | information | terms & privacy -->
			<!-- /CRON -->
{%- endblock %}
