---
title: Links
layout: page
struct:
  - home
  - link
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- HOME | links -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">links</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">weblinks</td>
						<td class="darktext">
Use these links to find out more about the people who brought you Worms 3D
and visit the best of the Worms community websites!<br>&nbsp;<br>

If you wish to have your site added here, contact us using our feedback
form and it will be added during the next page update.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | links -->
			
			<!-- HOME | links | corporate -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">corporate</td>
						<td class="darktext">
[ <a href="http://www.team17.com" target="_blank" class="navilink">Team17 Software Ltd.</a> ]<br>&nbsp;<br>

[ <a href="http://www.sega-europe.com" target="_blank" class="navilink">SEGA Europe Ltd.</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | links | corporate -->
			
			<!-- HOME | links | Team17 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3A4768"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Team17</td>
						<td class="darktext">
[ <a href="http://secure.team17.com" target="_blank" class="navilink">Team17 Shop</a> ]<br>
[ <a href="http://forum.team17.com" target="_blank" class="navilink">Team17 Forum</a> ]<br>&nbsp;<br>

[ <a href="http://worms.team17.com" target="_blank" class="navilink">Worms</a> ]<br>
[ <a href="http://w2.team17.com" target="_blank" class="navilink">Worms 2</a> ]<br>
[ <a href="http://wa.team17.com" target="_blank" class="navilink">Worms Armageddon</a> ]<br>
[ <a href="http://wwp.team17.com" target="_blank" class="navilink">Worms World Party</a> ]<br>&nbsp;<br>
[ <a href="http://wb.team17.com" target="_blank" class="navilink">Worms Blast</a> ]<br>&nbsp;<br>

[ <a href="http://phoenix.team17.com" target="_blank" class="navilink">Phoenix</a> ]<br>
[ <a href="http://stuntgp.team17.com" target="_blank" class="navilink">Stunt GP</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | links | Team17 -->

			<!-- HOME | links | Official fansites -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3C4C75"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Official fansites</td>
						<td class="darktext">
[ <a href="http://www.computerbackup.com/igotworms" target="_blank" class="navilink">I Got Worms</a> ]<br>&nbsp;<br>

[ <a href="http://worms.puissance-nintendo.com" target="_blank" class="navilink">Puissance Worms</a> ]<br>
Official website of French Worm fans<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | links | Team17 -->

			<!-- HOME | links | community -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">community</td>
						<td class="darktext">
your sites will be added here.. get them sent in!<br>&nbsp;<br>					

<b>Fan Sites</b><br>
[ <a href="http://www.blamethepixel.com/" title="BlameThePixel" target="_blank" class="navilink">BlameThePixel</a> ]<br>
[ <a href="http://www.worms3d.vze.com" title="Craig's Worms 3D" target="_blank" class="navilink">Craig's Worms 3D</a> ]<br>
[ <a href="http://www.kennettnet.co.uk/worms3d/" title="Dangerous Donkey Dropzone" target="_blank" class="navilink">Dangerous Donkey Dropzone</a> ]<br>
[ <a href="http://www.worms3dfansite.us.tt" title="Danny's Worms 3D Fansite" target="_blank" class="navilink">Danny's Worms 3D Fansite</a> ]<br>
[ <a href="http://www.dream17.co.uk" title="Dream17" target="_blank" class="navilink">Dream17</a> ]<br>
[ <a href="http://www.angelfire.com/nd2/worms/" title="HHC's Worms Portal" target="_blank" class="navilink">HHC's Worms Portal</a> ]<br>
[ <a href="http://www.computerbackup.com/igotworms" title="I Got Worms" target="_blank" class="navilink">I Got Worms</a> ]<br>
[ <a href="http://www.varley9.freeserve.co.uk/wormposs" title="Mission: WORMPOSSIBLE" target="_blank" class="navilink">Mission: WORMPOSSIBLE</a> ]<br>
[ <a href="http://www.planetworms3d.vze.com" title="Planet Worms 3D" target="_blank" class="navilink">Planet Worms 3D</a> ]<br>
[ <a href="http://www.proddersarmory.shorturl.com" title="Prodder's Armory" target="_blank" class="navilink">Prodder's Armory</a> ]<br>
[ <a href="http://www.worms2.net.tc" title="Reaperz Worms2 Utilities" target="_blank" class="navilink">Reaperz Worms2 Utilities</a> ]<br>
[ <a href="http://www.rrkit.com" title="RR Kit" target="_blank" class="navilink">RR Kit</a> ]<br>
[ <a href="http://members.lycos.co.uk/soileater3d" title="Soileater 3D" target="_blank" class="navilink">Soileater 3D</a> ]<br>
[ <a href="http://www.starworms.blamethepixel.com" title="Star Worms 3D" target="_blank" class="navilink">Star Worms 3D</a> ]<br>
[ <a href="http://supersheep.iscool.net" title="Supersheep Community" target="_blank" class="navilink">Supersheep Community</a> ]<br>
[ <a href="http://www.angelfire.com/games5/worms3d" title="SwedenWormsite" target="_blank" class="navilink">SwedenWormsite</a> ]<br>
[ <a href="http://www.topworms.com" title="Topworms" target="_blank" class="navilink">Topworms</a> ]<br>
[ <a href="http://www.concretedonkey.altervista.org" title="The Concrete Donkey" target="_blank" class="navilink">The Concrete Donkey</a> ]<br>
[ <a href="http://worms.dontgomad.co.uk" title="The Worm Armory" target="_blank" class="navilink">The Worm Armory</a> ]<br>
[ <a href="http://www.flodata.se/w3dfansite" title="Tomas' W3D fansite" target="_blank" class="navilink">Tomas' W3D fansite</a> ]<br>
[ <a href="http://www.cubie.dk/worms3d" title="Wormie" target="_blank" class="navilink">Wormie</a> ]<br>
[ <a href="http://www.worms.3d.prv.pl" title="Worms 3D Flash Version" target="_blank" class="navilink">Worms 3D Flash Version</a> ]<br>
[ <a href="http://worms3.no.sapo.pt" title="Worms 3D pt" target="_blank" class="navilink">Worms 3D pt</a> ]<br>
[ <a href="http://www.speedkick.co.uk/worms" title="Worms 3D Unleashed" target="_blank" class="navilink">Worms 3D Unleashed</a> ]<br>
[ <a href="http://www.arach.net.au/~donhewitt/Worms%20Weapons.htm" title="Worms 3D: Weapon Development" target="_blank" class="navilink">Worms 3D: Weapon Development</a> ]<br>
[ <a href="http://www.strategyplanet.com/wormhut/" title="WormHut" target="_blank" class="navilink">WormHut</a> ]<br>
[ <a href="http://www.wormiverse.com" title="Wormiverse" target="_blank" class="navilink">Wormiverse</a> ]<br>
[ <a href="http://www.angelfire.com/apes/wormdimensions/Worm_Dimensions.html" title="Worm Dimensions" target="_blank" class="navilink">Worm Dimensions</a> ]<br>
[ <a href="http://www.angelfire.com/games4/striker_002" title="Worm Fortress" target="_blank" class="navilink">Worm Fortress</a> ]<br>
[ <a href="http://www.wormshl.fr.st" title="Worms HL" target="_blank" class="navilink">Worms HL</a> ]<br>
[ <a href="http://worms.iamclan.com" title="Worms Planet" target="_blank" class="navilink">Worms Planet</a> ]<br>
[ <a href="http://wormstournament.com.sapo.pt" title="Worms Tournament" target="_blank" class="navilink">Worms Tournament</a> ]<br>
[ <a href="http://supremesuper.tripod.com/WormZone/Eng" title="Worm Zone" target="_blank" class="navilink">Worm Zone</a> ]<br>&nbsp;<br>

<b>Clans</b><br>
[ <a href="http://www.geocities.com/theanwclan" title="ANw" target="_blank" class="navilink">ANw</a> ]<br>
[ <a href="http://www.cl2k.org" title="CL2k" target="_blank" class="navilink">CL2k</a> ]<br>
[ <a href="http://www.clan-ole.com" title="Clan OLE" target="_blank" class="navilink">Clan OLE</a> ]<br>
[ <a href="http://www.worms.wz.cz/exterminators" title="ExTerminators" target="_blank" class="navilink">ExTerminators</a> ]<br>
[ <a href="http://www.teamip.com" title="Imperial Pirates" target="_blank" class="navilink">Imperial Pirates</a> ]<br>
[ <a href="http://www.clanmwc.co.uk" title="MwC" target="_blank" class="navilink">MwC</a> ]<br>
[ <a href="http://www.rkw3d.prv.pl" title="RKW3D" target="_blank" class="navilink">RKW3D</a> ]<br>
[ <a href="http://home.iprimus.com.au/vahagn/sfx" title="SFX" target="_blank" class="navilink">SFX</a> ]<br>
[ <a href="http://www.freewebs.com/twf3d" title="ThatForum Worms3D" target="_blank" class="navilink">ThatForum Worms3D</a> ]<br>
[ <a href="http://www.worms-league.com/tdc/" title="The Deadly Clan" target="_blank" class="navilink">The Deadly Clan</a> ]<br>
[ <a href="http://www.wcdclan.com" title="We Cant Die" target="_blank" class="navilink">We Cant Die</a> ]<br>
[ <a href="http://www.wwa-clan.tk" title="Worms With Attitude" target="_blank" class="navilink">Worms With Attitude</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">disclaimer</td>
						<td class="darktext">
Please note that Team17 are not responsible for the content of external sites.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | links | community -->
			<!-- /CRON -->
{%- endblock %}

{% block right %}
			<!-- CRON -->
			<!-- HOME | links -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/home/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>latest additions</b><br>&nbsp;<br>

[ <a href="http://www.worm-o-nator.de.ms/" title="The Worm-O-Nator" target="_blank" class="navilink">The Worm-O-Nator</a> ]<br>
[ <a href="http://www.xgatx.tk/" title="Global Assault Team" target="_blank" class="navilink">Global Assault ...</a> ]<br>
[ <a href="http://www.wormsforum.de.vu" title="German Worms Forum" target="_blank" class="navilink">German Worms Forum</a> ]<br>
[ <a href="http://vader.wurmz.net" title="Vader's Amazing Website - Be Amazed!" target="_blank" class="navilink">Vader's Amazing...</a> ]<br>
[ <a href="http://www.wormsschool.com" title="Worms School" target="_blank" class="navilink">Worms School</a> ]<br>
[ <a href="http://www.freewebs.com/preasure" title="WA: Superweapon Guide" target="_blank" class="navilink">WA: Superweapon...</a> ]<br>
[ <a href="http://s7.invisionfree.com/traxadasheroes/index.php" title="Traxadas Heroes" target="_blank" class="navilink">Traxadas Heroes</a> ]<br>
[ <a href="http://www.fortofworms.glt.pl" title="Forts of Worms" target="_blank" class="navilink">Forts of Worms</a> ]<br>
[ <a href="http://www.wwp.at" title="wwp" target="_blank" class="navilink">wwp</a> ]<br>
[ <a href="http://ns.clan.free.fr" title="No Skill" target="_blank" class="navilink">No Skill</a> ]<br>
[ <a href="http://www.freewebs.com/igotwormz" title="RIP" target="_blank" class="navilink">RIP</a> ]<br>
						</td>
					</tr>
				</table>
			<!-- /HOME  | links -->
			<!-- /CRON -->
{%- endblock %}
