---
title: Welcome
layout: page
struct:
  - home
  - welc
textimage: home
footer_hitcount: 999,999,999
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- home | welcome -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <font class="selected">home</font> | <font class="selected">welcome</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Welcome to<br>Worms 3D!</td>
						<td class="darktext">
The best things in life are THREE!<br>&nbsp;<br>

Worms 3D continues the history of turn based strategy featuring a bizarre
and outlandish array of deliciously explosive weaponry, mad animals,
crazy speech and laugh-out-loud instances, in 3Dimensions!<br>&nbsp;<br>

Release dates ::<br>
 Europe & Australia - <a href="supp/faqs#euau" target="_self" class="whitelink"><b>Out Now!</b></a><br>
Nth America, Sth America & Far East - <a href="supp/faqs#usea" target="_self" class="whitelink"><b>Out Now!</b></a>
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /home | welcome -->

			<!-- HOME | news | 28th May 04 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="home/news#28may04" target="_self"><img src="images/home/welc_news.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">home</font> | <a href="home/news" target="_self" class="navilink">news</a> ] 28/05/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="home/news#28may04" target="_self" class="whitelink"><b>1 New News Item</b></a><br>
Click here for news on buying W3D for the Mac!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | news | 28th May 04 -->
			
			<!-- ABOUT | press reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi#reviews" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="navilink">about</a> | <a href="abou/pres/revi" target="_self" class="navilink">press reviews</a> ] 04/05/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi#reviews" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press feedback!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press reviews -->
			
			<!-- GOODIES | webkit -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/webk#2results" target="_self"><img src="images/good/welc_webk.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="good" target="_self" class="navilink">goodies</a> | <a href="good/webk" target="_self" class="navilink">webkit</a> ] 13/04/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/webk#2results" target="_self" class="whitelink"><b>Webkit Results</b></a><br>
Click here for the final webkit results!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | webkit -->
			
			<!-- HOME | news | 13th April 04 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="home/news#13apr04" target="_self"><img src="images/home/welc_news.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">home</font> | <a href="home/news" target="_self" class="navilink">news</a> ] 13/04/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="home/news#13apr04" target="_self" class="whitelink"><b>1 New News Item</b></a><br>
Click here for news on the end of the webkit competition!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | news | 13th April 04 -->
			
			<!-- GOODIES | webkit -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/webk#2update" target="_self"><img src="images/good/welc_webk.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="good" target="_self" class="navilink">goodies</a> | <a href="good/webk" target="_self" class="navilink">webkit</a> ] 05/04/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/webk#2update" target="_self" class="whitelink"><b>Webkit</b></a><br>
Click here for info on the final judging!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | webkit -->
			
			<!-- HOME | news | 22nd February 04 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3B496E"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="home/news#22mar04" target="_self"><img src="images/home/welc_news.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">home</font> | <a href="home/news" target="_self" class="navilink">news</a> ] 22/03/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="home/news#22mar04" target="_self" class="whitelink"><b>1 New News Item</b></a><br>
Click here for news on pre-ordering Worms 3D on the Mac!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | news | 22nd February 04 -->
			
			<!-- ABOUT | press release -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3B496E"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="navilink">about</a> | <a href="abou/pres/rele" target="_self" class="navilink">press releases</a> ] 11/03/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>1 New Press Release</b></a><br>
Click here for the latest press release!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press release -->
			
			<!-- SUPPORT | patch -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3B496E"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="supp/patc" target="_self"><img src="images/supp/welc_patc_1073.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="supp" target="_self" class="navilink">support</a> | <a href="supp/patc" target="_self" class="navilink">patch</a> ] 09/03/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="supp/patc" target="_self" class="whitelink"><b>W3D service patch 2</b></a><br>
Click here for the latest service patch!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | patch -->
			
			<!-- HOME | welcome | terms & privacy --><a name="terms"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="home" target="_self" class="whitelink">home</a> | <font class="selected">welcome</font> | terms & privacy ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td></td>
						<td class="darktext">
By using this site you agree to be bound by the following terms ::<br>&nbsp;<br>	
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">responsibility</td>
						<td class="darktext">
<b>Team17 Software Ltd</b> ('Team17') will use reasonable care to ensure the accuracy of
information on this site but excludes all liability in respect of any use of or reliance
on it. Team17 accepts no responsibility for third party websites linked to this site or
for information appearing on the public forums.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">rights</td>
						<td class="darktext">
Team17 or its licensors own the copyright and all other rights in this website.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">use</td>
						<td class="darktext">
You may download, copy and print material on this site only for your internal business use solely for
the purpose of selecting, evaluating and developing your use of Team17 products. You may not distribute
any material on this site to any third party without Team17's written consent.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">privacy</td>
						<td class="darktext">
Team17 respects the privacy of users of this site and does not share any personal information with
third parties, or use information supplied for any other purpose than for which it was intended.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /HOME | welcome | terms & privacy -->
{%- endblock %}

{% block right %}
			<!-- CRON -->
			<!-- HOME | welcome -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td align="right"><img src="images/supp/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="foru" target="_self" class="whitelink"><b>forum latest</b></a><br>&nbsp;<br>

[ <a href="http://forum.team17.com/showthread.php?threadid=31195" title="Game freezes during tutorial (1 hour ago)" target="_blank" class="navilink">Game freezes du...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=29542" title="Wont start &gt;_&lt; (2 days ago)" target="_blank" class="navilink">Wont start >_<</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=31217" title="Weapons in Multiplayer (7 days ago)" target="_blank" class="navilink">Weapons in Mult...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=28229" title="All Weapons in Worms 3d (25 days ago)" target="_blank" class="navilink">All Weapons in ...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=31043" title="100% unlockable (34 days ago)" target="_blank" class="navilink">100% unlockable</a> ]<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="abou/pres/link" target="_self" class="whitelink"><b>press latest</b></a><br>&nbsp;<br>

[ <a href="http://www.acegamez.co.uk/reviews_playstation2/Worms_3D_PS2.htm" target="_self" class="navilink">AceGamez</a> ]<br />[ <a href="http://ps2.gamezone.com/gzreviews/r20919.htm" target="_self" class="navilink">GameZone</a> ]<br />[ <a href="http://www.michigandaily.com/vnews/display.v/ART/2004/03/31/406a79d29274f" target="_self" class="navilink">Michigan Daily </a> ]<br />[ <a href="http://www.gamenikki.com/Pages/Reviews/PlayStation2/Worms3D//index.php4" target="_self" class="navilink">Gamenikki</a> ]<br />[ <a href="http://www.usatoday.com/tech/columnist/marcsaltzman/2004-03-23-saltzman_x.htm " target="_self" class="navilink">USA Today</a> ]<br />						</td>
					</tr>
				</table><br>
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td align="right"><img src="images/home/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="home/info" target="_self" class="whitelink"><b>site updates</b></a><br>&nbsp;<br>

[ <a href="home/news#28may04" title="Updated HOME | NEWS with news on buying W3D for the Mac (34 days ago)" target="_self" class="navilink">Updated HOME | ...</a> ]<br>
[ <a href="abou/pres/revi#reviews" title="Updated ABOUT | PRESS section with latest reviews (34 days ago)" target="_self" class="navilink">Updated ABOUT |...</a> ]<br>
[ <a href="home/news#13apr04" title="Updated HOME | NEWS with news on the end of the webkit competition (34 days ago)" target="_self" class="navilink">Updated HOME | ...</a> ]<br>
[ <a href="good/webk#2results" title="Updated GOODIES | WEBKIT section with final results (34 days ago)" target="_self" class="navilink">Updated GOODIES...</a> ]<br>
[ <a href="abou/pres/revi#reviews" title="Updated ABOUT | PRESS section with latest reviews (34 days ago)" target="_self" class="navilink">Updated ABOUT |...</a> ]<br>&nbsp;<br>
			
<a href="http://forum.team17.com/subscription.php?do=addsubscription&t=7343" target="_self" class="whitelink"><b>subscribe to updates</b></a><br>
						</td>
					</tr>
				</table><br>
			<!-- /HOME | welcome -->
			<!-- /CRON -->
{%- endblock %}
