<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>..::] Worms | The official website from Team17 [::..</title>
  <meta name="author" content="APJ">
  <meta name="description" content="..::] Worms | The official website from Team17 [::..">
  <meta name="keywords" content="Team17, Team, 17, PC, DC, PS, PSX, PS2, N64, GB, X BOX, GC, Playstation, Playstation2, Dreamcast, X-Box, Gamecube, Alien, Breed, Addiction, Pinball, Arcade, Pool, Assassin, Body, Blows, Full, Contact, Nightlong, Phoenix, Project, X, 2, Stunt, GP, Silverball, Speris, Legacy, Superfrog, Super, Stardust, Worms, Armageddon, Reinforcements, World, Party, Blast, United, QWAK, Access, All, Areas, Profits, Warning, game, pink, hard, games, gameplay, humour">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | url }}"/>
  <link rel="stylesheet" href="{{ "/scripts/worms_ie.css" | url }}" type="text/css">
  {% if section == "wormsdc" -%}
  <link rel="stylesheet" href="{{ "/scripts/worms_dc.css" | url }}" type="text/css">
  {%- endif %}
  <link rel="stylesheet" href="{{ "/scripts/fixes.css" | url }}" type="text/css">
</head>
{% if section == "wormsdc" -%}
{%- set bgcolor = "#000000" -%}
{%- else -%}
{%- set bgcolor = "#000033" -%}
{%- endif %}
<body bgcolor="{{ bgcolor }}" text="#F5F0E2" link="#F5F0E2" vlink="#F5F0E2" alink="#F5F0E2" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0">
<a name="top"></a>
{{ content | safe }}
</body>
</html>
