---
images:
  space: /images/graphics/space.gif
layout: base.njk
---
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr><td align="center" valign="middle">
    <table width="663" border="0" cellspacing="0" cellpadding="0">
      <tr align="right">
        <td width="150" align="left" valign="bottom">
          <img src="{{ images.worm | url }}" border="0" alt=""/>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="74"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" valign="top">
          <table width="150" height="150" border="0" cellspacing="1" cellpadding="10">
            <tr><td bgcolor="#000033" valign="top" align="right">
              {% for i in range(0, backline - 1) -%}
              &nbsp;<br>
              {%- endfor %}
              [ <a href="{{ "/" | url }}" target="_self">back</a> ]<br>
            </td></tr>
          </table>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="74"/>
        </td>
        <td width="321" bgcolor="#F5F0E2" valign="top" rowspan="3">
          <table width="321" height="359" border="0" cellspacing="1" cellpadding="10">
            <tr><td bgcolor="#000033" valign="top">
{{ content | safe }}
            </td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <img src="{{ images.space | url }}" width="2" height="1" border="0" alt="" hspace="170" vspace="10">
        </td>
      </tr>
      <tr>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <img src="{{ images.one | url }}" width="148" height="186" border="0" alt="" hspace="1" vspace="1">
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93">
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <img src="{{ images.two | url }}" width="148" height="186" border="0" alt="" hspace="1" vspace="1">
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93">
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
        </td>
      </tr>
      <tr>
        <td align="right" colspan="5">{% include "copyright.njk" %}</td>
      </tr>
    </table>
  </td></tr>
</table>
