---
title: Artwork
layout: page
struct:
  - mult
  - artw
---
{% extends "pagetable.njk" %}

{% block center %}
			
			<!-- MULTIMEDIA | artwork -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">artwork</td>
						<td class="darktext">
With the Sega PR machine in full swing, we can now start to bring you all the fantastic promotional 
artwork that is being produced!<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork -->

			<!-- MULTIMEDIA | boxart -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/boxa" target="_self"><img src="images/mult/welc_boxa.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/boxa" target="_self" class="navilink">boxart</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/boxa" target="_self" class="whitelink"><b>Boxart</b></a><br>
Click here for the W3D boxart and concepts!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | boxart -->
			
			<!-- MULTIMEDIA | adverts -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/adve" target="_self"><img src="images/mult/welc_adve.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/adve" target="_self" class="navilink">adverts</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/adve" target="_self" class="whitelink"><b>Adverts</b></a><br>
Click here for the W3D propaganda campaign!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | adverts -->
{% endblock %}
