---
title: Audio
layout: page
struct:
  - mult
  - audi
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- MULTIMEDIA | audio | frontend music tweak -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">audio</font> | frontend music tweak ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">frontend music tweak</td>
						<td class="darktext">
This is a little fix that changes the Worms 3D menu music from the Coconut track to the
original music track that our in-house composer Bjorn Lynne wrote specifically for the
Worms 3D menu system!<br>&nbsp;<br>

Although installing this fix changes the menu music, you do not have to download any new
music files. The new music is in fact already installed with the game, it just doesn't
get played - until you install this tweak.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">instructions for use</td>
						<td class="darktext">
Click the link on the right to download the new 'FEndStrm.aud' tweak file, then follow
the simple instructions below to enjoy the Worms 3D frontend with the alternative Bjorn
Lynne music!<br>&nbsp;<br>
 						</td>
					</tr>		
					<tr valign="top">
						<td class="darktext" colspan="2">
<ul>
<li>Locate 'Data/Audio' folder in the directory you installed W3D to.
<li>Rename file 'FEndStrm.aud' to '_FEndStrm.aud' or similar.
<li>Copy the downloaded 'FEndStrm.aud' tweak file into the 'Data/Audio' folder.
<li>Run the game!
</ul>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | audio | frontend music tweak -->

			<!-- MULTIMEDIA | audio | voice samples -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">audio</font> | voice samples ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">voice samples</td>
						<td class="darktext">
Doing the voices for Worms 3D has meant a lot of work (but also a lot of fun) for our audio-supremo 
Bjorn Lynne!<br>&nbsp;<br>

The game features approximately 70 different comedy voice sets, and that's not including the 
international translations. If you had heard some of the things Bjorn has listened to during this 
process, you'd know what we mean when we say there were times when he didn't know whether to laugh 
or cry! Laugh, because the sounds were so funny, or cry, because he had to trim, pitch shift, 
synchronise and resample thousands of them. :-)<br>&nbsp;<br>

We were lucky enough to be able to use some very funny and versatile voice actors. Most of the 
samples were done by full time voiceover artists who actually make a living by sounding funny! But a 
few voices were also done by various Team17 staff with hidden talents in that field.<br>&nbsp;<br>

Some of the samples have been quite severely changed from the original recording to make them 
'wormy', but others have only been very slightly changed. Bjorn has spent a while just getting to 
know each voice, and figuring out the best way to set the pitch and speed of delivery of that 
particular voice to maintain the original character - and try to make it as funny as possible!<br>

Judge for yourself by listening to the first selection (of three!) available (right)!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | audio | voice samples -->
			
			<!-- MULTIMEDIA | audio | music -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">audio</font> | music ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">music</td>
						<td class="darktext">
When Bjorn first started working on the music for Worms 3D, his aim was to produce plenty of 
different in-game music so it didn't get too repetitive.<br>&nbsp;<br>

Needless to say this has been a mammoth task, but he's 80% there now, and &quot;<i>fairly pleased 
with it</i>&quot; - we think he's being too modest ;) As the game has grown, he has ended up 
producing more than 100 minutes of background music, all different, with hardly any repetitions at 
all!<br>&nbsp;<br>

The sound of the background music is a bit hard to explain. For those of you who are familiar with 
the background music from earlier worms games you will recognise the 'sound' of Worms - and that's 
it in a nutshell really. It's mostly ambient, but with occasional bits of rock, orchestral, 
electronic and other things all put into a big pot and given a good shake! It's also slightly 
'surreal' sounding and with an ever so slightly 'rough' edge.<br>&nbsp;<br>

Bjorn has been careful to avoid thick textures or 'walls of sound' which are very tiring on the ears 
in the long run. So the production is fairly sparse and it even goes completely quiet for a second 
or two occasionally.<br>&nbsp;<br>

The downloadable mp3 (right) is one 4-minute piece out of the 24 different 4-minute pieces to go 
into the final game. This particular one is from the 'war' scenery. There are also other classes of 
music tracks, including 'pirate island' style, 'park/country' style, etc. etc.<br>&nbsp;<br>

This is background music, of course. It's not really made for listening to on it's own outside the 
scope of the game, but hope you'll enjoy it anyhow!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | audio | music -->
{%- endblock %}

{% block right %}
			<!-- MULTIMEDIA | audio -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/mult/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>frontend tweak file</b><br> 1.08KB .aud<br>&nbsp;<br>
<a href="audio/FEndStrm.aud" target="_self"><img src="images/mult/audi_twea.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Voice bank samples</b><br> #1 - 11 x .wav (alien, capone, conscience...)<br>&nbsp;<br>
<a href="audio/voices_1.zip" target="_self"><img src="images/mult/audi_voic_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
#2 - 11 x .wav (biggles, classic, cowboy...)<br>&nbsp;<br>
<a href="audio/voices_2.zip" target="_self"><img src="images/mult/audi_voic_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
#3 - 10 x .wav (blues main, confucious, cyberworm...)<br>&nbsp;<br>
<a href="audio/voices_3.zip" target="_self"><img src="images/mult/audi_voic_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Sound sample</b><br> .mp3 <br>&nbsp;<br>
<a href="audio/music_war_4.mp3" target="_self"><img src="images/mult/audi_soun.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
Decompress using<br><a href="http://www.winzip.com" target="_blank" class="whitelink">Winzip</a>/<a href="http://www.stuffit.com" target="_blank" class="whitelink">Stuffit</a> or similar.<br>
						</td>
					</tr>
				</table>
			<!-- MULTIMEDIA | audio -->
{%- endblock %}
