---
title: Concept Art
layout: page
struct:
  - mult
  - conc
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1, group: part1, width: 382, height: 287 }
  - { id:  2, group: part1, width: 382, height: 287 }
  - { id:  3, group: part1, width: 382, height: 287 }
  - { id:  4, group: part2, width: 382, height: 300 }
  - { id:  5, group: part2, width: 382, height: 300 }
  - { id:  6, group: part2, width: 382, height: 300 }
  - { id:  7, group: part2, width: 382, height: 300 }
  - { id:  8, group: part2, width: 382, height: 300 }
  - { id:  9, group: part2, width: 382, height: 300 }
  - { id: 10, group: part2, width: 382, height: 300 }
  - { id: 11, group: part2, width: 382, height: 300 }
  - { id: 12, group: part3, width: 382, height: 382 }
  - { id: 13, group: part3, width: 382, height: 382 }
  - { id: 14, group: part3, width: 382, height: 382 }
  - { id: 15, group: part3, width: 382, height: 382 }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- MULTIMEDIA | concept art | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/conc" target="_self" class="whitelink">concept art</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif" colspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
						{%- if not pagination.page.previous %}
						<td class="lightwords" align="right"><a href="mult/conc/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- elif not pagination.page.next %}
						<td class="lightwords" align="right"><a href="mult/conc/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a></td>
						{%- else %}
						<td class="lightwords" align="right"><a href="mult/conc/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a> | <a href="mult/conc/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- endif %}
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/conc#{{ current.group }}" target="_self"><img src="images/mult/conc_{{ current.id }}.jpg" width="{{ current.width }}" height="{{ current.height }}" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current.id == 1 %}
						<td class="lightwords" colspan="2"><br><b>Patrick's concepts</b><br>&nbsp;<br>You might recognise these images - as they are used for the website banners!<br></td>
						{%- elif current.id == 2 %}
						<td class="lightwords" colspan="2"><br><b>Tom's concepts (1/2)</b><br>&nbsp;<br>A slightly different graphical style of the worm is evident, but the humour is most definately Worms.<br></td>
						{%- elif current.id == 3 %}
						<td class="lightwords" colspan="2"><br><b>Tom's concepts (2/2)</b><br>&nbsp;<br>A little darker in humour. You can't help feeling sorry for the little pink fella sometimes!<br></td>
						{%- elif current.id == 4 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (1/8)</b><br>&nbsp;<br>Patrick takes one example of his 2D sketches...<br></td>
						{%- elif current.id == 5 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (2/8)</b><br>&nbsp;<br>...and turns him into a 2D orthographic concept picture...<br></td>
						{%- elif current.id == 6 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (3/8)</b><br>&nbsp;<br>...creating an isometric view with 3 orthographics in the image planes as guides.<br>&nbsp;<br>The worm was built in polygons. Other techniques are all useful, but unneccessary in this specific case. Starting with a box, faces are selectively subdivided and points moved around, extruding out more faces as needed to create a the 3D mesh.<br></td>
						{%- elif current.id == 7 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (4/8)</b><br>&nbsp;<br>Using the orthographics in the image planes as guides, bones (animation joints) in Maya were also created (seen here with 3D mesh removed).<br></td>
						{%- elif current.id == 8 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (5/8)</b><br>&nbsp;<br>The polygon-ed and boned Boggy B seen with the orthographic sketch behind.<br></td>
						{%- elif current.id == 9 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (6/8)</b><br>&nbsp;<br>The textured Boggy B.<br></td>
						{%- elif current.id == 10 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (7/8)</b><br>&nbsp;<br>A 2D/3D image showing the comparison of sketch to model...<br></td>
						{%- elif current.id == 11 %}
						<td class="lightwords" colspan="2"><br><b>2D to 3D (8/8)</b><br>&nbsp;<br>...and the final 3D textured model<br></td>
						{%- elif current.id == 12 %}
						<td class="lightwords" colspan="2"><br><b>Boggy B in 3D (1/4)</b><br>&nbsp;<br>Close-up shot of the model, wireframe view...<br></td>
						{%- elif current.id == 13 %}
						<td class="lightwords" colspan="2"><br><b>Boggy B in 3D (2/4)</b><br>&nbsp;<br>...adding base texture...<br></td>
						{%- elif current.id == 14 %}
						<td class="lightwords" colspan="2"><br><b>Boggy B in 3D (3/4)</b><br>&nbsp;<br>...then eye/mouth textures...<br></td>
						{%- elif current.id == 15 %}
						<td class="lightwords" colspan="2"><br><b>Boggy B in 3D (4/4)</b><br>&nbsp;<br>...then his skin!<br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | concept art | image -->
{%- endif %}

			<!-- MULTIMEDIA | concept art -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">concept art</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">back to the<br>drawing board</td>
						<td class="darktext">
As previously detailed in Dev Diary #5, bringing the Worms character Boggy B to life was not a 
simple task!<br>&nbsp;<br>

People have become accustomed to the Worms style - featured from Worms 2 onwards - and jumping from 
the 2D to 3D required Boggy B to return to the drawing board! Patrick was responsible for developing 
the 3D versions of the worms characters for use in Worms Blast and these were his starting points 
for Worms 3D. Tom Gluckmann joined us after Worms Blast and has put his own bizarre sense of humour 
into the worm character too!<br>&nbsp;<br>

See below for 3 examples of concept artwork from Worms 3D - the initial character sketches; the 
sketches faithfully reproduced and modelled into 3D and finally a few close-ups of the Boggy B 
giving you an idea of the polygons involved!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | concept art -->

			<!-- MULTIMEDIA | concept art | 1 --><a name="part1"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/conc/1" target="_self" class="navilink"><img src="images/mult/conc_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/conc/2" target="_self" class="navilink"><img src="images/mult/conc_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/conc/3" target="_self" class="navilink"><img src="images/mult/conc_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Patrick and Tom's Boggy B concepts 2002</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | concept art | 1 -->

			<!-- MULTIMEDIA | concept art | 2 --><a name="part2"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/conc/4" target="_self" class="navilink"><img src="images/mult/conc_4.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/conc/5" target="_self" class="navilink"><img src="images/mult/conc_5.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/conc/6" target="_self" class="navilink"><img src="images/mult/conc_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/conc/7" target="_self" class="navilink"><img src="images/mult/conc_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/conc/8" target="_self" class="navilink"><img src="images/mult/conc_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/conc/9" target="_self" class="navilink"><img src="images/mult/conc_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/conc/10" target="_self" class="navilink"><img src="images/mult/conc_10.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/conc/11" target="_self" class="navilink"><img src="images/mult/conc_11.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Boggy B<br>born in Maya</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | concept art | 2 -->

			<!-- MULTIMEDIA | concept art | 3 --><a name="part3"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/conc/12" target="_self" class="navilink"><img src="images/mult/conc_12.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/conc/13" target="_self" class="navilink"><img src="images/mult/conc_13.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/conc/14" target="_self" class="navilink"><img src="images/mult/conc_14.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/conc/15" target="_self" class="navilink"><img src="images/mult/conc_15.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle" colspan="2">Boggy B<br>up-close</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | concept art | 3 -->
{%- endblock %}
