---
title: From dis 2 dat
layout: page
struct:
  - mult
  - dis2
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1 }
  - { id:  2 }
  - { id:  3 }
  - { id:  4 }
  - { id:  5 }
  - { id:  6 }
  - { id:  7 }
  - { id:  8 }
  - { id:  9 }
  - { id: 10 }
  - { id: 11 }
  - { id: 12 }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}

			<!-- MULTIMEDIA | dis2dat | images -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/dis2" target="_self" class="whitelink">dis2dat</a> | images ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center"><center><a href="mult/dis2" target="_self"><img src="images/mult/dis2_{{ current.id }}a.jpg" width="382" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						<td class="lightwords"><br>From dis...<br>&nbsp;<br></td>
					</tr>					
					<tr>
						<td align="center"><center><a href="mult/dis2" target="_self"><img src="images/mult/dis2_{{ current.id }}b.jpg" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current.id == 1 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Parachute</b><br>&nbsp;<br>Float to safety using this convenient parachute!<br></td>
						{%- elif current.id == 2 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Jet Pack</b><br>&nbsp;<br>Take to the skies to reach distant shores and join the space age!<br></td>
						{%- elif current.id == 3 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Mad Cow</b><br>&nbsp;<br>Frothing, deliriously mad cows intent on mass destruction!<br></td>
						{%- elif current.id == 4 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Super Sheep</b><br>&nbsp;<br>Flys unselfishly towards the enemy, detonating with the effectiveness of Dynamite and the dexterity only a four-legged fluffy mammal can muster!<br></td>
						{%- elif current.id == 5 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Old Woman</b><br>&nbsp;<br>Complains about the price of tea and mumbles about the war and the good old days, she wanders before violently exploding!<br></td>
						{%- elif current.id == 6 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Homing Pigeon</b><br>&nbsp;<br>Semi-intelligent homing missiles that do their best, but obviously aren't totally reliable though!<br></td>
						{%- elif current.id == 7 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Girder</b><br>&nbsp;<br>Cross valleys, provide a launch ramp for sheep, block the progress of the enenmy or shield yourself - the Girder has many uses!<br></td>
						{%- elif current.id == 8 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Banana Bomb</b><br>&nbsp;<br>The 'soft fruit of doom' explodes, splits and causes wanton devastation to an area the size of a small Greek island!<br></td>
						{%- elif current.id == 9 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Bazooka</b><br>&nbsp;<br>A strategic wonder and a powerful weapon that offers immediate satisfaction!<br></td>
						{%- elif current.id == 10 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Uzi</b><br>&nbsp;<br>Finish off worms, spraying bullets from one of the coolest weapons around!<br></td>
						{%- elif current.id == 11 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Holy Hand Grenade</b><br>&nbsp;<br>Unleash the power of the heavens with the Lords's preferred weapon!<br></td>
						{%- elif current.id == 12 %}
						<td class="lightwords"><br>...2 dat!<br>&nbsp;<br><b>Nuclear Bomb</b><br>&nbsp;<br>Unaimable and uncontrolable, the Nuclear Bomb causes devastation!<br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | dis2dat | images -->
{%- endif %}

			<!-- MULTIMEDIA | dis2dat -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">dis2dat</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">The continuing<br>evolution of Worms!</td>
						<td class="darktext">
See how far Worms has travelled in it's 2D-3D journey! The following images show the
difference between the old animated 2D characters you know and love compared against
the new 3D characters that will be gracing your PC or console in the near future!
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | dis2dat -->
			
			<!-- MULTIMEDIA | dis2dat | utilities -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/dis2/1" target="_self" class="navilink"><img src="images/mult/dis2_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/dis2/2" target="_self" class="navilink"><img src="images/mult/dis2_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/dis2/7" target="_self" class="navilink"><img src="images/mult/dis2_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Utilities</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | dis2dat | utilities -->

			<!-- MULTIMEDIA | dis2dat | weapons -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="4">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/dis2/3" target="_self" class="navilink"><img src="images/mult/dis2_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/dis2/4" target="_self" class="navilink"><img src="images/mult/dis2_4.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/dis2/5" target="_self" class="navilink"><img src="images/mult/dis2_5.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/dis2/6" target="_self" class="navilink"><img src="images/mult/dis2_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/dis2/8" target="_self" class="navilink"><img src="images/mult/dis2_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/dis2/9" target="_self" class="navilink"><img src="images/mult/dis2_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/dis2/10" target="_self" class="navilink"><img src="images/mult/dis2_10.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/dis2/11" target="_self" class="navilink"><img src="images/mult/dis2_11.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/dis2/12" target="_self" class="navilink"><img src="images/mult/dis2_12.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Weapons</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | dis2dat | weapons -->
{%- endblock %}
