---
title: It Shouldn't Happen
layout: page
struct:
  - mult
  - itsh
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1, group: part1, width: 382, height: 382 }
  - { id:  2, group: part1, width: 382, height: 287 }
  - { id:  3, group: part1, width: 382, height: 287 }
  - { id:  4, group: part1, width: 382, height: 287 }
  - { id:  5, group: part1, width: 382, height: 287 }
  - { id:  6, group: part2, width: 382, height: 382 }
  - { id:  7, group: part2, width: 149, height: 287 }
  - { id:  8, group: part2, width: 115, height: 287 }
  - { id:  9, group: part2, width: 382, height: 287 }
  - { id: 10, group: part2, width: 223, height: 287 }
  - { id: 11, group: part3, width: 382, height: 287 }
  - { id: 12, group: part3, width: 382, height: 286 }
  - { id: 13, group: part3, width: 382, height: 162 }
  - { id: 14, group: part3, width: 382, height: 161 }
  - { id: 15, group: part3, width: 382, height: 337 }
  - { id: 16, group: part4, width: 169, height: 287 }
  - { id: 17, group: part4, width: 382, height: 382 }
  - { id: 18, group: part4, width: 196, height: 287 }
  - { id: 19, group: part4, width: 382, height: 382 }
  - { id: 20, group: part5, width: 382, height: 287 }
  - { id: 21, group: part5, width: 382, height: 287 }
  - { id: 22, group: part5, width: 382, height: 287 }
  - { id: 23, group: part5, width: 382, height: 287 }
  - { id: 24, group: part5, width: 382, height: 287 }
  - { id: 25, group: part6, width: 382, height: 287 }
  - { id: 26, group: part6, width: 382, height: 287 }
  - { id: 27, group: part6, width: 382, height: 287 }
  - { id: 28, group: part6, width: 382, height: 287 }
  - { id: 29, group: part6, width: 382, height: 287 }
  - { id: 30, group: part6, width: 382, height: 287 }
  - { id: 31, group: part6, width: 382, height: 287 }
  - { id: 32, group: part6, width: 382, height: 287 }
  - { id: 33, group: part7, width: 382, height: 287 }
  - { id: 34, group: part7, width: 382, height: 287 }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- MULTIMEDIA | it shouldn't happen | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/itsh" target="_self" class="whitelink">it shouldn't happen</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center"><center><a href="mult/itsh#{{ current.group }}" target="_self"><img src="images/mult/itsh_{{ current.id }}.jpg" width="{{ current.width }}" height="{{ current.height }}" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					{%- if current.id >= 1 and current.id <= 24 %}
					<tr valign="top">
						{%- if current.id == 1 %}
						<td class="lightwords"><br><b>Wasp Sucker!</b><br>&nbsp;<br>Here a Worm is pinched inwards and looks very, very strange.<br></td>
						{%- elif current.id == 2 %}
						<td class="lightwords"><br><b>Tails of the Unexpected.</b><br>&nbsp;<br>Back to front or looking at his own sorry ass? You decide!<br></td>
						{%- elif current.id == 3 %}
						<td class="lightwords"><br><b>SuperWorm!</b><br>&nbsp;<br>A big, beefy Worm with a sharp tail (probably for stabbing other Worms).<br></td>
						{%- elif current.id == 4 %}
						<td class="lightwords"><br><b>Slugboy.</b><br>&nbsp;<br>Fat body, small head... looks like this one has eaten one too many Pizza.<br></td>
						{%- elif current.id == 5 %}
						<td class="lightwords"><br><b>Natural Prawn Killers!</b><br>&nbsp;<br>We had a build that made all the Worms curl their tails up making them all look like Prawns.<br></td>
						{%- elif current.id == 6 %}
						<td class="lightwords"><br><b>Pukka up.</b><br></td>
						{%- elif current.id == 7 %}
						<td class="lightwords"><br><b>Eye don't know.</b><br></td>
						{%- elif current.id == 8 %}
						<td class="lightwords"><br><b>Bin-Laden Jetpack</b><br></td>
						{%- elif current.id == 9 %}
						<td class="lightwords"><br><b>Dunst nurses Bruce</b><br>&nbsp;<br>...after a few 2 many shandies.<br></td>
						{%- elif current.id == 10 %}
						<td class="lightwords"><br><b>3 hands</b><br></td>
						{%- elif current.id == 11 %}
						<td class="lightwords"><br><b>Almost sunk without a trace!</b><br></td>
						{%- elif current.id == 12 %}
						<td class="lightwords"><br><b>Bigfoots bro</b><br></td>
						{%- elif current.id == 13 %}
						<td class="lightwords"><br><b>It was this big I tell yer!</b><br></td>
						{%- elif current.id == 14 %}
						<td class="lightwords"><br><b>The lads</b><br></td>
						{%- elif current.id == 15 %}
						<td class="lightwords"><br><b>Proto-chute</b><br></td>
						{%- elif current.id == 16 %}
						<td class="lightwords"><br><b>Half worm</b>, half pickled onion!<br></td>
						{%- elif current.id == 17 %}
						<td class="lightwords"><br><b>Malnourished</b> or gimmy?<br></td>
						{%- elif current.id == 18 %}
						<td class="lightwords"><br><b>One good eye</b>, one gimmy one.<br></td>
						{%- elif current.id == 19 %}
						<td class="lightwords"><br><b>Salvador Dali tash</b><br>&nbsp;<br>Note the aiming stuff was from an old version!<br></td>
						{%- elif current.id == 20 %}
						<td class="lightwords"><br><b>Baseball Team!</b><br></td>
						{%- elif current.id == 21 %}
						<td class="lightwords"><br><b>Flaming cow fart!</b><br></td>
						{%- elif current.id == 22 %}
						<td class="lightwords"><br><b>Granny's chilli breath!</b><br></td>
						{%- elif current.id == 23 %}
						<td class="lightwords"><br><b>Kung-Fu training camp!</b><br></td>
						{%- elif current.id == 24 %}
						<td class="lightwords"><br><b>Van Damme movie!</b><br></td>
						{%- endif %}
					</tr>
					{%- endif %}
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | image -->
{%- endif %}

			<!-- MULTIMEDIA | it shouldn't happen -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">it shouldn't happen</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">...to a Worm!<br>(But usually does)</td>
						<td class="darktext">
This is the start of a series of shots that show some of the mistakes and out-takes of
the graphics/animation work we've been doing. Sometimes hilarious animation snaps, failures,
bugs and gripes beset the animation and screw the worms up... anyway, here's the first batch.<br>&nbsp;<br>

Thanks to 200ponies (Scargs) for the opportunity to fumble through his fine collection of freak snapshots.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen -->

			<!-- MULTIMEDIA | it shouldn't happen | 7 --><a name="part7"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">7th Part</td>
						<td class="darktext">
Part 7 shows a couple of shots of a 'curly worm', thanks to Ian 'Afro Horse' Lindsey, Gamecube Lead 
Programmer.<br>&nbsp;<br>

This effect was due to a miss-calculation in the GameCube's paired single skinning code. And yes, 
his wages have been docked accordingly ;)<br>
						</td>					
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/33" target="_self" class="navilink"><img src="images/mult/itsh_33.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/34" target="_self" class="navilink"><img src="images/mult/itsh_34.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 7</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 7 -->

			<!-- MULTIMEDIA | it shouldn't happen | 6 --><a name="part6"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">6th Part</td>
						<td class="darktext">
We said &quot;<i>Don't hold us to that</i>&quot; which is a good job really!<br>&nbsp;<br>

New stuff, this time from Andy Clitheroe (Peeling), the Technology lead. The images below
are from halfway through his attempt to save memory in the animation data - by removing
most of it ;)<br>&nbsp;<br>

The worms took it badly.<br>
						</td>					
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/25" target="_self" class="navilink"><img src="images/mult/itsh_25.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/26" target="_self" class="navilink"><img src="images/mult/itsh_26.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/27" target="_self" class="navilink"><img src="images/mult/itsh_27.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/28" target="_self" class="navilink"><img src="images/mult/itsh_28.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/29" target="_self" class="navilink"><img src="images/mult/itsh_29.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/30" target="_self" class="navilink"><img src="images/mult/itsh_30.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/31" target="_self" class="navilink"><img src="images/mult/itsh_31.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/32" target="_self" class="navilink"><img src="images/mult/itsh_32.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 6</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 6 -->
			
			<!-- MULTIMEDIA | it shouldn't happen | 5 --><a name="part5"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">5th and final* part ;)<br>&nbsp;<br>* Don't hold us to that ;)</td>
						<td class="darktext">
I know we said that the last lot would be the last... Most of the animation
bugs have been sorted now and these are the programming out-takes!<br>&nbsp;<br>

These are a little different, showing the results of exploiting a weapons bug, where
you could re-select certain weapons after they had been fired. This stopped the weapon
(and it's hat) being deleted at the end of the turn, leaving the hat on the idle worm's
head.<br>&nbsp;<br>

When the worms get their hands out to do idle animations you can see that they are
still holding weapons too. It's unlikely that team hats will be implemented, since
the hats are positioned on the head as part of the associated weapon drawing animation.
At the moment you'd have to draw the associated weapon to get the hat.<br>
						</td>					
					</tr>
				</table>
				</td></tr></table><br>
						
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/20" target="_self" class="navilink"><img src="images/mult/itsh_20.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/21" target="_self" class="navilink"><img src="images/mult/itsh_21.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/22" target="_self" class="navilink"><img src="images/mult/itsh_22.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/23" target="_self" class="navilink"><img src="images/mult/itsh_23.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/24" target="_self" class="navilink"><img src="images/mult/itsh_24.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 5</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 5 -->
			
			<!-- MULTIMEDIA | it shouldn't happen | 4 --><a name="part4"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285" background="images/graphics/space.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">4th and final part :(</td>
						<td class="darktext">
This is the final 'It shouldn't happen' gallery.<br>&nbsp;<br>

Simply because most, if not all of the animation bugs have now gone! Shame eh!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
						
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/16" target="_self" class="navilink"><img src="images/mult/itsh_16.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/17" target="_self" class="navilink"><img src="images/mult/itsh_17.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/18" target="_self" class="navilink"><img src="images/mult/itsh_18.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/19" target="_self" class="navilink"><img src="images/mult/itsh_19.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle" colspan="2">Part 4</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 4 -->
			
			<!-- MULTIMEDIA | it shouldn't happen | 3 --><a name="part3"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/11" target="_self" class="navilink"><img src="images/mult/itsh_11.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/12" target="_self" class="navilink"><img src="images/mult/itsh_12.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/13" target="_self" class="navilink"><img src="images/mult/itsh_13.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/14" target="_self" class="navilink"><img src="images/mult/itsh_14.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/15" target="_self" class="navilink"><img src="images/mult/itsh_15.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 3</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 3 -->

			<!-- MULTIMEDIA | it shouldn't happen | 2 --><a name="part2"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/6" target="_self" class="navilink"><img src="images/mult/itsh_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/7" target="_self" class="navilink"><img src="images/mult/itsh_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/8" target="_self" class="navilink"><img src="images/mult/itsh_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/9" target="_self" class="navilink"><img src="images/mult/itsh_9.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/10" target="_self" class="navilink"><img src="images/mult/itsh_10.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 2</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 2 -->
			
			<!-- MULTIMEDIA | it shouldn't happen | 1 --><a name="part1"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/itsh/1" target="_self" class="navilink"><img src="images/mult/itsh_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/itsh/2" target="_self" class="navilink"><img src="images/mult/itsh_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/itsh/3" target="_self" class="navilink"><img src="images/mult/itsh_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/itsh/4" target="_self" class="navilink"><img src="images/mult/itsh_4.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/itsh/5" target="_self" class="navilink"><img src="images/mult/itsh_5.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Part 1</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | it shouldn't happen | 1 -->
{%- endblock %}
