---
title: Models
layout: page
struct:
  - mult
  - mode
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1 }
  - { id:  2 }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}

			<!-- MULTIMEDIA | models | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/mode" target="_self" class="whitelink">models</a> | image ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/mode" target="_self"><img src="images/mult/mode_{{ current.id }}.jpg" width="382" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						<td class="lightwords"><br>Windows help</td>
						<td class="darktext"><br>
Once your selected model has loaded fully above, RIGHT-CLICK on the image and choose
SAVE PICTURE / IMAGE (AS) and choose somewhere memorable.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">MacOS help</td>
						<td class="darktext">
Once your selected image has loaded fully above, CLICK+HOLD on the image and choose
SAVE IMAGE AS(7.x) / DOWNLOAD IMAGE TO DISC(8.x) and choose somewhere memorable, or
drag onto your desktop.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">General help</td>
						<td class="darktext">
Recalling that memorable save location or your desktop, load the image and print it
out onto thick paper or thin card.<br>&nbsp;<br>

Cut the image out (careful with those scissors or get an adult to help you!) and
score along the black lines with a pen/pencil.<br>&nbsp;<br>

Fold up and tape the edges together! Viola! 1x Worms 3D model!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | models | image -->
{%- endif %}

			<!-- MULTIMEDIA | models -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">models</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">cut out and keep!</td>
						<td class="darktext">
Check out these fantastic 'build-your-own-Worms-3' models! Wow! Marvel over the elegant
simplicity of their construction and gain insight into 3Dimensional space as you cut, fold
and stick the edges together! Build the whole set and play your own Worms 3D game in the
comfort of your front room! More models to come soon!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/mode/1" target="_self" class="navilink"><img src="images/mult/mode_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/mode/2" target="_self" class="navilink"><img src="images/mult/mode_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right">&nbsp;</td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="center">Banana Bomb</td>
						<td class="lightwords" align="center">Land Mine</td>
						<td class="lightwords" align="center">&nbsp;</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | models -->
{%- endblock %}

{% block right %}
			<!-- MULTIMEDIA | models -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/mult/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=4196" target="_blank" class="whitelink"><b>Run</b></a><br>&nbsp;<br>
<img src="images/mult/mode_one_1.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=5874" target="_blank" class="whitelink"><b>jmpep</b></a><br>&nbsp;<br>
<img src="images/mult/mode_one_2.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=3791" target="_blank" class="whitelink"><b>Star Worms</b></a><br>&nbsp;<br>
<img src="images/mult/mode_one_3.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=4071" target="_blank" class="whitelink"><b>SomePerson</b></a><br>&nbsp;<br>
<img src="images/mult/mode_one_4.gif" width="107" height="107" border="0" alt=""><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=4071" target="_blank" class="whitelink"><b>SomePerson</b></a><br>&nbsp;<br>
<img src="images/mult/mode_two_1.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="http://forum.team17.com/member.php?action=getinfo&userid=2" target="_blank" class="whitelink"><b>APJ</b></a><br>&nbsp;<br>
<img src="images/mult/mode_two_2.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<b>Sander</b><br>&nbsp;<br>
<img src="images/mult/mode_two_3.gif" width="107" height="107" border="0" alt=""><br>
						</td>
					</tr>
				</table>
			<!-- MULTIMEDIA | models -->
{%- endblock %}
