---
title: Movies
layout: page
struct:
  - mult
  - movi
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1, group: teas }
  - { id:  2, group: teas }
  - { id:  3, group: teas }
  - { id:  4, group: teas }
  - { id:  5, group: teas }
  - { id:  6, group: inga }
  - { id:  7, group: inga }
  - { id:  8, group: inga }
  - { id:  9, group: inga }
  - { id: 10, group: inga }
  - { id: 11, group: inga }
  - { id: 12, group: inga }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}

			<!-- MULTIMEDIA | movies | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/movi" target="_self" class="whitelink">movies</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif" colspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
						{%- if not pagination.page.previous %}
						<td class="lightwords" align="right"><a href="mult/movi/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- elif not pagination.page.next %}
						<td class="lightwords" align="right"><a href="mult/movi/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a></td>
						{%- else %}
						<td class="lightwords" align="right"><a href="mult/movi/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a> | <a href="mult/movi/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- endif %}
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/movi#{{ current.group }}" target="_self"><img src="images/mult/movi_{{ current.id }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | movies | image -->
{%- endif %}
			
			<!-- /MULTIMEDIA | movies | in-game footage --><a name="inga"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">movies</font> | in-game footage ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">teaser</td>
						<td class="darktext">
The first Worms 3D in-game video footage is here!<br>&nbsp;<br>

The Sega approved full footage is 20MB (1min30 in length) And yes, the video shows the deformable 
landscape - you'll see holes left in the land afterwards - although we're not quite sure what the 
big hoo-ha there is with that... you shoot land, a hole/crater appears ;)<br>&nbsp;<br>

This 20MB video has been split into 5 clips - clip 1 is available from our FTP site and the other 
clips have been released to the games press. We'll link to the other clips as soon as they are
available.<br>&nbsp;<br>

A few stills are available to preview below, and the 1st clip is available as a .zip through the
download location listed (right).<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">forum link</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=11322" target="_blank" class="navilink">discuss this footage here</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/movi/6" target="_self" class="navilink"><img src="images/mult/movi_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/movi/7" target="_self" class="navilink"><img src="images/mult/movi_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/movi/8" target="_self" class="navilink"><img src="images/mult/movi_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/movi/9" target="_self" class="navilink"><img src="images/mult/movi_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/movi/10" target="_self" class="navilink"><img src="images/mult/movi_10.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/movi/11" target="_self" class="navilink"><img src="images/mult/movi_11.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left" colspan="2"><a href="mult/movi/12" target="_self" class="navilink"><img src="images/mult/movi_12.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">In-game footage</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | movies | in-game footage -->
			
			<!-- /MULTIMEDIA | movies | teaser --><a name="teas"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">movies</font> | teaser ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">teaser</td>
						<td class="darktext">
The first Worms 3D video is here!<br>&nbsp;<br>

No moving in-game footage yet tho, this is just a mere teaser :) Sit back and enjoy
the Wormy FMV for which the series is famed, giving you an introduction to the first
fully 3D Worms title available in the series!<br>&nbsp;<br>

A few stills are available to preview below, and the full movie is available through
the download locations listed (right).<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">forum link</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=10265" target="_blank" class="navilink">discuss this teaser here</a> ]<br>
						</td>
					</tr>					
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/movi/1" target="_self" class="navilink"><img src="images/mult/movi_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/movi/2" target="_self" class="navilink"><img src="images/mult/movi_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/movi/3" target="_self" class="navilink"><img src="images/mult/movi_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/movi/4" target="_self" class="navilink"><img src="images/mult/movi_4.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/movi/5" target="_self" class="navilink"><img src="images/mult/movi_5.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Teaser</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | movies | teaser -->
{% endblock %}

{% block right %}
			<!-- MULTIMEDIA | movies -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/mult/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>In-game footage</b><br>&nbsp;<br>
<img src="images/mult/movi_inga.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>

[ <a href="ftp://ftp.team17.com/pub/t17/worms3d/movi_inga_1.zip" target="_blank" class="navilink">Team17</a> ]<br>
1.93MB .zip (clip 1)<br>&nbsp;<br>
						
[ <a href="http://www.eurogamer.net/files/Worms3DGameplay.wmv" target="_blank" class="navilink">Eurogamer</a> ]<br>
21MB .wmv (full-hit)<br>&nbsp;<br>
						
[ <a href="http://www.gamershell.com/download_3102.shtml" target="_blank" class="navilink">Gamershell</a> ]<br>
21MB .zip (full-hit)<br>&nbsp;<br>

[ <a href="http://download.jucaushii.ro/files/trailers/Worms3D_Gameplay.wmv" target="_blank" class="navilink">Jucaushii</a> ]<br>
21MB .wmv (full-hit)<br>&nbsp;<br>
<!--  
[ <a href="http://worms.strategy-gaming.com/download/w3d/preview/Worms3DGameplay.wmv" target="_blank" class="navilink">Strategy Gaming</a> ]<br>
21MB .wmv (full-hit)<br>
 
[ <a href="http://www.3dgamers.com/dl/games/worms3/gameplay.wmv.html" target="_blank" class="navilink">3D Gamers</a> ]<br>
21MB .wmv (full-hit)<br>
-->
[ <a href="http://www.computerandvideogames.com/downloads/download.php?download_ID=41370&cat_ID=5" target="_blank" class="navilink">C&VG</a> ]<br>
21MB .wmv (full-hit)<br>&nbsp;<br>

[ <a href="http://www.pcgameworld.com/details.php/id/4392/" target="_blank" class="navilink">PC Gameworld</a> ]<br>
21MB .wmv (full-hit)<br>&nbsp;<br>

[ <a href="http://www.gamespot.com/pc/strategy/worms3/media.html" target="_blank" class="navilink">Gamespot</a> ]<br>
14.3MB  .mpeg (1m 12s)<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Teaser</b><br>&nbsp;<br>
<img src="images/mult/movi_teas.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>

[ <a href="http://www.eurogamer.net/article.php?article_id=52443" target="_blank" class="navilink">Euro Gamer</a> ]<br>
9.15MB .avi<br>&nbsp;<br>

[ <a href="http://teamxbox.com/news.php?id=4572" target="_blank" class="navilink">TeamXbox</a> ]<br>
2.75MB .wmv<br>&nbsp;<br>

[ <a href="http://www.fileplanet.com/files/120000/126667.shtml" target="_blank" class="navilink">Fileplanet</a> ]<br>
7.5MB .zip<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>click-through</b> and<br>
follow the download<br>
instructions given<br>&nbsp;<br>
Decompress using<br><a href="http://www.winzip.com" target="_blank" class="whitelink">Winzip</a>/<a href="http://www.stuffit.com" target="_blank" class="whitelink">Stuffit</a> or similar.<br>
						</td>
					</tr>						
				</table>
			<!-- MULTIMEDIA | movies -->
{%- endblock %}
