---
title: Screenshots
layout: page
struct:
  - mult
  - scre
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1, group: jan03 }
  - { id:  2, group: jan03 }
  - { id:  3, group: jan03 }
  - { id:  4, group: jan03 }
  - { id:  5, group: jan03 }
  - { id:  6, group: feb03 }
  - { id:  7, group: feb03 }
  - { id:  8, group: feb03 }
  - { id:  9, group: feb03 }
  - { id: 10, group: feb03 }
  - { id: 11, group: feb03 }
  - { id: 12, group: feb03 }
  - { id: 13, group: feb03 }
  - { id: 14, group: mar03 }
  - { id: 15, group: mar03 }
  - { id: 16, group: mar03 }
  - { id: 17, group: mar03 }
  - { id: 18, group: mar03 }
  - { id: 19, group: mar03 }
  - { id: 20, group: apr03 }
  - { id: 21, group: apr03 }
  - { id: 22, group: apr03 }
  - { id: 23, group: apr03 }
  - { id: 24, group: apr03 }
  - { id: 25, group: apr03 }
  - { id: 26, group: apr03 }
  - { id: 27, group: apr03 }
  - { id: 28, group: apr03 }
  - { id: 29, group: apr03 }
  - { id: 30, group: apr03 }
  - { id: 31, group: apr03 }
  - { id: 32, group: may03 }
  - { id: 33, group: may03 }
  - { id: 34, group: may03 }
  - { id: 35, group: may03 }
  - { id: 36, group: may03 }
  - { id: 37, group: jun03 }
  - { id: 38, group: jun03 }
  - { id: 39, group: jun03 }
  - { id: 40, group: jun03 }
  - { id: 41, group: jun03 }
  - { id: 42, group: jun03 }
  - { id: 43, group: jun03 }
  - { id: 44, group: jun03 }
  - { id: 45, group: jul03 }
  - { id: 46, group: jul03 }
  - { id: 47, group: jul03 }
  - { id: 48, group: jul03 }
  - { id: 49, group: jul03 }
  - { id: 50, group: jul03 }
  - { id: 51, group: jul03 }
  - { id: 52, group: jul03 }
  - { id: 53, group: jul03 }
  - { id: 54, group: jul03 }
  - { id: 55, group: jul03 }
  - { id: 56, group: jul03 }
  - { id: 57, group: explosion }
  - { id: 58, group: explosion }
  - { id: 59, group: explosion }
  - { id: 60, group: explosion }
  - { id: 61, group: explosion }
  - { id: 62, group: explosion }
  - { id: 63, group: explosion }
  - { id: 64, group: explosion }
  - { id: 65, group: explosion }
  - { id: 66, group: explosion }
  - { id: 67, group: frontend }
  - { id: 68, group: frontend }
  - { id: 69, group: frontend }
  - { id: 70, group: frontendoct }
  - { id: 71, group: frontendoct }
  - { id: 72, group: frontendoct }
  - { id: 73, group: frontendoct }
  - { id: 74, group: frontendoct }
  - { id: 75, group: frontendoct }
  - { id: 76, group: frontendoct }
  - { id: 77, group: frontendoct }
  - { id: 78, group: frontendoct }
  - { id: 79, group: frontendoct }
  - { id: 80, group: frontendoct }
  - { id: 81, group: frontendoct }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- MULTIMEDIA | screenshots | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/scre" target="_self" class="whitelink">screenshots</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif" colspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
						{%- if not pagination.page.previous %}
						<td class="lightwords" align="right"><a href="mult/scre/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- elif not pagination.page.next %}
						<td class="lightwords" align="right"><a href="mult/scre/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a></td>
						{%- else %}
						<td class="lightwords" align="right"><a href="mult/scre/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a> | <a href="mult/scre/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- endif %}
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/scre{% if current.id < 31 %}/all{% endif %}#{{ current.group }}" target="_self"><img src="images/mult/scre_{{ current.id }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					{%- if (current.id >= 1 and current.id <= 5) or (current.id >= 14 and current.id <= 19) or (current.id >= 32 and current.id <= 56) or current.id >= 67 %}
					<tr valign="top">
						<td class="lightwords" colspan="2"><br>
						{%- if current.id == 1 -%}
						<b>Keep the home fires burning!</b><br>&nbsp;<br>This shot featuring the first test particles, show a ravaged island. The smoke bellows are 'programmer art' and the new particles will go in soon.
						{%- elif current.id == 2 -%}
						<b>Paradise Isle.</b><br>&nbsp;<br>This straight-forward archipelago is the setting for the first focus group build. Water is still 'work in progress' as is the HUD and stuff.
						{%- elif current.id == 3 -%}
						<b>I love the smell of napalm in the morning!</b><br>&nbsp;<br>An airstrike delivers anawesome payload! The plane is just out of view.
						{%- elif current.id == 4 -%}
						<b>Here's looking at you, kid.</b><br>&nbsp;<br>Armed with a 'zook, this Worm scoutsthe environment. The weapons will be a little more detailed (more polys) when complete, btw.
						{%- elif current.id == 5 -%}
						<b>Bridging the gap.</b><br>&nbsp;<br>A voxel engine doesn't always mean a blocky landscape, check out the bridge ropes and windmill sails, nice and curved! The engine is unique to Worms 3D!
						{%- elif current.id == 14 -%}
						<b>Frost is terrified by the bazooka</b>
						{%- elif current.id == 15 -%}
						<b>Jetpac</b> hovering over a sunken and badly shot land
						{%- elif current.id == 16 -%}
						<b>Supersheep</b> flies low over a sunken & destroyed land
						{%- elif current.id == 17 -%}
						Anyone seen my <b>pigeon?</b>
						{%- elif current.id == 18 -%}
						<b>Herd</b> about the madness?
						{%- elif current.id == 19 -%}
						<b>Strike One!</b>
						{%- elif current.id == 32 -%}
						First official website shots from the <b>Gamecube</b> version (1/5)
						{%- elif current.id == 33 -%}
						First official website shots from the <b>Gamecube</b> version (2/5)
						{%- elif current.id == 34 -%}
						First official website shots from the <b>Gamecube</b> version (3/5)
						{%- elif current.id == 35 -%}
						First official website shots from the <b>Gamecube</b> version (4/5)
						{%- elif current.id == 36 -%}
						First official website shots from the <b>Gamecube</b> version (5/5)
						{%- elif current.id == 37 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>The Landscape as a whole, with a few of the little worm fellas hanging around.
						{%- elif current.id == 38 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>The Bazooka in action lighting up the sky!
						{%- elif current.id == 39 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>A Darksider worm catching some rays and aiming the Bazooka
						{%- elif current.id == 40 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>A God worm, appropriately bathed in Holy Hand Grenade glory!
						{%- elif current.id == 41 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>Holy Hand Grenade in EXTREME CLOSE-UP!
						{%- elif current.id == 42 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>Agent Dennis gets the feeling he may be being watched...
						{%- elif current.id == 43 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>Trying to slip out a sneaky Sheep before the opponent realises!
						{%- elif current.id == 44 -%}
						<b>E3 Demo shot</b><br>&nbsp;<br>Das Bruce looking glum - and rightfully so with a imminent shotgun onslaught!
						{%- elif current.id == 45 -%}
						Shot from the <b>PC</b> version (1/3)
						{%- elif current.id == 46 -%}
						Shot from the <b>PC</b> version (2/3)
						{%- elif current.id == 47 -%}
						Shot from the <b>PC</b> version (3/3)
						{%- elif current.id == 48 -%}
						Shot from the <b>PS2</b> version (1/3)
						{%- elif current.id == 49 -%}
						Shot from the <b>PS2</b> version (2/3)
						{%- elif current.id == 50 -%}
						Shot from the <b>PS2</b> version (3/3)
						{%- elif current.id == 51 -%}
						Shot from the <b>Gamecube</b> version (1/3)
						{%- elif current.id == 52 -%}
						Shot from the <b>Gamecube</b> version (2/3)
						{%- elif current.id == 53 -%}
						Shot from the <b>Gamecube</b> version (3/3)
						{%- elif current.id == 54 -%}
						Shot from the <b>X-box</b> version (1/3)
						{%- elif current.id == 55 -%}
						Shot from the <b>X-box</b> version (2/3)
						{%- elif current.id == 56 -%}
						Shot from the <b>X-box</b> version (3/3)
						{%- elif current.id == 67 -%}
						<b>Frontend</b> shot (1/3)<br>&nbsp;<br>By far and away the most slick menu interface ever built and produced at T17!<br>&nbsp;<br>The multi-player menu is the place for creating multi-player games. Here you can set up games for between 2-4 teams, any of which may be Computer-controlled at a variety of skill levels.
						{%- elif current.id == 68 -%}
						<b>Frontend</b> shot (2/3)<br>&nbsp;<br>The static screenshots can't replicate the way the thing bounces, moves, lives and builds itself!<br>&nbsp;<br>The landscape editing menu allows you to adjust the landscape and choose a variety of options for your playing environment, plus preview the current landscape.
						{%- elif current.id == 69 -%}
						<b>Frontend</b> shot (3/3)<br>&nbsp;<br>The frontend's background music is supplied by a as-yet-can't-be-named successful commercial chart artist!<br>&nbsp;<br>The weapon settings allow you to configure the way in which the standard weapons are distributed, the strength of the weapon and suggest if and when the weapon should arrive as a reinforcement.
						{%- elif current.id == 70 -%}
						<b>The Title Screen</b><br>&nbsp;<br>This is errr... the title screen! : )
						{%- elif current.id == 71 -%}
						<b>The Single Player Screen</b><br>&nbsp;<br>From here, the player may select from all the single player options: tutorials, challenges, the campaign or a quick game against the computer.
						{%- elif current.id == 72 -%}
						<b>The Options Screen</b><br>&nbsp;<br>This screen allows access to some of the options screens described in the other screenshots.
						{%- elif current.id == 73 -%}
						<b>The Landscape Selection Screen</b><br>&nbsp;<br>The Landscape Selection Screen. On this screen, the player may tailor the landscape to suit their tastes: from the theme of the level, to how much land there is, how it's arranged, how many bridges there are... even what time of day it is.
						{%- elif current.id == 74 -%}
						<b>The Multiplayer Screen</b><br>&nbsp;<br>On this screen, the player can select teams to play in a multiplayer game, choose which landscape to play on, select a weapon scheme and choose various options (such as worm health and round time) for the coming game.
						{%- elif current.id == 75 -%}
						<b>The Game Settings Screen</b><br>&nbsp;<br>The player may get 'in deep' with game options here, choosing from such things as how many objects they want randomly scattered on the map, to what sudden death options.
						{%- elif current.id == 76 -%}
						<b>The Weapon Options Screen</b><br>&nbsp;<br>The player may select how many of each weapon appear in their inventory. The padlocks in the corner are weapons which the player must unlock through completing missions in the single player campaign.
						{%- elif current.id == 77 -%}
						<b>The Wormpot Screen</b><br>&nbsp;<br>Here the player can either select a playmode manually by 'nudging' the reels of the slot machine, or let Wormpot choose a combination of playmodes by randomly spinning the reels. Millions of combinations (probably!).
						{%- elif current.id == 78 -%}
						<b>The Team Options Screen</b><br>&nbsp;<br>Worms has always allowed the player to configure a million things with their team... here the player can choose the name of their team, the name of their worms, the speech bank they use, their gravestones, and special weapon.
						{%- elif current.id == 79 -%}
						<b>The Unlock Screen</b><br>&nbsp;<br>This screen displays what the player has unlocked as a percentage and also a list of items still remaining. Believe us when we say there's ALOT to unlock.
						{%- elif current.id == 80 -%}
						<b>The Campaign Screen</b><br>&nbsp;<br>This screeen shows a small picture of the coming mission and details the mission objectives the player will have to achieve if they want to complete the mission successfully.
						{%- elif current.id == 81 -%}
						<b>The Wormapedia</b><br>&nbsp;<br>The Wormapedia provides hints and tips on using all the weapons and utilities in the game as well as a few stories and jokes about the development of Worms 3D.
						{%- endif -%}
						<br></td>
					</tr>
					{%- endif %}
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | image -->
{%- endif %}

			<!-- MULTIMEDIA | screenshots -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">screenshots</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">development shots</td>
						<td class="darktext">
Feast your eyes on these screenshots from Worms 3D taken from various development builds
on the PC platform. Prepare to drool over the wacky new scenarios, gorgeous new custom
levels, new animations and fantastic effects, in fully destructible 3D environment.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">archive</td>
						<td class="darktext">
[ <a href="mult/scre/all" target="_self" class="navilink">show all screenshots</a> ]<br>						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots -->

			<!-- /MULTIMEDIA | screenshots | Frontend 2 --><a name="frontendoct"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/70" target="_self" class="navilink"><img src="images/mult/scre_70.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/71" target="_self" class="navilink"><img src="images/mult/scre_71.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/72" target="_self" class="navilink"><img src="images/mult/scre_72.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/73" target="_self" class="navilink"><img src="images/mult/scre_73.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/74" target="_self" class="navilink"><img src="images/mult/scre_74.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/75" target="_self" class="navilink"><img src="images/mult/scre_75.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/76" target="_self" class="navilink"><img src="images/mult/scre_76.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/77" target="_self" class="navilink"><img src="images/mult/scre_77.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/78" target="_self" class="navilink"><img src="images/mult/scre_78.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/79" target="_self" class="navilink"><img src="images/mult/scre_79.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/80" target="_self" class="navilink"><img src="images/mult/scre_80.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/81" target="_self" class="navilink"><img src="images/mult/scre_81.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Frontend - October 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Frontend 2 -->
			
			<!-- /MULTIMEDIA | screenshots | Frontend --><a name="frontend"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/67" target="_self" class="navilink"><img src="images/mult/scre_67.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/68" target="_self" class="navilink"><img src="images/mult/scre_68.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/69" target="_self" class="navilink"><img src="images/mult/scre_69.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Frontend - September 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Frontend -->
			
			<!-- /MULTIMEDIA | screenshots | Explosion Fest! --><a name="explosion"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="4">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/57" target="_self" class="navilink"><img src="images/mult/scre_57.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/58" target="_self" class="navilink"><img src="images/mult/scre_58.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/59" target="_self" class="navilink"><img src="images/mult/scre_59.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/60" target="_self" class="navilink"><img src="images/mult/scre_60.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/61" target="_self" class="navilink"><img src="images/mult/scre_61.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/62" target="_self" class="navilink"><img src="images/mult/scre_62.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/63" target="_self" class="navilink"><img src="images/mult/scre_63.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/64" target="_self" class="navilink"><img src="images/mult/scre_64.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/65" target="_self" class="navilink"><img src="images/mult/scre_65.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/66" target="_self" class="navilink"><img src="images/mult/scre_66.gif" width="89" height="67" border="0" alt=""></a></td>	
						<td class="lightwords" align="right" valign="middle" colspan="2">Explosion Fest! - August 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Explosion Fest! -->
			
			<!-- /MULTIMEDIA | screenshots | July --><a name="jul03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/45" target="_self" class="navilink"><img src="images/mult/scre_45.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/46" target="_self" class="navilink"><img src="images/mult/scre_46.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/47" target="_self" class="navilink"><img src="images/mult/scre_47.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/48" target="_self" class="navilink"><img src="images/mult/scre_48.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/49" target="_self" class="navilink"><img src="images/mult/scre_49.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/50" target="_self" class="navilink"><img src="images/mult/scre_50.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/51" target="_self" class="navilink"><img src="images/mult/scre_51.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/52" target="_self" class="navilink"><img src="images/mult/scre_52.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/53" target="_self" class="navilink"><img src="images/mult/scre_53.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/54" target="_self" class="navilink"><img src="images/mult/scre_54.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/55" target="_self" class="navilink"><img src="images/mult/scre_55.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/56" target="_self" class="navilink"><img src="images/mult/scre_56.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">July 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | July -->
			
			<!-- /MULTIMEDIA | screenshots | June --><a name="jun03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/37" target="_self" class="navilink"><img src="images/mult/scre_37.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/38" target="_self" class="navilink"><img src="images/mult/scre_38.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/39" target="_self" class="navilink"><img src="images/mult/scre_39.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/40" target="_self" class="navilink"><img src="images/mult/scre_40.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/41" target="_self" class="navilink"><img src="images/mult/scre_41.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/42" target="_self" class="navilink"><img src="images/mult/scre_42.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/43" target="_self" class="navilink"><img src="images/mult/scre_43.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/44" target="_self" class="navilink"><img src="images/mult/scre_44.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">June 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | June -->
			
			<!-- /MULTIMEDIA | screenshots | May --><a name="may03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/32" target="_self" class="navilink"><img src="images/mult/scre_32.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/33" target="_self" class="navilink"><img src="images/mult/scre_33.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/34" target="_self" class="navilink"><img src="images/mult/scre_34.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/35" target="_self" class="navilink"><img src="images/mult/scre_35.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/36" target="_self" class="navilink"><img src="images/mult/scre_36.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">May 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | May -->
			{% endblock %}

{% block right %}
			<!-- MULTIMEDIA | screenshots -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/mult/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
					<tr>
						<td>
<b>Frontend screenshots</b><br> .jpg 798x598<br>&nbsp;<br>
<a href="images/mult/scre_fron.zip" target="_self"><img src="images/mult/scre_fron.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
					<tr>
						<td>
<b>Explosion Fest screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_expl.zip" target="_self"><img src="images/mult/scre_expl.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jul screenshots</b><br> .jpg 798x598/640x448<br>&nbsp;<br>
<a href="images/mult/scre_jul.zip" target="_self"><img src="images/mult/scre_jul.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jun screenshots</b><br> .jpg 798x598<br>&nbsp;<br>
<a href="images/mult/scre_jun.zip" target="_self"><img src="images/mult/scre_jun.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>May screenshots</b><br> .jpg 640x448<br>&nbsp;<br>
<a href="images/mult/scre_may.zip" target="_self"><img src="images/mult/scre_may.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Apr screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_apr.zip" target="_self"><img src="images/mult/scre_apr.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Mar screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_mar.zip" target="_self"><img src="images/mult/scre_mar.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Feb screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_feb.zip" target="_self"><img src="images/mult/scre_feb.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jan screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_jan.zip" target="_self"><img src="images/mult/scre_jan.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
Decompress using<br><a href="http://www.winzip.com" target="_blank" class="whitelink">Winzip</a>/<a href="http://www.stuffit.com" target="_blank" class="whitelink">Stuffit</a> or similar.<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
All screenshots on this site are copyright Team17 Software Limited.<br>&nbsp;<br>

Reproduction, in whole or in part for press material, website content or distribution
to any third party must be accompanied with the copyright notice <b>'&copy; Team17
Software Limited 2003 - www.Worms3D.com'</b> otherwise consent is prohibited.<br>
						</td>
					</tr>
				</table>
			<!-- MULTIMEDIA | screenshots -->
{%- endblock %}
