---
title: WormNET 3D
layout: page
struct:
  - mult
  - welc
textimage: mult
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- multimedia | welcome -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <font class="selected">multimedia</font> | <font class="selected">welcome</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Screenshots, Artwork<br>&amp; Audio</td>
						<td class="darktext">
These sections give you an idea of what to expect visually and audibly
from Worms 3D, from conception through to production!
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /multimedia | welcome -->

			<!-- MULTIMEDIA | fanart | January -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/fana/janu" target="_self"><img src="images/mult/welc_fana_janu.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">multimedia</font> | <a href="mult/fana" target="_self" class="navilink">fanart</a><a href="mult/fana" target="_self" class="navilink"></a> ] 06/02/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/fana/janu" target="_self" class="whitelink"><b>Fanart</b></a><br>
Click here for the January fanart!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | fanart | January -->
			
			<!-- MULTIMEDIA | audio  -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/audi" target="_self"><img src="images/mult/welc_audi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">multimedia</font> | <a href="mult/audi" target="_self" class="navilink">fanart</a><a href="mult/fana" target="_self" class="navilink"></a> ] 02/02/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/audi" target="_self" class="whitelink"><b>Audio</b></a><br>
Click here for the downloadable frontend music tweak!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | audio -->

			<!-- MULTIMEDIA | fanart | Xmas -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/fana/xmas" target="_self"><img src="images/mult/welc_fana_xmas_sm.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">multimedia</font> | <a href="mult/fana" target="_self" class="navilink">fanart</a><a href="mult/fana" target="_self" class="navilink"></a> ] 23/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/fana/xmas" target="_self" class="whitelink"><b>Fanart</b></a><br>
Click here for the festive Christmas fanart!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | fanart | Xmas -->
			
			<!-- MULTIMEDIA | fanart | November -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/fana/nove" target="_self"><img src="images/mult/welc_fana_nove.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">multimedia</font> | <a href="mult/fana" target="_self" class="navilink">fanart</a><a href="mult/fana" target="_self" class="navilink"></a> ] 05/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/fana/nove" target="_self" class="whitelink"><b>Fanart</b></a><br>
Click here for the November fanart!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | fanart | November -->
			
			<!-- MULTIMEDIA | artwork -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw" target="_self"><img src="images/mult/welc_boxa.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">multimedia</font> | <a href="mult/artw" target="_self" class="navilink">artwork</a> ] 31/10/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw" target="_self" class="whitelink"><b>Artwork</b></a><br>
Click here for the revamped boxart section and new adverts section!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork -->
{%- endblock %}
