---
backline: 10
images:
  worm: /images/worms/worm_8.gif
  one: /images/graphics/abou_1.jpg
  two: /images/graphics/abou_2.jpg
layout: page.njk
---
<font class="heading">about Team17</font><br>&nbsp;<br>

Team17 Software Limited is a privately owned high calibre entertainment software development company
headquartered in West Yorkshire, England. Team17 has developed over 100 SKUs in its eleven-year history
and specialises in quality original titles using proprietary technology across all major hardware platforms.
Key Team17 franchises and brands include Worms, Alien Breed, Project X and Superfrog. For more information,
visit the Team17 website at ::<br>&nbsp;<br>

[ <a href="http://www.team17.com/" target="_blank">www.team17.com</a> ]<br>
