---
backline: 9
images:
  worm: /images/worms/worm_7.gif
  one: /images/graphics/fran_1.jpg
  two: /images/graphics/fran_2.jpg
layout: page.njk
---
<font class="heading">Franchise Awards</font><br>&nbsp;<br>

<b>EMAP Awards</b><br>
&quot;<i>Most original game</i>&quot;<br>&nbsp;<br>

<b>BBC's Live &amp; Kicking</b><br>
&quot;<i>Best game</i>&quot;<br>&nbsp;<br>

<b>ECTS Awards</b><br>
&quot;<i>Most original game</i>&quot;<br>&nbsp;<br>

<b>Micro Mania Awards</b><br>
&quot;<i>Best game</i>&quot;<br>&nbsp;<br>

<b>PSX Developers</b><br>
&quot;<i>Best strategy title</i>&quot;<br>&nbsp;<br>

<b>EG Monthly</b><br>
&quot;<i>Strategy game of year</i>&quot;<br>&nbsp;<br>

<b>Trophee d'or</b><br>
&quot;<i>Best strategy game</i>&quot;<br>&nbsp;<br>

<b>GMBH</b><br>
&quot;<i>Multiplayer game of year</i>&quot;<br>
