---
images:
  worm: /images/worms/worm_9.gif
  one: /images/graphics/space.gif
  two: /images/graphics/space.gif
layout: page.njk
---
<font class="heading">contact us</font><br>&nbsp;<br>

Welcome to the contact us section. Please choose the appropriate sub-section below...<br>&nbsp;<br>
 
Before you ask a question that has been asked and answered many times, please check the FAQs page.<br>&nbsp;<br>

[ <a href="http://web.archive.org/web/20130317140414/http://forum.team17.com/showthread.php?t=7170" target="_blank">faqs</a> ]<br>&nbsp;<br>

[ <a href="http://www.team17.com/support.html" target="_blank">technical support</a> ]<br>&nbsp;<br>

{#-
<font class="heading">contact us</font><br>&nbsp;<br>

There's nothing we like more, than hearing from you. Make your opinions known, be heard,
tell us what YOU want to see! Simply fill your details and comments into the boxes below
and then hit SUBMIT!<br>&nbsp;<br>

If you are worried about suppling your e-mail address, please read our terms &amp; privacy
statement.<br>&nbsp;<br>
<form action="index.html" method="get" name="comm" id="comm">
<input type="hidden" name="page" value="cont">
<input type="hidden" name="comments" value="1">
<b>name</b><br>
<input type="text" name="name" value="" size="20" maxlength="60" class="box"><br>&nbsp;<br>

<b>e-mail</b><br>
<input type="text" name="email" value="" size="20" maxlength="60" class="box"><br>&nbsp;<br>

<b>comments</b><br>
<textarea name="views" class="box" cols="28" rows="4"></textarea><br>&nbsp;<br>

[ <a href="#" onclick="comm.submit()" target="_self">submit</a> ]</form>
-#}
