---
backline: 6
images:
  worm: /images/worms/worm_5.gif
  one: /images/graphics/feat_1.jpg
  two: /images/graphics/feat_2.jpg
layout: page.njk
---
<font class="heading">features</font><br>&nbsp;<br>

Ever played Worms? How about Worms 2? Perhaps you're an expert at Worms World Party? No? never fear,
here's a quick summary of what you've been missing ::
<ul>
<li>Teams of worms, dukin' it out for victory. The team with the last worms standing is the winner. Simple, yet addictive. 
<li>A bizarre collection of ludicrously destructive weapons.
<li>Combat across either custom-created landscapes, or randomly-generated terrain.
<li>Customizable teams
<li>Incredible multiplayer action 
<li>Truly worldwide internet gaming.
<li>A massive online following, with leagues, ladder games, forums and gaming rooms for players of all skill levels. 
<li>Graffiti mode that allows the player to create their own playing environments. 
<li>Quite literally more game options than you could shake a stick at!
<li>Turn-based action like you've never seen.  
</ul>
