---
images:
  worm: /images/worms/worm_10.gif
  space: /images/graphics/space.gif
layout: base.njk
---
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr><td align="center" valign="middle">
    <table width="663" border="0" cellspacing="0" cellpadding="0">
      <tr align="right">
        <td width="150" align="left" valign="bottom">
          <img src="{{ images.worm | url }}" border="0" alt=""/>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="74"/>
        </td>
        <td width="150" valign="top" bgcolor="#F5F0E2">
          <table width="150" height="150" border="0" cellspacing="1" cellpadding="10">
            <tr>
              <td bgcolor="#000033" align="right" valign="top">
                [ <a href="{{ "/forum/" | url }}" target="_self">forum latest</a> ]<br>
                &nbsp;<br>
                [ <a href="{{ "/previously/" | url }}" target="_self">previously</a> ]<br>
                [ <a href="{{ "/phenomenon/" | url }}" target="_self">phenomenon</a> ]<br>
                [ <a href="{{ "/strategy/" | url }}" target="_self">strategy</a> ]<br>
                [ <a href="{{ "/features/" | url }}" target="_self">features</a> ]<br>
                &nbsp;<br>
                [ <a href="{{ "/press/" | url }}" target="_self">press quotes</a> ]<br>
                [ <a href="{{ "/awards/" | url }}" target="_self">franchise awards</a> ]<br>
                [ <a href="{{ "/about/" | url }}" target="_self">about Team17</a> ]<br>
              </td>
            </tr>
          </table>
        </td>       
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="74"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../wormsforts/" | url }}" target="_self">
            <img src="{{ "/images/graphics/wormsforts.jpg" | url }}" width="148" height="148" border="0" alt="Worms Forts: Under Siege Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="74"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../worms3d/" | url }}" target="_self">
            <img src="{{ "/images/graphics/worms3d.jpg" | url }}" width="148" height="148" border="0" alt="Worms 3D Website" hspace="1" vspace="1"/>
          </a>
        </td>
      </tr>
      <tr><td colspan="7">
        <img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
      </td></tr>
      <tr>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="https://w2.worms2d.info/" target="_self">
            <img src="{{ "/images/graphics/worms2.jpg" | url }}" width="148" height="186" border="0" alt="Worms 2 Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="https://wa.worms2d.info/" target="_self">
            <img src="{{ "/images/graphics/wormsarmageddon.jpg" | url }}" width="148" height="186" border="0" alt="Worms Armageddon Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="https://wwp.worms2d.info/" target="_self">
            <img src="{{ "/images/graphics/wormsworldparty.jpg" | url }}" width="148" height="186" border="0" alt="Worms World Party Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../wormsblast/" | url }}" target="_self">
            <img src="{{ "/images/graphics/wormsblast.jpg" | url }}" width="148" height="186" border="0" alt="Worms Blast Website" hspace="1" vspace="1"/>
          </a>
        </td>
      </tr>
      <tr><td colspan="7">
        <img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10"/>
      </td></tr>
      {#- <tr>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../wormsblast/" | url }}" target="_self">
            <img src="{{ "/images/graphics/wormsblast.jpg" | url }}" width="148" height="186" border="0" alt="Worms Blast Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../worms3d/" | url }}" target="_self">
            <img src="{{ "/images/graphics/worms3d.jpg" | url }}" width="148" height="186" border="0" alt="Worms 3D Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../wormsforts/" | url }}" target="_self">
            <img src="{{ "/images/graphics/wormsforts.jpg" | url }}" width="148" height="186" border="0" alt="Worms Forts: Under Siege Website" hspace="1" vspace="1"/>
          </a>
        </td>
        <td width="21">
          <img src="{{ images.space | url }}" width="1" height="2" border="0" alt="" hspace="10" vspace="93"/>
        </td>
        <td width="150" bgcolor="#F5F0E2" class="whitewords">
          <a href="{{ "../worms4mayhem/" | url }}" target="_self">
            <img src="{{ "/images/graphics/worms4mayhem.jpg" | url }}" width="148" height="186" border="0" alt="Worms 4: Mayhem Website" hspace="1" vspace="1"/>
          </a>
        </td>
      </tr>
      <tr><td colspan="7">
        <img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10"/>
      </td></tr> -#}
      <tr>
        <td align="right" colspan="7">{% include "copyright.njk" %}</td>
      </tr>
    </table>
  </td></tr>
</table>
