---
backline: 4
images:
  worm: /images/worms/worm_3.gif
  one: /images/graphics/phen_1.jpg
  two: /images/graphics/phen_2.jpg
layout: page.njk
---
<font class="heading">phenomenon</font><br>&nbsp;<br>

So what is the <b>Worms</b> phenomenon? Well, put simply, Worms is a turn-based strategy game where
teams of worms battle across bizarre randomly generated landscapes, or across finely crafted
custom-designed levels. Each team takes it in turns to pick off the opposing teams using crazy weapons,
tools and other utilities they may have discovered and whatever foul strategies they can
conjure.<br>&nbsp;<br>

Worms die when they lose all of their energy or plunge into the icy depths of the water surrounding the
levels. The winning team is the one that manages to survive the mayhem and have worms left standing when
the dust settles.<br>&nbsp;<br>

Of course, each worm has an arsenal of devastating weapons at their disposal, some of which have a limited
supply so strategy must be used to achieve maximum carnage. Weapons such as bazookas, grenades, dynamite,
exploding sheep, old ladies and the dreaded concrete donkey all make an appearance adding to the fun and
destruction!<br>
