---
backline: 8
images:
  worm: /images/worms/worm_6.gif
  one: /images/graphics/pres_1.jpg
  two: /images/graphics/pres_2.jpg
layout: page.njk
---
<font class="heading">press quotes</font><br>&nbsp;<br>

<b>PC Format</b><br>
&quot;<i>Britsoft hero to the core, Team 17 have been making milestone games for pretty much every platform
since it's first games for the Amiga back in 1990. Alien Breed, Body Blows, Assassin, Project X, Worms,
Worms 2, Worms Armageddon, Worms World Party - Lets face it, we've grown up with these games, and were going
to have tears in our eyes whenever they're mentioned for years to come.</i>&quot;<br>&nbsp;<br>

<b>Gamesdomain.com</b><br>
&quot;<i>Team17 has spent many, many rainy days in Worms heaven, dreaming up every permutation on a theme
you could possibly devise. This game has more modes than you'd have thought humanly
possible!</i>&quot;<br>&nbsp;<br>

<b>DC UK Magazine</b><br>
&quot;<i>Four-player worming is almost as much fun as a night in with Britney Spears and a bottle of baby
oil.</i>&quot;<br>&nbsp;<br>

<b>Stuart Dinsey, MCV</b><br>
&quot;<i>Team 17 have proved with Worms that, whatever the technology of the day, it is gameplay that still
counts the most.</i>&quot;<br>&nbsp;<br>

<b>Dreamcast Magazine</b><br>
&quot;<i>If you are even slightly into online games at their best, you'll want to get hold of this game right
now</i>&quot;<br>&nbsp;<br>
