---
backline: 3
images:
  worm: /images/worms/worm_2.gif
  one: /images/graphics/prev_1.jpg
  two: /images/graphics/prev_2.jpg
layout: page.njk
---
<font class="heading">previously</font><br>&nbsp;<br>

From humble beginnings, the Worms brand has both grown and diversified... Worms focussed on great social
multiplayer fun, while Worms 2 added the comic book-style visuals and internet playability. Worms Armageddon
and Worms World Party added <i>Wormnet</i> allowing players to challenge other wormers from all over the
world, while the brand has begun to diversify into other genres with Worms Blast.<br>&nbsp;<br>

<font class="heading">skus</font><br>&nbsp;<br>

Worms (1994)<br>
Reinforcements (1995)<br>
United (1996)<br>
[ <a href="{{ "../wormsdc/" | url }}" target="_blank">The Directors Cut</a> ] (1997)<br>
[ <a href="https://w2.worms2d.info/" target="_blank">Worms 2</a> ] (1997)<br>
Worms Pinball (1999)<br>
[ <a href="https://wa.worms2d.info/" target="_blank">Worms Armageddon</a> ] (1999)<br>
[ <a href="https://wwp.worms2d.info/" target="_blank">Worms World Party</a> ] (2000)<br>
[ <a href="{{ "../../wormsblast/" | url }}" target="_blank">Worms Blast</a> ] (2002)<br>
[ <a href="{{ "../../worms3d/" | url }}" target="_blank">Worms 3D</a> ] (2002)<br>
[ <a href="{{ "../../wormsforts/" | url }}" target="_blank">Worms Forts: Under Siege</a> ] (2004)<br>
[ <a href="{{ "../../worms4mayhem/" | url }}" target="_blank">Worms 4 Mayhem</a> ] (2005)<br>
