---
backline: 4
images:
  worm: /images/worms/worm_4.gif
  one: /images/graphics/stra_1.jpg
  two: /images/graphics/stra_2.jpg
layout: page.njk
---
<font class="heading">strategy</font><br>&nbsp;<br>

Why have the Worms games proved to be so enduringly popular, despite the massive changes in gaming
technology since the brand's first outing? The answer is that the simple appearance of the game belies
the fact that beneath the surface lies a cunningly designed strategy game able to weed out the tactical
wheat from the chaff. Worms can in fact be played in many different ways: some players opt for wanton
destruction (nicknamed 'the light side'), while others are so underhanded that they have vengeance
wreaked upon them at every opportunity: these so called 'dark-siders' will use any tactics necessary
to win the match, typically digging in and making themselves hard to kill.<br>&nbsp;<br>

The successful player adapts their strategy to the weapons available, the landscape they're playing
on and each new opponent they play. The multitude of tactics and strategies available, coupled with
the ever changing, randomly-generated landscapes keeps the game fresh... proving that gameplay is more
important than graphics.<br>
