---
images:
  worm: /images/worms/worm_10.gif
  one: /images/graphics/space.gif
  two: /images/graphics/space.gif
layout: page.njk
---
<font class="heading">terms & privacy</font><br>&nbsp;<br>

By using this site you agree to be bound by the following terms ::<br>&nbsp;<br>	

<b>Responsibility</b><br>
Team17 Software Ltd ('Team17') will use reasonable care to ensure the accuracy of
information on this site but excludes all liability in respect of any use of or reliance
on it. Team17 accepts no responsibility for third party websites linked to this site or
for information appearing on the public forums.<br>&nbsp;<br>

<b>Rights</b><br>
Team17 or its licensors own the copyright and all other rights in this website.<br>&nbsp;<br>

<b>Use</b><br>
You may download, copy and print material on this site only for your internal business use solely for
the purpose of selecting, evaluating and developing your use of Team17 products. You may not distribute
any material on this site to any third party without Team17's written consent.<br>&nbsp;<br>

<b>Privacy</b><br>
Team17 respects the privacy of users of this site and does not share any personal information with
third parties, or use information supplied for any other purpose than for which it was intended.<br>
