---
section: wormsdc
images:
  space: /images/graphics/space.gif
subpages:
  - ~
  - image: shot_1bg.jpg
  - image: shot_2bg.jpg
  - image: shot_3bg.jpg
  - image: shot_4bg.jpg
  - image: shot_5bg.jpg
  - image: shot_6bg.jpg
  - image: shot_7bg.jpg
  - image: shot_8bg.jpg
  - image: shot_9bg.jpg
layout: base.njk
pagination:
  data: subpages
  alias: this
  size: 1
  addAllPagesToCollections: true
permalink: "{{ page.filePathStem }}/{% if this %}shot/{{ pagination.pageNumber }}/{% endif %}"
---
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="21">
<tr>
<td align="center" valign="middle">

<table width="663" border="0" cellspacing="0" cellpadding="0">

<tr valign="top">
<td colspan="5" align="center">
<img src="{{ "/images/wormsdc/logo.gif" | url }}" width="218" height="91" border="0" alt="">
<br>
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>

{% if this -%}
<tr>
<td width="492" bgcolor="#C0C0C0" valign="top" colspan="3">
<table width="492" border="0" cellspacing="1" cellpadding="10">
<tbody>
<tr valign="middle">
<td bgcolor="#000000" valign="top">
<ul>
<img src="{{ ("/images/wormsdc/" + this.image) | url }}" width="299" height="207" border="0" alt="">
</ul>
</td>
</tr>
</tbody>
</table>
</td>
<td width="21">
<img src="{{ images.space | url }}" width="1" border="0" alt="" hspace="10">
</td>
<td width="150">
<img src="{{ "/images/wormsdc/pic_1.gif" | url }}" width="150" height="153" border="0" alt="">
</td> 
</tr>

<tr>
<td colspan="5">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>
{%- endif %}

<tr>
<td width="150">
<img src="{{ "/images/wormsdc/box.gif" | url }}" width="140" height="168" border="0" alt="" hspace="5">
</td>  
<td width="21">
<img src="{{ images.space | url }}" width="1" border="0" alt="" hspace="10">
</td>
<td width="492" bgcolor="#C0C0C0" valign="top" colspan="3">
<table width="492" height="168" border="0" cellspacing="1" cellpadding="10">
<tr>
<td bgcolor="#000033" valign="top" class="text">
<img src="{{ "/images/wormsdc/info.gif" | url }}" width="139" height="31" border="0" alt="">
<ul>
Andy Davidson, the mad creator of Worms, brings you the
finest version of Worms with the all new, all singing, all dancing
'Worms Directors Cut'.<br>&nbsp;<br>

Bask in the glory of 300 colours, super smooth scrolling and a host
of new silly weapons that your mother wouldn't like!<br>&nbsp;<br>

Giggle as you chuck a holy hand grenade, unleash a mad old woman
or send in a herd of mad cows!<br>&nbsp;<br>

Add the magic off the all new Graffiti Mode and as many game enhancing
options Andy, the creator of Worms, could think of the produce possibly
the finest ever Amiga game.<br>
</ul>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td colspan="5">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>

<tr>
<td width="492" bgcolor="#C0C0C0" valign="top" colspan="3">
<table width="492" height="153" border="0" cellspacing="1" cellpadding="10">
<tr>
<td bgcolor="#000000" valign="top">
<img src="{{ "/images/wormsdc/features.gif" | url }}" width="138" height="21" border="0" alt="">
<ul>
<li>Over 300 colours on screen including 70 sky and 40 water colours.
<li>Super smooth quarter pixel scrolling.
<li>9 level parallax scrolling (inc. 2 layers of mountains).
<li>14 new weapons - Holy hand grenade, mad cows, super bat rope.
<li>Level editor for Workbench.
<li>New level types / custom levels.
<li>Wormbench -Themes for customising Workbench.
<li>DIY landscape - draw your own or alter standard graphics.
<li>Graffiti Mode - Worms built in level editor, unlimited level design!
<li>Cavern levels - put a roof on backgrounds.
</ul>
</td>
</tr>
</table>
</td>
<td width="21">
<img src="{{ images.space | url }}" width="1" border="0" alt="" hspace="10">
</td>
<td width="150">
<img src="{{ "/images/wormsdc/pic_1.gif" | url }}" width="150" height="153" border="0" alt="">
</td> 
</tr>

<tr>
<td colspan="5">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>

<tr>
<td width="150">
<img src="{{ "/images/wormsdc/pic_2.gif" | url }}" width="150" height="150" border="0" alt="">
</td>
<td width="21">
<img src="{{ images.space | url }}" width="1" border="0" alt="" hspace="10">
</td>
<td width="492" bgcolor="#C0C0C0" valign="top" colspan="3">
<table width="492" height="150" border="0" cellspacing="1" cellpadding="10">
<tr>
<td bgcolor="#000000" valign="top">
<img src="{{ "/images/wormsdc/shots.gif" | url }}" width="192" height="28" border="0" alt="">
<ul>
<a href="{{ "/wormsdc/shot/1/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_1sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/2/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_2sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/3/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_3sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><br><a href="{{ "/wormsdc/shot/4/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_4sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/5/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_5sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/6/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_6sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><br><a href="{{ "/wormsdc/shot/7/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_7sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/8/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_8sm.gif" | url }}" width="80" height="70" border="0" alt=""></a><a href="{{ "/wormsdc/shot/9/" | url }}" target="_self"><img src="{{ "/images/wormsdc/shot_9sm.gif" | url }}" width="80" height="70" border="0" alt=""></a>
</ul>
</td></tr>
</table>
</td>
</tr>

<tr>
<td colspan="5">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>

<tr>
<td width="492" bgcolor="#C0C0C0" valign="top" colspan="3">
<table width="492" height="81" border="0" cellspacing="1" cellpadding="10">
<tr>
<td bgcolor="#000000" valign="top">
<img src="{{ "/images/wormsdc/papers.gif" | url }}" width="272" height="17" border="0" alt="">
<ul>
&quot;<i>Worms is an exceptional game that is destined to join the "classic game hall of fame.</i>&quot;<br>
<b>CD32 Gamer - <font size="+2">92%</font></b><br>&nbsp;<br>

&quot;<i>"It’s wonderful to take part in and even better to win - Buy it today - you certainly won’t regret it.</i>&quot;<br>
<b>Amiga Format - <font size="+2">90%</font></b><br>&nbsp;<br>

&quot;<i>"And so we have a winner! Lets hear it for Worms!</i>&quot;<br>
<b>CU Amiga - <font size="+2">94%</font></b>
</ul>
</td>
</tr>

</table>
</td>
<td width="21">
<img src="{{ images.space | url }}" width="1" border="0" alt="" hspace="10">
</td>
<td width="150">
<img src="{{ "/images/wormsdc/pic_3.gif" | url }}" width="80" height="81" border="0" alt="" hspace="35">
</td> 
</tr>

<tr>
<td colspan="5">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="331" vspace="10">
</td>
</tr>

<tr>
<td width="150">
<img src="{{ images.space | url }}" width="2" height="1" border="0" alt="" hspace="74">
</td>  
<td width="21">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="10">
</td>
<td width="321">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="160">
</td>
<td width="21">
<img src="{{ images.space | url }}" width="1" height="1" border="0" alt="" hspace="10">
</td>
<td width="150">
<img src="{{ images.space | url }}" width="2" height="1" border="0" alt="" hspace="74">
</td>
</tr>

<tr>
<td align="right" colspan="5">{% include "copyright.njk" %}</td>
</tr>

</table>

</td>
</tr>
</table>
