---
title: FAQs
layout: page
struct:
  - supp
  - faqs
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- SUPPORT | faqs | overview -->
				<table width="407" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">faqs</font> | overview ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">frequently<br>asked/answered<br>questions</td>
						<td class="darktext">
Welcome to the FAQ section - where we reveal that the question you thought was unique,
in fact has been asked loads of times before. Browse through the information below to
find interesting Q's and A's which should help you achieve the most from W3D, help get
it running optimally and what to do about any annoying compatibility problems!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">last updated</td>
						<td class="darktext">
November 18 2006<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | faqs | overview -->

			<!-- SUPPORT | faqs | platforms -->
				<a name="euau"></a>
				<table width="407" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">platforms and<br>release dates</td>
						<td class="lightwords"><img src="images/supp/faqs_map1.gif" width="137" height="71" border="0" alt=""><br>&nbsp;<br>
Europe / Australia<br>&nbsp;<br>

						<table border="0" cellspacing="0" cellpadding="3">
							<tr>
								<td><img src="images/graphics/plat_pc.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_playstation2.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_gamecube.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_xbox.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_mac.gif" width="29" height="29" border="0" alt=""></td>
								<td class="darkwords">Out now!</td>
							</tr>
						</table><br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Publisher</td>
						<td class="darktext">SEGA Europe<br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Distributor</td>
						<td class="darktext">SEGA Europe (Europe) - ATARI (Australia) - CD Projekts (Poland) - Softclub (Russia)</td>
					</tr>
				</table>
				</td></tr></table><br>
				<a name="usea"></a>
				<table width="407" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">platforms and<br>release dates</td>
						<td class="lightwords"><img src="images/supp/faqs_map2.gif" width="137" height="71" border="0" alt=""><br>&nbsp;<br>
North America / South America / Far East<br>&nbsp;<br>
						
						<table border="0" cellspacing="0" cellpadding="3">
							<tr>
								<td><img src="images/graphics/plat_pc.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_playstation2.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_gamecube.gif" width="29" height="29" border="0" alt=""></td>
								<td><img src="images/graphics/plat_mac.gif" width="29" height="29" border="0" alt=""></td>
								<td class="darkwords">Out Now!</td>
							</tr>
							<tr>
								<td><img src="images/graphics/plat_xbox.gif" width="29" height="29" border="0" alt=""></td>
								<td class="darkwords"><i>Live</i></td>
								<td class="darkwords" colspan="3">To Be Confirmed</td>
							</tr>
							<tr>
								<td class="darktext" colspan="5">
<br><b>The delay of this title on Xbox in these territories is due to it having <em>Live</em> capabilities.<br>&nbsp;<br>
No release date has been set, when a date is set it will be announced on the website.</b>		
								</td>
							</tr>
						</table><br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Publisher</td>
						<td class="darktext">SEGA Europe</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | faqs | platforms -->

			<!-- SUPPORT | faqs | official faqs -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="524" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">faqs</font> | official faqs ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="415" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="212"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">General Issues</td>
						<td class="darkwords">
[ <a href="#1.1" title="Where may I find support and frequently asked questions for Worms 3D?" target="_self" class="navilink">Where may I find support and frequently asked questions for Worms 3D?</a> ]<br>
[ <a href="#1.2" title="What formats are currently available or planned for Worms 3D?" target="_self" class="navilink">What formats are currently available or planned for Worms 3D?</a> ]<br>
[ <a href="#1.3" title="Where may I purchase Worms 3D from?" target="_self" class="navilink">Where may I purchase Worms 3D from?</a> ]<br>
[ <a href="#1.4" title="May I purchase and download the PC version via electronic distribution?" target="_self" class="navilink">May I purchase and download the PC version via electronic distribution?</a> ]<br>
[ <a href="#1.5" title="Is it possible to purchase an E.U. version to play in U.S. territories?" target="_self" class="navilink">Is it possible to purchase an E.U. version to play in U.S. territories?</a> ]<br>
[ <a href="#1.6" title="Are there any versions of Worms 3D planned for other territories?" target="_self" class="navilink">Are there any versions of Worms 3D planned for other territories?</a> ]<br>
[ <a href="#1.7" title="What player age range is Worms 3D suitable for in Europe?" target="_self" class="navilink">What player age range is Worms 3D suitable for in Europe?</a> ]<br>
[ <a href="#1.8" title="Where may I purchase Worms 3D merchandise such as posters and t-shirts?" target="_self" class="navilink">Where may I purchase Worms 3D merchandise such as posters and t-shirts?</a> ]<br>
[ <a href="#1.9" title="Is it possible through loss or accidental damage to obtain replacement items?" target="_self" class="navilink">Is it possible through loss or accidental damage to obtain replacement items?</a> ]<br>
[ <a href="#1.10" title="Is a Linux version of the game being planned or in development?" target="_self" class="navilink">Is a Linux version of the game being planned or in development?</a> ]<br>
[ <a href="#1.11" title="Is there a PC demo available so that I may evaluate it before I purchase?" target="_self" class="navilink">Is there a PC demo available so that I may evaluate it before I purchase?</a> ]<br>
[ <a href="#1.12" title="I noticed a problem within this FAQ, where may I report it?" target="_self" class="navilink">I noticed a problem within this FAQ, where may I report it?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Installation Issues</td>
						<td class="darkwords">
[ <a href="#2.1" title="What are the minimum system requirements for the PC version?" target="_self" class="navilink">What are the minimum system requirements for the PC version?</a> ]<br>
[ <a href="#2.2" title="What are the recommended system requirements for the PC version?" target="_self" class="navilink">What are the recommended system requirements for the PC version?</a> ]<br>
[ <a href="#2.3" title="Why can't I get the game to install and play on Windows 95 or Windows NT?" target="_self" class="navilink">Why can't I get the game to install and play on Windows 95 or Windows NT?</a> ]<br>
[ <a href="#2.4" title="Why do I get an InstallShield error when I am trying to install the game?" target="_self" class="navilink">Why do I get an InstallShield error when I am trying to install the game?</a> ]<br>
[ <a href="#2.5" title="How do I check for background applications when trying to install the game?" target="_self" class="navilink">How do I check for background applications when trying to install the game?</a> ]<br>
[ <a href="#2.6" title="Is it possible to install and play the game on Windows XP 64-Bit Edition?" target="_self" class="navilink">Is it possible to install and play the game on Windows XP 64-Bit Edition?</a> ]<br>
[ <a href="#2.7" title="Why do I get an 'Incompatible Version of RPC Stub' error during installation?" target="_self" class="navilink">Why do I get an 'Incompatible Version of RPC Stub' error during installation?</a> ]<br>
[ <a href="#2.8" title="How do I manually delete registry key entries from a corrupted installation?" target="_self" class="navilink">How do I manually delete registry key entries from a corrupted installation?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Patch Issues</td>
						<td class="darkwords">
[ <a href="#3.1" title="I am having problems getting the game to run, is there a patch available?" target="_self" class="navilink">I am having problems getting the game to run, is there a patch available?</a> ]<br>
[ <a href="#3.2" title="I can play the game with no problems why do I really need to get a service patch?" target="_self" class="navilink">I can play the game with no problems why do I really need to get a service pa...</a> ]<br>
[ <a href="#3.3" title="How do I check the version of the game that I have currently installed?" target="_self" class="navilink">How do I check the version of the game that I have currently installed?</a> ]<br>
[ <a href="#3.4" title="Will downloading and applying a patch affect my existing game save data?" target="_self" class="navilink">Will downloading and applying a patch affect my existing game save data?</a> ]<br>
[ <a href="#3.5" title="How do I install a service patch and update the game?" target="_self" class="navilink">How do I install a service patch and update the game?</a> ]<br>
[ <a href="#3.6" title="I wish to uninstall a service patch, how do I achieve this?" target="_self" class="navilink">I wish to uninstall a service patch, how do I achieve this?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Game Issues</td>
						<td class="darkwords">
[ <a href="#4.1" title="Why do I get a 'Please insert the Worms 3D CD 1' message when attempting to play?" target="_self" class="navilink">Why do I get a 'Please insert the Worms 3D CD 1' message when attempting to p...</a> ]<br>
[ <a href="#4.2" title="I am trying to play and all I get is a 'VXD' error, why is this happening?" target="_self" class="navilink">I am trying to play and all I get is a 'VXD' error, why is this happening?</a> ]<br>
[ <a href="#4.3" title="Must I complete all training sections before progressing on to missions?" target="_self" class="navilink">Must I complete all training sections before progressing on to missions?</a> ]<br>
[ <a href="#4.4" title="Is it possible to create and input my own individual worm skins?" target="_self" class="navilink">Is it possible to create and input my own individual worm skins?</a> ]<br>
[ <a href="#4.5" title="Am I able to create and input my own customised gravestones?" target="_self" class="navilink">Am I able to create and input my own customised gravestones?</a> ]<br>
[ <a href="#4.6" title="I want to turn blood effects on just like in the 2D version, is this possible?" target="_self" class="navilink">I want to turn blood effects on just like in the 2D version, is this possible?</a> ]<br>
[ <a href="#4.7" title="My start icon is greyed out when playing between rounds, why is this?" target="_self" class="navilink">My start icon is greyed out when playing between rounds, why is this?</a> ]<br>
[ <a href="#4.8" title="Is it possible to perform a replay of a shot within the game?" target="_self" class="navilink">Is it possible to perform a replay of a shot within the game?</a> ]<br>
[ <a href="#4.9" title="I am having problems completing missions and challenges, any hints at all?" target="_self" class="navilink">I am having problems completing missions and challenges, any hints at all?</a> ]<br>
[ <a href="#4.10" title="I want to unlock more items, are there any cheats available for the game?" target="_self" class="navilink">I want to unlock more items, are there any cheats available for the game?</a> ]<br>
[ <a href="#4.11" title="I wish to create my own landscapes, when will an editor be made available?" target="_self" class="navilink">I wish to create my own landscapes, when will an editor be made available?</a> ]<br>
[ <a href="#4.12" title="Are there any really good landscape generation codes that I may enter?" target="_self" class="navilink">Are there any really good landscape generation codes that I may enter?</a> ]<br>
[ <a href="#4.13" title="I have found a really good random landscape code, may I submit it?" target="_self" class="navilink">I have found a really good random landscape code, may I submit it?</a> ]<br>
[ <a href="#4.14" title="Are the landscape codes interchangeable between PC and console versions?" target="_self" class="navilink">Are the landscape codes interchangeable between PC and console versions?</a> ]<br>
[ <a href="#4.15" title="When I play the game it will crash when FMV is played, how can I solve this?" target="_self" class="navilink">When I play the game it will crash when FMV is played, how can I solve this?</a> ]<br>
[ <a href="#4.16" title="Why is there no bounce option for grenade type weapons?" target="_self" class="navilink">Why is there no bounce option for grenade type weapons?</a> ]<br>
[ <a href="#4.17" title="Why don't flames burn down the landscape like in the 2D version?" target="_self" class="navilink">Why don't flames burn down the landscape like in the 2D version?</a> ]<br>
[ <a href="#4.18" title="Why does the game not run when I press play on the game launcher?" target="_self" class="navilink">Why does the game not run when I press play on the game launcher?</a> ]<br>
[ <a href="#4.19" title="Why do I get an error after the SEGA logo just as the Team17 logo displays?" target="_self" class="navilink">Why do I get an error after the SEGA logo just as the Team17 logo displays?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Graphic Issues</td>
						<td class="darkwords">
[ <a href="#5.1" title="I am trying to play and the game returns straight back to the desktop, why?" target="_self" class="navilink">I am trying to play and the game returns straight back to the desktop, why?</a> ]<br>
[ <a href="#5.2" title="When I play the game it stutters and is running very slowly, why is this?" target="_self" class="navilink">When I play the game it stutters and is running very slowly, why is this?</a> ]<br>
[ <a href="#5.3" title="What video chipsets are supported?" target="_self" class="navilink">What video chipsets are supported?</a> ]<br>
[ <a href="#5.4" title="What video chipsets are unsupported?" target="_self" class="navilink">What video chipsets are unsupported?</a> ]<br>
[ <a href="#5.5" title="How do I utilise extra features on my display device such as pixel shaders?" target="_self" class="navilink">How do I utilise extra features on my display device such as pixel shaders?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Sound Issues</td>
						<td class="darkwords">
[ <a href="#6.1" title="The sound seems distorted when playing, why is this happening?" target="_self" class="navilink">The sound seems distorted when playing, why is this happening?</a> ]<br>
[ <a href="#6.2" title="Is it possible to use my own background audio tracks within the game?" target="_self" class="navilink">Is it possible to use my own background audio tracks within the game?</a> ]<br>
[ <a href="#6.3" title="I want to use my own Worm voice speech samples, how do I achieve this?" target="_self" class="navilink">I want to use my own Worm voice speech samples, how do I achieve this?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Control Issues</td>
						<td class="darkwords">
[ <a href="#7.1" title="I wish to change my keyboard and mouse configuration, how do I achieve this?" target="_self" class="navilink">I wish to change my keyboard and mouse configuration, how do I achieve this?</a> ]<br>
[ <a href="#7.2" title="There is an option to use a 16 button PC joypad, how may I achieve this?" target="_self" class="navilink">There is an option to use a 16 button PC joypad, how may I achieve this?</a> ]<br>
[ <a href="#7.3" title="Why can't I move around the landscape in FPS view?" target="_self" class="navilink">Why can't I move around the landscape in FPS view?</a> ]<br>
[ <a href="#7.4" title="Using my mouse feels unresponsive, what could be the cause of this?" target="_self" class="navilink">Using my mouse feels unresponsive, what could be the cause of this?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Wormnet/Network Issues</td>
						<td class="darkwords">
[ <a href="#8.1" title="I can't seem to play on the Internet through a firewall, what is the problem?" target="_self" class="navilink">I can't seem to play on the Internet through a firewall, what is the problem?</a> ]<br>
[ <a href="#8.2" title="I can see other games on the network but can't connect, what is wrong?" target="_self" class="navilink">I can see other games on the network but can't connect, what is wrong?</a> ]<br>
[ <a href="#8.3" title="I wish to play via a direct or null modem connection, is it possible to do this?" target="_self" class="navilink">I wish to play via a direct or null modem connection, is it possible to do this?</a> ]<br>
[ <a href="#8.4" title="What is the revised port information for Internet connections and firewalls?" target="_self" class="navilink">What is the revised port information for Internet connections and firewalls?</a> ]<br>
[ <a href="#8.5" title="Is it possible to move the blimp camera whilst another player has their turn?" target="_self" class="navilink">Is it possible to move the blimp camera whilst another player has their turn?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Console Issues</td>
						<td class="darkwords">
[ <a href="#9.1" title="How do I alter the worm status information within the game?" target="_self" class="navilink">How do I alter the worm status information within the game?</a> ]<br>
[ <a href="#9.2" title="I wish to select between worms in a given team, how do I do this?" target="_self" class="navilink">I wish to select between worms in a given team, how do I do this?</a> ]<br>
[ <a href="#9.3" title="Will I be able to play Worms 3D with a PlayStation2 online adapter?" target="_self" class="navilink">Will I be able to play Worms 3D with a PlayStation2 online adapter?</a> ]<br>
[ <a href="#9.4" title="Will I be able to play Worms 3D via Xbox Live?" target="_self" class="navilink">Will I be able to play Worms 3D via Xbox Live?</a> ]<br>
[ <a href="#9.5" title="Will I be able to play Worms 3D with a GameCube online adapter?" target="_self" class="navilink">Will I be able to play Worms 3D with a GameCube online adapter?</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Manual Errata</td>
						<td class="darkwords">
[ <a href="#10.1" title="PC CD-ROM Manual" target="_self" class="navilink">PC CD-ROM Manual</a> ]<br>
[ <a href="#10.2" title="PC CD-ROM Readme" target="_self" class="navilink">PC CD-ROM Readme</a> ]<br>
[ <a href="#10.3" title="PlayStation2 Manual" target="_self" class="navilink">PlayStation2 Manual</a> ]<br>
[ <a href="#10.4" title="Xbox Manual" target="_self" class="navilink">Xbox Manual</a> ]<br>
[ <a href="#10.5" title="GameCube Manual" target="_self" class="navilink">GameCube Manual</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Miscellaneous</td>
						<td class="darkwords">
[ <a href="#11.1" title="What are the support email and contact telephone numbers for the E.U.?" target="_self" class="navilink">What are the support email and contact telephone numbers for the E.U.?</a> ]<br>
[ <a href="#11.2" title="What are the support contact telephone numbers for AUS / N.Z.?" target="_self" class="navilink">What are the support contact telephone numbers for AUS / N.Z.?</a> ]<br>
[ <a href="#11.3" title="Useful URL's" target="_self" class="navilink">Useful URL's</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
				
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="524" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="415"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="212"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">General Issues</td>
						<td class="darkwords">
<a name="1.1"></a><b>Where may I find support and frequently asked questions for Worms 3D?</b><br>
Technical support for the more major issues reported within Worms 3D and the most frequently asked questions may be found within this documentation. Up to the minute information and a direct response to your problem may be achieved by either contacting your local SEGA Customer Services or possibly located within the Team17 official online forum. <br>
<br>&nbsp;<br>
<a name="1.2"></a><b>What formats are currently available for Worms 3D?</b><br>
Worms 3D is currently available in Europe / Australia on PlayStation2, Xbox, GameCube and PC. Polish and Russian translation versions for the PC are also available. A Macintosh version of the game is being developed by Zonic for Feral Interactive for Mac OS X and is scheduled for release Q2 2004. For more details on the current progress and availability of the Macintosh version please refer to [ <a href="http://www.feralinteractive.com" title="www.feralinteractive.com" target="_self" class="navilink">www.feralinteractive.com</a> ] directly. <br>
<br>&nbsp;<br>
<a name="1.3"></a><b>Are there any versions of Worms 3D planned for other territories?</b><br>
Worms 3D is currently being developed for North America, South America and the Far East on PlayStation2, Xbox Live, GameCube and PC for release shortly. The delay of this title for these territories are due to it having a different distributor and separate approval processes.<br>
<br>&nbsp;<br>
<a name="1.4"></a><b>Where may I purchase Worms 3D from?</b><br>
The game is currently available from all major software retailers and online etailers such as the Team17 Shop.<br>
<br>&nbsp;<br>
<a name="1.5"></a><b>May I purchase and download the PC version via electronic distribution?</b><br>
It is not currently possible to purchase and download the PC version of Worms 3D via electronic methods. It is only currently available in disc packaged forms at major software retailers and online etailers. <br>
<br>&nbsp;<br>
<a name="1.6"></a><b>Is it possible to purchase an E.U. version to play in U.S. territories?</b><br>
Whilst the PC version will work globally, console versions are subject to regional locking and television display requirements. E.U. console versions use European PAL rather than American NTSC display requirements and will not play in U.S. territories.<br>
<br>&nbsp;<br>
<a name="1.7"></a><b>What player age range is Worms 3D suitable for in Europe?</b><br>
Within European territories (E.U.) the game has a PEGI (Pan European Game Indicator) rating of a recommended 3+ age range.<br>
<br>&nbsp;<br>
<a name="1.8"></a><b>Where may I purchase Worms 3D merchandise such as posters and t-shirts?</b><br>
Game merchandise is currently not available for purchase. Please contact your local SEGA Customer Services for possible details of future availability and pricing.<br>
<br>&nbsp;<br>
<a name="1.9"></a><b>Is it possible through loss or accidental damage to obtain replacement items?</b><br>
To obtain replacement items through accidental damage or loss such as discs or printed manual documentation please contact your local SEGA Customer Services for further information on general pricing and availability. You may have to provide an original proof of purchase along with your personal details for replacement items.<br>
<br>&nbsp;<br>
<a name="1.10"></a><b>Is a Linux version of the game being planned or in development?</b><br>
Unfortunately there is no Linux version of the game in development nor are there any plans to produce such in the future for this particular platform.<br>
<br>&nbsp;<br>
<a name="1.11"></a><b>Is there a PC demo available so that I may evaluate it before I purchase?</b><br>
A PC demo is available from various online demo sources such as the Worms 3D official web site at [ <a href="http://www.worms3d.com" title="www.worms3d.com" target="_self" class="navilink">www.worms3d.com</a> ] and [ <a href="http://www.startawar.com" title="www.startawar.com" target="_self" class="navilink">www.startawar.com</a> ]. Please note that the demo is an unsupported product release. <br>
<br>&nbsp;<br>
<a name="1.12"></a><b>I noticed a problem within this FAQ, where may I report it?</b><br>
Please report all problems and inaccuracies within the Worms 3D FAQ content directly to [ <a href="mailto:webmaster@team17.com" title="webmaster@team17.com" target="_self" class="navilink">webmaster@team17.com</a> ] in the first instance. Feedback on this FAQ is appreciated and any requests or points regarding the inclusion of additional content are welcomed.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Installation Issues</td>
						<td class="darkwords">
<a name="2.1"></a><b>What are the minimum system requirements for the PC version?</b><br>
The minimum system requirements for the PC version of the game are as follows, if your system does not conform to these requirements you may experience problems.<br>
 - Microsoft® Windows® 98, Me, 2000 or XP  (95 / NT are unsupported) <br>
 - 800 MHz Intel® Pentium® III or AMD Athlon™ processor <br>
 - 256 MB System RAM <br>
 - 8 x CD-ROM / DVD-ROM drive 	<br>
 - 32 MB hardware accelerated video card with 100% OpenGL® 1.4 compatibility<br>
 - Sound card with 100% DirectX® 9.0a compatibility <br>
 - 1.4 GB Hard Drive Space <br>
 - Microsoft Windows 100% compatible keyboard and mouse <br>
<br>&nbsp;<br>
<a name="2.2"></a><b>What are the recommended system requirements for the PC version?</b><br>
The recommended system requirements for the PC version of the game are as follows.<br>
 - Microsoft® Windows® 98, Me, 2000 or XP  (95 / NT are unsupported)<br>
 - 1 GHz Intel Pentium III or AMD Athlon processor or faster <br>
 - 512 MB System RAM <br>
 - 16 x CD-ROM / DVD-ROM drive <br>
 - 64 MB hardware accelerated video card with 100% OpenGL 1.4 compatibility<br>
 - 3D Sound card with 100% DirectX 9.0a compatibility <br>
 - Network connection for LAN play<br>
 - 56 Kbps modem or faster Internet connection for Wormnet via GameSpy Arcade®<br>
 - 16 button, 4 axis game pad with 100% DirectX 9.0a compatible driver (Optional)<br>
<br>&nbsp;<br>
<a name="2.3"></a><b>Why can't I get the game to install and play on Windows 95 or Windows NT?</b><br>
Worms 3D has been developed specifically for Windows 98/Me/2000/XP. It is not recommended to attempt an installation under Windows 95/NT as they are not supported.<br>
<br>&nbsp;<br>
<a name="2.4"></a><b>Why do I get an InstallShield error when I am trying to install the game?</b><br>
If an InstallShield error message appears this may be related to a number of causes.<br>
 - Install files cannot be transferred due to a physical problem with the CD<br>
 - Cannot store temporary install files due to lack of hard disk space<br>
 - Unable to install the game fully due to a lack of hard disk space<br>
 - Not possible to transfer install files due to a lack of system RAM<br>
 - A software conflict is being produced from an active background task<br>
 - Install path has been directed to the hard drive root rather than a custom subfolder<br>
 - A real time file virus checker may be enabled causing a conflict<br>
<br>
Initially check the disc surface for possible scratches or dirt. Establish that you have enough hard disk space available and a sufficient amount of system RAM. Ensure that all other applications are disabled prior to initiating the installation process. Do not attempt to install the game to the root of a hard disk and always specify a subfolder. If you are unsure about specifying a custom installation path leave the destination folder at a default setting. Directly consult the InstallShield web site for specific message information if an error number has been provided. It may in more severe circumstances be a possibility that you require a disc replacement if you feel this could be the case contact SEGA Customer Services directly.<br>
<br>&nbsp;<br>
<a name="2.5"></a><b>How do I check for background applications when trying to install the game?</b><br>
If an install problem occurs due to a software conflict, in order to close down background applications please follow these steps before reattempting the installation procedure.<br>
 - Restart the computer and wait until Windows has loaded<br>
 - Press Ctrl+Alt+Delete keys simultaneously (select Task Manager within 2000/XP)<br>
 - Close unnecessary active items such as virus scanners, schedulers and crash guards<br>
<br>&nbsp;<br>
<a name="2.6"></a><b>Is it possible to install and play the game on Windows XP 64-Bit Edition?</b><br>
Whilst Worms 3D should install and run under this particular platform the game has not been extensively tested. We cannot guarantee usage within this particular environment.<br>
<br>&nbsp;<br>
<a name="2.7"></a><b>Why do I get an 'Incompatible Version of RPC Stub' error during installation?</b><br>
This problem may be related to an incompatible DLL version being detected on your system. Check [ <a href="http://support.installshield.com/kb/view.asp?articleid=Q105810" title="http://support.installshield.com" target="_blank" class="navilink">http://support.installshield.com</a> ] for further information and solutions to this particular problem.<br>
<br>&nbsp;<br>
<a name="2.8"></a><b>How do I manually delete registry key entries from a corrupted installation?</b><br>
If you are having problems reinstalling the product (due to legacy registry keys after a corrupted installation) in isolated cases you may have to remove the entries manually. This problem may also prevent an install removal due to a Worms 3D entry being unavailable within the Add/Remove Programs section of the Windows Control Panel. The error can typically happen due to a system crash occurrence during an earlier installation rendering an inability to remove some game portions successfully (preventing a reinstall).<br>
<br>
Please note that if you are unsure how to achieve this do not manually delete any registry key items. You may severely damage Windows or installed applications and in extreme cases make your system totally unusable. In order to achieve manual deletion you will have to utilise the Windows Registry Editor.<br>
 - Select start and then Run…<br>
 - Type regedit in the Open: box and select OK<br>
 - Select HKEY_LOCAL_MACHINE and then Software<br>
 - Select Team17 and delete the Worms 3D registry key<br>
 - Select Team17 Software Ltd and delete the Worms 3D registry key<br>
<br>
You may also have to manually delete InstallShield temporary setup files to allow a successful game reinstall. Please take extreme care when attempting folder removal.<br>
 - Select C:\ and then Program Files<br>
 - Select Tools and then Folder Options…<br>
 - Select View and then Advanced Settings<br>
 - Enable Show hidden files and folders and select OK<br>
 - Select InstallShield Installation Information<br>
 - Delete folder entry {8874FD36-7C9D-4573-8956-E368D6753D90}<br>
 - Run the setup.exe file located within the actual folder if you wish to confirm the entry is for Worms 3D prior to deletion<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Patch Issues</td>
						<td class="darkwords">
<a name="3.1"></a><b>I am having problems getting the game to run, is there a patch available?</b><br>
Service patch 2 for Worms 3D is now available. This upgrades Worms 3D to v.1073 (service patch 2) and is essential for successful on-line play. The patch includes Game feature additions, Game fix amendments, Network feature additions and Network fix amendments. This patch is available directly from the Worms 3D web site at [ <a href="http://www.worms3d.com." title="www.worms3d.com." target="_self" class="navilink">www.worms3d.com.</a> ]<br>
<br>
It is strongly recommended to obtain the very latest software updates before consulting FAQ documentation, as a problem you are experiencing may have already been addressed within the patch content.<br>
<br>&nbsp;<br>
<a name="3.2"></a><b>I can play the game with no problems why do I really need to get a service patch?</b><br>
It is beneficial to keep up to date with the latest game revision. Updating with a service patch improves compatibility with hardware / software configurations and addresses game problems after release. Service patches incorporate bug fixes, general game additions, network improvements and refinements.<br>
<br>
If you are happy with your game, it isn't necessary to install a service patch. However if you are experiencing problems it is highly recommended to perform an update. All players that wish to play via LAN or Wormnet must have the same game version installed on both host and client systems for successful connectivity.<br>
<br>&nbsp;<br>
<a name="3.3"></a><b>How do I check the version of the game that I have currently installed?</b><br>
It is quite easy to check what version of the game you are actually running. In order to establish your current revision please perform the following.<br>
- Access the Worms 3D main menu<br>
- Access the options menu<br>
- View the version identification text directly below the schemes menu<br>
- If your version indicates v.1073 then this is the very latest patch release<br>
<br>&nbsp;<br>
<a name="3.4"></a><b>Will downloading and applying a service patch affect my existing game save data?</b><br>
Applying a service patch to your current installation will not inadvertently affect or damage your existing game save data. It is however strongly recommended to perform a backup of your Worms 3D save data file periodically for safekeeping purposes.<br>
<br>&nbsp;<br>
<a name="3.5"></a><b>How do I install a service patch and update the game?</b><br>
You must have an original version of the game installed properly on your system to allow a service patch to update successfully. Installation is simple, after download just access the file and follow basic instructions for the update procedure. An automated search of your computer system for the Worms 3D installation folder will patch the game if it is required.<br>
<br>
Note that if you have modified the game using any non-official third party utilities you may have to reinstall the game prior to adding a service patch. It is recommended to close down all other active applications before updating. Service patches have incorporated copy protections and require the original Worms 3D CD1 after installation to run the game successfully.<br>
<br>&nbsp;<br>
<a name="3.6"></a><b>I wish to uninstall a service patch, how do I achieve this?</b><br>
It is not possible to uninstall service patches. If you wish to regress back to a previous version it is recommended to uninstall the game completely and perform a full game reinstall. <br>
<br>
Please note that it is not recommended to install service patches with the Worms 3D demo present on your system as you may experience problems.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Game Issues</td>
						<td class="darkwords">
<a name="4.1"></a><b>Why do I get a 'Please insert the Worms 3D CD 1' message when attempting to play?</b><br>
Please ensure that you have CD 1 correctly inserted and accessible within your system. If your system has more than one CD-ROM drive installed insert the disc in the other drive and re-run the game. Please note that it will not be possible to run the game with CD 2 inserted. <br>
<br>
Alternatively it may be a possibility that there is a drive incompatibility with the SecuROM disc copy protection utilised by Worms 3D. Please consult the [ <a href="#4.18" title="section on SecuROM compatibility" target="_self" class="navilink">section on SecuROM compatibility</a> ] for further advice if you feel that this may be the cause of your problem. <br>
<br>&nbsp;<br>
<a name="4.2"></a><b>I am trying to play and all I get is a 'VXD' error, why is this happening?</b><br>
If launch problems occur with virtual drivers (VXD's) it may relate to the following. <br>
 - Your primary hard disk (C:) may be low on free space<br>
 - If a device related error occurs you may require a specific driver update <br>
 <br>&nbsp;<br>
<a name="4.3"></a><b>Must I complete all training sections before progressing on to missions?</b><br>
It is possible to play missions without completing the training section. Please remember if you wish to unlock 100% of game items you must complete the training section.<br>
 <br>&nbsp;<br>
<a name="4.4"></a><b>Is it possible to create and input my own individual worm skins/clothes?</b><br>
It is not possible to create and input your own individual worm skins into the game.<br>
 <br>&nbsp;<br>
<a name="4.5"></a><b>Am I able to create and input my own customised gravestones?</b><br>
You are unable to create and input your own customised gravestones into the game.<br>
 <br>&nbsp;<br>
<a name="4.6"></a><b>I want to turn blood effects on just like in the 2D version, is this possible?</b><br>
There is no option to turn on blood effects nor are there any plans to implement such.<br>
<br>&nbsp;<br>
<a name="4.7"></a><b>My start icon is greyed out when playing between rounds, why is this?</b><br>
This is directly related to utilising a pre-rendered landscape for your game as opposed to a randomly generated one. To enable the highlight on the start icon in order to play the next round generate a random landscape and then reselect the custom one. This particular problem will be addressed within a patch update.<br>
<br>&nbsp;<br>
<a name="4.8"></a><b>Is it possible to perform a replay of a shot within the game?</b><br>
Due to the complex nature of Worms 3D engine mechanics and physics coupled with memory requirements, it is not possible to perform a replay of a shot within the game.<br>
<br>&nbsp;<br>
<a name="4.9"></a><b>I am having problems completing missions and challenges, any hints at all?</b><br>
Hints, tips or game walkthrough guides are not within this FAQ as it primarily covers technical information. Please refer to the official Worms 3D web site [ <a href="http://www.worms3d.com" title="www.worms3d.com" target="_self" class="navilink">www.worms3d.com</a> ] or within [ <a href="http://forum.team17.com" title="forum.team17.com" target="_self" class="navilink">forum.team17.com</a> ] for play assistance.<br>
<br>&nbsp;<br>
<a name="4.10"></a><b>I want to unlock more items, are there any cheats available for the game?</b><br>
 I want to unlock more items, are there any cheats available for the game?<br>
 <br>
There are no cheats available for the game and all unlock items must be either earned by completing sections or discovering secrets. Even if there were cheats we wouldn't really want to spoil the game, do you honestly think we'd tell you them?!<br>
<br>&nbsp;<br>
<a name="4.11"></a><b>I wish to create my own landscapes, when will an editor be made available?</b><br>
It is not currently possible to create your own levels other than entering a code within the landscape generator supplied with the game. An external landscape editor is not available at this present time but there may possibly be a release of such sometime in the future. Please refer to the news sections at either [ <a href="http://www.worms3d.com" title="www.worms3d.com" target="_self" class="navilink">www.worms3d.com</a> ] or [ <a href="http://www.startawar.com" title="www.startawar.com" target="_self" class="navilink">www.startawar.com</a> ] for the latest information on updates.<br>
<br>&nbsp;<br>
<a name="4.12"></a><b>Are there any really good landscape generation codes that I may enter?</b><br>
Yes there are but you won't find them here. Please refer to [ <a href="http://forum.team17.com/forumdisplay.php?forumid=65" title="forum.worms3d.com" target="_blank" class="navilink">forum.worms3d.com</a> ] for details of all the most popular submitted landscape codes.<br>
<br>&nbsp;<br>
<a name="4.13"></a><b>I have found a really good random landscape code, may I submit it?</b><br>
Of course you may, all your landscape code submissions are most welcomed. Please refer to [ <a href="http://forum.team17.com/forumdisplay.php?forumid=65" title="forum.worms3d.com" target="_blank" class="navilink">forum.worms3d.com</a> ] on how you may submit your favourite random landscape codes to us. We'll probably even credit you for the weirdest ones that are submitted!<br>
<br>&nbsp;<br>
<a name="4.14"></a><b>Are the landscape codes interchangeable between PC and console versions?</b><br>
It is possible to interchange the random landscape codes between different versions of the game. So, if you have a friend with Worms 3D on another format you can still successfully enter your favourite landscape codes to play on.<br>
<br>&nbsp;<br>
<a name="4.15"></a><b>When I play the game it will crash when FMV is played, how can I solve this?</b><br>
If you have background programs running, there may be conflicts when an FMV sequence is played. It is recommended that you close all other PC programs prior to playing the game.<br>
<br>&nbsp;<br>
<a name="4.16"></a><b>Why is there no bounce option for grenade type weapons?</b><br>
 During the development of the game it was decided that the bounce setting option was unnecessary when playing in 3D and it was subsequently removed. <br>
<br>&nbsp;<br>
<a name="4.17"></a><b>Why don't flames burn down the landscape like in the 2D version?</b><br>
This is due to memory requirements for the Worms 3D environment and it will not be possible for flames to perform this particular function and cause land deformation. Flames also dissipate more quickly than within the 2D version.<br>
<br>&nbsp;<br>
<a name="4.18"></a><b>Why does the game not run when I press play on the game launcher?</b><br>
In severely isolated cases this may be related to an incompatibility with the SecuROM disc protection system that is incorporated within the game. Please note that problems such as these are an extremely rare occurrence as this protection method is the most compatible on the market (with a rate of > 99.9%) offering support for 400+ CD/DVD based devices.<br>
<br>
Remember to ensure that you have exhausted all other methods of support or possible solutions such as updating video, audio and motherboard drivers prior to contacting SonyDADC (producers of SecuROM) directly. Their support representatives will only be able to advise you and ultimately respond to issues that are SecuROM specific. <br>
<br>
SecuROM protected games incorporate an inbuilt program to establish drive compatibility which may be simply launched by following these guidelines.<br>
 - Ensure that the Worms 3D CD 1 is in your local CD/DVD drive<br>
 - Select the worms3d.exe file on the root of CD 1 with the right mouse button<br>
 - Select Launch Analysis within the displayed menu<br>
 - Within the disclaimer window select Yes to proceed and commence analysis<br>
 - A file AnalysisLog.sr0 will be generated within the root of your C:\ drive<br>
 - Zip the file and attach it to an email along with a brief explanation of your problem<br>
 - Send the email directly to SonyDADC at [ <a href="mailto:support@securom.com" title="support@securom.com" target="_self" class="navilink">support@securom.com</a> ]<br>
 - SonyDADC customer support will be able to establish your drive compatibility and respond to your enquiry<br>
<br>&nbsp;<br>
<a name="4.19"></a><b>Why do I get an error after the SEGA logo just as the Team17 logo displays?</b><br>
As audio is initialised when this logo is displayed, this may be directly related to a problem with your sound drivers. It is recommended to perform an update of your sound drivers.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Graphic Issues</td>
						<td class="darkwords">
<a name="5.1"></a><b>I am trying to play and the game returns straight back to the desktop, why?</b><br>
Your video card possibly may not have enough memory. If you attempt to run the game with less than the minimum required amount of video memory (32Mb) you will experience problems. If this is not the case and your device has enough available video memory an update of your video card drivers may be required.<br>
<br>&nbsp;<br>
<a name="5.2"></a><b>When I play the game it stutters and is running very slowly, why is this?</b><br>
If the game runs very slowly this may be related to a number of causes.<br>
 - Your video device is incompatible<br>
 - Your video device or system does not meet minimum requirements<br>
 - A video driver update may be required from your manufacturer<br>
 - In game screen resolution may be set too high affecting performance<br>
 - Screen refresh rate is low and may require increasing within the game launcher <br>
<br>
Firstly check that your video device is compatible and that your system meets the minimum requirements. The next step is to update your video drivers, lower the in game resolution and increase your screen refresh rate accordingly. Remember to check within your manufacturer documentation that your screen display is actually capable of displaying a higher refresh rate.<br>
<br>&nbsp;<br>
<a name="5.3"></a><b>What video chipsets are supported?</b><br>
Support for the following video chipsets has been incorporated and thoroughly tested for compatibility and stability during initial game development.<br>
 - ATI Radeon Series<br>
 - Matrox Parhelia Series<br>
 - NVIDIA GeForce, GeForce2, GeForce3, GeForce4, GeForce FX, nForce1 and 2 Series<br>
<br>&nbsp;<br>
<a name="5.4"></a><b>What video chipsets are unsupported?</b><br>
Whilst some of the following video chipsets may work they have not been thoroughly tested during game development so we therefore cannot guarantee 100% compatibility.<br>
 - 3Dfx Voodoo Series<br>
 - 3Dlabs Permedia, Oxygen and Wildcat Series<br>
 - ATI Rage, Mobility and FireGL Series<br>
 - Cirrus Logic CL Series<br>
 - Intel integrated and I Series<br>
 - Matrox G Series<br>
 - NVIDIA TNT, TNT2, GeForce Go, GeForce4 Go, GeForce FX Go, nForce3, nForce3 Go, Quadro, Quadro4, Quadro FX and Quadro FX Go Series<br>
 - PowerVR KYRO I and II Series<br>
 - Rendition V Series<br>
 - S3 Savage and Virge Series<br>
 - SiS integrated and Xabre Series<br>
 - Trident Blade and Cyberblade Series<br>
<br>&nbsp;<br>
<a name="5.5"></a><b>How do I utilise extra features on my display device such as pixel shaders?</b><br>
The game does not have any extra effects or detail options that are modifiable and all are enabled automatically. If you experience performance problems such as poor frame rate it is recommended to reduce your display resolution within the launcher program prior to play.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Sound Issues</td>
						<td class="darkwords">
<a name="6.1"></a><b>The sound seems distorted when playing, why is this happening?</b><br>
You may have reverb set to ON within your sound card settings, this may cause problems. <br>
 - To disable the reverb option access Mixer or Volume in the system sound menu<br>
 - Click WaveSynth or Synth section <br>
 - Ensure that Reverb MUTE or Reverb OFF function is selected <br>
<br>
Alternatively this could be related to poorly set bass and treble options. <br>
 - To disable these options access Mixer or Volume within your system sound menu<br>
 - Click Bass and / or Treble section <br>
 - Ensure that settings are at a similar level or set to personal preference<br>
<br>
If the aforementioned fails to alleviate your problem or you do not have the options available then it might be sound driver related and an update may be required.<br>
 <br>&nbsp;<br>
<a name="6.2"></a><b>Is it possible to use my own background audio tracks within the game?</b><br>
It is not possible to insert your own audio tracks into the game.  <br>
 <br>&nbsp;<br>
<a name="6.3"></a><b>I want to use my own Worm voice speech samples, how do I achieve this?</b><br>
It is not possible to insert your own Worm voice speech samples into the game but this may be addressed in a future release update.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Control Issues</td>
						<td class="darkwords">
<a name="7.1"></a><b>I wish to change my keyboard and mouse configuration, how do I achieve this?</b><br>
It is not possible to alter keyboard and mouse configuration within Worms 3D. The layout has been optimised so that all players on a single system are able to access the more familiar keys easily. The control layout has been established from continuous feedback given during initial game development.<br>
<br>&nbsp;<br>
<a name="7.2"></a><b>There is an option to use a 16 button PC joypad, how may I achieve this?</b><br>
The best method in order to utilise a 16 button PC joypad for the game is to purchase one of the many commercially available Sony PlayStation Dual Shock pad adapters for your computer. The aforementioned feature was included during the development stages primarily for the testing of pad configurations for console versions of the game. It has been retained as an option for gamers who prefer this control method as an alternative to a mouse / keyboard.<br>
<br>&nbsp;<br>
<a name="7.3"></a><b>Why can't I move around the landscape in FPS view?</b><br>
It is not possible to move in FPS (first person) view as this mode is designed and primarily used for general spotting and targeting only.  <br>
<br>&nbsp;<br>
<a name="7.4"></a><b>Using my mouse feels unresponsive, what could be the cause of this?</b><br>
Refer to your mouse profiling software as you may have to increase the movement sensitivity level setting as it may possibly be defaulted to a low value.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Wormnet/Network Issues</td>
						<td class="darkwords">
<a name="8.1"></a><b>I can't seem to play on the Internet through a firewall, what is the problem?</b><br>
You will not be able to play via the Internet if you cannot open access through a firewall as they are designed to protect a system and will prevent game data transfer. Please contact your network administrator or ISP and refer to [ <a href="#8.4" title="revised port information." target="_self" class="navilink">revised port information.</a> ] within this document.<br>
 <br>&nbsp;<br>
<a name="8.2"></a><b>I can see other games on the network but can't connect, what is wrong?</b><br>
Differing Worms 3D versions aren't fully compatible; the server will identify other games that have the same version of the game as you. Games that are utilising a different version will be shown in a different colour. It is essential that all intended participants are using the most up to date version of the game to ensure a successful level of connectivity.<br>
 - White game name : Same game version<br>
 - Red game name : Different game version<br>
 - Grey game name : Connection prevention (such as firewall detection)<br>
 <br>&nbsp;<br>
<a name="8.3"></a><b>I wish to play via a direct or null modem connection, is it possible to do this?</b><br>
There is no support for either direct modem or null modem play. Worms 3D can either be played on a single system (a Hot seat game), over a LAN or via Wormnet. <br>
 <br>&nbsp;<br>
<a name="8.4"></a><b>What is the revised port information for Internet connections and firewalls?</b><br>
To ensure successful Internet usage the following port information is provided.<br>
 - In game : TCP : 5911<br>
 - Front end : UDP : 5911<br>
 - GS IRC : TCP : 6667<br>
 - GS Search Manager : TCP : 29901<br>
 - GS Custom Ping : UDP : 13139<br>
 - GS List Request : TCP : 28900<br>
 - GS Incoming : UDP : 6500<br>
 - GS Heart Beat : UDP : 27900<br>
 - GS Connect Manager : TCP : 29900<br>
 - Outgoing only: HTTP : TCP : 80<br>
 <br>&nbsp;<br>
<a name="8.5"></a><b>Is it possible to move the blimp camera whilst another player has their turn?</b><br>
Yes it is possible to control blimp camera movement whilst another player is taking their turn in a network game. This allows you to plan strategies for your upcoming turns, get a continuous landscape overview and above all miss none of the action!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Console Issues</td>
						<td class="darkwords">
<a name="9.2"></a><b>How do I alter the worm status information within the game?</b><br>
If you wish to alter the display of worm status information within the game this is achieved by pressing the SELECT button.<br>
<br>&nbsp;<br>
<a name="9.3"></a><b>I wish to select between worms in a given team, how do I do this?</b><br>
If you wish to choose and switch between worms in a given team this is achieved by pressing the triangle button.<br>
<br>&nbsp;<br>
<a name="9.1"></a><b>Will I be able to play Worms 3D with a PlayStation2 online adapter?</b><br>
It will not be possible to play on the Internet with a PlayStation2 online adapter.<br>
<br>&nbsp;<br>
<a name="9.4"></a><b>Will I be able to play Worms 3D via Xbox Live?</b><br>
In the E.U. it will not be possible to play via Xbox Live. An Xbox Live enabled version is in development for release in the U.S.<br>
<br>&nbsp;<br>
<a name="9.5"></a><b>Will I be able to play Worms 3D with a GameCube online adapter?</b><br>
It will not be possible to play on the Internet with a GameCube online adapter.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Manual Errata</td>
						<td class="darkwords">
Because of the continuous changes and improvements made during the latter stages of Worms 3D development the following points within this section are erroneous for the E.U. versions of the printed game manual documentation. Please note that these listed instances may also exhibit the same errors within localised versions of the printed manual contents.<br>
<br>&nbsp;<br>
<a name="10.1"></a><b>PC CD-ROM Manual</b><br>
Page 2<br>
 - States to insert the Worms 3D CD into the CD-ROM drive but it requires CD 1<br>
 - States that the install size is changeable by the user but it is not<br>
Page 5<br>
 - States keys 1-5 control grenade bounce settings but these are for selecting fuse time<br>
 - States weapon select shortcuts (if planned), these are implemented for final release<br>
 - States worm select (when planned), this is implemented in the final release<br>
 - States incorrectly that cursor keys can adjust trajectory and fine rotate in blimp mode<br>
 - States incorrectly that the return key can allow jumping in blimp mode<br>
 - States incorrectly that the R key accesses blimp mode when it is the E key<br>
Page 11<br>
 - States air strike is controlled via camera keys but it is now mouse controlled<br>
Page 15<br>
 - States press fire to open rotational keys and is referring to open parachute<br>
 - States blimp mode is controlled via camera keys but it is now mouse controlled<br>
Page 18/19<br>
 - States that screen image point 7 is select CPU / human but it is for create new team<br>
Page 22<br>
 - Screen image for team menu is incorrect as this has now been updated<br>
Page 23<br>
 - Wormpot reel features do not match descriptions<br>
 - States nonexistent low gravity option in example reel 2<br>
 - Wormpot screen image is incorrect as this has now been updated<br>
Page 29<br>
 - States nonexistent centre screen option (use Windows display properties)<br>
 - States nonexistent mono/stereo option (use Windows audio properties)<br>
 - States nonexistent invert Y axis option (use Worms 3D launcher advanced options)<br>
 - States nonexistent vibration on or off option (for console versions only)<br>
Page 40<br>
 - States to insert the Worms 3D CD into the CD-ROM drive but it requires CD 1<br>
 - States ping values are displayed for all connected players but they are not<br>
Page 41<br>
 - States that the ready icon is at the top of the screen when it is located at the bottom<br>
Page 43<br>
 - States Brian Fitzpatrick as lead test credit and should be credited to Andy Aveyard<br>
 <br>&nbsp;<br>
<a name="10.2"></a><b>PC CD-ROM Readme</b><br>
Master Control Reference<br>
 - Blimp and FPS camera mode Q and E keys transposed <br>
 <br>&nbsp;<br>
<a name="10.3"></a><b>PlayStation2 Manual</b><br>
Page 18/19<br>
 - States that screen image point 7 is select CPU / human but it is for create new team<br>
Page 23<br>
 - Wormpot reel features do not match descriptions<br>
 - States nonexistent low gravity option in example reel 2<br>
 - Wormpot screen image is incorrect as this has now been updated<br>
Page 26<br>
 - Incorrect health in crates option definition (it is for defining health amount in crates)<br>
Page 29<br>
 - States nonexistent mono/stereo/surround option <br>
 - States nonexistent invert Y axis option <br>
 <br>&nbsp;<br>
<a name="10.4"></a><b>Xbox Manual</b><br>
Page 3<br>
 - States that it is possible to insert and utilise up to 4 controllers but it is not<br>
Page 7<br>
 - States 1st person view is activated pressing right thumbstick but it is right trigger<br>
 - States blimp view is activated pressing left thumbstick but it is left trigger<br>
Page 15<br>
 - States girder size is B button and it is actually the Y button (B button cancels)<br>
 - States secondary fire is triangle button and it is actually the Y button<br>
Page 18/19<br>
 - States that screen image point 7 is select CPU / human but it is for create new team<br>
Page 22<br>
 - Screen image for team menu is incorrect as this has now been updated<br>
Page 23<br>
 - Wormpot reel features do not match descriptions<br>
 - States nonexistent low gravity option in example reel 2<br>
 - Wormpot screen image is incorrect as this has now been updated<br>
Page 29<br>
 - States nonexistent centre screen option <br>
 - States nonexistent invert Y axis option<br>
<br>
 <br>&nbsp;<br>
<a name="10.5"></a><b>GameCube Manual</b><br>
Page 2<br>
 - States that it is possible to insert and utilise up to 4 controllers but it is not<br>
Page 3<br>
 - States that language is automatically selected when it should be manually selected<br>
Page 4<br>
 - States move worm is left analog and is actually the control stick<br>
 - States setup a shot is directional button / d-pad and is actually the +control pad<br>
Page 6<br>
 - States move worm is left analog and is actually the control stick<br>
 - States rotate worm / weapon trajectory is directional button but is really +control pad<br>
Page 7<br>
 - States camera movement is right analog stick and is actually the C stick<br>
Page 9<br>
 - States nonexistent worm status toggle option (due to insufficient amount of controller buttons available)<br>
Page 11<br>
 - States move air strike crosshair is left analog stick and is actually the control stick<br>
Page 15<br>
 - States girder adjust height is trigger buttons and is actually L button and R button<br>
Page 18/19<br>
 - States that screen image point 7 is select CPU / human but it is for create new team<br>
Page 22<br>
 - Screen image for team menu is incorrect as this has now been updated<br>
Page 23<br>
 - Wormpot reel features do not match descriptions<br>
 - States nonexistent low gravity option in example reel 2<br>
 - Wormpot screen image is incorrect as this has now been updated<br>
Page 29<br>
 - States nonexistent centre screen option (use GameCube internal setup)<br>
 - States nonexistent invert Y axis option<br>
Page 35<br>
 - States Brian Fitzpatrick as lead test credit and should be credited to Jackson Li<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Miscellaneous</td>
						<td class="darkwords">
<a name="11.1"></a><b>What are the support email and contact telephone numbers for the E.U.?</b><br>
The support email and contact telephone numbers for the E.U. distributors (SEGA Europe) are listed below.<br>
UK<br>
 - Local Rate 0845 609 0090<br>
Germany<br>
 - Local Rate 0180 3000 410<br>
Spain<br>
 - Local Rate 902 20 23 24 <br>
 - Premium Rate 906 30 33 34<br>
<font class="lightwords">Calls charged at 0.44 EUR per minute (peak), 0.38 EUR per minute (off-peak)</font><br>
France<br>
 - Local Rate 0820 376158<br>
Italy<br>
 - International Rate 0044 1412721113<br>
Ireland <br>
 - Local Rate 189092555<br>
Austria<br>
 - Free phone number 0800 0808 555<br>
Belgium<br>
 - International number 0909 734 2669<br>
<font class="lightwords">Calls charged at 1.12 EUR per minute</font><br>
Holland<br>
 - Premium Rate 0909 734 2669<br>
<font class="lightwords">Calls charged at 0.68 EUR per minute</font><br>
Portugal<br>
 - Premium Rate 601 800 877 <br>
Switzerland<br>
 - Premium Rate 0900 105 805<br>
<font class="lightwords">Calls charged at 2.50 CHF per minute</font><br>
Sweden<br>
 - International Rate 0044 141 272 1317<br>
Finland<br>
 - International Rate 0600 11 2 33<br>
<font class="lightwords">Calls charged at 6.95 FIM + LNT per minute</font><br>
Email<br>
 - [ <a href="mailto:info@segahelp.com" title="info@segahelp.com" target="_self" class="navilink">info@segahelp.com</a> ]<br>
<br>&nbsp;<br>
<a name="11.2"></a><b>What are the support contact telephone numbers for AUS / N.Z.?</b><br>
The support contact telephone numbers for the AUS / N.Z. distributors (Atari) are listed below.<br>
Australia<br>
 - 1902 262 626<br>
<font class="lightwords">Calls charged at $2.48 + GST per minute. Higher rates apply to pay phones and mobile phones. Prices subject to change without notice. Kids ask parents first.</font><br>
New Zealand<br>
 - 0900 54263<br>
<font class="lightwords">Calls charged at $1.99 + GST per minute. Prices subject to change without notice. Kids ask parents first.</font><br>
<br>&nbsp;<br>
<a name="11.3"></a><b>Useful URL's</b><br>
Worms 3D Official Site <br>
 - [ <a href="http://www.worms3d.com" title="http://www.worms3d.com" target="_self" class="navilink">http://www.worms3d.com</a> ]&nbsp;<br>
SEGA's Worms 3D Site <br>
 - [ <a href="http://www.startawar.com" title="http://www.startawar.com" target="_self" class="navilink">http://www.startawar.com</a> ]&nbsp;<br>&nbsp;<br>

						</td>
					</tr>
						</td>
				</table>
				</td></tr></table><br>
			<!-- SUPPORT | faqs | official faqs -->				
			<!-- /CRON -->
{%- endblock %}

{% block right %}
{%- endblock %}
