---
title: Forum
layout: page
struct:
  - supp
  - foru
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- SUPPORT | forums | announcements latest -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">forums</font> | announcements latest ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="33" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="16"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">October</td>
						<td class="lightwords">6</td>
						<td class="darktext"><b><a href="http://forum.team17.com/showthread.php?threadid=30619" title="Moving On (43 days ago)" target="_self" class="navilink"><b>Moving On</b></a></b><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="darkwords" colspan="3">
It’s come the time when I’ve decided to move on from Team17. :( Friday 6th October will be my final day.<br>
<br>
I’ve been here for over 3 years now and had a great time! I hope everyone has enjoyed the websites I’ve created and my work on the Forum.<br>
<br>
If you experience any problems with the forum then please get in touch with the User Mods (thomasp, AndrewTaylor), who will forward them on accordingly.<br>
<br>
The Team17 forum and community is one of the best around, and I’ll miss being a part of it day to day. I shall still be bobbing in occasionally, so you will see me around now and again! :D <br>
<br>
Thanks, Sel<br>&nbsp;<br>

[ <a href="http://forum.team17.com/member.php?action=getinfo&userid=8885" title="Click Here to See the Profile for Sel" target="_blank" class="navilink">Sel</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="darkwords" colspan="3">
Well that’s it for me! <br>
<br>
Thanks to all for your kind comments on the forum.<br>
<br>
As I say, its been a pleasure to be part of the community here and I’ll sure be bobbing in now and again to say Hi!<br>
<br>
Thanks again, Sel<br>&nbsp;<br>

[ <a href="http://forum.team17.com/member.php?action=getinfo&userid=8885" title="Click Here to See the Profile for Sel" target="_blank" class="navilink">Sel</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | forums | announcements latest -->
			
			<!-- SUPPORT | forums | general -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">forums</font> | general ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="18" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="8"></td>
						<td width="15" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="7"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">November</td>
						<td class="lightwords">17</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30591" title="Weird problem with game (1 day ago)" target="_blank" class="navilink">Weird problem with game</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">16</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30822" title="Error..? (2 days ago)" target="_blank" class="navilink">Error..?</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30943" title="Question about campaign (9 days ago)" target="_blank" class="navilink">Question about campaign</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">8</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28562" title="Video Card? (10 days ago)" target="_blank" class="navilink">Video Card?</a> ]<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=29654" title="New Maps (10 days ago)" target="_blank" class="navilink">New Maps</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">3</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=29888" title="The quest for Full Wormage (15 days ago)" target="_blank" class="navilink">The quest for Full Wormage</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">October</td>
						<td class="lightwords">24</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30661" title="My version is .439, does this means I have to patch the game? (25 days ago)" target="_blank" class="navilink">My version is .439, does this means I h...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">18</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30744" title="Problems with campaigns - impossible to finish (31 days ago)" target="_blank" class="navilink">Problems with campaigns - impossible to...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">3</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30565" title="worms 3d review (46 days ago)" target="_blank" class="navilink">worms 3d review</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">September</td>
						<td class="lightwords">22</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=29542" title="Wont start &gt;_&lt; (57 days ago)" target="_blank" class="navilink">Wont start >_<</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">16</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=12909" title="Webkit.... (63 days ago)" target="_blank" class="navilink">Webkit....</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">9</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28229" title="All Weapons in Worms 3d (70 days ago)" target="_blank" class="navilink">All Weapons in Worms 3d</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30370" title="Worms3D voices explained (74 days ago)" target="_blank" class="navilink">Worms3D voices explained</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">August</td>
						<td class="lightwords">21</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30254" title="Ugh (89 days ago)" target="_blank" class="navilink">Ugh</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">20</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30102" title="PS2 save for someone finding single player abhorrent? (90 days ago)" target="_blank" class="navilink">PS2 save for someone finding single pla...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="bottom">
						<td></td>
						<td></td>
						<td class="lighttext">*</td>
						<td class="darktext"><b>hot post</b> (30+ replies/300+ views)</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | forums | general -->

			<!-- SUPPORT | forums | game tech support -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">forums</font> | game tech support ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="18" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="8"></td>
						<td width="15" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="7"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">October</td>
						<td class="lightwords">27</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=13269" title="Problems with starting Worms 3D (read inside!) (22 days ago)" target="_blank" class="navilink">Problems with starting Worms 3D (read i...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">10</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=22762" title="help me! (39 days ago)" target="_blank" class="navilink">help me!</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">8</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30680" title="ploblem with worms3d control (41 days ago)" target="_blank" class="navilink">ploblem with worms3d control</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">August</td>
						<td class="lightwords">9</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=14472" title="Solution to Our Online Problems! (101 days ago)" target="_blank" class="navilink">Solution to Our Online Problems!</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">July</td>
						<td class="lightwords">1</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28785" title="Error with the Service Patch 2 and movies (140 days ago)" target="_blank" class="navilink">Error with the Service Patch 2 and movies</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">February</td>
						<td class="lightwords">11</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=27977" title="Mouse inverted axis (280 days ago)" target="_blank" class="navilink">Mouse inverted axis</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">1</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=27902" title="How to reverse mouse on XBOX (290 days ago)" target="_blank" class="navilink">How to reverse mouse on XBOX</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">December</td>
						<td class="lightwords">29</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=27482" title="i need a cd crack (324 days ago)" target="_blank" class="navilink">i need a cd crack</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">5</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=27194" title="Worms 3d for xbox (348 days ago)" target="_blank" class="navilink">Worms 3d for xbox</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=15146" title="can't select team (349 days ago)" target="_blank" class="navilink">can't select team</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="bottom">
						<td></td>
						<td></td>
						<td class="lighttext">*</td>
						<td class="darktext"><b>hot post</b> (30+ replies/300+ views)</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | forums | game tech support -->

			<!-- SUPPORT | forums | demo tech support -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">forums</font> | demo tech support ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="18" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="8"></td>
						<td width="15" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="7"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">May</td>
						<td class="lightwords">10</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=13052" title="FAQ Frequently asked questions. Recommended read (192 days ago)" target="_blank" class="navilink">FAQ Frequently asked questions. Recomme...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">March</td>
						<td class="lightwords">22</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28541" title="HELP i got a glitch (241 days ago)" target="_blank" class="navilink">HELP i got a glitch</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">December</td>
						<td class="lightwords">15</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=21410" title="Help - I Can't Run The Demo! (703 days ago)" target="_blank" class="navilink">Help - I Can't Run The Demo!</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">September</td>
						<td class="lightwords">2</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=16975" title="Frequent little hangs (&quot;me too..&quot;) (807 days ago)" target="_blank" class="navilink">Frequent little hangs ("me too..")</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">August</td>
						<td class="lightwords">16</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=16990" title="&quot; d3d9.dll &quot; (824 days ago)" target="_blank" class="navilink">" d3d9.dll "</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="bottom">
						<td></td>
						<td></td>
						<td class="lighttext">*</td>
						<td class="darktext"><b>hot post</b> (30+ replies/300+ views)</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | forums | demo tech support -->
			<!-- /CRON -->
{%- endblock %}

{% block right %}
			<!-- CRON -->
			<!-- SUPPORT | forums -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td align="right"><img src="images/supp/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="http://forum.team17.com/forumdisplay.php?forumid=65" target="_blank" class="whitelink"><b>Missions / Schemes latest</b></a><br>&nbsp;<br>

[ <a href="http://forum.team17.com/showthread.php?threadid=18865" title="Star Worm's mission guides. (4 days ago)" target="_blank" class="navilink">Star Worm's mis...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=30883" title="Cool map codes 2 (10 days ago)" target="_blank" class="navilink">Cool map codes 2</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=29801" title="Alien Juice Suckers - Help (127 days ago)" target="_blank" class="navilink">Alien Juice Suc...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=29816" title="Kinda weird, though. (127 days ago)" target="_blank" class="navilink">Kinda weird, th...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=29526" title="What's the standard for unlocking levels? (127 days ago)" target="_blank" class="navilink">What's the stan...</a> ]<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="http://forum.team17.com/forumdisplay.php?forumid=66" target="_blank" class="whitelink"><b>Records / Scores latest</b></a><br>&nbsp;<br>

[ <a href="http://forum.team17.com/showthread.php?threadid=14834" title="Whats the highest damage youve done from a fall?? (160 days ago)" target="_blank" class="navilink">Whats the highe...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=16248" title="Your Jetpack challenge 3 records! (160 days ago)" target="_blank" class="navilink">Your Jetpack ch...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=15614" title="what is your team called ? (179 days ago)" target="_blank" class="navilink">what is your te...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=28930" title="How to get the gold? (215 days ago)" target="_blank" class="navilink">How to get the ...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=27115" title="There's no Hints for Worms 3D? (355 days ago)" target="_blank" class="navilink">There's no Hint...</a> ]<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<a href="http://forum.team17.com/forumdisplay.php?forumid=57" target="_blank" class="whitelink"><b>Strategy / Weapons latest</b></a><br>&nbsp;<br>

[ <a href="http://forum.team17.com/showthread.php?threadid=26236" title="strange weapon (34 days ago)" target="_blank" class="navilink">strange weapon</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=30732" title="gun sighting (36 days ago)" target="_blank" class="navilink">gun sighting</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=22862" title="make up a weapon for  W3D (69 days ago)" target="_blank" class="navilink">make up a weapo...</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=28953" title="Bazooka aiming? (170 days ago)" target="_blank" class="navilink">Bazooka aiming?</a> ]<br>
[ <a href="http://forum.team17.com/showthread.php?threadid=29331" title="Um help again? (176 days ago)" target="_blank" class="navilink">Um help again?</a> ]<br>
						</td>
					</tr>
				</table><br>
			<!-- SUPPORT | forums -->
			<!-- /CRON -->
{%- endblock %}
