---
title: Patch
layout: page
struct:
  - supp
  - patc
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- SUPPORT | patch | v.1073 --><a name="1073"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">patch</font> | v.1073 ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">patch v.1073</td>
						<td class="darktext">
Service patch 2 is now available for download. The service patch installation will automatically 
upgrade your version of Worms 3D to v.1073.<br>&nbsp;<br>

It is essential to upgrade your copy of Worms 3D  for successful synchronisation with the U.S. 
release version.<br>&nbsp;<br>

There are a number of feature additions and fix amendments for service patch 2, 
all of which can be found in the downloadable readme (right).<br>&nbsp;<br>

Due to a massive response, we will be adding alternative download locations as soon as we have 
them, so bookmark and return if you are having problems downloading the patch successfully from a 
particular source.<br>&nbsp;<br>

Choose a mirror on the right to download the latest service patch for Worms 3D!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">forum</td>
						<td class="darkwords">
[ <a href="supp/faqs#3.1" target="_self" class="navilink">read patch FAQs here</a> ]<br>&nbsp;<br>
[ <a href="http://forum.team17.com/showthread.php?t=16981" target="_blank" class="navilink">discuss patch here</a> ]<br>&nbsp;<br>
[ <a href="http://forum.team17.com/forumdisplay.php?forumid=64" target="_blank" class="navilink">report patch problems here</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
				
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">important</td>
						<td class="darkwords">
This software patch is for E.U. / AUS versions of the game only.<br>&nbsp;<br>

It is also highly recommended to backup any previously established save game
files prior to any game patch installation.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">readme<br>introduction</td>
						<td class="darkwords">
The readme outlines software installation procedures and program content additions
for general improvements and bug fixes within Worms 3D service patch 2. Click on the
link (right) to download.<br>&nbsp;<br>

We would like to thank all Worms 3D customers and community members for their
assistance and submitted feedback via the forums / alternative support channels
to improve the content that has been provided within this release.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | patch | v.1073 -->
			
			<!-- SUPPORT | patch | v.1053 --><a name="1053"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">patch</font> | v.1053 ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">patch v.1053</td>
						<td class="darktext">
Service patch 1 for Worms 3D is now available to help improve your gaming experience!
It is essential to upgrade your copy of Worms 3D from v.1003 to v.1053 for successful
on-line play.<br>&nbsp;<br>
						
It is essential to upgrade your copy of Worms 3D from v.1003 to v.1053 for successful
on-line play.<br>&nbsp;<br>

The service patch installation will automatically upgrade your version of Worms 3D
from v.1003 to v.1053. The patch includes Game feature additions, Game fix
amendments, Network feature additions and Network fix amendments.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">forum</td>
						<td class="darkwords">
[ <a href="supp/faqs#3.1" target="_self" class="navilink">read patch FAQs here</a> ]<br>&nbsp;<br>						
[ <a href="http://forum.team17.com/showthread.php?threadid=14270" target="_blank" class="navilink">discuss patch here</a> ]<br>&nbsp;<br>
[ <a href="http://forum.team17.com/forumdisplay.php?forumid=64" target="_blank" class="navilink">report patch problems here</a> ]<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
				
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">important</td>
						<td class="darkwords">
This software patch is for E.U. / AUS versions of the game only.<br>&nbsp;<br>

It is also highly recommended to backup any previously established save game
files prior to any game patch installation.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">readme<br>introduction</td>
						<td class="darkwords">
The readme outlines software installation procedures and program content additions
for general improvements and bug fixes within Worms 3D service patch 1. Click on the
link (right) to download.<br>&nbsp;<br>

We would like to thank all Worms 3D customers and community members for their
assistance and submitted feedback via the forums / alternative support channels
to improve the content that has been provided within this release.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | patch | v.1053 -->
{%- endblock %}

{% block right %}
			<!-- SUPPORT | patch v.1073 -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/supp/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Patch v.1073</b><br>&nbsp;<br>
<img src="images/supp/patc_1073.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>


54MB .exe<br>&nbsp;<br>

Mirrors<br>
[ <a href="http://www.dailyrush.dk/files/patches/736" target="_blank" class="navilink">Daily Rush</a> ]<br>
[ <a href="http://gamershell.com/news_bWorms3DbServicePatch2.shtml" target="_blank" class="navilink">Gamershell</a> ]<br>
[ <a href="http://www.worthplaying.com/article.php?sid=16554" target="_blank" class="navilink">Worth playing</a> ]<br>
[ <a href="http://www.3dgamers.com/games/worms3/" target="_blank" class="navilink">3D Gamers</a> ]<br>
[ <a href="http://www.downloads.jolt.co.uk/index.php?page=download.php&action=filenotes&id=2334" target="_blank" class="navilink">Jolt</a> ]<br>
[ <a href="http://www.computergames.ro/download.php/optiune-show_download/did-2973/index.html" target="_blank" class="navilink">Computer Games</a> ]<br>
[ <a href="http://www.gamecenter.cz/default.gcs?file_id=4370" target="_blank" class="navilink">GameCenter</a> ]<br>
[ <a href="http://www.gbase.ch/index.asp?target=patches_pc&id=13217" target="_blank" class="navilink">GBase</a> ]<br>
[ <a href="http://mirror.playzen.net/worms3d/patches/Worms3DServicePatch2.exe" target="_blank" class="navilink">PlayZen</a> ]<br>
[ <a href="http://www.dream17.co.uk/Worms3DServicePatch2.zip" target="_blank" class="navilink">Dream17</a> ]<br>
						</td>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>click-through</b> and<br>
follow the download<br>
instructions given<br>&nbsp;<br>
Double-click to run.<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Readme v.1073</b><br>&nbsp;<br>

10.8KB .rtf<br>&nbsp;<br>

[ <a href="readme/Worms3DServicePatch2_readme.rtf" target="_blank" class="navilink">Team17</a> ]<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
View using<br>Microsoft Word or similar.<br>
						</td>
					</tr>
				</table><br>
			<!-- /SUPPORT | patch v.1073 -->
			
			<!-- SUPPORT | patch v.1053 -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Patch v.1053</b><br>&nbsp;<br>
<img src="images/supp/patc.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>

54MB .exe<br>&nbsp;<br>

Mirrors<br>
[ <a href="http://www.downloads.jolt.co.uk/index.php?page=download.php&action=filenotes&id=1657" target="_blank" class="navilink">Jolt</a> ]<br>
[ <a href="http://www.gamestar.hu/downloads.php3?op=visit&lid=2669" target="_blank" class="navilink">GameStar</a> ]<br>
[ <a href="http://www.worthplaying.com/article.php?sid=14587" target="_blank" class="navilink">Worth playing</a> ]<br>
[ <a href="http://www.computergames.ro/download.php?optiune=show_download&did=2436" target="_blank" class="navilink">Computer Games</a> ]<br>
[ <a href="http://download.boomtown.net/en_uk/pacth_updates/updates_3d/worms3d_service_patch1" target="_blank" class="navilink">Boomtown</a> ]<br>
[ <a href="http://www.gbase.ch/index.asp?zone=pc&target=patches&id=13076" target="_blank" class="navilink">GBase</a> ]<br>
						</td>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>click-through</b> and<br>
follow the download<br>
instructions given<br>&nbsp;<br>
Double-click to run.<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Readme v.1053</b><br>&nbsp;<br>

46.3KB .rtf<br>&nbsp;<br>

[ <a href="readme/Worms3DServicePatch1_readme.rtf" target="_blank" class="navilink">Team17</a> ]<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
View using<br>Microsoft Word or similar.<br>
						</td>
					</tr>
				</table>
			<!-- /SUPPORT | patch v.1053 -->
{%- endblock %}
