---
title: Welcome
layout: page
struct:
  - supp
  - welc
textimage: supp
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- support | welcome -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <font class="selected">support</font> | <font class="selected">welcome</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Help &amp; support</td>
						<td class="darktext">
These sections cover everything technical related. Having a problem
with Worms 3D? Here's the place to look!
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /support | welcome -->

			 <!-- SUPPORT | faqs -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="supp/faqs" target="_self"><img src="images/supp/welc_faqs.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">support</font> | <a href="supp/faqs" target="_self" class="navilink">faqs</a> ] 18/11/06</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="supp/faqs" target="_self" class="whitelink"><b>W3D Frequently Asked Questions</b></a><br>
Click here for the answers to the questions you are asking most often!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | faqs -->
			 
			 <!-- SUPPORT | patch -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="supp/patc" target="_self"><img src="images/supp/welc_patc_1073.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">support</font> | <a href="supp/patc" target="_self" class="navilink">patch</a> ] 09/03/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="supp/patc" target="_self" class="whitelink"><b>W3D service patch 2</b></a><br>
Click here for the W3D v.1073 service patch!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /SUPPORT | patch -->
			 
			<!-- SUPPORT | forums -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="supp/foru" target="_self"><img src="images/supp/welc_foru.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">support</font> | <a href="supp/foru" target="_self" class="navilink">forums</a> ] 14/11/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="supp/foru" target="_self" class="whitelink"><b>W3D forums</b></a><br>
Click here to have you say, or have your questions answered by Team17 staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- SUPPORT | forums -->
{%- endblock %}
