---
title: WormNET 3D
layout: page
struct:
  - supp
  - worm
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- CRON -->
			<!-- SUPPORT | wormNET 3D | MOTD -->
				<table width="407" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">wormNET 3D</font> | MOTD ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Message of<br>the day</td>
						<td class="darktext">
Welcome to Wormnet for Worms 3D.
<br>
<br>
A Service Patch for Worms 3D is now available from <br>
[ <a href="http://www.worms3d.com/patch.html" class="navilink">http://www.worms3d.com/patch.html</a> ]<br>
 to help improve your gaming experience! It is essential to upgrade your copy of Worms 3D from v.1003 to v.1073 for successful on-line play.
<br>
<br>
For the very latest information on Worms3D please visit <br>
[ <a href="http://www.worms3d.com" class="navilink">http://www.worms3d.com</a> ]<br>
 or discuss the game on the official forum <br>
[ <a href="http://forum.team17.com" class="navilink">http://forum.team17.com</a> ]<br>
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>

			<!-- /SUPPORT | wormNET 3D | MOTD -->
			
			<!-- SUPPORT | wormNET 3D | forum -->
				<table width="407" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="supp" target="_self" class="whitelink">support</a> | <font class="selected">wormNET 3D</font> | forum ]</td>
					</tr>
					<tr>
						<td width="66" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="32"></td>
						<td width="18" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="8"></td>
						<td width="15" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="7"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">November</td>
						<td class="lightwords">18</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=31026" title="I can`t move in wormnet (4 hours ago)" target="_blank" class="navilink">I can`t move in wormnet</a> ]<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=31020" title="New Ps3 At Just $160 Usd (9 hours ago)" target="_blank" class="navilink">New Ps3 At Just $160 Usd</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">October</td>
						<td class="lightwords">16</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=30738" title="no se jugar (33 days ago)" target="_blank" class="navilink">no se jugar</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">July</td>
						<td class="lightwords">10</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=29785" title="Find Pro-players of WORMS3D NET (131 days ago)" target="_blank" class="navilink">Find Pro-players of WORMS3D NET</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">4</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28423" title="Help me ! theres a problem theres no one on wormnet please help (137 days ago)" target="_blank" class="navilink">Help me ! theres a problem theres no on...</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">March</td>
						<td class="lightwords">13</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=28431" title="Multiplayer turmoil . (250 days ago)" target="_blank" class="navilink">Multiplayer turmoil .</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">8</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=20938" title="Gamespy problems (255 days ago)" target="_blank" class="navilink">Gamespy problems</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">February</td>
						<td class="lightwords">10</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=21370" title="Cannot Connect to Gamespy Server (281 days ago)" target="_blank" class="navilink">Cannot Connect to Gamespy Server</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">December</td>
						<td class="lightwords">12</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=27293" title="Ranking (341 days ago)" target="_blank" class="navilink">Ranking</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">September</td>
						<td class="lightwords">27</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=24100" title="I cant chat in wormnet (417 days ago)" target="_blank" class="navilink">I cant chat in wormnet</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">&nbsp;</td>
						<td class="lightwords">15</td>
						<td class="lightwords"></td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=26057" title="how can i set my ports? (429 days ago)" target="_blank" class="navilink">how can i set my ports?</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">July</td>
						<td class="lightwords">12</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=19925" title="Wormnet is horrible. (494 days ago)" target="_blank" class="navilink">Wormnet is horrible.</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">June</td>
						<td class="lightwords">23</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=24241" title="How come.. (513 days ago)" target="_blank" class="navilink">How come..</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">February</td>
						<td class="lightwords">27</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=22394" title="No turn-end valitation error ??? (629 days ago)" target="_blank" class="navilink">No turn-end valitation error ???</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="top">
						<td class="lightwords">January</td>
						<td class="lightwords">29</td>
						<td class="lightwords">*</td>
						<td class="darkwords">
[ <a href="http://forum.team17.com/showthread.php?threadid=19674" title="Help needed with wormNET 3D!! (657 days ago)" target="_blank" class="navilink">Help needed with wormNET 3D!!</a> ]<br>&nbsp;<br>
						</td>
					</tr>			
					<tr valign="bottom">
						<td></td>
						<td></td>
						<td class="lighttext">*</td>
						<td class="darktext"><b>hot post</b> (30+ replies/300+ views)</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- SUPPORT | wormNET 3D | forum -->
			<!-- /CRON -->
{%- endblock %}

{% block right %}
{%- endblock %}
