---
title: Adverts
layout: page
struct:
  - mult
  - artw
  - adve
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id: 1 }
  - { id: 2 }
  - { id: 3 }
  - { id: 4 }
  - { id: 5 }
  - { id: 6 }
  - { id: 7 }
  - { id: 8 }
  - { id: 9 }
  - { id: 10 }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- MULTIMEDIA | artwork | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/artw" target="_self" class="whitelink">artwork</a> | <a href="mult/artw/adve" target="_self" class="whitelink">adverts</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif" colspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
						{%- if not pagination.page.previous.id %}
						<td class="lightwords" align="right"><a href="mult/artw/adve/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- elif not pagination.page.next.id %}
						<td class="lightwords" align="right"><a href="mult/artw/adve/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a></td>
						{%- else %}
						<td class="lightwords" align="right"><a href="mult/artw/adve/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a> | <a href="mult/artw/adve/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- endif %}
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/artw/adve" target="_self"><img src="images/mult/artw_adve_{{ current.id }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current.id == 1 %}
						<td class="lightwords" colspan="2"><br>Dummy Box<br></td>
						{%- elif current.id == 2 %}
						<td class="lightwords" colspan="2"><br>Standee<br></td>
						{%- elif current.id == 3 %}
						<td class="lightwords" colspan="2"><br>Hanging Banner<br></td>
						{%- elif current.id == 4 %}
						<td class="lightwords" colspan="2"><br>Wobbler<br></td>
						{%- elif current.id == 5 %}
						<td class="lightwords" colspan="2"><br>Cube<br></td>
						{%- elif current.id == 6 %}
						<td class="lightwords" colspan="2"><br>Teaser 1<br></td>
						{%- elif current.id == 7 %}
						<td class="lightwords" colspan="2"><br>Teaser 2<br></td>
						{%- elif current.id == 8 %}
						<td class="lightwords" colspan="2"><br>Oi shopkeeper...catch this!<br></td>
						{%- elif current.id == 9 %}
						<td class="lightwords" colspan="2"><br>Double Sided A2 Poster (side 1)<br></td>
						{%- elif current.id == 10 %}
						<td class="lightwords" colspan="2"><br>Double Sided A2 Poster (side 2)<br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | image -->
{%- endif %}

			<!-- MULTIMEDIA | artwork | adverts text -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/artw" target="_self" class="whitelink">artwork</a> | adverts ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">adverts</td>
						<td class="darktext">
Worms 3D hits the stores on October 31st - so prepare for worm war 3 and the mother of all marketing offensives.
After all, if you're going to start a war - what better way to start one than with a extensive propaganda campaign?<br>&nbsp;<br>

Infiltrating stores nationwide with visually striking displays and point-of-sale. Targeted propaganda in specialist, lifestyle
and trade press as well as joint PR campaigns, in-game sponsorship and promotions with companies like: Universal Music - band 
Junior Senior and The Sunday Times CD-ROM supplement.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | adverts text -->

			<!-- /MULTIMEDIA | artwork | adverts --><a name="adverts"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="4">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/artw/adve/1" target="_self" class="navilink"><img src="images/mult/artw_adve_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/adve/2" target="_self" class="navilink"><img src="images/mult/artw_adve_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/adve/3" target="_self" class="navilink"><img src="images/mult/artw_adve_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/adve/4" target="_self" class="navilink"><img src="images/mult/artw_adve_4.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/adve/5" target="_self" class="navilink"><img src="images/mult/artw_adve_5.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/adve/6" target="_self" class="navilink"><img src="images/mult/artw_adve_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/adve/7" target="_self" class="navilink"><img src="images/mult/artw_adve_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/adve/8" target="_self" class="navilink"><img src="images/mult/artw_adve_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/adve/9" target="_self" class="navilink"><img src="images/mult/artw_adve_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left" colspan="2"><a href="mult/artw/adve/10" target="_self" class="navilink"><img src="images/mult/artw_adve_10.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Adverts</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | adverts -->			
			<!-- MULTIMEDIA | artwork -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">artwork</td>
						<td class="darktext">
With the Sega PR machine in full swing, we can now start to bring you all the fantastic promotional 
artwork that is being produced!<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork -->

			<!-- MULTIMEDIA | boxart -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/boxa" target="_self"><img src="images/mult/welc_boxa.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/boxa" target="_self" class="navilink">boxart</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/boxa" target="_self" class="whitelink"><b>Boxart</b></a><br>
Click here for the W3D boxart and concepts!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | boxart -->
			
			<!-- MULTIMEDIA | adverts -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/adve" target="_self"><img src="images/mult/welc_adve.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/adve" target="_self" class="navilink">adverts</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/adve" target="_self" class="whitelink"><b>Adverts</b></a><br>
Click here for the W3D propaganda campaign!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | adverts -->
{% endblock %}
