---
title: Boxart
layout: page
struct:
  - mult
  - artw
  - boxa
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - { id:  1, group: boxart }
  - { id:  2, group: boxart }
  - { id:  3, group: boxart }
  - { id:  4, group: boxart }
  - { id:  5, group: boxart }
  - { id:  6, group: boxart }
  - { id:  7, group: boxart }
  - { id:  8, group: concepts }
  - { id:  9, group: concepts }
  - { id: 10, group: concepts }
  - { id: 11, group: concepts }
  - { id: 12, group: concepts }
  - { id: 13, group: concepts }
  - { id: 14, group: concepts }
  - { id: 15, group: concepts }
  - { id: 16, group: concepts }
  - { id: 17, group: concepts }
  - { id: 18, group: concepts }
  - { id: 19, group: concepts }
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- MULTIMEDIA | artwork | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/artw" target="_self" class="whitelink">artwork</a> | <a href="mult/artw/boxa" target="_self" class="whitelink">boxart</a> | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif" colspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
						{%- if not pagination.page.previous.id %}
						<td class="lightwords" align="right"><a href="mult/artw/boxa/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- elif not pagination.page.next.id %}
						<td class="lightwords" align="right"><a href="mult/artw/boxa/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a></td>
						{%- else %}
						<td class="lightwords" align="right"><a href="mult/artw/boxa/{{ pagination.page.previous.id }}" target="_self" class="whitelink">&lt;&lt; prev</a> | <a href="mult/artw/boxa/{{ pagination.page.next.id }}" target="_self" class="whitelink">next &gt;&gt;</a></td>
						{%- endif %}
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="mult/artw/boxa#{{ current.group }}" target="_self"><img src="images/mult/artw_boxa_{{ current.id }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current.id == 1 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 1/7</b><br>&nbsp;<br>PC CDRom<br></td>
						{%- elif current.id == 2 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 2/7</b><br>&nbsp;<br>PlayStation 2<br></td>
						{%- elif current.id == 3 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 3/7</b><br>&nbsp;<br>Gamecube<br></td>
						{%- elif current.id == 4 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 4/7</b><br>&nbsp;<br>X-box<br></td>
						{%- elif current.id == 5 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 5/7</b><br>&nbsp;<br>PC CDRom (back)<br></td>
						{%- elif current.id == 6 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 6/7</b><br>&nbsp;<br>PlayStation 2 (back)<br></td>
						{%- elif current.id == 7 %}
						<td class="lightwords" colspan="2"><br><b>Boxshot 7/7</b><br>&nbsp;<br>X-box (back)<br></td>
						{%- elif current.id == 8 %}
						<td class="lightwords" colspan="2"><br><b>Concept 1/12</b><br>&nbsp;<br>Theme one. Worms interacting with the audience.<br></td>
						{%- elif current.id == 9 %}
						<td class="lightwords" colspan="2"><br><b>Concept 2/12</b><br>&nbsp;<br>Not enough of the worm shown.<br></td>
						{%- elif current.id == 10 %}
						<td class="lightwords" colspan="2"><br><b>Concept 3/12</b><br>&nbsp;<br>Theme two. Worms interacting with themselves/each other.<br></td>
						{%- elif current.id == 11 %}
						<td class="lightwords" colspan="2"><br><b>Concept 4/12</b><br>&nbsp;<br>Theme three. Worms interacting with a comedy aspect.<br></td>
						{%- elif current.id == 12 %}
						<td class="lightwords" colspan="2"><br><b>Concept 5/12</b><br>&nbsp;<br>Good idea, but the worms outline looks too similar to the number 2.<br></td>
						{%- elif current.id == 13 %}
						<td class="lightwords" colspan="2"><br><b>Concept 6/12</b><br>&nbsp;<br>Mock up version of the previous concept.<br></td>
						{%- elif current.id == 14 %}
						<td class="lightwords" colspan="2"><br><b>Concept 7/12</b><br>&nbsp;<br>Another example of interaction between worms.<br></td>
						{%- elif current.id == 15 %}
						<td class="lightwords" colspan="2"><br><b>Concept 8/12</b><br>&nbsp;<br>Clean up version of the previous concept.<br></td>
						{%- elif current.id == 16 %}
						<td class="lightwords" colspan="2"><br><b>Concept 9/12</b><br>&nbsp;<br>Good audience interaction but a little too busy and confusing.<br></td>
						{%- elif current.id == 17 %}
						<td class="lightwords" colspan="2"><br><b>Concept 10/12</b><br>&nbsp;<br>Very first concept in its early stages, emphasis on the 3D glasses.<br></td>
						{%- elif current.id == 18 %}
						<td class="lightwords" colspan="2"><br><b>Concept 11/12</b><br>&nbsp;<br>First mock up of the final boxart.<br></td>
						{%- elif current.id == 19 %}
						<td class="lightwords" colspan="2"><br><b>Concept 12/12</b><br>&nbsp;<br>Final boxart with an alternative background.<br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | image -->
{%- endif %}

			<!-- MULTIMEDIA | artwork | boxart text -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <a href="mult/artw" target="_self" class="whitelink">artwork</a> | boxart ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">boxart</td>
						<td class="darktext">
Designing the final boxart was a long drawn out process. There were loads of great ideas but only one could be 
chosen - see if you agree with the choice...<br>&nbsp;<br>

Below is the final boxart and some of the earlier designs and concepts that just didn't make it!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | boxart text -->

			<!-- /MULTIMEDIA | artwork | boxart --><a name="boxart"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/artw/boxa/1" target="_self" class="navilink"><img src="images/mult/artw_boxa_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/2" target="_self" class="navilink"><img src="images/mult/artw_boxa_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/3" target="_self" class="navilink"><img src="images/mult/artw_boxa_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/boxa/4" target="_self" class="navilink"><img src="images/mult/artw_boxa_4.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/5" target="_self" class="navilink"><img src="images/mult/artw_boxa_5.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/6" target="_self" class="navilink"><img src="images/mult/artw_boxa_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left" colspan="2"><a href="mult/artw/boxa/7" target="_self" class="navilink"><img src="images/mult/artw_boxa_7.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">Boxart</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | boxart -->
			
			<!-- /MULTIMEDIA | artwork | boxart concepts --><a name="concepts"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/artw/boxa/8" target="_self" class="navilink"><img src="images/mult/artw_boxa_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/9" target="_self" class="navilink"><img src="images/mult/artw_boxa_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/10" target="_self" class="navilink"><img src="images/mult/artw_boxa_10.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/boxa/11" target="_self" class="navilink"><img src="images/mult/artw_boxa_11.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/12" target="_self" class="navilink"><img src="images/mult/artw_boxa_12.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/13" target="_self" class="navilink"><img src="images/mult/artw_boxa_13.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/boxa/14" target="_self" class="navilink"><img src="images/mult/artw_boxa_14.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/15" target="_self" class="navilink"><img src="images/mult/artw_boxa_15.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/16" target="_self" class="navilink"><img src="images/mult/artw_boxa_16.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/artw/boxa/17" target="_self" class="navilink"><img src="images/mult/artw_boxa_17.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/artw/boxa/18" target="_self" class="navilink"><img src="images/mult/artw_boxa_18.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/artw/boxa/19" target="_self" class="navilink"><img src="images/mult/artw_boxa_19.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" valign="middle" colspan="3">Concepts</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork | boxart concepts -->			
			<!-- MULTIMEDIA | artwork -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">artwork</td>
						<td class="darktext">
With the Sega PR machine in full swing, we can now start to bring you all the fantastic promotional 
artwork that is being produced!<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | artwork -->

			<!-- MULTIMEDIA | boxart -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/boxa" target="_self"><img src="images/mult/welc_boxa.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/boxa" target="_self" class="navilink">boxart</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/boxa" target="_self" class="whitelink"><b>Boxart</b></a><br>
Click here for the W3D boxart and concepts!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | boxart -->
			
			<!-- MULTIMEDIA | adverts -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="mult/artw/adve" target="_self"><img src="images/mult/welc_adve.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">artwork</font> | <a href="mult/artw/adve" target="_self" class="navilink">adverts</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="mult/artw/adve" target="_self" class="whitelink"><b>Adverts</b></a><br>
Click here for the W3D propaganda campaign!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | adverts -->
{% endblock %}
