---
title: Welcome
layout: page
struct:
  - good
  - welc
textimage: good
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- goodies | welcome -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <font class="selected">goodies</font> | <font class="selected">welcome</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Other things<br>Wormy</td>
						<td class="darktext">
These sections cover everything extra for Worms 3D, from support and
essential downloads to game guides and tips!
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /goodies | welcome -->

			<!-- GOODIES | webkit -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/webk#2results" target="_self"><img src="images/good/welc_webk.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">goodies</font> | <a href="good/webk" target="_self" class="navilink">webkit</a> ] 13/04/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/webk#2results" target="_self" class="whitelink"><b>Webkit Final Results</b></a><br>
Click here for the final webkit results!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | webkit -->
			
			<!-- GOODIES | webkit -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/webk#2update" target="_self"><img src="images/good/welc_webk.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">goodies</font> | <a href="good/webk" target="_self" class="navilink">webkit</a> ] 05/04/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/webk#2update" target="_self" class="whitelink"><b>Webkit Final Judging</b></a><br>
Click here for the final judging dates and information!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | webkit -->
			
			<!-- GOODIES | webkit -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="/webkit" target="_self"><img src="images/good/welc_webk.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">goodies</font> | <a href="good/webk" target="_self" class="navilink">webkit</a> ] 23/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="/webkit" target="_self" class="whitelink"><b>Webkit Round 2 Assets</b></a><br>
Click here for the brand new webikit for Round 2!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | webkit -->
			
			<!-- GOODIES | weapons guide -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/weap_thre" target="_self"><img src="images/good/welc_weap.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">goodies</font> | <a href="good/weap" target="_self" class="navilink">weapons guide</a> ] 12/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/weap_thre" target="_self" class="whitelink"><b>Weapons Guide pt.3</b></a><br>
Click here for the third part of the weapons guide!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | weapons guide -->
	
			<!-- GOODIES | weapons guide -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="good/weap_two" target="_self"><img src="images/good/welc_weap.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">goodies</font> | <a href="good/weap" target="_self" class="navilink">weapons guide: part two</a> ] 05/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="good/weap_two" target="_self" class="whitelink"><b>Weapons Guide pt.2</b></a><br>
Click here for the second part of the weapons guide!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /GOODIES | weapons guide -->
{%- endblock %}
