---
title: Art & Animation
layout: page
struct:
  - abou
  - thet
  - arti
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the team | art & animation | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | <a href="abou/thet/arti" target="_self" class="whitelink">art & animation</a> | image ]</td>
					</tr>
					<tr>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="abou/thet/arti" target="_self"><img src="images/abou/thet_arti_{{ current }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current == "1" %}
						<td class="lightwords"><br><b>Dave</b> 'Cashback'<br></td>
						<td class="lightwords" align="right"><br><br></td>
						{%- elif current == "2" %}
						<td class="lightwords"><br>'Real' <b>Patrick</b> (behind monitor), 'Inflatable' <b>Patrick</b> (over <b>Charles</b>'s head) & <b>Rico</b><br></td>
						<td class="lightwords" align="right"><br><b>Bapup?</b>, <b>Dave</b> (again) & Cheeky <b>Enrique</b> hiding<br></td>
						{%- elif current == "3" %}
						<td class="lightwords"><br><b>Mar</b><br></td>
						<td class="lightwords" align="right"><br>Satan's Lair<br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation | image -->
{%- endif %}

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | art & animation ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Dave<br>(Lead / Front End / HUD)</td>
						<td class="darktext">
Dave, the multi-meal eating, tall skinny guy with a pen chance for Alan Partridge is leading the overall
direction of Worms artwork along with Pat. Dave's been with the company for a few years having started in
QA and being given a trial in art, which he came through with flying colours. Back of the net! A games nut
with a real passion, there's so much pride at stake with Worms 3D you can simply smell it!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Patrick<br>(In-game models)</td>
						<td class="darktext">

One half of Team17's Belgian population, Pat has been responsible for all in-game model design, texturing
and construction. Gaming addict (although that doesn't seem strong enough) Pat spends a lot of his time
playing Japanese games and is also learning Japanese in his spare time, rather than learning to
drive...<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Enrique<br> (Textures)</td>
						<td class="darktext">
Cheeky Enrique comprises one third of Team17's Spanish trio and along with his girlfriend, Mar, is very
busy texturing the levels for Worms 3D environments and objects. A Valencian, Enrique wraps up warm for our
lovely English weather and often mutters about the lack of sunlight. We are at pains to point out that
upon his return to Spain last Christmas, it snowed.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Mar<br> (Textures)</td>
						<td class="darktext">
Mar is Enrique's 'better half' and like Enrique, has a real passion for video games. Quietly spoken (as
you'd expect being one of very few females at Team17) Mar has been working on the pirate theme of late,
expect nice palm trees, sun and beach scenes&hellip; nobody English knew what that looked like...<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Mike<br> (Textures / Environment)</td>
						<td class="darktext">
Mike has been with Team17 for around 6 years, working closely with Andy C and Charles during that time.
Mike animates, models and textures, assisting the programmers during prototyping and lately has been
building levels & texturing design's models and ideas. Mike is the only person we know who dances when
he is cold stone sober and is always first up - and last off, the dance floor. Famously turned up as a
Woman to a fancy dress party and no-one could tell it was him as it was too convincing!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Andy M<br>(Animation)</td>
						<td class="darktext">
Andy has been with Team17 about 4-5 years and is leading the Worms 3D animation content, pretty much
single-handed. He's been animating the great model (created by Pat) and to great success, the Worm
being better animated than we ever really imagined. Some of his work will be shown on the site after
Xmas and we think you'll be delighted. Andy is a regular contributor to the Forum and goes under the
name of Luther. He recently choreographed a Worm to Robert Deniro in Taxi Driver!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Tom<br>(Concepts)</td>
						<td class="darktext">
The other half of our Belgian double-act, Tom joined us a month or so back and is here to help out
with concepts and character design. A trained animator, Tom's black sense of humour and wicked streak
has proved perfect for Worms. Favorite word 'jeeeezus!'<br>&nbsp;<br>
						</td>						
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | art & animation -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Dave</b> Lead<br>&nbsp;<br>
<a href="abou/thet/arti/1" target="_self"><img src="images/abou/thet_arti_1.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Patrick</b> In-game models<br>
<b>Charles</b> (Programmer)<br>&nbsp;<br>
<a href="abou/thet/arti/2" target="_self"><img src="images/abou/thet_arti_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<b>Dave</b> (again)<br>
<b>Enrique</b> Textures<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Mar</b> Textures<br>&nbsp;<br>
<a href="abou/thet/arti/3" target="_self"><img src="images/abou/thet_arti_3.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<b>Colin</b> (Programmer)<br>				
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | art & animation -->
{%- endblock %}





















<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>..::] Worms 3D | The official website from Team17 [::..</title>
		<meta name="author" content="APJ">
		<meta name="description" content="..::] Worms 3D | The official website from Team17 [::..">
		<meta name="keywords" content="Team17, Team, 17, PC, DC, PS, PSX, PS2, N64, GB, X BOX, GC, Playstation, Playstation2, Dreamcast, X-Box, Gamecube, Alien, Breed, Addiction, Pinball, Arcade, Pool, Assassin, Body, Blows, Full, Contact, Nightlong, Phoenix, Project, X, 2, Stunt, GP, Silverball, Speris, Legacy, Superfrog, Super, Stardust, Worms, Armageddon, Reinforcements, World, Party, Blast, United, QWAK, Access, All, Areas, Profits, Warning, game, pink, hard, games, gameplay, humour">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">
<base href="/" />
<script language="JavaScript" src="scripts/worms3d.js"></script>
<link href="scripts/worms3d_ie.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#3E5182" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0" background="images/graphics/back_main.gif"><a name="top"></a>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<!-- blue -->
	<tr align="center">
		<td height="198" bgcolor="#5D75B2" align="center" valign="top"><table width="685" height="198" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="images/graphics/logo_1.gif" width="129" height="97" border="0" alt="" vspace="6"><img src="images/graphics/logo_2.gif" width="10" height="97" border="0" alt="" vspace="6"></td>
				<td bgcolor="#B15C3D"><img src="images/abou/logo_3.gif" width="129" height="97" border="0" alt="" vspace="6"></td>
				<td align="right" valign="bottom"><img src="images/abou/back_h1.gif" width="239" height="78" border="0" alt="" align="bottom"></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="#B15C3D"></td>
				<td><img src="images/abou/back_h2.gif" width="377" height="10" border="0" alt="" hspace="20"></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h3.gif"><img
src="images/navi/home_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_home"><map name="top_home"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="home.html" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_top_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_mult"><map name="top_mult"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="multimedia.html" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_good"><map name="top_good"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="goodies.html" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_top_off.gif" width="129" height="25" border="0" alt="" usemap="#top_supp"><map name="top_supp"><area shape="poly" coords="6,24,11,15,19,8,18,5,29,0,33,3,49,4,59,8,65,12,71,12,77,21,76,24" href="support.html" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h4.gif"><a
href="home.html" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" target="_self"><img
name="home" src="images/navi/home_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="abou" onMouseOver="changeNavi('abou','on'); return showMsg(':: about ::')" onMouseOut="changeNavi('abou','off'); return showMsg(' ')" target="_self"></a><img
name="abou" src="images/navi/abou_sel.gif" width="129" height="19" border="0" alt=""><a></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="multimedia.html" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" target="_self"><img
name="mult" src="images/navi/mult_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="goodies.html" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" target="_self"><img
name="good" src="images/navi/good_off.gif" width="129" height="19" border="0" alt=""></a><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><a
href="support.html" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" target="_self"><img
name="supp" src="images/navi/supp_off.gif" width="129" height="19" border="0" alt=""></a></td>
			</tr>
	
			<tr>
				<td colspan="3" background="images/abou/back_h5.gif"><img
src="images/navi/home_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_home"><map name="bot_home"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="home.html" onMouseOver="changeNavi('home','on'); return showMsg(':: home ::')" onMouseOut="changeNavi('home','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/abou_bot_on.gif" width="129" height="25" border="0" alt=""><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/mult_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_mult"><map name="bot_mult"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="multimedia.html" onMouseOver="changeNavi('mult','on'); return showMsg(':: multimedia ::')" onMouseOut="changeNavi('mult','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/good_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_good"><map name="bot_good"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="goodies.html" onMouseOver="changeNavi('good','on'); return showMsg(':: goodies ::')" onMouseOut="changeNavi('good','off'); return showMsg(' ')" alt=""></map><img src="images/graphics/space.gif" width="2" height="2" border="0" alt="" hspace="4" vspace="4"><img
src="images/navi/supp_bot_off.gif" width="129" height="25" border="0" alt="" usemap="#bot_supp"><map name="bot_supp"><area shape="poly" coords="0,0,7,8,11,5,17,11,31,18,45,18,49,22,62,15,61,11,71,0" href="support.html" onMouseOver="changeNavi('supp','on'); return showMsg(':: support ::')" onMouseOut="changeNavi('supp','off'); return showMsg(' ')" alt=""></map></td>
			</tr>
			<tr>
				<td></td>
				<td bgcolor="#B15C3D"></td>
				<td align="right"><img src="images/abou/back_h6.gif" width="302" height="10" border="0" alt="" hspace="2"></td>
			</tr>
		</table></td>
	</tr>
	<!-- /blue -->
	<!-- line -->
	<tr align="center">
		<td height="1" bgcolor="#BAC9EF"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="342"></td>
	</tr>
	<!-- /line -->
	<!-- grey -->
	<tr align="center">
		<td align="center" valign="top"><table width="685" border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="129" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="6" bgcolor="#333333">
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td align="right" onMouseOver="this.style.backgroundColor='#B15C3D'; this.style.cursor='hand'" onMouseOut="this.style.backgroundColor='#333333'" onClick="document.location='abou/welc'"><a href="abou/welc" target="_self" class="navilink">welcome</a></td>
					</tr>
					<tr>
						<td align="right" onMouseOver="this.style.backgroundColor='#B15C3D'; this.style.cursor='hand'" onMouseOut="this.style.backgroundColor='#333333'" onClick="document.location='abou/theg'"><a href="abou/theg" target="_self" class="navilink">the game</a></td>
					</tr>
					<tr>
						<td align="right" onMouseOver="this.style.backgroundColor='#B15C3D'; this.style.cursor='hand'" onMouseOut="this.style.backgroundColor='#333333'" onClick="document.location='abou/tech'"><a href="abou/tech" target="_self" class="navilink">technology</a></td>
					</tr>
					<tr>
						<td align="right" onMouseOver="this.style.backgroundColor='#B15C3D'; this.style.cursor='hand'" onMouseOut="this.style.backgroundColor='#333333'" onClick="document.location='abou/pres'"><a href="abou/pres" target="_self" class="navilink">press</a></td>
					</tr>
					<tr>
						<td align="right" bgcolor="#DC4F00" background="images/navi/dots.gif"><b>the team</b></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table><br><table width="100%" height="137" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #333333">
					<tr>
						<td background="images/graphics/back_worm.gif"><img src="images/graphics/worm_3d_1.gif" width="81" height="76" border="0" alt="" hspace="22"><br><img src="images/graphics/worm_3d_2.gif" width="111" height="59" border="0" alt="" hspace="8"></td>
					</tr>
				</table><br></td>
				<td width="10" rowspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="4"></td>
				<td width="407"><img src="images/abou/back_v1.gif" width="407" height="10" border="0" alt=""><br><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td><img src="images/text/thet.gif" width="67" height="18" border="0" alt="" hspace="20" vspace="11"></td>
						<td align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
		<!-- /main -->


		<!-- /main -->
				</td>
				<td width="10" background="images/abou/back_v2.gif" rowspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="4"></td>
				<td width="129" background="images/abou/back_v3.gif" rowspan="2"><img src="images/graphics/space.gif" width="1" height="2" border="0" alt="" hspace="64" vspace="4"><br>
		<!-- right -->

		<!-- /right -->
				</td>
			</tr>
			<tr valign="bottom">
				<td height="100%"><table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="right">[ <a href="#top" target="_self" class="navilink">top</a> ]<br>&nbsp;<br>[ <a href="home/welc#terms" target="_self" class="navilink">terms & privacy</a> ]<br></td>
					</tr>
				</table></td>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="left"><a href="http://www.gamespy.com" target="_blank"><img src="images/index/logo_gamespy.gif" width="88" height="26" border="0" alt="" vspace="11"></a></td>
						<td width="100%" align="center"><a href="http://www.team17.com" target="_blank"><img src="images/index/logo_team17.gif" width="88" height="35" border="0" alt="" vspace="0"></a><br>&copy; 2002-2006 Team17 Software Limited</td>
						<td align="right"><a href="http://www.sega-europe.com" target="_blank"><img src="images/index/logo_sega.gif" width="88" height="22" border="0" alt="" vspace="11"></a></td>
					</tr>
				</table></td>
				
			</tr>
		</table><br></td>
	</tr>
</table>
</body>
</html>
