---
title: Chuck Q 'n' A
layout: page
struct:
  - abou
  - thet
  - chuc
---
{% extends "pagetable.njk" %}

{% block center %}

			<!-- ABOUT | the team | Chuck Q 'n' A -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | Chuck Q 'n' A ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Chuck on...<br>Chuck!</td>
						<td class="darktext">
<b>Full Name?</b><br>
<i>Charles Robert Blessing.</i><br>&nbsp;<br>

<b>How old are you?</b><br>
<i>29.</i><br>&nbsp;<br>

<b>How tall are you?</b><br>
<i>5'10''</i><br>&nbsp;<br>

<b>What's your favourite food?</b><br>
<i>I'm not much of a food fanatic really - I guess it would be Pepperoni Pizza.</i><br>&nbsp;<br>

<b>Do you have a pet?</b><br>
<i>I'm not great with pets. We had some pet plastic fish once (they were battery operated and swam 
around a tank using magnets), but we forgot about them and all the water 
evapourated.</i><br>&nbsp;<br>

<b>What is your favourite film?</b><br>
<i>I really enjoyed Demolition Man, but I'm a fan of pretty much anything with a sci-fi theme (Star 
Trek, Star Wars, 2001, etc).</i><br>&nbsp;<br>

<b>What's your favourite console?</b><br>
<i>Well, I own a GameCube (black variety), but I have fond memories of playing Star Fox long into 
the night on the SNES.</i><br>&nbsp;<br>

<b>What did you eat for lunch yesterday?</b><br>
<i>Ham and lettuce sandwiches - lovingly made by my better half (Bec).</i><br>&nbsp;<br>

<b>Favourite colour?</b><br>
<i>I used to wear a lot of black when I was a student - now I've shifted more towards bark 
blue.</i><br>&nbsp;<br>

<b>Favourite person?</b><br>
<i>Bec, of course :)</i><br>&nbsp;<br>

<b>Favourite drink?</b><br>
<i>Coffee, second place would be strawberry milkshake.</i><br>&nbsp;<br>

<b>Favourite animal?</b><br>
<i>I spent a while trying to think of something to put here, but I don't really have one (see the 
question on pets above).</i><br>&nbsp;<br>

<b>Favourite word?</b><br>
<i>Angst.</i><br>&nbsp;<br>

<b>Favourite smell?</b><br>
<i>Freshly brewed coffee - especially first thing in the morning.</i><br>&nbsp;<br>

<b>Favourite book?</b><br>
<i>The Myth... series by Robert Asprin. I don't tend to read all that much fiction (because I'm 
extremely slow at reading), but I found it hard to put these books down.</i><br>&nbsp;<br>

<b>Favourite song?</b><br>
<i>Queen - I want to break free.</i><br>&nbsp;<br>

<b>Favourite car?</b><br>
<i>Well, I've got a Rav4 at the minute which is pretty funky. I can imagine myself in 20/30 years 
driving something huge like the new Jaguar XJ.</i><br>&nbsp;<br>

<b>Favourite tv show?</b><br>
<i>At the moment it's either Buffy or Angel, although I'm looking forward to the next series of Star 
Trek - Enterprise to come out in the UK.</i><br>&nbsp;<br>

<b>Favourite sport?</b><br>
<i>I'm not really a fan of watching sport. I used to keep wicket for Whaley Bridge under 17's 
(that's cricket for those who don't know), but then I got my first pair of glasses and realized just 
how fast the ball was going :)</i><br>&nbsp;<br>

<b>Favourite number?</b><br>
<i>16.</i><br>&nbsp;<br>

<b>Favourite operating system?</b><br>
<i>XP - although I have fond memories of MS Dos and still use a command line for doing some 
things.</i><br>&nbsp;<br>

<b>What languages do you speak?</b><br>
<i>English, some German (my Dad's German - I really wish I'd learnt a bit more), and a tiny bit of 
French (very tiny - it's more a case of recognizing some words than being able to speak 
it).</i><br>&nbsp;<br>

<b>What colour are your eyes?</b><br>
<i>Blue.</i><br>&nbsp;<br>

<b>Do you prefer normal or water beds?</b><br>
<i>I've never slept on a water bed - wouldn't mind giving it a go though.</i><br>&nbsp;<br>

<b>How high can you jump?</b><br>
<i>Not as high as I used to be able to. I was always crap at the high jump at school - I used to 
catch the bar with my arse on the way over.</i><br>&nbsp;<br>

<b>What type of calculator do you have?</b><br>
<i>A Casio fx-7000GA graphing calculator. I got it when I was doing my A-levels and it's been very 
useful since.</i><br>&nbsp;<br>

<b>How many computers do you own?</b><br>
<i>Well, I own a GameCube and a PlayStation, I have a 'server' which is permanently connected to the 
internet (via ADSL), then I have my 'main' machine, and there's one for Bec to use (incase she wants 
to browse whilst I'm playing). I also bought myself a laptop in the January sales, and have a huge 
collection of 'old' computers gathering dust in the loft. There are a couple of Spectrum 48k's, a 
Commodore 64, a Spectrum+, a couple of Spectrum +2's, a couple of Amstrad CPC464's, a couple of 
Atari 1600's (one old one with a fake mahogany look, and a newer black one). There's also a few 
Amiga A500's, an A500+, an A600, a couple of A1200's, and enough components to knock up a few more 
PC's (ranging from a 486DX66 to a P150). There's probably more stuff in there somewhere, but pretty 
much everything is either broken or on it's last legs.</i><br>&nbsp;<br>

<b>Do you sing in the shower?</b><br>
<i>I usually shower first thing in the morning, often before my first cup of coffee has had time to 
kick in, so keeping my eyes open is my main priority. I listen to the radio though, and on days when 
I'm a little more awake I do sing along (badly),</i><br>&nbsp;<br>

<b>What countries have you been to?</b><br>
<i>Germany, France, Belgium, Austria, Denmark, Ireland, and America.</i><br>&nbsp;<br>

<b>What animal would you most like to see explode?</b><br>
<i>I don't condone violence towards animals (or people for that matter), but if next door's cat 
shits in our garden once more...</i><br>&nbsp;<br>

<b>Do you have a family?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>How much coffee do you consume daily?</b><br>
<i>Probably too much - when I was working on Phoenix, there was a time when I was drinking about 1.5 
litres a day (and that's just what I was going through at work). I probably drink about 5-6 mugs at 
work now, and switch to De-caffeinated when I get home.</i><br>&nbsp;<br>

<b>Is your desk a mess?</b><br>
<i>It goes through periods of being messy and then I tidy it up (usually by just shoving everything 
in my draw - which is always messy).</i><br>&nbsp;<br>

<b>What degree, if any, do you have?</b><br>
<i>I went to York University and have a degree in Maths and Computer Science.</i><br>&nbsp;<br>

<b>What's your opinion on the war?</b><br>
<i>Nobody wins.</i><br>&nbsp;<br>

<b>What colour are your socks?</b><br>
<i>Black.</i><br>&nbsp;<br>

<b>Do you play any musical instruments?</b><br>
<i>I tried to learn to play the piano, but I could never get the hang of reading music quickly 
enough. I also had a go at playing the guitar, but didn't get much out of that. My biggest success 
was playing the drums (although depending on who you talk to, they may or may not qualify as a 
musical instrument). This unfortunately made me the object of many drummer jokes at university, but 
I learnt to live with it :)</i><br>&nbsp;<br>

<b>Are you right or left handed?</b><br>
<i>Left.</i><br>&nbsp;<br>

<b>What's your favourite board game?</b><br>
<i>I used to play 'Talisman' as a kid - although once you've played it through a few times it got a 
little boring. I haven't had a game of chess for ages - I used to 'enjoy' being beaten by my older 
brother on a regular basis.</i><br>&nbsp;<br>

<b>What's your favourite computer game?</b><br>
<i>I play EverQuest fairly often. I've dabbled with other games but there's something I can't quite 
put my finger on that keeps drawing me back to EQ.</i><br>&nbsp;<br>

<b>What's your favourite season?</b><br>
<i>Spring.</i><br>&nbsp;<br>

<b>What's your favourite Stargate character?</b><br>
<i>Daniel Jackson.</i><br>&nbsp;<br>

<b>If you had to choose either coffee or tea, but could only have one for the rest of your life, 
which would it be?</b><br>
<i>Coffee.</i><br>&nbsp;<br>

<b>What car do you drive?</b><br>
<i>A Toyota Rav4.</i><br>&nbsp;<br>

<b>I just found 18p, what can I buy from you with it?</b><br>
<i>A cup of coffee from the Gentleman's Drinking Club - and you'd still have 8p left to splash out 
on something else!</i><br>&nbsp;<br>

<b>If you could make something miniature, what would it be?</b><br>
<i>The amount of work I have to do.</i><br>&nbsp;<br>

<b>What is your favourite animated series, excluding The Simpsons?</b><br>
<i>Futurama.</i><br>&nbsp;<br>

<b>How many Elvis albums do you own?</b><br>
<i>My Grandma (on my father's side) once sent me his 'Return to sender' album on tape. I think I 
taped over it with save games from Elite :)</i><br>&nbsp;<br>

<b>What is your favourite time of day?</b><br>
<i>Although I don't get to see it much these days, I like how quiet it is at about 
3am.</i><br>&nbsp;<br>

<b>Do you find those chairs with no back where you kneel and sit at the same time 
comfortable?</b><br>
<i>I tried one a while ago, but it didn't have wheels and I like to wheel around the 
office.</i><br>&nbsp;<br>

<b>What is the most evil thing you can think of?</b><br>
<i>I once stayed at a friends house and was woken by a cat biting my toes - evil!</i><br>&nbsp;<br>

<b>What in your opinion is the Question to the Ultimate Answer of Life, The Universe and Everything, 
which is (the Answer) 42?</b><br>
<i>What happens if you press left and down on your keyboard number pad with num-lock turned 
on?</i><br>&nbsp;<br>

<b>Have you ever read any books by the late Douglas Adams (R.I.P.)?</b><br>
<i>Nope.</i><br>&nbsp;<br>

<b>Do you have a PDA?</b><br>
<i>Kind of - I have a Psion Series 5, although these days it's a little behind the times and has 
been demoted to the position of 'Alarm clock'.</i><br>&nbsp;<br>

<b>Do you like sushi?</b><br>
<i>I've never tried it - I don't really like the idea of eating raw anything 
though.</i><br>&nbsp;<br>

<b>Have you ever visited Ireland?</b><br>
<i>Yeap - I went to see the U2 concert at Slane Castle - an excellent day was had by 
all!</i><br>&nbsp;<br>

<b>What sort of family life do you have?</b><br>
<i>Well, I would be lying if I said it was boring!</i><br>&nbsp;<br>

<b>Are you looking forward to The Matrix: Reloaded?</b><br>
<i>Yeap.</i><br>&nbsp;<br>

<b>Did you enjoy The Matrix?</b><br>
<i>Yeap.</i><br>&nbsp;<br>

<b>If you could ask yourself any question, what would it be? What is the answer?</b><br>
<i>Q:	Can you think of a question to ask yourself?<br>
A:	No.</i><br>&nbsp;<br>

<b>Which came first the chicken or the egg??</b><br>
<i>I imagine there were reptiles laying eggs well before the chicken evolved.</i><br>&nbsp;<br>

<b>What day of the week were you born on??</b><br>
<i>Monday</i><br>&nbsp;<br>

<b>Ever been to Hemsworth?</b><br>
<i>I don't think so.</i><br>&nbsp;<br>

<b>How many fillings do you have?</b><br>
<i>Oodles - I've also had a tooth taken out and I'm due to have another removed in a couple of 
weeks. I really regret not looking after my teeth when I was younger.</i><br>&nbsp;<br>

<b>Favourite day of the week?</b><br>
<i>Wednesday - at college we had an afternoon of no lessons, I guess the association must have 
stuck.</i><br>&nbsp;<br>

<b>Do you ever go to Superbowl in Wakefield?</b><br>
<i>I've been a few times.</i><br>&nbsp;<br>

<b>What is your favourite method of stress release during the day?</b><br>
<i>Shooting things in a 1st person shooter.</i><br>&nbsp;<br>

<b>What is your favourite method of stress release after the working day?</b><br>
<i>Watching TV, playing games, walking - depends on the kind of stress.</i><br>&nbsp;<br>

<b>What is the most number of pints you have drunk in one night?</b><br>
<i>About 8 - I was very ill, Bec wasn't amused.</i><br>&nbsp;<br>

<b>What did you do the day after drinking all those pints?</b><br>
<i>I stayed in bed and swore I would never drink again (which lasted about a 
month).</i><br>&nbsp;<br>

<b>Have you ever eaten Squid?</b><br>
<i>Nope.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Chuck on...<br>Programming</td>
						<td class="darktext">
<b>At what age did you learn programming and in what order did you learn the different 
languages?</b><br>
<i>My dad brought home a Spectrum when I was 8 - that's when I started learning Basic. At about 15 I 
started getting into machine code (at that point I'd write programs on paper, work out what the 
instructions were in hex, write a little program to poke the values into memory and call it). No 
debugging, no error trapping - if I had even one byte wrong it usually reset the machine!. At 
college we were taught Pascal (age 17), and then at University we started learning Ada, Prolog, and 
68000 - the processor the Amiga uses. I also started getting to grips with Amos Basic and used that 
for writing a few tools (with assembler for speedy bits). When I started at Team17 (in 1996) I read 
a few books on C and C++, and I've been programming in that ever since.</i><br>&nbsp;<br>

<b>Why did you become a programmer?</b><br>
<i>Believe it or not, it was all down to the flip of a coin. I was (and still am) interested in 
electronics as well as computers when I came to choose which A levels to do. I wanted to do an AS 
level in electronics and an AS level in computer science, but the college wouldn't let me do both. I 
couldn't decide which to do so I flipped a coin and it landed on computer science.</i><br>&nbsp;<br>

<b>Where did you get your first programming job?</b><br>
<i>Team17.</i><br>&nbsp;<br>

<b>When did you make your first non commercial game?</b><br>
<i>About 6 months after getting my first spectrum - I had a book that told you how to make a text 
adventure. I took that and made my own. I was about 9, so I imagine it was probably quite poor 
:)</i><br>&nbsp;<br>

<b>Do you (like every programmer) love pizza and beer?</b><br>
<i>Of course!</i><br>&nbsp;<br>

<b>Do you prefer OpenGL or DirectX?</b><br>
<i>DirectX gives you a lot more flexibility, but OpenGL is much easier to use.</i><br>&nbsp;<br>

<b>How many .c/.cpp files (approximately) are currently compiled and linked together to make the 
main Worms 3D executable?</b><br>
<i>Core libraries: 577<br>
Worms: 318<br>
Total: 895</i><br>&nbsp;<br>

<b>What is your biggest programming failure/success?</b><br>
<i>Failure:	Phoenix (PC)<br>
Phoenix went on sale mid-November, and was in the bargain bucket by January. I don't know the actual 
sales figures, but I'm guessing it didn't sell too well. IMHO, we spent too long concentrating on 
the technology and story, and not enough on the game-play.<br>
Success:	Alien Breed 3D2 - The killing grounds (Amiga AGA)<br>
Admittedly, I was only barely involved with this one - I wrote a couple of the editors, and the core 
networking code, and also made some of the 3D models. My name made it to the credits though, and the 
game won some awards for technical ability.</i><br>&nbsp;<br>

<b>Are there currently any 'strange', still unexplained bugs in Worms 3D?</b><br>
<i>In any project there are always strange bugs. We've fixed the majority of them though - the only 
unexplained one I'm aware of is the timer service suddenly stopping (actually, it doesn't stop, it 
just tells the task manager it doesn't want updating for a few weeks).</i><br>&nbsp;<br>

<b>As a programmer, how much input/influence do you have on the different aspects of the 
game?</b><br>
<i>Quite a lot - we get the final word on whether something is possible or not (and that usually 
correlates fairly well with whether or not it _is_ actually possible). If left to our own devices 
for too long we have a tendency for adding extra features that aren't scheduled - which is why we 
have a producer.</i><br>&nbsp;<br>

<b>What's the biggest programming challenge you've faced?</b><br>
<i>As a lead programmer I don't really get to do much in the way of challenging programming - my 
role is more one of keeping everything together and trying to make sure everything works as it's 
supposed to. The challenging bit is keeping track of what 12 other programmers are doing and at the 
same time and simultaneously trying to find and fix bugs, add new code that hasn't been scheduled 
and fix any problems that may arise before they cause an inconvenience for other 
programmers.</i><br>&nbsp;<br>

<b>Did the 2D worm games truly go as far as the engine allowed?</b><br>
<i>That's a difficult one to answer - our designers are notoriously good at finding ways to add new 
games to an existing game (and often breaking things and causing us headaches in the process). It 
wouldn't surprise me if they could make something new, but we really would be stretching things a 
bit far.</i><br>&nbsp;<br>

<b>How creative is your job?</b><br>
<i>Very - programming requires a lot of creative forethought. Most of what you are doing will 
produce a result of some description, whether it's manipulating data, or displaying things on the 
screen. The creative part is figuring out what you want, and then working out a method of reaching 
that goal. There is no single solution to any problem, but there are good and bad 
ones.</i><br>&nbsp;<br>

<b>How long have you been a programmer?</b><br>
<i>21 years.</i><br>&nbsp;<br>

<b>What is the most stressful part of your job?</b><br>
<i>Programming takes quite a bit of concentration. As lead programmer I get asked a lot of questions 
about various aspects of the game from other programmers, artists, and our producer. When you're 
trying to get things done and questions are streaming in from all directions it can get quite 
stressful, especially when requests are appearing more quickly than they can be 
resolved.</i><br>&nbsp;<br>

<b>Can you look at code and see what it is (like in matrix!)</b><br>
<i>To some extent, yes. Some things require some context to give you an idea of what's going on, but 
as a programmer, being able to 'see' what's going on from the code makes it a lot easier to debug 
things and make sure all bases are covered.</i><br>&nbsp;<br>

<b>Is Worms 3D programmed in C or C++?</b><br>
<i>C++. We make good use of object oriented programming practices.</i><br>&nbsp;<br>

<b>Did you jump in at the deep end with coding, or start with QA?</b><br>
<i>There's a bit of a story there... After leaving university I spent almost a year doing little 
bits of freelance work here and there (mainly sub-contracted by Andy C, working on Alien Breed II). 
I was living with Andy C (the guy who developed the landscape technology we're using) and Mike G 
(one of the artists who's doing lots of detail work). Andy already had a job here, and Mike had just 
managed to get a place too. Mike didn't have a car though, and I was 'between jobs', so I 
chauffeured him in for a while. We lived about 75 mins drive away, so there wasn't much point in 
going home. I brought my computer with me, found a quiet corner and started programming. After a 
couple of weeks I got Andy C to talk to Martyn about the possibility of giving me a job (I was a 
little shy back then), Martyn said he'd look into it and get back to me. A week later I hadn't heard 
anything so I went to see him myself, and I was told things were a bit busy and he'd look into it. 
Team17 were working on several projects at that time and Martyn was over-viewing them all, so I 
wasn't that surprised when I didn't hear from him. After about a month of pestering I eventually 
managed to get an interview, and Charlie Wallace (who was at that time lead programmer) decided to 
take me on as a support programmer. At last my foot was in the door, and now, 7 years later, I've 
managed to make it this far.</i><br>&nbsp;<br>

<b>How many lines of code is Worms 3D so far?</b><br>
<i>A lot - as of today there are 186222 lines of code in the Worms 3D code, and that's not including 
our core libraries (another 300000 lines).</i><br>&nbsp;<br>

<b>What's the best method for pixel perfect collision?</b><br>
<i>Stick to a 2D game! 3D collision is a nightmare, there are lots of solutions, but each has 
advantages and drawbacks. If you can find a 3rd party library that suits your needs I would suggest 
using that over writing your own.</i><br>&nbsp;<br>

<b>What is the longest time spent fixing one bug, and what was it?</b><br>
<i>That's a tricky one - bugs can come and go. When you think you've got one sussed it'll leap out 
and bite you again. One that seemed to keep coming back was actually a combination of issues both on 
the programmer and artist front. It resulted in the strange effects seen in the 'it shouldn't happen 
to a worm' pictures section on the Worms 3D website. That one was around from the start of the project 
until shortly before Christmas (about 12 months in total)!</i><br>&nbsp;<br>

<b>Do you have any suggestions for people trying to get into the programming business?</b><br>
<i>Don't do it the way I did! I was extremely lucky, and that method of 'getting in' is unlikely to 
work these days. It's well worth getting some structured training (in the form of an A-Level or a 
degree), but nothing beats hands-on experience - a good demo will get you an interview, and then you 
just have to impress the panel with your knowledge. Be prepared for a test of some description if 
you get an interview - it's becoming almost common practice to make people sit an entrance 
exam!</i><br>&nbsp;<br>

<b>I heard that you're using C++ and wondering around how many classes were created to make 
Worms 3D?</b><br>
<i>Well, as a standard we try to stick to one class per file (with some exceptions for private data 
structures), so looking back at the question about the number of files in the project, there are 
about 900 classes.</i><br>&nbsp;<br>

<b>What do you think is the best food to snack on while programming?</b><br>
<i>Tangfastics (or a banana if you're trying to be a little healthy).</i><br>&nbsp;<br>

<b>What type of detail were the most painful to finish?</b><br>
<i>Well, we haven't finished yet, so I could be wrong, the biggest headache is actually something 
you can't see. The input mapping changes throughout the game and design are forever making requests 
to override default functionality - none of that was considered when the input mapping system was 
designed. If I had the time I'd go back and re-write it all from scratch.</i><br>&nbsp;<br>

<b>Do you professionals really comment all your code so it is nice and readable, or is it some yarn 
the education system feeds us students?</b><br>
<i>I try to comment all of my code, and I encourage all of the Worms 3D programmers to do the same. It 
might be fairly obvious what's going on when you first write something, but you can guarantee you'll 
have to back to it at some point, and the more comments there are, the better chance you'll have of 
figuring out what's going on.</i><br>&nbsp;<br>

<b>Do you also find you can think more logically around 4:00 in the morning?</b><br>
<i>I can think more logically when it's quiet and I'm not being bombarded with questions and 
requests. At 4:00 in the morning, there aren't likely to be that many people around, so 
yes!</i><br>&nbsp;<br>

<b>How many programmers does it take to change a light bulb?</b><br>
<i>Only one - but you can see plenty from the glow of your monitor, so why bother?</i><br>&nbsp;<br>

<b>How hard is it to program a game?</b><br>
<i>That depends on the game. If you're talking about the kind of game you buy in the shops, then the 
answer is VERY. On the other hand, you could probably knock up the kind of games people wrote in the 
80's in a couple of weeks (or even days in some cases). The main challenge back then was getting 
things to happen quickly, these days it's all about making things 'real' - and that's 
tricky!</i><br>&nbsp;<br>

<b>Do databases ever rear their ugly head in the world of game programming?</b><br>
<i>These days there is a lot of data to manage in games - it's no longer just a case of keeping a 
hi-score table. A lot of graphical effects for example are data driven, so details about every 
particle need to be stored and easily retrieved. Thankfully, we don't generally need to write or 
batch process enormous records of data, but some database management it always 
required.</i><br>&nbsp;<br>

<b>Do you ever do any work in another programming language (like Visual Basic)?</b><br>
<i>I haven't programmed in anything else for a long time.</i><br>&nbsp;<br>

<b>How much time was spent creating Worms 3D Engine?</b><br>
<i>The core libraries have been developed over the last 3 years - Worms Blast was the first title we 
released that used them. The landscape technology took a couple of weeks to put together (in it's 
original form), although it's required a lot of tweaking since then.</i><br>&nbsp;<br>

<b>What is your favourite programming language?</b><br>
<i>That would have to be C++ - purely because it's what I use the most.</i><br>&nbsp;<br>

<b>How much time do you spend at the PC?</b><br>
<i>I work for 7 1/2 to 8 1/2 hours a day - most of that is spent in front of a PC, although there 
are days when I barely get a chance to sit down. I also program a little in my spare time and play 
games at lunch time and at home, so altogether I probably spend about 10 hours a day in front of a 
PC.</i><br>&nbsp;<br>

<b>Have you ever forgotten a really easy bit of code for about 10 minutes just as your about to put 
it in?</b><br>
<i>I don't think so, although I've sat down and completely forgotten what I was about to do. I've 
taken to making notes in a notepad so that I don't forget!</i><br>&nbsp;<br>

<b>What books would you recommend to learn the specifics of 3D game production, and should such an 
education lean more on physics or graphics?</b>
<i>I haven't really read any books on the subject - anything I'm not sure about I tend to glean from 
the web. Your first stop for getting to grips with 3D game production should really be maths - you 
need a fairly good understanding of vectors and matrices before you can get anywhere. After that it 
depends whether your interests lie in simulation (in which case read up on mechanics/physics), or 
aesthetics (in which case read up on graphics). For an all-round knowledge, it's worth reading up on 
both, even if you only use one of them.</i><br>&nbsp;<br>

<b>How do you 'cope' with the harrowing schedule of a game developer?</b><br>
<i>Coffee</i><br>&nbsp;<br>

<b>Was it the first career you chose?</b><br>
<i>Yeap - I did some work experience with an electrical engineer, but after the flip of that coin, 
it was computers all the way.</i><br>&nbsp;<br>

<b>Have you used Turbo Pascal 7?</b><br>
<i>I have no idea which version it was, but I used Turbo Pascal for doing my A-Level in computer 
science (that was back in 1990/91).</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Chuck on...<br>Team17</td>
						<td class="darktext">
<b>How did you get involved with T17?</b><br>
<i>See above for the 'interview' procedure. Prior to that, it was Andy C who got me here. We went to 
University together - he was putting together a Doom clone on the Amiga and boasted about it on a 
newsgroup somewhere. Somebody from Team17 read it and Alien Breed 3D was born. After Uni, he was 
offered a job and eventually I ended up here too. </i><br>&nbsp;<br>

<b>When you play Worms (any version) against the rest of the office, who do you most like to play 
against and why?</b> 
<i>To be honest I don't play Worms very often - not because I don't like it, but because I suck at 
it!</i><br>&nbsp;<br>

<b>What is the advantage of working with Team17 and what is the disadvantage?</b><br>
<i>Advantage: It's a nice friendly atmosphere and you get to see your work in the shops!
Disadvantage: There's a factory up the road that makes a horrible stink (thank goodness for 
air-con).</i><br>&nbsp;<br>

<b>Can I get a job at Team17 when I get my B.A. in Computer Science, or do I need a Masters in 
Computer game and Applications Programming?</b><br>
<i>There are no minimum qualifications for getting a job at Team17. If you can demonstrate a good 
working knowledge of C++ and general programming abilities we will consider your 
application.</i><br>&nbsp;<br>

<b>How is the Team17 HQ (building/offices etc) laid out?</b><br>
<i>It's rectangular in shape and split into two floors with a corridor running down the centre of 
the building. It's difficult to describe the layout, but there's a shot of the outside of the 
building on the Team17 website: http://www.team17.com/images/pictures/hq.gif
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Chuck on...<br>Worms</td>
						<td class="darktext">
<b>Is any of the programming for Worms 3D done on assembly level?</b><br>
<i>Not for the PC - some code is optimised for the consoles though, to make use of the various 
pipelines and extra processors available.</i><br>&nbsp;<br>

<b>What's your favourite Worms game? (Not including Worms 3D)</b><br>
<i>Worms Blast (just a teeny weeny bit of bias there though).</i><br>&nbsp;<br>

<b>What do you think of Worms 3D?</b><br>
<i>I think it's great - I have to admit I was a little worried about how it would translate from 2D 
to 3D, but I think we've made done a pretty good job of it.</i><br>&nbsp;<br>

<b>What do you think is the best part of Worms 3D?</b><br>
<i>It's difficult to pick out one thing that's better than all the rest, but I'm very pleased with 
the way the landscape has turned out - it's brought a 'built-in' style to the game, and works very 
well.</i><br>&nbsp;<br>

<b>What do you like best about the Worms series?</b><br>
<i>It's longevity.</i><br>&nbsp;<br>

<b>What is your favorite thing going to be in Worms 3D that you programmed?</b><br>
<i>Unfortunately, I don't get much opportunity to write stuff that is directly visible in-game, 
however, I was quite pleased with borders you see in EFMV sequences - it only took a few minutes and 
made it look so much nicer :)</i><br>&nbsp;<br>

<b>What is the longest you have been awake since production of Worms 3D started?</b><br>
<i>Probably about 18 hours - we try to avoid working long hours because it's counter productive. You 
just end up getting tired and lose your ability to concentrate. Mistakes made during those periods 
are inevitably difficult to track down and fix (as you get tired, you tend to make your variable and 
function names less descriptive, and comments become less frequent, so debugging becomes a 
nightmare).</i><br>&nbsp;<br>

<b>What has been your least favourite part of the Worms 3D project?</b><br>
<i>I don't think there have been any particular lows so far - ask me again after we've finished and 
I'll undoubtedly have a different story to tell.</i><br>&nbsp;<br>

<b>What version of DirectX will the game be using?</b><br>
<i>DX9.</i><br>&nbsp;<br>

<b>Will you be able to use a game-pad or joystick for Worms 3D?</b><br>
<i>We are developing the game primarily for the consoles, so we've been using PS2 pads. There are a 
lot of controls though, and they all mean different things to the game in different camera modes 
(making it an almost impossible nightmare to remap them using the front-end). Consequently we won't 
be supporting pads and sticks for the PC.</i><br>&nbsp;<br>

<b>How skilled are you in Worms 3D?</b><br>
<i>Poor to average.</i><br>&nbsp;<br>

<b>How skilled are you in any of the W2(2nd Generation Worms)games?</b><br>
<i>Amusingly poor.</i><br>&nbsp;<br>

<b>How skilled are you in any of the W1(1st Generation Worms)games?</b><br>
<i>Cringingly poor.</i><br>&nbsp;<br>

<b>Do you like Worms Blast?</b><br>
<i>Yeap :)</i><br>&nbsp;<br>

<b>Will there be cheats for Worms 3D?</b><br>
<i>We're not currently putting any in, but I wouldn't be surprised if a few slipped in before 
shipping.</i><br>&nbsp;<br>

<b>What are the distances in Worms measured in?</b><br>
<i>Worm units (somewhere between an inch and a mile).</i><br>&nbsp;<br>

<b>You have already talked about poxels briefly, what other programming tricks have you invented or 
relied upon for Worms 3D?</b><br>
<i>Everything else has been comparatively standard fair really - we haven't needed to rely on any 
tricks to get what we need. The best solutions are often the most simple, although you have to be 
willing to accept that sometimes there isn't a simple solution.</i><br>&nbsp;<br>

<b>What is the most challenging programming problem your team has faced so far in the development 
and how did you overcome it?</b><br>
<i>The most challenging thing has probably been avoiding treading on one another's toes. There are a 
lot of people all trying to access the same data and source files, and sometimes this can result in 
conflicts. To try and keep this to a minimum we use a source control program called Perforce which 
manages revision histories and lets us keep track of who's changing what and why. It's not really a 
programming problem, but it tends to affect the programmers more than anybody else.</i><br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Chuck Q 'n' A -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | Chuck Q 'n' A -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Chuck</b><br>&nbsp;<br>
<img src="images/abou/thet_chuc_1.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<img src="images/abou/thet_chuc_2.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<img src="images/abou/thet_chuc_3.gif" width="107" height="107" border="0" alt=""><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | Chuck Q 'n' A -->
{%- endblock %}
