---
title: Jegg Q 'n' A
layout: page
struct:
  - abou
  - thet
  - jegg
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the team | Jegg Q 'n' A | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | <a href="abou/thet/jegg" target="_self" class="whitelink">Jegg Q 'n' A</a> | image ]</td>
					</tr>
					<tr>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="abou/thet/jegg" target="_self"><img src="images/abou/thet_jegg_{{ current }}.jpg" width="382" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Jegg Q 'n' A | image -->
{%- endif %}

			<!-- ABOUT | the team | Jegg Q 'n' A -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | Jegg Q 'n' A ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Jegg on...<br>Jegg!</td>
						<td class="darktext">
<b>Full Name?</b><br>
<i>John Eggett.</i><br>&nbsp;<br>

<b>How old are you?</b><br>
<i>30.</i><br>&nbsp;<br>

<b>How tall are you?</b><br>
<i>Not sure, 6 ft something...</i><br>&nbsp;<br>

<b>Where did you do your studies?</b><br>
<i>University of life.</i><br>&nbsp;<br>

<b>What's your favourite food?</b><br>
<i>Something with meat in.</i><br>&nbsp;<br>

<b>Do you have a pet?</b><br>
<i>No pets.</i><br>&nbsp;<br>

<b>What is your favourite film?</b><br>
<i>Changes, at the moment, Black Hawk Down. Others include Aliens, Iron Cross.</i><br>&nbsp;<br>

<b>What's your favourite console?</b><br>
<i>That would be the SNES. There were some great games for that system... Zelda, Mario Kart/Land. I 
remember shelling out 65 quid for Street fighter2 and thinking it was a good deal!   Or Dreamcast 
had lots of fun with DOA 2, Dance Dance Revolution. Plenty of fun multiplayer 
games.</i><br>&nbsp;<br>

<b>What did you eat for lunch yesterday?</b><br>
<i>Cheese and ham toastier + chips and token salad. I would have gone for an 'all day breakfast' but 
the chief at the local pub is trying to kill us with unfeasibly large portions and I'd had one that 
week already.</i><br>&nbsp;<br>

<b>Favourite colour?</b><br>
<i>It's got to be purple or black.</i><br>&nbsp;<br>

<b>Favourite person?</b><br>
<i>Me?  I dunno, our lass...</i><br>&nbsp;<br>

<b>Favourite drink?</b><br>
<i>That's easy.. Beer :P</i><br>&nbsp;<br>

<b>Favourite animal?</b><br>
<i>I'd quite like a dog, er.. A whippet or some other breed that constantly looks scared and keeps 
its tail between its legs.</i><br>&nbsp;<br>

<b>Favourite word?</b><br>
<i>Draconian (Exceedingly harsh; very severe).</i><br>&nbsp;<br>

<b>Favourite smell?</b><br>
<i>I do like the deodorant Agent Dennis keeps on his shelf; we all steal a bit when he's not 
about... Shhhh.</i><br>&nbsp;<br>

<b>Favourite book?</b><br>
<i>Oyo, Mainly non-fiction, yeah that's it. I like getting to grips with history. Oh and those 'How 
does it work?' books. If I had to pick a fiction book it would be 'The Keep' (F. Paul Wilson). It's 
got vampyres in.</i><br>&nbsp;<br>

<b>Favourite song?</b><br>
<i>Tough one, I guess it would be something by Sisters of Mercy, Adrenochrome or Temple of 
Love.</i><br>&nbsp;<br>

<b>Favourite car?</b><br>
<i>A Capri, see favourite colours above.</i><br>&nbsp;<br>

<b>Favourite TV show?</b><br>
<i>Something on Discovery or History channel.</i><br>&nbsp;<br>

<b>Favourite sport?</b><br>
<i>What's sport? I used to do a lot of cycling, does that count?</i><br>&nbsp;<br>

<b>Favourite number?</b><br>
<i>24... It's my birthday see...</i><br>&nbsp;<br>

<b>Favourite operating system?</b><br>
<i>Whatever is most supported, therefore XP. I do remember thinking workbench on the Amiga was the 
best thing since sliced bread.</i><br>&nbsp;<br>

<b>What type of car do you drive?</b><br>
<i>I don't drive matey...</i><br>&nbsp;<br>

<b>What languages do you speak?</b><br>
<i>English, (Sober and non-sober)</i><br>&nbsp;<br>

<b>What colour are your eyes?</b><br>
<i>A kind of dark blue last time I looked.</i><br>&nbsp;<br>

<b>Do you prefer normal or water beds?</b><br>
<i>Normal.</i><br>&nbsp;<br>

<b>How high can you jump?</b><br>
<i>Window ledge type height.</i><br>&nbsp;<br>

<b>What type of calculator do you have?</b><br>
<i>A cheap &pound;2:99 market style job in a plastic case.</i><br>&nbsp;<br>

<b>How many computers do you own?</b><br>
<i>I have 2 PCs at home.</i><br>&nbsp;<br>

<b>Do you sing in the shower?</b><br>
<i>Don't know about that but I and Lord Death do whistle in the office, ask Rico... He loves 
it.</i><br>&nbsp;<br>

<b>What countries have you been to?</b><br>
<i>Er... Wales? Nowhere out of the UK.</i><br>&nbsp;<br>

<b>What animal would you most like to see explode?</b><br>
<i>A cat.</i><br>&nbsp;<br>

<b>Do you have family? If so, do you ever see them?</b><br>
<i>Yes, not as often as I should.</i><br>&nbsp;<br>

<b>Do you ever sleep?</b><br>
<i>Yep, but would prefer to be awake.</i><br>&nbsp;<br>

<b>What do designers eat?</b><br>
<i>All sorts, we have 'Big Butty shop' which delivers in the morning doing breakfast type things. 
'Mario's' delivers at lunchtime (sarnies and hot food). There is the pub for portions that are too 
big. We have a vending/coke/coffee machine at work. Oh and the 'Sweet man' and ice cream van calls 
round sometimes in the afternoon.</i><br>&nbsp;<br>

<b>What are your nicknames?</b><br>
<i>'Jegg', 'Jeggett', 'you again', 'oh no' (Steve Es fav). It's mainly Jegg.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Jegg on...<br>Team17</td>
						<td class="darktext">
<b>How did you get to work with Team17?</b><br>
<i>Left school, worked at a computer shop for 6 years, got to play just about every game out during 
that time. Heard about QA job at Team17 through 'an old friend' who already worked there? I applied, 
got in and spent a few years in test (good place to start) before moving into Design. Been here 8-9 
years now.</i><br>&nbsp;<br>

<b>How does it feel to be work in T17?</b><br>
<i>Proud...</i><br>&nbsp;<br>

<b>How hard is the job you do there?</b><br>
<i>Some days it seems quite easy... That's some days. It can be very hard work and you always seem 
to be thinking about work... Should it be this way? Maybe we should try this? Is that too difficult. 
It is rewarding however and there's nothing better than seeing something you've helped create go 
down well with the punters.</i><br>&nbsp;<br>

<b>What do you like best of your team-mates?</b><br>
<i>That we can have a laugh.</i><br>&nbsp;<br>

<b>What made you choose to work at T17?</b><br>
<i>It was more circumstance, I live in Yorkshire... Team17 are based in Yorkshire... 
Perfect!</i><br>&nbsp;<br>

<b>How does it feel to be the first interviewed?</b><br>
<i>Privileged... and scary.</i><br>&nbsp;<br>

<b>What do you like most of working at T17?</b><br>
<i>Besides doing something I enjoy, almost feels like a hobby (apart from when they make me do 'in 
game text'). It's seeing what you've helped create end up as a finished game. Oh, and getting 
paid.</i><br>&nbsp;<br>

<b>What's the worst thing about working at Team17?</b><br>
<i>Worrying if what you're doing is good enough. You're part of a team, everyone has to pull their 
weight and deliver the goods. Sometimes, when you've been working on a certain aspect of the game 
for long time you can lose focus. By that I mean you lose the ability to judge if it's ok, works or 
is fun. You've simply been with it too long. That's where test can help.</i><br>&nbsp;<br>

<b>When not at work, what do you spend most of your time doing?</b><br>
<i>Going to the pub, playing games, reading, spending quality time with the thumb (slang for 
Gfriend, as in 'under the thumb').</i><br>&nbsp;<br>

<b>Who have you gotten into the biggest fight with at team17?</b><br>
<i>Probably another designer. We all have strong views sometimes on how something should be and can 
lead to a healthy debate. But that's cool, all views need to be heard. If you mean fisticuffs then 
no, things have never come to blows.</i><br>&nbsp;<br>

<b>How do Team17 recruit new programmers (agency, adverts, etc)?</b><br>
<i>I'm not sure really, I think adverts, word of mouth. Some people just apply.</i><br>&nbsp;<br>

<b>What skills/qualifications do they need to have?</b><br>
<i>That they can do what they are applying for, anything else has got to be secondary. Again I'm not 
up on this recruiting lark.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Jegg on...<br>Worms</td>
						<td class="darktext">
<b>Is there going to be anything that will pleasantly surprise us in Worms 3D that you are not even 
going to hint about?</b><br>
<i>Yes, and I'm not going to hint about it.</i><br>&nbsp;<br>

<b>How much are you looking forward to the release of Worms 3D?</b><br>
<i>Very much so, it's always good to hear what people think of what you've helped 
create.</i><br>&nbsp;<br>

<b>What are your main influences (alcohol/art/other games & stuff) when designing Worms 3D?</b><br>
<i>Worms! Worms!! Worms!!! It's got to be... Makes sure it's got all that the original Worms had and 
then.... Fun, challenge, surprise. I like to try and add things a little different and unexpected 
(while keeping it in the scope of Worms), such as the Beanstalk or Wormpot. Will be interesting when 
you lot find out what's at the top of that slender beanstalk or what's on many other 
levels.</i><br>&nbsp;<br>

<b>What were the most difficult thing to include into 3-d from 2-d?</b><br>
<i>We did anticipate the aiming would be a major headache. However after the prototype (which showed 
we were on the right track) it seemed to become easier and easier. Tweaks to weapons and movement 
are ongoing to ensure it plays just like it should. You'll be very pleasantly 
surprised.<br>&nbsp;<br>

The deformable landscape was another frightening feature but AndyC (Peeling on the forum) came to 
the rescue with his amazing engine. I bet his calculator is bigger than my &pound;2:99 efforts! None of 
your cheap pulling down of points here and everything from the squid's tentacle to that spaceman 
being sucked up can be destroyed bit by bit.</i><br>&nbsp;<br>

<b>When creating the game in 3D, what new feature/element are you most afraid will make the game 
lose its original 'Worms' feel?</b><br>
<i>Moving and firing, we all were worried by this hence the prototype where we could try things out. 
Once we knew it was possible we improved and refined them and keep on top them, tweaking and 
refining so when you lot get it, it will be perfect.</i><br>&nbsp;<br>

<b>There is something you were waiting to do in 3D Worms, instead of doing it in previous 
ones?</b><br>
<i>Oh, lots there's always something a designer wants to add, if we had our way it would never get 
released! We almost have as many ideas as you lot waiting to sneak in.</i><br>&nbsp;<br>

<b>What qualities get a new weapon or utility into the game?</b><br>
<i>That it works with the rest. It's finely tuned and the wrong weapon (power, damage, amount, ease 
to hit etc) can break it. We all know what happens when all the super weapons are switch on, It's 
simple not as fun. You lose the strategy, the skill, the 'can he hit me from 
there'.</i><br>&nbsp;<br>

<b>What's your favorite Worms Weapon?</b><br>
<i>Ahh, the Prod. Nothings as satisfying as performing the 'prod dance' before knocking a worm into 
the water. Prod dance? It's when you move up to the target worm, pull out the prod and tap left, 
wait a second.... tap right. Repeat till you seconds are low and hit fire. If possible press fire 
with some other part of your anatomy such as nose, elbow or arse for full humiliation of your 
opponent (that last bit only works if they are in the same room).</i><br>&nbsp;<br>

<b>Do you or any of T17 for that matter still go on online and play, either WA or WWP</b><br>
<i>Not now, though I did go on Party a few months back when reminding myself of the network screens. 
Rest assured we'll all be waiting online when Worms 3D is released to welcome to first few 
online.</i><br>&nbsp;<br>

<b>Are there any new weapons that you would have liked to see in the game but couldn't be 
included?</b><br>
<i>I always wanted some type of sticky bomb; there have been plenty of similar ideas knocking about 
the forum. I'd love to stop an enemy worm in its tracks for a couple of turns. Maybe add some 
decathlon style button bashing where the stuck player could have a chance to get 
out.</i><br>&nbsp;<br>

<b>Are there any weapons which have been included which are particularly impressive, or worked out 
better than expected?</b><br>
<i>Parachute, on some missions it's like Pilot wings. Looks great, feels great. Almost like a game 
in it's self... Hey, That' Worms!</i><br>&nbsp;<br>

<b>Are there going to be any extra goodies in Worms 3D that will make us play for hours just to unlock 
them?</b><br>
<i>Oh Yes! Now this is exciting. We plan to have worm Easter eggs hidden about the levels. Find one 
and collect it and you could unlock something. Maybe it's hidden underground. Maybe it's in that 
cave you just can't quite get to. Where does that trail of flowers lead to? Why are there 
butterflies over there? Maybe you have to jump on the right keys on a keyboard (Thanks Chesh). The 
list goes on and on :)</i><br>&nbsp;<br>

<b>What is your favourite element of Worms 3D so far?</b><br>
<i>That it's Worms and more. It's nice to be able to use 'some' old strategies but even better to 
discover new ones. Now that we're in 3D there's a lot more that can happen while keeping in the 
faithful Worms game play.</i><br>&nbsp;<br>

<b>Has there been any real disagreement over the content of Worms 3D?</b><br>
<i>We are all looking in the same direction; sometime we discuss different ways of implementing 
them. We usually try a few different ways such as aiming (which incidentally is almost identical to 
the original Worms). We put our ideas/suggestion in and try em. That's the best 
way.</i><br>&nbsp;<br>

<b>What problems are weapons that are affected by gravity and/or wind giving you?</b><br>
<i>Wind is not a problem, same as 2D. Look where the wind is blowing and adjust your aim 
accordingly. Yep, you can pull off those fancy wind shots. Gravity is just a tweak which is working 
fine now.</i><br>&nbsp;<br>

<b>Is there even going to be wind in the game?</b><br>
<i>Of course :) How would you perform that fancy wind shot?</i><br>&nbsp;<br>

<b>If team17 were not able to create a poxel-engine and had to use height-maps instead, 
Would u have still continued with the production of Worms 3D?</b><br>
<i>If we did it wouldn't be as good, I think we all wanted it to be right and no half measures. No 
point knocking out a 3D version for the sake of 3D.</i><br>&nbsp;<br>

<b>What's your least favourite thing about Worms 3D so far?</b><br>
<i>That's a tough one; I guess it would be no big full blown mission script editor on release. That 
said, it will come... I hope..</i><br>&nbsp;<br>

<b>Will it be possible to create some of the segments of land as 'hidden' both graphically and for 
physical modeling purposes, then 'reveal' them with the script?</b><br>
<i>It is possible, I can't say if it will be in effect on the first version of Worms 3D. We do have 
some clever similar type effects in already though. Walking on transparent clouds 
anyone?</i><br>&nbsp;<br>

<b>What about particle generators? Will we be able to make something on the map to start smoking on 
the 5th turn or with some other trigger?</b><br>
<i>Depends if you get the script editor on this release (see above). We can and do use it a lot. 
Particles are great. Smoke out of chimneys, bats in caves, Water spout on the whale, propellers on 
planes and lots more. Oh don't worry about these still been around when the land they are on is 
destroyed. We can attach to land you see. Chimney gone, smoke gone!</i><br>&nbsp;<br>

<b>On a scale of 1-10 with 10 being the best, how would you rate yourself in terms of skill at 2D 
Worms?</b><br>
<i>7.. I'm the kind of player who make silly mistakes, and I'm pathetic on the 
rope.</i><br>&nbsp;<br>

<b>Are wind effects in Worms 3D going to be handled as horizontal acceleration as in W2, or relative to 
the velocity of the projectile as in 'real' life?</b><br>
<i>Just horizontal, it's easier and more fun... That's what we're after, fun. Not a 
simulation.</i><br>&nbsp;<br>

<b>Who do you think plays Worms (any Worms game) the best out of all Team17 staff?</b><br>
<i>Probably Kev (Chesh) and Grant (G).. And though it pains me to say it (he's not modest) 
Kilburn..</i><br>&nbsp;<br>

<b>When you compete at the current version of Worms 3D, who is the best?</b><br>
<i>Ahah! I got Kilburn to play me again after reading this question and he was knocked out. Though 
his usual complaints.. Landscape too flat, dodgy keyboard/pad, sun in his eyes etc 
etc.</i><br>&nbsp;<br>

<b>Is the replay-ability level of Worms 3D, the same - less - or greater than the level of the other Worms 
games? If it is greater then why does it have more replayability?</b><br>
<i>Greater as there is simply more that can happen if you so play that way. Strategies are now wider 
and more varied. Also the secret Easter eggs (see above) ensure you'll be going back and back again 
to unlock 100%</i><br>&nbsp;<br>

<b>What will you do on the day that the game is released?</b><br>
<i>Pop online to welcome the first few online. Have some games then off to the pub to 
celebrate.</i><br>&nbsp;<br>

<b>Are you working on any other T17 games apart from Worms 3D?</b><br>
<i>Not at the moment though others are on the horizon. And you'll want more 
Worms 3D.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Jegg on...<br>Games design</td>
						<td class="darktext">
<b>How did you get your first break into the industry?</b>
<i>Knew someone who worked at Team17, really wanted the job and I was passionate about 
games.</i><br>&nbsp;<br>

<b>Do you have any advice for people wanting to get into the industry? More specifically, people 
from the UK. (What qualifications to get, where to go etc)?</b>
<i>Depends which field. I started at the bottom rung as a grunt in QA.  It's usually a good place to 
start if you've no experience working in the industry. You get to see how many sections work and get 
help from coders, artists, designer depending on what you're aiming to. Team17 promote often from 
within. We've producers, artists and designers which all started out in T17 QA.</i><br>&nbsp;<br>

<b>What tools do you use in your job?</b>
<i>Depends on the project, sometimes something will be written specifically. For Worms 3D we use the 
Worms 3D editor, Particle Tweak editor and Sciedit for the scripts.</i><br>&nbsp;<br>

<b>What games have you helped design?</b>
<i>I've worked on while in design, Worms Armageddon, Phoenix, Worms World Party, Worms Blast, Worms 3D 
and other odds and ends.</i><br>&nbsp;<br>

<b>Briefly describe a typical day.</b><br>
<i>Wednesday 19th March 2003 Day in life of Jegg<br>&nbsp;<br>

07:40 - Get up.<br>
09:00 - Arrive, have chat read spam and check forum.<br>
09:15 - Continue with scripting.<br>
10:30 - Take a break from scripting to alter camera It's on my to do list, (trying it a tad further from the worm for default view).<br>
11:00 - Spadge calls in has some new movement tweaks for me to try.<br>
11:30 - Few of us look at the camera, movement tweaks, play and discuss.<br>
12:00 - Write quick email regarding camera and movement thoughts.<br>
12:30 - Lunch at Commercial.. Play dice game and try and eat big meal.<br>
13:30 - See lads about their missions if any probs go and see coders<br>
14:00 - Talk to G about weapon settings (damage, push etc) See Kilburn about more movement for worm when pushed somewhere.<br>
14:30 - Script missions.<br>
14:50 - Coder doing AI drops in, talk about situations AI might find itself in. knock up a quick level so he can see how AI is performing.<br>
16:30 - Work on cameras in missions (start efmv).<br>
17:30 - Home time.<br>&nbsp;<br>

Add pester programmer a few times and add smoke break in a.. Ahem.. A few more 
times.</i><br>&nbsp;<br>

<b>What were the main things you worked with in the other games?</b>
<i>All sorts, I've done missions, front-end, game play, AI.. You usually get your hands dirty with 
most aspects of the game.</i><br>&nbsp;<br>

<b>Has any forum members influenced you with their ideas?</b>
<i>I guess it does influence us in some way, most time we've already thought of something similar 
whether it works or not. We're here 9-5 thinking about it.</i><br>&nbsp;<br>

<b>Do you ever wish the development process was different with regards to press/internet 
exposure?</b>
<i>I wish more games did well because it's a good game and not because it's got some name behind 
it.</i><br>&nbsp;<br>

<b>Was it always your ambition to become a games designer or did another path lead you to it?</b>
<i>I simply wanted a job I could do... I was tempted to write for the press at one point, did a 
computer column for a local newspaper for a while, and thought about advancing in that direction. 
Now I'm here I wouldn't look back.</i><br>&nbsp;<br>

<b>Is there any aspect of your job that you would like to see changed?</b>
<i>Maybe for us designers to get our own way more often.</i><br>&nbsp;<br>

<b>Are the forums all part of work...as in you are allocated time to read threads or is it something 
you do for a 5 min break from work - do you actually read each and every thread?</b>
<i>I go on a few times a day. Usually while something is loading or I'm waiting for something. We're 
not allocated time, just use common sense.</i><br>&nbsp;<br>

<b>Do you ever buy and play Team17 games after they have been released in the shops?</b>
<i>We get a copy free so there is no need. I did buy Alien Breed on Amiga before I worked 
here..</i><br>&nbsp;<br>

<b>To be a designer, do you need to have any programming knowledge or is it just something that 
helps but isn't essential?</b>
<i>It certainly helps especially if you're scripting and when working closely along side them, which 
you will be. I wouldn't say it's essential but helps. </i><br>&nbsp;<br>

<b>Do you slack off and post when you should be working?</b>
<i>If that's what posting is then yes! Seriously though, if you get your job done and spend a few 
mins a day reading the forum then it's no problem.</i><br>&nbsp;<br>

<b>What's your biggest accomplishment ever?</b>
<i>I think it 'will' be helping to make Worms 3D.</i><br>&nbsp;<br>

<b>Do you get a free copy of any game you have made after it's been published?</b>
<i>Yes, they are at home.</i><br>&nbsp;<br>

<b>What's your favourite game you've ever helped make at Team17?</b>
<i>WWP, we didn't have many resources for the project and the time to do it was short. We also had 
to add new features using an engine that couldn't be altered.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Jegg on...<br>Life</td>
						<td class="darktext">
<b>If you could have dinner with 4 other people who would it be and why?</b><br>
<i>I wouldn't mind who, simply try and have a great time with all. Whoever they 
are.</i><br>&nbsp;<br>

<b>Are there any moments while browsing the forums that have really caused you to laugh out 
loud?</b><br>
<i>Yeah, we all have a good chat about what you guys are up to. Guess when Kjatte is going to ask 
'what you up to T17?'. What piccys you've drawn. Check out the ideas. It's best when you have a 
really good discussion about something.</i><br>&nbsp;<br>

<b>Do you read any web-comics? If so, which?</b><br>
<i>I've read a couple on the forum, does that count?</i><br>&nbsp;<br>

<b>If you didn't work in the games industry, where would you most likely be working?</b><br>
<i>Not in the industry.. I don't know really, I've been in it in some way or another since leaving 
school I honestly can't imagine doing something not related.</i><br>&nbsp;<br>

<b>Have you successfully made the paper models at www.Worms3D.com?</b><br>
<i>Nope, though I once made a concertina out of a cig packet.</i><br>&nbsp;<br>

<b>Have you ever played Spank the monkey?</b><br>
<i>I am aware of that game.</i><br>&nbsp;<br>

<b>On these forums you guys are treated like celebrities, do you enjoy that status?</b><br>
<i>Yeah, it feels good that you're looking forward to what we're creating.</i><br>&nbsp;<br>

<b>What's your typing speed?</b><br>
<i>I can't remember what Mavis Beacon told me.</i><br>&nbsp;<br>

<b>Why are you now so under the thumb?</b><br>
<i>Because I'm getting old-er.</i><br>&nbsp;<br>

<b>Are you gonna kill Spadge for opening up this thread?</b><br>
<i>I might ask for a beer.</i><br>&nbsp;<br>

<b>What's your life 'sig'?</b><br>
<i>Make someone laugh.</i><br>&nbsp;<br>

<b>Finally, what's your message to the forum?</b><br>
<i>Keep Worming...</i><br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Jegg Q 'n' A -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | Jegg Q 'n' A -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jegg</b><br>&nbsp;<br>
<img src="images/abou/thet_jegg_1.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<img src="images/abou/thet_jegg_2.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="abou/thet/jegg/3" target="_self"><img src="images/abou/thet_jegg_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | Jegg Q 'n' A -->
{%- endblock %}
