---
title: Kilburn Q 'n' A
layout: page
struct:
  - abou
  - thet
  - kilb
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the team | Kilburn Q 'n' A | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | <a href="abou/thet/kilb" target="_self" class="whitelink">Kilburn Q 'n' A</a> | image ]</td>
					</tr>
					<tr>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="abou/thet/kilb" target="_self"><img src="images/abou/thet_kilb_{{ current }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Kilburn Q 'n' A | image -->
{%- endif %}

			<!-- ABOUT | the team | Kilburn Q 'n' A -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | Kilburn Q 'n' A ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Kilburn on...<br>Kilburn!</td>
						<td class="darktext">
Paul Kilburn is the producer of Worms 3D.<br>&nbsp;<br>

He's produced other Worms titles and has been at the company for 7 years. Here, he is laid bare and 
prodded with all manner of abusive interrogation from the Team17 Forum regulars...<br>&nbsp;<br>
		
<b>What's your favorite food?</b><br>
<i>Italian, home made pasta bolognese. I'm partial to Chinese though, and KFC.</i><br>&nbsp;<br>

<b>What's your favorite country?</b><br>
<i>That would be Vietnam. I haven't been, but it looks good. Certainly not 
England.</i><br>&nbsp;<br>

<b>What's your favorite console?</b><br>
<i>Now it's the PlayStation2, solely for the range of games (well, Vice City and Pro Evolution 2). I 
still look back at the excellent set of games I've got for the Dreamcast and wonder rhetorically 
what happened to it (I know what happened to it).</i><br>&nbsp;<br>

<b>What's your favorite song?</b><br>
<i>Tricky one, as it depends what mood I'm in, or even what time of year it is. Current favourites 
are: 'There is a light that never goes out' by The Smiths; 'Local boy in the photograph' by the 
Stereophonics and 'Dreaming of you' by The Coral. My all time favourite though, that I never get 
bored of would be 'Long Long Long' from the White Album by the Beatles.</i><br>&nbsp;<br>

<b>What's your favorite type of music?</b><br>
<i>Popular music and Indie Rock.</i><br>&nbsp;<br>

<b>What's your favorite singer/band?</b><br>
<i>The Beatles.</i><br>&nbsp;<br>

<b>What's your favorite movie?</b><br>
<i>Tough choice, as like songs it depends what mood I'm in. From these favourites: American Werewolf 
in London; Trainspotting; Snatch; The Shawshank Redemption, I'd probably state Trainspotting as my 
overall favourite.</i><br>&nbsp;<br>

<b>Who do you like most at T17?</b><br>
<i>I haven't got a favourite, there's no-one here anymore that I dislike.</i><br>&nbsp;<br>

<b>How does it feel to have your pictures in Spadge's site?</b><br>
<i>It doesn't 'feel' anything. It's quite a good, funny site though...</i><br>&nbsp;<br>

<b>What's your favorite Worms game?</b><br>
<i>The original on the Amiga. It was mental at team17 at the time, new versions were always eagerly 
awaited, people would be sat playing it all afternoon, you could tell it would be massive. There was 
something really good about that version.</i><br>&nbsp;<br>

<b>What's your favorite sound-bank?</b><br>
<i>From the default ones I like Raj and Formula One. There's loads of custom ones that I like, the 
'Full Metal Jacket' one is probably my favourite.</i><br>&nbsp;<br>

<b>What's your favorite TV show?</b><br>
<i>The Simpsons. Without question.</i><br>&nbsp;<br>

<b>What's your favorite PC game of all time (Not Worms)?</b><br>
<i>Recently, I've really enjoyed Return to Castle Wolfenstein, Max Payne and Battlefield 1942 
(online only mind). Dune 2 would be my 3rd choice and Team Fortress would come in a worthwhile 2nd, 
but my favourite PC game would be Age Of Kings.</i><br>&nbsp;<br>

<b>What do you hate the most?</b><br>
<i>Foxhunters. They make me sick. I could go on all day about how much I despise these people, but 
we'd be here, well, all day.</i><br>&nbsp;<br>

<b>What's your favorite book?</b><br>
<i>Fiction book is 'It' by Stephen King. Non fiction would be 'Deliver us from Evil' by David Yallop 
which is about the Yorkshire Ripper (a non too popular character in the North of England during the 
70's)</i><br>&nbsp;<br>

<b>Do you like Aardman Animation?</b><br>
<i>Of course. Who doesn't? I'm looking forward to the next Wallace and Grommit 
episode...</i><br>&nbsp;<br>

<b>Do you have DVD player?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>Are you good at drawing?</b><br>
<i>No.</i><br>&nbsp;<br>

<b>Are you alcoholic or just a beer-fan?</b><br>
<i>Difficult to say. I don't think I'm a proper alcoholic, but I start dreaming of beer if I haven't 
had a pint in 3 or 4 days.</i><br>&nbsp;<br>

<b>What is your favourite screen for a computer (IBM, HP, etc.)?</b><br>
<i>Erm, Iiyama, because I've got one at home and one at work. I don't really view things through any 
other monitor, but I'm sure there's some other good brands out there.</i><br>&nbsp;<br>

<b>What's your favourite non-alcoholic beverage?</b><br>
<i>Ribena.</i><br>&nbsp;<br>

<b>Most and least favourite publisher?</b><br>
<i>Most favourite would have been the old Hasbro, they had good people and gave excellent support. 
We had a really good proper relationship with them. There's an obvious answer to least favourite, 
but I'm not going to divulge it.</i><br>&nbsp;<br>

<b>Most and least favourite Worms weapon?</b><br>
<i>Most favourite is the bazooka, because I'm king of the arcing bazooka shot (and I don't dig easy 
fire and forget weapons). Least favourite is the kamikaze because of an unfortunate development 
incident that happened years ago but gets brought up on a regular basis. Let's just say that though 
the default kamikaze direction is horizontal, someone saw fit to have it as vertical in a Worms 2 
tournament. I'm not bitter about it though.</i><br>&nbsp;<br>

<b>Most and least favourite Bagel?</b><br>
<i>I can quite honestly say I've never to my knowledge eaten a bagel.</i><br>&nbsp;<br>

<b>Most and least favourite Word?</b><br>
<i>Most favourite word is 'chump', least favourite is 'lastorders'.</i><br>&nbsp;<br>

<b>Most and least favourite Website?</b><br>
<i>Football365.com is my favourite, least favourite is now Ebay as I'm sick of being outbid 3 
seconds before the close of an auction and everything on there seems to end up being more than you 
can buy it new for.</i><br>&nbsp;<br>

<b>Most and least favourite carpet colour?</b><br>
<i>Most favourite carpet colour is blue, least favourite is grey. Though wooden floors are far 
superior both aesthetically and style wise.</i><br>&nbsp;<br>

<b>Most and least favourite breakfast cereal?</b><br>
<i>Favourite is Corn Flakes, least favourite is any of those wheat things that look like pillows. 
Shredded Wheat I think they're called. Crumpets are better than cereals anyway.</i><br>&nbsp;<br>

<b>Most and least favourite text based game?</b><br>
<i>Can Monkey Island be classed as a text based game? Probably not, but in the absence of any other 
it would have to be Monkey Island 3. I don't have a least favourite because they're not my kettle of 
fish.</i><br>&nbsp;<br>

<b>How many hours of sleep do you get a night?</b><br>
<i>Currently, about 3 if I'm lucky. This is a conservative estimate and is interspersed with being 
woken up by one of 3 kids, the youngest being nearly 3 months old.</i><br>&nbsp;<br>

<b>What's your favourite type of pie?</b><br>
<i>That would definitely be Shepard's pie. Though a nice chicken and mushroom one would come 
second.</i><br>&nbsp;<br>

<b>Who is your favourite forum member?</b><br>
<i>Thomas P, because he never gives up his fight for apple mac rights ;)</i><br>&nbsp;<br>

<b>What does Kel eat for breakfast?</b><br>
<i>I've no idea, but it probably involves bacon or sausages.</i><br>&nbsp;<br>

<b>What is you favourite music?</b><br>
<i>Pop, and indie rock.</i><br>&nbsp;<br>

<b>Are you as Sarcastic in real life as you are on this forum?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>Which console do you own?</b><br>
<i>Of the current crop, PlayStation2 and Gameboy Advance.</i><br>&nbsp;<br>

<b>How tall are you?</b><br>
<i>Not sure, about 5'10''</i><br>&nbsp;<br>

<b>What is your favourite soccer team?</b><br>
<i>Barnsley, unfortunately. I prefer watching Rugby these days (league, not union - I'd rather chew 
my own feet off than watch rugby union).</i><br>&nbsp;<br>

<b>Do you play guitar? If yes, what guitar gear do you own?</b><br>
<i>Yes. I have a few bits and pieces but mainly use a Gibson Les Paul and a Marshall 
amp.</i><br>&nbsp;<br>

<b>What kind of beer-type is your favorite?</b><br>
<i>This is a tough one, but I'd have to go for Stella Artois. Becks and Budweiser are nice too. 
Actually, put lager down.</i><br>&nbsp;<br>

<b>What colour of socks do you wear?</b><br>
<i>Black.</i><br>&nbsp;<br>

<b>Make up a question you would like to answer and answer it.</b><br>
<i>Ok, erm. Q: Do you have a side business in hair dressing? A: No.</i><br>&nbsp;<br>

<b>The more it dries the wetter it gets, what is it?</b><br>
<i>Grant Towell?</i><br>&nbsp;<br>

<b>What kind of chocolate (white, dark or milk) is your favourite?</b><br>
<i>Milk. Especially Cadburys. I'm not a chocolate ponce who thinks English chocolate is not proper 
chocolate.</i><br>&nbsp;<br>

<b>What game do you like playing the most when your relaxing at home?</b><br>
<i>Currently Vice City. Or when it's light enough, Mario Kart on the GameBoy.</i><br>&nbsp;<br>

<b>What kind of lunch do you usually eat most days?</b><br>
<i>Usually some sort of sandwich...</i><br>&nbsp;<br>

<b>What do you do when you are bored?</b><br>
<i>Think. Ponder useless stuff, such as what is number 34 in the current charts. To be honest I 
don't usually get bored, I've got 3 kids so I'm either busy or knackered.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Kilburn on...<br>Team17</td>
						<td class="darktext">
<b>How did you get into the Team17 industry?</b><br>
<i>I was still at College doing a HND in Management Science and I saw an advert for games testers in 
the local paper. It sounded good so I applied and started a few months later when I'd finished 
college. About 6 months later I applied for assistant producer and then graduated to producer a year 
or two later.</i><br>&nbsp;<br>

<b>What exactly do you do there?</b><br>
<i>According to the designers, nothing. It's quite varied really though. It's my responsibility to 
ensure that we hit our intended dates for release and milestone dates that publishers require. 
Basically I badger everyone to do stuff (skillfully trying to get it done well before schedule ;) ) 
and keep track of schedules that we produce that tell us whether we're on track to hit future dates 
or not. When things go wrong (and they do) find ways to rectify things. I arbitrate between design, 
who generally want the moon on a stick and the people that have to do the work to make it happen. I 
also look after the logistic stuff like organising localisation of in-game texts etc. Liasing with 
publishers to ensure that we get on and receive good support during and after development is also a 
big part of my job.</i><br>&nbsp;<br>

<b>Why did you choose to be a producer?</b><br>
<i>It seemed like a good idea at the time.</i><br>&nbsp;<br>

<b>What do you do for the majority of the time you spend at work?</b><br>
<i>Walk between my office and the Worms 3D room. Once there, walk round everyone to see what they're 
doing and check out the results and either say 'cool' or 'it needs to be like this instead'. Liase 
with the team to settle any debates. Generally I just seem to be on everyones case, making 
unreasonable demands for builds and features to be complete (early). It's quite a big task when the 
team is as big as the Worms 3D team.</i><br>&nbsp;<br>

<b>What is your favourite aspect about your job?</b><br>
<i>Strangely, that there doesn't seem to be enough time in a day to do everything. It means I'm 
never bored or waiting for 'home time' like I suppose you get stuck doing in non-interesting 
jobs.</i><br>&nbsp;<br>

<b>Have you ever had a fight with anyone there at T17? Did you win?</b><br>
<i>No, not had any fights, I can't remember there being any either. It used to get heated when we 
had an internal 5-a-side football league, but that used to be handbags at 5 paces between two people 
in general. Years ago, there was an incident when it nearly boiled over when someone used someone 
else's bin to dispose of a coffee cup, but it calmed down eventually when reason was 
seen.</i><br>&nbsp;<br>

<b>What's the funniest thing you have seen/has happen to you there at T17?</b><br>
<i>It's not really suitable for family reading but once our network manager asked (under duress from 
a few of us giggling idiots) that a call be put out from our receptionist for his visiting brother, 
Cunny. He didn't have a brother and his surname was such that people literally fell out of their 
offices laughing.. (Our old net manager was called Espen Lyngaas by the way).</i><br>&nbsp;<br>

<b>How does it feel like working at with the rest of the guys at t17?</b><br>
<i>Good. They're a good set of blokes (and women).</i><br>&nbsp;<br>

<b>What's the easiest/hardest part of your job?</b><br>
<i>There's nothing really easy about it, but there's plenty of enjoyable things about it, such as 
beating design at their own missions or just at the game in general. The hardest part has to be 
trying to have builds put together across all 4 formats on the same day - it's just asking for 
trouble.</i><br>&nbsp;<br>

<b>Which one of the other Team 17 staff, do you often hang out with?</b><br>
<i>There's a hard core of faces who are always there for a quick pint after work, or turn up for a 
game of Perudo at dinnertime (I utterly recommend this game, it's Peruvian lying dice and we've 
played it for over a year without getting bored). The ones you'd know from the forum would be 
Spadge, Jegg (liquid milk or whatever he's called on the forum) and Grant.</i><br>&nbsp;<br>

<b>Who is the biggest lurker in the staff on the forum?</b><br>
<i>Luther, without doubt. He's one of the older team members however, and likes to keep a sort of 
teachers eye on the goings on ;)</i><br>&nbsp;<br>

<b>What is your favorite T17 game?</b><br>
<i>That would be Worms, original Amiga version because at the time it was the game I've played where 
the need to play another game was stronger than with any other game (and that includes any other 
game, not just Team17 ones).</i><br>&nbsp;<br>

<b>What is your favorite forum thread?</b><br>
<i>Is there a realtime mode in Worms 3D? NO THERE BLOODY ISN'T?!?! I also like the threads that offer 
the line 'this can't be hard to implement'. I just love those threads.</i><br>&nbsp;<br>

<b>How hard is it, balancing everyone off (designers, programmers, artists, etc) against each 
other?</b><br>
<i>It's not hard at all, it's straight forward really, there's always an over-riding reason for the 
outcome, be it 'its not good', 'it will take ages', 'it can't be done' etc. etc. Artists balance 
themselves off because they know they have to stay within the boundaries or do it again 
;)</i><br>&nbsp;<br>

<b>Is it hard keeping the project on schedule?</b><br>
<i>Yes. The thing with scheduling is that things don't generally take longer to do, the programmers 
are quite good at not giving wildly inaccurate times (well, everyone except Swainey who confuses the 
words 'week' and 'hour' ;) ). It's the unexpected unscheduled items that crop up that throw 
schedules into doubt. These things can be bugs, extra requests or things we've decided we'd like to 
see sooner rather than later. The thing with schedules is that they allow you to see how other 
things get impacted and you can base decisions on this. By this I mean it's easy to add feature X in 
now if it only means feature Y will be delivered a week later, this is made better if feature Y is 
already done ahead of schedule which is what I try to have done. Remember: everything is priority, 
everything needs doing yesterday.</i><br>&nbsp;<br>

<b>What was your proudest achievement whilst working at Team17?</b><br>
<i>Submitting Worms Armageddon on the PlayStation on the day we said we'd submit it 6 months earlier 
and seeing it pass Sony QA the first time.</i><br>&nbsp;<br>

<b>How many times have you been sacked by mobile phone?</b><br>
<i>At least 6 times. All by various imposters putting on the gruff voice to impersonate Team17's 
owner - 'Paul, it's err... Mick, calling from Grant's mobile just to let you know you're sacked'. 
Once it was actually by the big cheese, but it sounded less like him than the usual comedians, so I 
assumed it was a hoax. There was a celebrity sacking once, though I'm not sure who the celeb was. 
And a sacking that I avoided by saying they'd got the wrong number, which instantly confused the 
sacker.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Kilburn on...<br>Worms</td>
						<td class="darktext">
<b>What is your role in the Worms 3D project?</b><br>
<i>Producer. In charge of time.</i><br>&nbsp;<br>

<b>Which of the many, many, many excuses for poor shots in Worms (any version) is your particular 
favourite?</b><br>
<i>Where do I start. I'd like to point out first that all the excuses I give for a poor shot are 
valid and are almost always the fault of some external factor, such as a dodgy space bar or broken 
controller. My favourite would have to be one used in a (rare) game which I was losing. I had been 
playing the PlayStation version a lot and that had differences to the timings of the shots. This had 
caused my timing on the PC to be slightly out, resulting in several unusually poor 
shots.</i><br>&nbsp;<br>

<b>Does Worms 3D 'feel' good? I mean, how hard is it to aim a bazooka?</b><br>
<i>It feels great. It's not hard to aim with the bazooka at all. We're also constantly tweaking how 
the game plays (for example messing with the strength of the wind and the power and damage of 
explosions). We've just overhauled the control / movement system to feel more fluid and smooth too. 
We've got a lot of experienced games players in the company who have played loads of varied types of 
games and it's this experience that we're drawing on to ensure the game plays as good as it possibly 
can in every way and not just in the traditional areas of Worms.</i><br>&nbsp;<br>

<b>How many Worms games do you have?</b><br>
<i>Most of them. I don't have Mega Drive Worms and I started bidding for it on Ebay a while back but 
got annoyed with Ebay as usual (see reply to worst web site).</i><br>&nbsp;<br>

<b>What's the weirdest thing that has happened during the testing of the game?</b><br>
<i>During Worms World Party on the PC, I noticed I'd been cheated. The game had actually skipped my 
go and so the opponent had 2 shots in succession. No-one believed me and it wasn't a known bug. It 
happened every 8 games or so and took ages to fix. On the original Worms we had what was a recurring 
problem with most of the Worms sku's over time - the dreaded replay bug. The first time I saw it was 
playing Andy Davidson. I'd finished him off in style with a banana bomb and was giving it the whole 
9 yards of jibes and mockery. The replay kicked in and the banana that killed him missed by a 
whisker! Then the game carried on as if nothing had happened and play passed to him. I remember that 
being a bugger to fix.</i><br>&nbsp;<br>

<b>Do you personally think that you are good at Worms 3D? (Silly question...)</b><br>
<i>Yes. I'm probably currently the best player at Team17. I'm looking forward to the game coming out 
so I can play people in the community to get a better challenge than the ones on offer from the 
design department here.</i><br>&nbsp;<br>

<b>What weapons do you deliver the most amazing shots with?</b><br>
<i>Bazooka, grenade. The skill weapons mainly at which I excel, any old fool can score kills with 
the air strike (right Jegg?)</i><br>&nbsp;<br>

<b>Are you happy with the progress of Worms 3D?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>Do you think that you guys must work harder/faster?</b><br>
<i>Yes. Everyone can go faster. There's also the weekly holidays where everyone takes 2 days off 
between Friday and Monday that I'd like to tap.</i><br>&nbsp;<br>

<b>Are you good at making maps in Worms 3D?</b><br>
<i>Absolutely not. I tried to once, but there's a learning curve of a few hours and I had other 
things to do.</i><br>&nbsp;<br>

<b>Have you ever read any forum posts that have caused you to laugh out loud?</b><br>
<i>I'm sure there has been, but I can't recall exactly which ones. I laugh more at the reasons for 
reporting posts to moderators a lot, some of them are hilarious.</i><br>&nbsp;<br>

<b>What addition/s have you made to Worms 3D which you feel particularly proud of?</b><br>
<i>I haven't personally made any additions to the game. I just play it.</i><br>&nbsp;<br>

<b>Is there anything in any of the other Worms games that has not yet been discovered?</b><br>
<i>Yes, there's a few things but I'm not going to say what ;)</i><br>&nbsp;<br>

<b>Does Worms 3D offer a range of game-play experiences?</b><br>
<i>Yes it does. I'll admit until the second prototype we did I was still wondering whether the game 
could be as good in 3D as the experience was in 2D. Worms in 2D is still one of my favourite games 
of all time and by rights I should be sick of the sight of the little swines. Worms 3D is manages to 
keep the same elements that made the 2D game so good. It is different to the 2D game, the style of 
play is different and the core skills are different, but it's still Worms. It still retains the 'I 
want to smash the desk up if I lose'* factor and the 'just one more game' element that made the 
originals so addictive.<br>&nbsp;<br>

*not that that happens :)</i><br>&nbsp;<br>

<b>What's your impression of the various fan based projects out there? Are there any which you find 
particularly interesting?</b><br>
<i>I like the Worms Breakout game. I also liked that realtime deathmatch game where you had a bloke 
each and ran about shooting each other, sort of like a realtime Worms 2D game. I'm not sure that was 
a fan game though and I can't remember the name (not liero). Hogs of War wasn't a particularly good 
fan based game in my opinion.</i><br>&nbsp;<br>

<b>Are there any new variations on Sudden Death in Worms 3D? What are they?</b><br>
<i>That will be revealed in good time...</i><br>&nbsp;<br>

<b>How do you decide whether some new feature is worth the extra time and effort to put in?</b><br>
<i>There's some rules we work to - if this new feature is worth it and doesn't have any knock on 
effects on the games critical path elements then it's straight forward. Generally, if a feature is 
that good that it will have a marked improvement on the game (as dictated by the Creative Director) 
then time / resources can generally be found to make it happen. The situation where a major feature 
implementation (take console network support for example) would massively impact our milestones, the 
dates would be analysed early and choices would then be presented - does the publisher want the game 
on date X, or date Y with this feature. The situation on Worms 3D is a good one. Generally new 
feature requests involve as much design work as they do code and graphic resources. This means that 
the best feature requests float to the top and the others are left behind ;)</i><br>&nbsp;<br>

<b>Is there ever something that you simply *must* put in even though there are other 
priorities?</b><br>
<i>I think I have developed a quality reputation where 'everything' is priority. Not being a 
programmer, I can't for the life of me understand why any of the simple features that make up Worms 
3 take longer than half an hour to add ;) Generally though, if it's a *must* put in, then it's down 
to be in anyway, I just have the habit of deciding I'd like to see features earlier without any 
expense of currently scheduled items. This usually goes down well I've found.</i><br>&nbsp;<br>

<b>What do you think is the funniest random name in a Worms game?</b><br>
<i>Dunce-tan. Which is a pun on 'Dunstan', the designer. Not sure if he knows it's in there, but it 
tickles me every time I see it...</i><br>&nbsp;<br>

<b>How closely did you win that tournament of which the award is in your avatar?</b><br>
<i>Not closely at all. Close would maybe have been like the semi-final, where myself and Jegg 
battled it out for a cool 3 hours before the game was finally won with an incredible long distance 
bazooka shot, made to look even better in the zoom out mode that the version supported. The final 
was won 2-0, in about 20 minutes. It was also on the PlayStation version which I'd barely played in 
the run up to the competition, so I had a disadvantage over the much more experienced Spadge. I 
can't remember much about the first game, but I won the second round with my team more or less 
in-tact, a homing missile carefully placed at the side of Spadge's last Worm dispatched him into the 
water. Spadge's long running &ldquo;I'd had 5 pints' excuse is a tragic attempt to gain kudos back (I was 
also enjoying the free bar and was equally 'merry').</i><br>&nbsp;<br>

<b>What is your opinion on a Live Action 'Worms: The Movie'?</b><br>
<i>Oh. My. God. Has there ever been a good film based on a game? I doubt it. Live action? What - 
with real Worms? It would surely suck big time.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Kilburn on...<br>Life</td>
						<td class="darktext">
<b>How do you end a stressful day?</b><br>
<i>It depends. A nice can of Stella, playing footy with the kids. Usually both at the same 
time.</i><br>&nbsp;<br>

<b>If you could only could take one thing to the next life what would you take?</b><br>
<i>I'm stuck on this one. Probably a box of matches.</i><br>&nbsp;<br>

<b>In your opinion what is the meaning of life?</b><br>
<i>I don't think there is a meaning, it's just something that happens. There is no meaning of 
life.</i><br>&nbsp;<br>

<b>What is your opinion about the War (USA-Iraq)?</b><br>
<i>I've got mixed opinions. I don't want to sound like I'm sat on the fence, but there are good and 
bad reasons for going to war. Getting rid of Saddam is an obvious good thing, and the west are 
responsible for building him up in the first place when anti Iran feeling in the 80's was rife. I 
don't like the whole situation to be honest. We have to show support for our troops out there 
though, which I'd do, I wouldn't go on these anti war marches.</i><br>&nbsp;<br>

<b>If a genie granted you one wish, what would it be?</b><br>
<i>I'd ask for a solid gold house.</i><br>&nbsp;<br>

<b>If you were told you had one hour to live, what would you do inside that hour?</b><br>
<i>I have absolutely no idea. Nothing, more than likely.</i><br>&nbsp;<br>

<b>What is the funniest thing that has ever happened to you?</b><br>
<i>It sort of didn't happen to me, but I was there so I suppose that counts. I was on a bus once and 
someone I knew from years before fell down the whole flight of stairs. I cried 
laughing.</i><br>&nbsp;<br>

<b>What important decisions have you made that changed your life?</b><br>
<i>I suppose deciding to go the pub one Monday night where I met my future wife was a decision that 
changed my life. It was touch and go whether I went or not.</i><br>&nbsp;<br>

<b>What's the smartest thing you ever did?</b><br>
<i>Deciding to have kids.</i><br>&nbsp;<br>

<b>What's the stupidest thing you ever did?</b><br>
<i>Start going to watch Barnsley FC every week. I've since stopped and my kids support Leeds anyway, 
which is just down the road, not an hour away.</i><br>&nbsp;<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Kilburn Q 'n' A -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | Kilburn Q 'n' A -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Kilburn</b><br>&nbsp;<br>
<a href="abou/thet/kilb/1" target="_self"><img src="images/abou/thet_kilb_1.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="abou/thet/kilb/2" target="_self"><img src="images/abou/thet_kilb_2.gif" width="107" height="107" border="0" alt=""><br>&nbsp;<br>
<a href="abou/thet/kilb/3" target="_self"><img src="images/abou/thet_kilb_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | Kilburn Q 'n' A -->
{%- endblock %}
