---
title: Programming
layout: page
struct:
  - abou
  - thet
  - prog
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the team | programming | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | <a href="abou/thet/prog" target="_self" class="whitelink">programming</a> | image ]</td>
					</tr>
					<tr>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="abou/thet/prog" target="_self"><img src="images/abou/thet_prog_{{ current }}.jpg" width="382" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
					<tr valign="top">
						{%- if current == "1" %}
						<td class="lightwords"><br><b>Damian</b> 'PS2 vector-maniac'<br></td>
						<td class="lightwords" align="right"><br><b>Andy C</b> 'Lamp-meister'<br></td>
						{%- elif current == "2" %}
						<td class="lightwords"><br><b>Mike</b> 'Travolta' <b>Green</b><br></td>
						<td class="lightwords" align="right"><br><b>Ian</b> 'Afro-horse'<br></td>
						{%- elif current == "3" %}
						<td class="lightwords"><br>La-Mont on his Xbox<br></td>
						<td class="lightwords" align="right"><br><br></td>
						{%- endif %}
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming | image -->
{%- endif %}

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | programming ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Andy C<br>(Technology lead)</td>
						<td class="darktext">
Andy's been with Team17 for something like 8 years now and in the past has worked on several game engines
including the award winning Killing Grounds 3D engine on the Amiga (in 1995/1996). Andy came up with the
design & idea for the Worms 3D destruction and leads the technology on the title. Andy's recent claim to
fame was bringing in the worlds most bizarre lamp, which is now a team pet. Andy can be heard on the
Team17 forum, under the name 'Peeling'. Apparently he looks like a pop star too - I'll try and find out
which one!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Martin<br>(Game code)</td>
						<td class="darktext">
'Swainsly' as he's affectionately known amongst the group is busy coding weapons and systems in the game,
he also looks after the regular game builds and spends a lot of his time laughing like a drain. Whilst not
totally mental, he's certainly getting there - as visitors to 'Swaine's World' often suggest (and his wacky
ideas testify). Martin was rescued from some boring applications programming a couple of years ago and has
never looked back, apart from the summer party lap incident with Jegg.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Ian<br>(Gamecube lead)</td>
						<td class="darktext">
A quietly spoken northern lad, Ian is currently enjoying the task of fine-tuning Worms 3D on the Gamecube
console. But fear not, behind this meek and mild exterior lies the brain of a madman, the brain behind
<a href="http://www.afrohorse.com" class="whitelink">www.afrohorse.com</a> - a site dedicated to horses
with Afros, with which Ian is rather disturbingly obsessed with.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Kev L<br>(Xbox lead)</td>
						<td class="darktext">
Kev joined us earlier in the year and the cat-loving tall Scotsman has been charged with developing the
Xbox version of Worms 3D, sharing the off-shoot room with Scargs. There is some debate over his surname,
with two camps suggesting he is 'La-mont' (everyone except Kev) and Kev himself insisting its 'Lamont'.
It keeps the designers amused for hours, at least.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Scargs<br>(Audio / game code)</td>
						<td class="darktext">
'200 ponies' can also been seen on the Forum occasionally and he's been busy working with Bjorn on the
audio, doing lip-sync for the Worms and also working with Andy M (Luther) on the animation system.
Scargs has been with us for a few years and has somewhat of a reputation with the ladies and a taste for
ballroom dancing or something similar.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Phil<br>(Camera / AI)</td>
						<td class="darktext">
Phil, known amongst the team as 'Bapup' (particularly Patrick & Dave) is charged with making the AI worms
do all manner of evil stuff, like move, jump and fire at you. This means path-finding and specific goals
for the computer controlled Worms. Phil plays a mean guitar and hails from the glorious town of Hull. He's
also done the camera control code and does impressions of German dictators from time to time, usually after
being plied with Lager.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Charles<br>(Project Lead)</td>
						<td class="darktext">
Charles is the oracle charged with overseeing the project as a whole and ensuring all the other guys know
what each other is doing and that it all fits together. Charles has been with us about 6-7 years and was
at York University with Andy C and Mike. Charles, or Chuck as he's known to the team, is tremendously
entertaining when drunk - as many will testify - almost as amusing as Neil South, but that's another
story. In his spare time, he develops TGA file format viewers for Windows to maintain his interesting
persona.<br>&nbsp;<br>

[ <a href="abou/thet/chuc" target="_self" class="navilink">Chuck Q 'n' A session</a> ]<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Damian<br>(PS2 lead)</td>
						<td class="darktext">
Damian is our resident PS2 vector code nutcase and he's busy squeezing extra performance out of the PS2
version and building it/optimizing the technology. Famed for dozing off at our Summer party, he's been
with us about 4 months although he's spent 15 years in the Industry and worked on over 20 games, after
beginning life programming on the Spectrum!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">James<br>(Network)</td>
						<td class="darktext">
Cowlibob (as he's known on the Forum) is busy working with Charles on the networking side of Worms 3D,
using the Gamespy libraries in conjunction with our own stuff. Tall and thin, he recently did the
'whoopsie' voice set too!<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Steve<br>(Editor / Particles)</td>
						<td class="darktext">
Steve has had the job of making the level editing tool interface and maintaining it's features, working
with design and Andy C. He's also been working on the games particle system and recently added snow and
rain to the effects available, as well as smoke and fire. He's also had a hand in the weapons and amongst
his stuff is the Earthquake!  Steve has been with us about a year or so and like Swaine, was rescued
from the dull world of application programming. Like Phil, he plays a mean guitar and is on the verge
of joining another band.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Colin<br>(Menu System)</td>
						<td class="darktext">
Colin (Satan) has been around Team17 for ages, complete with his collection of stone gargoyles. Colin
also worked on the Worms2/Armageddon series and has now been dragged back screaming to the fold (he
thought he'd escaped). He's recently ceased wearing bowler hats and having bizarre haircuts now that
he's got a girlfriend - although he still walks around like an extra from the Matrix.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Stefan<br>(Internal Tech)</td>
						<td class="darktext">
Stefan looks after the internal tools and technology libraries and is indirectly hooked up into Worms
3 whilst not being an actual core team member, as such. Often spotted eating vast quantities of sour
sweets and Swedish pepper sweets.<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | programming -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Damian</b> PS2 lead<br>&nbsp;<br>
<a href="abou/thet/prog/1" target="_self"><img src="images/abou/thet_prog_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<b>Andy C</b> Technology lead<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Mike</b> (Artist)<br>&nbsp;<br>
<a href="abou/thet/prog/2" target="_self"><img src="images/abou/thet_prog_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<b>Ian</b> Gamecube lead<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Kev L</b> Xbox lead<br>&nbsp;<br>
<a href="abou/thet/prog/3" target="_self"><img src="images/abou/thet_prog_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | programming -->
{%- endblock %}
