---
title: Spadge Q 'n' A
layout: page
struct:
  - abou
  - thet
  - spad
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the team | Spadge Q 'n' A | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | <a href="abou/thet/spad" target="_self" class="whitelink">Spadge Q 'n' A</a> | image ]</td>
					</tr>
					<tr>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
						<td width="192" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="95"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" colspan="2">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><center><a href="abou/thet/spad" target="_self"><img src="images/abou/thet_spad_{{ current }}.jpg" width="382" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Spadge Q 'n' A | image -->
{%- endif %}

			<!-- ABOUT | the team | Spadge Q 'n' A -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="3">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/thet" target="_self" class="whitelink">the team</a> | Spadge Q 'n' A ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Spadge!</td>
						<td class="darktext">
<b>Full Name?</b><br>
<i>Martyn James Brown (my eldest son is Jack Daniels James Brown!)</i><br>&nbsp;<br>

<b>How old are you?</b><br>
<i>36.</i><br>&nbsp;<br>

<b>How tall are you?</b><br>
<i>About 5'9" I think.</i><br>&nbsp;<br>

<b>Where did you do your studies?</b><br>
<i>Wakefield College and since then, the University of Real Life.</i><br>&nbsp;<br>

<b>What's your favourite food?</b><br>
<i>Toss up between a good pizza and a good Indian. Failing that crispy duck & 
pancakes.</i><br>&nbsp;<br>

<b>Do you have a pet?</b><br>
<i>Several. 2 cats, 2 guinea pigs (one looks like a badger).</i><br>&nbsp;<br>

<b>What is your favourite film?</b><br>
<i>Favourite films (in no order); Shawshank Redemption, Great Escape, Jason and the Argonauts, 
Roller-ball (original) and probably Lord Of The Rings (the recent one).</i><br>&nbsp;<br>

<b>What's your favourite console?</b><br>
<i>At the moment it's my new GBA SP, but I've got a PS2 at home and abuse that a lot. I loved my N64 
if only for Goldeneye and Zelda: Ocarina Of Time.</i><br>&nbsp;<br>

<b>What did you eat for lunch yesterday?</b><br>
<i>Chicken baguette at the commercial.</i><br>&nbsp;<br>

<b>Favourite colour?</b><br>
<i>Yellow. My perudo cup is yellow.</i><br>&nbsp;<br>

<b>Favourite person?</b><br>
<i>I like a lot of people. I dislike very few.</i><br>&nbsp;<br>

<b>Favourite drink?</b><br>
<i>A good beer or a good whisky.</i><br>&nbsp;<br>

<b>Favourite animal?</b><br>
<i>I like chipmunks (I'd like to own one and name it Clagnut). I like a lot of animals, I'm proud of 
the guinea pig we've got that looks like a badger.</i><br>&nbsp;<br>

<b>Favourite word?</b><br>
<i>Chuff.</i><br>&nbsp;<br>

<b>Favourite smell?</b><br>
<i>Fresh bread, someone else's Sunday roast or failing that John Smiths Brewery.</i><br>&nbsp;<br>

<b>Favourite book?</b><br>
<i>I really enjoyed High Fidelity.</i><br>&nbsp;<br>

<b>Favourite song?</b><br>
<i>Depends on mood, but I really like Great Gig In The Sky by Pink Floyd, although I don't listen to 
Floyd anything like as much as I used to, more into BB King these days. My musical taste varies 
wildly.</i><br>&nbsp;<br>

<b>Favourite car?</b><br>
<i>I'd really love a Jag XK8 convertible. I'm not a big car nut though. I used to have a convertible 
3 series BMW and I really loved that car.</i><br>&nbsp;<br>

<b>Favourite TV show?</b><br>
<i>At the moment, it's probably a toss up between Phoenix Nights, The Office and Alan 
Partridge.</i><br>&nbsp;<br>

<b>Favourite sport?</b><br>
<i>Football (soccer)</i><br>&nbsp;<br>

<b>Favourite number?</b><br>
<i>17 :-)</i><br>&nbsp;<br>

<b>Favourite operating system?</b><br>
<i>AmigaDOS!</i><br>&nbsp;<br>

<b>What type of car do you drive?</b><br>
<i>Mercedes although I don't like it very much truth be told, it's very over-rated and a bit dull to 
drive despite some of the nice gadgets like sat-nav. I got it to be practical after the birth of our 
2nd child. It will be hopefully changed at the end of the year and since I'm approaching a mid-life 
crisis, I'll probably go for a two-seater and have all sorts of arguments with the wife about the 
fact that I can only take 1 of our 2 children at once. Actually, I know I'll end up with a 2+2 at 
the very best. :-(</i><br>&nbsp;<br>

<b>What languages do you speak?</b><br>
<i>English, Yorkshire and smatterings of other languages (mostly French). And obviously the language 
of lurve</i><br>&nbsp;<br>

<b>What colour are your eyes?</b><br>
<i>Greeny brown I think (hazel?). They were blue for 3 years (when I had blonde hair) then went deep 
brown, now they're hazel. I think they'll stay that way unless I get cataracts or 
glaucoma.</i><br>&nbsp;<br>

<b>Do you prefer normal or water beds?</b><br>
<i>Actually a comfy sofa is fine. I've been known to sleep in baths, does that 
count?</i><br>&nbsp;<br>

<b>How high can you jump?</b><br>
<i>These days, not very far. It'd take a few thousand volts to make me go very far at 
all.</i><br>&nbsp;<br>

<b>What type of calculator do you have?</b><br>
<i>Microsoft Excel and the amusing Microsoft one that can't add up.</i><br>&nbsp;<br>

<b>How many computers do you own?</b><br>
<i>3.</i><br>&nbsp;<br>

<b>Do you sing in the shower?</b><br>
<i>No, I listen to Talk Sport. I'm not a very good singer at all, although I can do a mean Neil 
Diamond karaoke if I've had a skin-ful.</i><br>&nbsp;<br>

<b>What countries have you been to?</b><br>
<i>Hmm, lets see... er France (a lot), Germany (a couple of times), Denmark (a few times), Sweden 
(lots), Norway (lots), Finland (once), Spain (lots), Italy (few), Greece (few), USA (lots) and Japan 
(once).</i><br>&nbsp;<br>

<b>What's your favorite country?</b><br>
<i>I really enjoyed my visit to Japan (the bit when I had a guide) and especially to visit Kyoto 
which was very spiritual and I'm not that kind of person at all, so that really surprised me. I do 
enjoy going to the USA too and enjoy many parts of California, but also loved Seattle, Chicago, Las 
Vegas and Boston. I didn't care much for Atlanta or Los Angeles. I really like Scandinavia 
too.</i><br>&nbsp;<br>

<b>What animal would you most like to see explode?</b><br>
<i>A snake that's just eaten a bison or something.</i><br>&nbsp;<br>

<b>Do you have family? If so, do you ever see them?</b><br>
<i>Yes, wife and 2 smashing kids. I see them a lot, life's too short not to. I don't get out and 
about causing mischief anything like I did in my 20's as a result.. </i><br>&nbsp;<br>

<b>Do you ever sleep?</b><br>
<i>I don't usually sleep much more than 4-5 hours and am often disturbed by kids & cats. I usually 
sleep around 1-2am and am up around 7am with the kids.</i><br>&nbsp;<br>

<b>What are your nicknames?</b><br>
<i>'Spadge' and obviously other things behind my back :-)</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Team17</td>
						<td class="darktext">
<b>How did you get to work with Team17?</b><br>
<i>Easy, co-founded the company.</i><br>&nbsp;<br>

<b>How does it feel to be work in T17?</b><br>
<i>I wouldn't swap it for the world. I work with some fantastic, funny and intelligent, honest 
people and I look forward to work each and every day.</i><br>&nbsp;<br>

<b>How hard is the job you do there?</b><br>
<i>It's a tough market - a lot of developers have it hard right now. Describing a job you do that 
you enjoy can't be hard. Sure it has a lot of pressure, but it's very rewarding in terms of what you 
get out of it in terms of enjoyment and fulfillment. Working with publishers is the hardest part I 
guess - as well as having to take the occasional tough decision.</i><br>&nbsp;<br>

<b>What do you like best of your team-mates?</b><br>
<i>Their attitude, enthusiasm, drive, spirit, sense of humour and commitment.</i><br>&nbsp;<br>

<b>What do you like most of working at T17?</b><br>
<i>The people, the creative opportunity, the feeling of creating something good.</i><br>&nbsp;<br>

<b>What's the worst thing about working at Team17?</b><br>
<i>The recruitment agencies, who make my life hell. I also miss the day-to-day development of 
working on one title, like I used to. I have to sit back and make calls these days and just keep an 
eye on things.</i><br>&nbsp;<br>

<b>When not at work, what do you spend most of your time doing?</b><br>
<i>Time with the family really, just relaxing. Having a pint, watching soccer&hellip; messing with the pets 
(although not in any kinky kind of way).</i><br>&nbsp;<br>

<b>How do Team17 recruit new programmers (agency, adverts, etc)?</b><br>
<i>Usually through association, speculative emails, we don't advertise very much and our staff 
turnover is quite low. Hopefully that's because most are generally happy!</i><br>&nbsp;<br>

<b>What skills/qualifications do they need to have?</b><br>
<i>Just depends what they are doing, most appointments are based on attitude, enthusiasm, raw talent 
and some experience is nice.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Worms</td>
						<td class="darktext">
<b>Is there going to be anything that will pleasantly surprise us in Worms 3D that you are not even 
going to hint about?</b><br>
<i>I hope all of it will surprise many people, although we've shown a lot of stuff on the game on 
the site now.</i><br>&nbsp;<br>

<b>How much are you looking forward to the release of Worms 3D?</b><br>
<i>Very much. It's been on the cards for a long time and I can't believe we're entering the final 
period of development now, it's going to be very exciting. The response has been really positive so 
far.</i><br>&nbsp;<br>

<b>What are your main influences (alcohol/art/other games & stuff) when designing Worms 3D?</b><br>
<i>We've had a good look around at many games, but we wanted to stay close to 
W2/WA</i><br>&nbsp;<br>

<b>What were the most difficult thing to include into 3-d from 2-d?</b><br>
<i>The terrains, the camera, the AI. The "feel" of it. We've done it though!</i><br>&nbsp;<br>

<b>When creating the game in 3D, what new feature/element are you most afraid will make the game 
lose its original 'Worms' feel?</b><br>
<i>Maybe the movement/aiming and ability to look around and get people sighted. It works well and 
we've some more stuff to do on that yet.</i><br>&nbsp;<br>

<b>There is something you were waiting to do in 3D Worms, instead of doing it in previous 
ones?</b><br>
<i>Not really, but things have had to be done differently this time around.</i><br>&nbsp;<br>

<b>What qualities get a new weapon or utility into the game?</b><br>
<i>Feasibility in terms of getting it in without too much independent code/routines for that weapon, 
the likelihood of it sitting well with other weapons and not unbalancing the play. Being amusing, 
fresh or new.</i><br>&nbsp;<br>

<b>What's your favorite Worms Weapon?</b><br>
<i>HHG.</i><br>&nbsp;<br>

<b>Do you or any of T17 for that matter still go on online and play, either WA or WWP</b><br>
<i>Not so much now, but we'll be around for 3. I went online A LOT for W2 and WA but now I've got 
kids I have little spare time in the evenings.</i><br>&nbsp;<br>

<b>Which Worms game is your favourite (you can't say Worms 3D!)?</b><br>
<i>Apart from seeing the success of the first, probably WA since I poured a lot of personal energy 
into it.</i><br>&nbsp;<br>

<b>Are there any new weapons that you would have liked to see in the game but couldn't be 
included?</b><br>
<i>Too early to say that right now!</i><br>&nbsp;<br>

<b>Are there any weapons which have been included which are particularly impressive, or worked out 
better than expected?</b><br>
<i>Jet-pac works great, most of them do. We took some decisions to drop a number of weapons early on 
and those decisions have largely worked well.</i><br>&nbsp;<br>

<b>Are there going to be any extra goodies in Worms 3D that will make us play for hours just to unlock 
them?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>What is your favourite element of Worms 3D so far?</b><br>
<i>I like the type of levels the generator makes.</i><br>&nbsp;<br>

<b>Has there been any real disagreement over the content of Worms 3D?</b><br>
<i>Not really, we've all been reasonably focused on it. There have been a few disagreements along 
the way, but nothing too noisy!</i><br>&nbsp;<br>

<b>What problems are weapons that are affected by gravity and/or wind giving you?</b><br>
<i>No problems at all!</i><br>&nbsp;<br>

<b>If team17 were not able to create a poxel-engine and had to use height-maps instead, 
Would u have still continued with the production of Worms 3D?</b><br>
<i>Difficult to say, I'd say 'probably'. But we really went to town to make it happen, we knew 
exactly what we want, however I think it's safe to say its better than we thought it could be, even 
now.</i><br>&nbsp;<br>

<b>What's your least favourite thing about Worms 3D so far?</b><br>
<i>Hmm, I've got a list of stuff I'd like addressing, but right now I think the fact that the ropes 
still not in gets my 'least favourite' vote. It should be in soon, so I can then find something else 
to whine about.</i><br>&nbsp;<br>

<b>On a scale of 1-10 with 10 being the best, how would you rate yourself in terms of skill at 2D 
Worms?</b><br>
<i>At one time, probably an 8, occasionally a 9. I'm very rusty now and just play for fun, I'd say a 
4 or 5 now but am good at BnG.</i><br>&nbsp;<br>

<b>Who do you think plays Worms (any Worms game) the best out of all Team17 staff?</b><br>
<i>It's not Kilburn even if he thinks it is.</i><br>&nbsp;<br>

<b>Is the replayability level of Worms 3D, the same - less - or greater than the level of the other Worms 
games? If it is greater then why does it have more replayability?</b><br>
<i>I'd say greater since the range of lands you get is wider.</i><br>&nbsp;<br>

<b>What will you do on the day that the game is released?</b><br>
<i>We'll be in the pub I expect.</i><br>&nbsp;<br>

<b>Are you working on any other T17 games apart from Worms 3D?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>What is your role in the Worms 3D project?</b><br>
<i>To arbitrate, discuss, prod and direct the game where I see fit, really. I'm responsible for its 
quality so it means a lot of discussion, review and such-like. I also work closely with our 
publisher.</i><br>&nbsp;<br>

<b>Does Worms 3D 'feel' good? I mean, how hard is it to aim a bazooka?</b><br>
<i>Not hard at all. We thought it might be tricky, but it isn't. it's like it is in 2D - easy to 
pick up and play, but difficult to master.</i><br>&nbsp;<br>

<b>Do you personally think that you are good at Worms 3D?</b><br>
<i>I'm not bad, but we haven't really started playing each other yet since LAN's not in yet - which 
is when it will 'kick off'.</i><br>&nbsp;<br>

<b>What weapons do you deliver the most amazing shots with?</b><br>
<i>Usually the bazooka because of the wind. I stunned Kilburn in a presentation last 
week!</i><br>&nbsp;<br>

<b>Are you happy with the progress of Worms 3D?</b><br>
<i>Very. Although I'm aware time's running out!</i><br>&nbsp;<br>

<b>Do you think that you guys must work harder/faster?</b><br>
<i>Yes, I do. We're on track, but there's a lot to clean up and tidy up before we finish. A LOT of 
work.</i><br>&nbsp;<br>

<b>Are you good at making maps in Worms 3D?</b><br>
<i>I haven't really had much time to do it, but it's not usually my forte. I'll get around to it 
sooner or later.</i><br>&nbsp;<br>

<b>What addition/s have you made to Worms 3D which you feel particularly proud of?</b><br>
<i>Its always pleasing when something you suggest goes in and works well. I was pleased to see the 
'auto-hop' thing work when some thought it never would, but I think historically speaking, Prod's 
been my defining moment as far as additions go.</i><br>&nbsp;<br>

<b>Is there anything in any of the other Worms games that has not yet been discovered?</b><br>
<i>After this time, I don't think so. We did have a pop at another publisher.</i><br>&nbsp;<br>

<b>What's your impression of the various fan based projects out there? Are there any which you find 
particularly interesting?</b> 
<i>I really liked the breakout game, it was nicely done. I think Yoshi is a bit mad, but we've all 
been staggered at his work, really.</i><br>&nbsp;<br>

<b>How do you decide whether some new feature is worth the extra time and effort to put in?</b><br>
<i>It's a mixture of many things, not least that it will go in without disrupting too much other 
stuff.</i><br>&nbsp;<br>

<b>Is there ever something that you simply *must* put in even though there are other 
priorities?</b><br>
<i>Occasionally, but we have to really weigh up the implications and there is a cut off point, 
realistically.</i><br>&nbsp;<br>

<b>What do you think is the funniest random name in a Worms game?</b><br>
<i>Clagnut.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Games Development</td>
						<td class="darktext">
<b>What is your role?</b><br>
<i>These days I run the studio really, looking after all aspects and the staff, dev-stuff. I am also 
responsible for our output, which essentially means the content of our games (not necessarily their 
delivery). I discuss things with a lot of people, make calls and offer guidance where I can, if 
anything I'm there to ensure the wheels keep moving and people can get on with their jobs. I deal 
with 3rd parties (other companies), hire staff, organize stuff and also chip in on the marketing/pr 
side.</i><br>&nbsp;<br>

<b>How did you get your first break into the industry?</b><br>
<i>I wrote a Sinclair Spectrum game when I was 17. It even got reviewed in Crash! :)</i><br>&nbsp;<br>

<b>Do you have any advice for people wanting to get into the industry? More specifically, people 
from the UK. (What qualifications to get, where to go etc)</b><br>
<i>It's getting increasingly more difficult to find a job since the number of positions is 
diminishing, not increasing. The same opportunities aren't there these days and unless the 
government helps out with staff incentives/grants, it's going to be frustrating for new people to 
get on board.</i><br>&nbsp;<br>

<b>What were the main things you worked with in the other games?</b><br>
<i>I've worked on about 50 games since we began. In the early days I pretty much did everything 
apart from the game-code, game-art and music. That means design input, production, scheduling, QA 
management, PR, marketing, the works. For a few years I then ran the production (as well as 
creative) and I kept that going maybe a couple of years too long since it was too much work and 
something had to give, so I had to step back a little. My current role is enjoyable now that I've 
made the transition and been able to "let go" and delegate work to others, it takes quite some time 
to be able to do that when you've been involved with many aspects.</i><br>&nbsp;<br>

<b>Have you ever thought about a Worms MMORPG (Massively Multiplayer Online Role Playing Game)</b><br>
<i>Nope!</i><br>&nbsp;<br>

<b>Has any forum members influenced you with their ideas?(no, not just me)</b><br>
<i>A few yes, we read a lot of it. Some comments lead to discussions which lead to implementing 
things that are new or slightly different. It's a great thing to have and I think the recent AI 
thread was really cool.</i><br>&nbsp;<br>

<b>Is there any aspect of your job that you would like to see changed?</b><br>
<i>Yeah, it's hard to be the boss sometimes as opposed to 'one of the team'. It's a grey area and 
one that's frustrating at times. I much prefer being one of the team and as a result tend to run 
things like that where possible.</i><br>&nbsp;<br>

<b>and are the forums all part of work...as in you are allocated time to read threads or is it 
something you do for a 5 min break from work - do you actually read each and every thread?</b>
<i>The majority of forum posts I make are made in my own time in the evening or first thing in the 
morning. I don't read all, but I read a lot.</i><br>&nbsp;<br>

<b>Do you ever buy and play Team17 games after they have been released in the shops?</b><br>
<i>I don't need to buy them! I do play them, yes.. there's been a few occasions when I haven't but 
that's usually due to being busy or being sick of the game by the time it's released. The one I most 
enjoyed (to date) was probably WA even though we had a lot of pain developing it and it was a bit 
late.</i><br>&nbsp;<br>

<b>Do you slack off and post when you should be working?</b><br>
<i>I take a little break now and then and send a few posts, but I guess it could be considered as 
work in a vague kind of way.</i><br>&nbsp;<br>

<b>What's your biggest accomplishment ever?</b><br>
<i>Managing to produce and bring up two lovely kids.</i><br>&nbsp;<br>

<b>Do you get a free copy of any game you have made after its been publish?</b><br>
<i>Yes.</i><br>&nbsp;<br>

<b>What's your favourite game you've ever helped make at Team17?</b><br>
<i>I've enjoyed working on the majority, some have different hassles, different personalities 
involved and pose different problems. Its too difficult to say which was the most rewarding 
experience really.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Other Stuff</td>
						<td class="darktext">
<b>If you could have dinner with 4 other people (2 industry bods and 2 people off this forum), who 
would it be and why?</b><br>
<i>Sid Mier and probably someone like Euguene Jarvis from the Industry. I'm not sure who I'd pick 
off the forum though!</i><br>&nbsp;<br>

<b>Do you read any web-comics? If so, which?</b><br>
<i>No.</i><br>&nbsp;<br>

<b>Are there any moments while browsing the forums that have really caused you to laugh out 
loud?</b><br>
<i>A few, but no examples spring to mind. I usually laugh at some crazy assumption, but it serves to 
remind me that many people have no idea how tough it is producing good video games, or the amount of 
effort and hard-work that goes into them.</i><br>&nbsp;<br>

<b>If you didn't work in the games industry, where would you most likely be working?</b><br>
<i>I always wanted to be a chemist when I was a kid, then I trained in micro-electronicd... but I 
think I would have either ended up doing some writing or creative marketing/advertising 
really.</i><br>&nbsp;<br>

<b>Have you successfully made the paper models at www.Worms3D.com?</b><br>
<i>Nope. I successfully managed to get Andy to produce them, does that count?</i><br>&nbsp;<br>

<b>Have you ever played Spank the monkey?</b><br>
<i>Oh yes. The monkey was very naughty and deserved it.</i><br>&nbsp;<br>

<b>On these forums you guys are treated like celebrities, do you enjoy that status?</b><br>
<i>I don't really think about it. I've been in the games industry a long time and I'm just your 
average guy who got lucky and does a job that he loves.</i><br>&nbsp;<br>

<b>What's your typing speed?</b><br>
<i>This fast. Good eh?</i><br>&nbsp;<br>

<b>What's your life 'sig'?</b><br>
<i>At the moment my mail sig is 'One of the symptoms of an approaching nervous breakdown is the 
belief that one's work is terribly important.' As for a sig for life, I'd probably suggest 'Life's 
too short. Enjoy it.'</i><br>&nbsp;<br>

<b>Finally, what's your message to the forum?</b><br>
<i>Well, I guess I'd like to apologise again for the WA rankings business, but I do believe it will 
live again one day, for better or worse. In terms of Worms 3D I hope you will all enjoy it and that 
the whole Worms thing gets back to how it was - even if that means a new crowd (since its now 8 
years since the original). We've put a lot of effort into the game and I really can't see how we 
could have built it much better or more faithful.</i><br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Spadge on...<br>Life</td>
						<td class="darktext">			
<b>How do you end a stressful day?</b><br>
<i>With the kids. It all goes away very quickly.</i><br>&nbsp;<br>

<b>If you could only could take one thing to the next life what would you take?</b><br>
<i>My luck.</i><br>&nbsp;<br>

<b>I your opinion what is the meaning of life?</b><br>
<i>Enjoy what you can, when you can, as often as you can. </i><br>&nbsp;<br>

<b>What is your opinion about the War (USA-Iraq)?</b><br>
<i>I understand the reasons for doing it, but am not clear on the morality of it.</i><br>&nbsp;<br>

<b>If a genie granted you one wish, what would it be?</b><br>
<i>That I could be guaranteed to be around to see my grand-kids grow up.</i><br>&nbsp;<br>

<b>If you were told you had one hour to live, what would you do inside that hour?</b><br>
<i>Spend it with the kids of course.</i><br>&nbsp;<br>

<b>What is the funniest thing that has ever happened to you?</b><br>
<i>Too many things, really. Probably getting locked up in London by the police for being too drunk 
once, I guess, but that's a long story.</i><br>&nbsp;<br>

<b>What important decisions have you made that changed your life?</b><br>
<i>The usual. Marriage. Deciding to have kids. Having kids. Having another.</i><br>&nbsp;<br>

<b>What's the smartest thing you ever did?</b><br>
<i>Getting married, having kids.</i><br>&nbsp;<br>

<b>What's the stupidest thing you ever did?</b><br>
<i>Getting married, having kids.</i><br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | Spadge Q 'n' A -->
			<!-- ABOUT | the team -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">a team effort!</td>
						<td class="darktext">
The Worms 3D team is a great bunch to work with and they comprise a grand mixture of cultures, experience
and games nuts. Over 30 people are currently directly contributing to the project (not including any QA
members) and that includes a dozen programmers alone, making it Team17's biggest ever title.<br>&nbsp;<br>
						
We're still trying to catch some of them in their free time to have a few words and ask them 'what makes
this the best Worms game ever?', but have yet been unlucky. In the mean time, here are the profiles and
some mug-shots of the team members before we get their individual interviews.<br>					
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team -->

			<!-- ABOUT | the team | programming -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prog" target="_self" class="navilink"><img src="images/abou/welc_thet_prog.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prog" target="_self" class="navilink">programming</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prog" target="_self" class="whitelink"><b>Worms 3D Programers</b></a><br>
Click here for profiles and pictures of the W3D code-monkeys!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | programming -->

			<!-- ABOUT | the team | art & animation -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/arti" target="_self" class="navilink"><img src="images/abou/welc_thet_art.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/arti" target="_self" class="navilink">art & animation</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/arti" target="_self" class="whitelink"><b>Worms 3D Artists</b></a><br>
Click here for information and photos of the W3D Animators and Artists!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | art & animation -->

			<!-- ABOUT | the team | design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/desi" target="_self" class="navilink"><img src="images/abou/welc_thet_desi.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/desi" target="_self" class="navilink">design</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/desi" target="_self" class="whitelink"><b>Worms 3D Designers</b></a><br>
Click here for mug-shots and info on the W3D design-bods!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | design -->

			<!-- ABOUT | the team | production -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/thet/prod" target="_self" class="navilink"><img src="images/abou/welc_thet_prod.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the team</font> | <a href="abou/thet/prod" target="_self" class="navilink">production</a> ]</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/thet/prod" target="_self" class="whitelink"><b>Worms 3D Production staff</b></a><br>
Click here for the low-down and images of the W3D production staff!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | production -->

			<!-- ABOUT | the team | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">overview</td>
						<td class="darktext">
10 Game/tech/tool Programmers<br>
2 Network/Server Programmers<br>

7 Artists<br>
7 Designers (some part-time with other projects)<br>&nbsp;<br>

1 Musician (manages ALL audio content creation etc)<br>
1 Web guru (manages ALL web design, production etc)<br>
2 Producers (1 assist. producer)<br>
2 Senior Management (1 creative, 1 production)<br>&nbsp;<br>

7 QA Staff (1 manager, 1 lead)<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the team | overview -->
{%- endblock %}

{% block right %}
			<!-- ABOUT | the team | Spadge Q 'n' A -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Spadge</b><br>&nbsp;<br>
<a href="abou/thet/spad/1" target="_self"><img src="images/abou/thet_spad_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/thet/spad/2" target="_self"><img src="images/abou/thet_spad_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/thet/spad/3" target="_self"><img src="images/abou/thet_spad_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the team | Spadge Q 'n' A -->
{%- endblock %}
