<!--
	td {
		font-family : geneva, tahoma, verdana, helvetica, sans-serif;
		font-size : 9px;
		color : #FFFFFF;
	}

	.lightwords {
		color : #AEBAD9;
	}

	.lighttext {
		color : #AEBAD9;
		text-align : justify;
	}

	.mediumwords {
		color : #999999;
	}

	.darkwords {
		font-size : 11px;
	}

	.darktext {
		font-size : 11px;
		text-align : justify;
	}
	
	.supptext {
		font-size : 20px;
		text-align : justify;
	}

	.selected {
		color : #FFFFFF;
		font-weight : bold;
	}

	.error {
		color : #FE0403;
	}
	
	.low_quits {
		color : #AEBAD9;
	}
	
	.med_quits {
		color : #FFB505;
	}
	
	.high_quits {
		color : #FE0403;
	}

	input.box {
		font-family : geneva, tahoma, verdana, helvetica, sans-serif;
		font-size : 11px;
		color : #FFFFFF;
		background-color : #5D75B2;
		border-color : #333333;
		border-style : solid;
		border-top-width : 1px;
		border-bottom-width : 1px;
		border-right-width :  1px;
		border-left-width : 1px;
		margin-top : 1px;
		width : 180px;
	}

	textarea.box		{
		font-family : geneva, tahoma, verdana, helvetica, sans-serif;
		font-size : 11px;
		color : #FFFFFF;
		background-color : #5D75B2;
		border-color : #333333;
		border-style : solid;
		border-top-width : 1px;
		border-bottom-width : 1px;
		border-right-width :  1px;
		border-left-width : 1px;
		margin-top : 1px;
		width : 180px;
		height : 56px;
		scrollbar-base-color : #3E5182;
	}

	a.navilink			{color : #FE9800; text-decoration : none}
	a.navilink:hover	{color : #FFFFFF; }

	a.navilinkoff			{color : #FE9800; text-decoration : none}
	a.navilinkoff:hover	{color : #FE9800; }

	a.whitelink			{color : #FFFFFF; text-decoration : none}
	a.whitelink:hover	{color : #FE9800; }

	a.bluelink 			{color : #AEBAD9; text-decoration : none}
	a.bluelink:hover 	{color : #FE9800; }
	
	a.supplink			{color : #FE9800; text-decoration : none; font-size : 20px;}
	a.supplink:hover	{color : #FFFFFF; font-size : 20px;}
-->
