---
title: The Game
layout: page
struct:
  - abou
  - theg
pagination:
  data: subpages
  alias: current
  size: 1
subpages:
  - ~
  - 1
  - 2
  - 3
---
{% extends "pagetable.njk" %}

{% block center %}
{%- if current %}
			<!-- ABOUT | the game | development shots | image -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <a href="abou" target="_self" class="whitelink">about</a> | <a href="abou/theg" target="_self" class="whitelink">the game</a> | development shots | image ]</td>
					</tr>
					<tr>
						<td width="384" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" vspace="9" hspace="191"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Click image to return.<br>&nbsp;<br></td>
					</tr>
					<tr>
						<td align="center"><center><a href="abou/theg" target="_self"><img src="images/abou/theg_{{ current }}.jpg" width="382" height="287" border="1" alt="" style="border: 1px solid #333333"></a></center></td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the game | development shots | image -->
{%- endif %}

			<!-- ABOUT | the game | overview -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the game</font> | overview ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">what is<br>Worms 3D?</td>
						<td class="darktext">
Worms 3D represents the third generation of the seven-million unit selling Worms
action-strategy series.<br>&nbsp;<br>
 
Worms 3D continues the history of turn based strategy featuring a bizarre and outlandish
array of deliciously explosive weaponry, mad animals, crazy speech and laugh-out-loud
instances in a full 3-dimensional, fully destructible environment.<br>&nbsp;<br>

The title is currently in development for release October 2003 in Europe for PC, PS2, X-Box and Gamecube.<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>

				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="285"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">they didn't think<br>it possible!</td>
						<td class="darktext">
Due for release in 2003, Worms 3D brings the title into full-blown 3D for the first
time ever! In conjunction with a revolutionary, fully deformable 3D landscape technology,
it expands the strategic options offered in the previous games into fascinating new
directions.<br>&nbsp;<br>
 
<i>That means caves, cliffs, holes, multiple levels, buildings, ropes, tunnels - all in
gorgeous 3D!</i><br>&nbsp;<br>
 
Worms 3D will also feature stunning 3D animation of the Worms themselves, which surpasses
anything seen in Worms titles to date, including the FMV sequences seen in previous
games!<br>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the game | overview -->

			<!-- ABOUT | the game | features -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <a href="abou" target="_self" class="whitelink">about</a> | <font class="selected">the game</font> | features ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">established features</td>
						<td class="darktext">
Ever played Worms? How about Worms 2? Perhaps you're an expert at Worms Armageddon or Worms
World Party? No? never fear, here's a quick summary of what you've been missing ::<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<ul>
<li>Teams of worms, dukin' it out for victory. The team with the last worms standing is the winner. Simple, yet addictive. 
<li>A bizarre collection of ludicrously destructive weapons :: feel the earth move with the mighty Earthquake, or call destruction from the skies with an Air Strike!
<li>Combat across either custom-created landscapes, or randomly-generated terrain. With millions of permutations, the combat never gets predictable.  
<li>Customizable teams :: from their names, to what they say, and to the weapons they carry!
<li>Incredible multiplayer action :: play with your friends around the same console or PC. Up to 4 players sharing on the same machine. 
<li>Truly Worldwide Internet gaming. Either from your office or the comfort of your own home, compete with other wormers anywhere in the world. 
<li>A massive online following, with planned leagues, ladder games, forums and gaming rooms for players of all skill levels. 
<li>PC Editor allows the player to create their own playing environments. 
<li>Quite literally more game options than you could shake a stick at :: plus the ability to try random combinations of modes with 'Wormpot'! 
<li>Turn-based action like you've never seen.  
</ul>
 						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">in with the new</td>
						<td class="darktext">
So what's new? While maintaining the core game-play, the addition of an extra dimension and the chance to
reassess the game and redesign, allows for some great new features ::<br>&nbsp;<br>
 						</td>
					</tr>
					<tr valign="top">
						<td class="darktext" colspan="2">
<ul>
<li>All new missions, play modes, 'Wormpot' modes, training, and challenge modes. All new challenges and all new game structure. 
<li>A more immersive single player experience based on unlocking challenges, secret missions, sound sets and landscapes. 
<li>A choice of camera modes :: 3rd person default, 1st person to look around and blimp view for a strategic overview of the situation. 
<li>Environmental conditions such as rain, snow, night and day add to the strategic decisions gacing the players. 
<li>Randomly-generated, and fully deformable landscape, all in true 3D. 
<li>The inclusion of the 'Wormapedia' allows the player to view the story behind some of the 'Worms' legends. 
<li>All new artificial intelligence, sound effects, music, interface, and much, much more. 
</ul>
 						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | the game | features -->
{% endblock %}

{% block right %}
			<!-- ABOUT | the game -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>development shots</b><br>&nbsp;<br>
<a href="abou/theg/1" target="_self"><img src="images/abou/theg_1.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/theg/2" target="_self"><img src="images/abou/theg_2.gif" width="107" height="107" border="0" alt=""></a><br>&nbsp;<br>
<a href="abou/theg/3" target="_self"><img src="images/abou/theg_3.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
All screenshots on this site are copyright Team17 Software Limited.<br>&nbsp;<br>

Reproduction, in whole or in part for press material, website content or distribution
to any third party must be accompanied with the copyright notice <b>'&copy; Team17
Software Limited 2003 - www.Worms3D.com'</b> otherwise consent is prohibited.<br>
						</td>
					</tr>
				</table>
			<!-- /ABOUT | the game -->
{%- endblock %}
