---
title: Welcome
layout: page
struct:
  - abou
  - welc
textimage: abou
---
{% extends "pagetable.njk" %}

{% block center %}
			<!-- about | welcome -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="2">[ <font class="selected">about</font> | <font class="selected">welcome</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">Information &amp;<br>Development</td>
						<td class="darktext">
These sections guide you through everything you need to know about Worms
3 with details about the game and the people behind the scenes!
<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /about | welcome -->

			<!-- ABOUT | press | reviews -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/revi#reviews" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">about</font> | <a href="abou/pres" target="_self" class="navilink">press</a> |  <a href="abou/pres/revi" target="_self" class="navilink">press reviews</a> ] 04/05/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/revi#reviews" target="_self" class="whitelink"><b>Press Reviews</b></a><br>
Click here for the latest press reviews!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | reviews -->
			
			<!-- ABOUT | press | release -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">about</font> | <a href="abou/pres" target="_self" class="navilink">press</a> |  <a href="abou/pres/rele" target="_self" class="navilink">press releases</a> ] 11/03/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>1 New Press Release</b></a><br>
Click here for the latest press release!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | release -->
			
			<!-- ABOUT | press | release -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">about</font> | <a href="abou/pres" target="_self" class="navilink">press</a> |  <a href="abou/pres/rele" target="_self" class="navilink">press releases</a> ] 16/01/04</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>1 New Press Release</b></a><br>
Click here for the latest press release!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | release -->
			
			<!-- ABOUT | press | quotes -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/quot" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">about</font> | <a href="abou/pres" target="_self" class="navilink">press</a> |  <a href="abou/pres/quot" target="_self" class="navilink">press quotes</a> ] 05/12/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/quot" target="_self" class="whitelink"><b>Press Quotes</b></a><br>
Click here for the latest press quotes!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | quotes -->
			
			<!-- ABOUT | press | release -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="3"><a href="abou/pres/rele" target="_self"><img src="images/abou/welc_pres.gif" width="71" height="71" border="0" alt=""></a></td>
						<td rowspan="3"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="13"></td>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px">[ <font class="selected">about</font> | <a href="abou/pres" target="_self" class="navilink">press</a> |  <a href="abou/pres/rele" target="_self" class="navilink">press releases</a> ] 28/11/03</td>
					</tr>
					<tr>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="darktext">
<a href="abou/pres/rele" target="_self" class="whitelink"><b>1 New Press Release</b></a><br>
Click here for the W3D on Mac press release!<br>
						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /ABOUT | press | release -->
{%- endblock %}

				<table width="100%" height="137" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #333333">
					<tr>
						<td background="images/graphics/back_worm.gif"><img src="images/graphics/worm_3d_1.gif" width="81" height="76" border="0" alt="" hspace="22"><br><img src="images/graphics/worm_3d_2.gif" width="111" height="59" border="0" alt="" hspace="8"></td>
					</tr>
				</table><br></td>
				<td width="10" rowspan="2"><img src="images/graphics/space.gif" width="2" height="1" border="0" alt="" hspace="4"></td>
				<td width="407"><img src="images/abou/back_v1.gif" width="407" height="10" border="0" alt=""><br><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
					<tr>
						<td><img src="images/text/abou.gif" width="44" height="18" border="0" alt="" hspace="20" vspace="11"></td>
						<td align="right"><img src="images/abou/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
