---
title: Screenshots
layout: page
struct:
  - mult
  - scre
  - all
---
{% extends "pagetable.njk" %}

{% block center %}

			<!-- MULTIMEDIA | screenshots -->
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="14" class="mediumwords" bgcolor="#333333" style="padding-left:2px" colspan="4">[ <a href="mult" target="_self" class="whitelink">multimedia</a> | <font class="selected">screenshots</font> ]</td>
					</tr>
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="49"></td>
						<td width="285" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" vspace="9" hspace="142"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords">development shots</td>
						<td class="darktext">
Feast your eyes on these screenshots from Worms 3D taken from various development builds
on the PC platform. Prepare to drool over the wacky new scenarios, gorgeous new custom
levels, new animations and fantastic effects, in fully destructible 3D environment.<br>&nbsp;<br>
						</td>
					</tr>
					<tr valign="top">
						<td class="lightwords">archive</td>
						<td class="darktext">
[ <a href="mult/scre" target="_self" class="navilink">show recent screenshots</a> ]<br>						</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots -->

			<!-- /MULTIMEDIA | screenshots | Frontend 2 --><a name="frontendoct"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/70" target="_self" class="navilink"><img src="images/mult/scre_70.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/71" target="_self" class="navilink"><img src="images/mult/scre_71.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/72" target="_self" class="navilink"><img src="images/mult/scre_72.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/73" target="_self" class="navilink"><img src="images/mult/scre_73.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/74" target="_self" class="navilink"><img src="images/mult/scre_74.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/75" target="_self" class="navilink"><img src="images/mult/scre_75.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/76" target="_self" class="navilink"><img src="images/mult/scre_76.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/77" target="_self" class="navilink"><img src="images/mult/scre_77.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/78" target="_self" class="navilink"><img src="images/mult/scre_78.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/79" target="_self" class="navilink"><img src="images/mult/scre_79.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/80" target="_self" class="navilink"><img src="images/mult/scre_80.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/81" target="_self" class="navilink"><img src="images/mult/scre_81.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Frontend - October 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Frontend 2 -->
			
			<!-- /MULTIMEDIA | screenshots | Frontend --><a name="frontend"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/67" target="_self" class="navilink"><img src="images/mult/scre_67.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/68" target="_self" class="navilink"><img src="images/mult/scre_68.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/69" target="_self" class="navilink"><img src="images/mult/scre_69.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">Frontend - September 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Frontend -->
			
			<!-- /MULTIMEDIA | screenshots | Explosion Fest! --><a name="explosion"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="4">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/57" target="_self" class="navilink"><img src="images/mult/scre_57.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/58" target="_self" class="navilink"><img src="images/mult/scre_58.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/59" target="_self" class="navilink"><img src="images/mult/scre_59.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/60" target="_self" class="navilink"><img src="images/mult/scre_60.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/61" target="_self" class="navilink"><img src="images/mult/scre_61.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/62" target="_self" class="navilink"><img src="images/mult/scre_62.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/63" target="_self" class="navilink"><img src="images/mult/scre_63.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/64" target="_self" class="navilink"><img src="images/mult/scre_64.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/65" target="_self" class="navilink"><img src="images/mult/scre_65.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/66" target="_self" class="navilink"><img src="images/mult/scre_66.gif" width="89" height="67" border="0" alt=""></a></td>	
						<td class="lightwords" align="right" valign="middle" colspan="2">Explosion Fest! - August 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | Explosion Fest! -->
			
			<!-- /MULTIMEDIA | screenshots | July --><a name="jul03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/45" target="_self" class="navilink"><img src="images/mult/scre_45.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/46" target="_self" class="navilink"><img src="images/mult/scre_46.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/47" target="_self" class="navilink"><img src="images/mult/scre_47.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/48" target="_self" class="navilink"><img src="images/mult/scre_48.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/49" target="_self" class="navilink"><img src="images/mult/scre_49.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/50" target="_self" class="navilink"><img src="images/mult/scre_50.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/51" target="_self" class="navilink"><img src="images/mult/scre_51.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/52" target="_self" class="navilink"><img src="images/mult/scre_52.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/53" target="_self" class="navilink"><img src="images/mult/scre_53.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/54" target="_self" class="navilink"><img src="images/mult/scre_54.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/55" target="_self" class="navilink"><img src="images/mult/scre_55.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/56" target="_self" class="navilink"><img src="images/mult/scre_56.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">July 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | July -->
			
			<!-- /MULTIMEDIA | screenshots | June --><a name="jun03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/37" target="_self" class="navilink"><img src="images/mult/scre_37.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/38" target="_self" class="navilink"><img src="images/mult/scre_38.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/39" target="_self" class="navilink"><img src="images/mult/scre_39.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/40" target="_self" class="navilink"><img src="images/mult/scre_40.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/41" target="_self" class="navilink"><img src="images/mult/scre_41.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/42" target="_self" class="navilink"><img src="images/mult/scre_42.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/43" target="_self" class="navilink"><img src="images/mult/scre_43.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/44" target="_self" class="navilink"><img src="images/mult/scre_44.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">June 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | June -->
			
			<!-- /MULTIMEDIA | screenshots | May --><a name="may03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/32" target="_self" class="navilink"><img src="images/mult/scre_32.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/33" target="_self" class="navilink"><img src="images/mult/scre_33.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/34" target="_self" class="navilink"><img src="images/mult/scre_34.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/35" target="_self" class="navilink"><img src="images/mult/scre_35.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/36" target="_self" class="navilink"><img src="images/mult/scre_36.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">May 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | May -->
			

			<!-- /MULTIMEDIA | screenshots | April --><a name="apr03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="5">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/20" target="_self" class="navilink"><img src="images/mult/scre_20.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/21" target="_self" class="navilink"><img src="images/mult/scre_21.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/22" target="_self" class="navilink"><img src="images/mult/scre_22.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/23" target="_self" class="navilink"><img src="images/mult/scre_23.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/24" target="_self" class="navilink"><img src="images/mult/scre_24.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/25" target="_self" class="navilink"><img src="images/mult/scre_25.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/26" target="_self" class="navilink"><img src="images/mult/scre_26.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/27" target="_self" class="navilink"><img src="images/mult/scre_27.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/28" target="_self" class="navilink"><img src="images/mult/scre_28.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/29" target="_self" class="navilink"><img src="images/mult/scre_29.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/30" target="_self" class="navilink"><img src="images/mult/scre_30.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/31" target="_self" class="navilink"><img src="images/mult/scre_31.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">April 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | April -->
			
			<!-- /MULTIMEDIA | screenshots | March --><a name="mar03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/14" target="_self" class="navilink"><img src="images/mult/scre_14.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/15" target="_self" class="navilink"><img src="images/mult/scre_15.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/16" target="_self" class="navilink"><img src="images/mult/scre_16.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/17" target="_self" class="navilink"><img src="images/mult/scre_17.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/18" target="_self" class="navilink"><img src="images/mult/scre_18.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/19" target="_self" class="navilink"><img src="images/mult/scre_19.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="right" colspan="3">March 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | March -->
			
			<!-- /MULTIMEDIA | screenshots | February --><a name="feb03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="3">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/6" target="_self" class="navilink"><img src="images/mult/scre_6.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/7" target="_self" class="navilink"><img src="images/mult/scre_7.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/8" target="_self" class="navilink"><img src="images/mult/scre_8.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/9" target="_self" class="navilink"><img src="images/mult/scre_9.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/10" target="_self" class="navilink"><img src="images/mult/scre_10.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/11" target="_self" class="navilink"><img src="images/mult/scre_11.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/12" target="_self" class="navilink"><img src="images/mult/scre_12.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/13" target="_self" class="navilink"><img src="images/mult/scre_13.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">February 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | February -->
			
			<!-- /MULTIMEDIA | screenshots | January --><a name="jan03"></a>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A"><tr><td>
				<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="99" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="49"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
						<td width="95" background="images/graphics/dots.gif"><img src="images/graphics/space.gif" width="1" height="1" border="0" alt="" hspace="47"></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" rowspan="2">Click thumbnails<br>to enlarge</td>
						<td class="lightwords" align="left"><a href="mult/scre/1" target="_self" class="navilink"><img src="images/mult/scre_1.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="center"><a href="mult/scre/2" target="_self" class="navilink"><img src="images/mult/scre_2.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
						<td class="lightwords" align="right"><a href="mult/scre/3" target="_self" class="navilink"><img src="images/mult/scre_3.gif" width="89" height="67" border="0" alt=""></a><br>&nbsp;<br></td>
					</tr>
					<tr valign="top">
						<td class="lightwords" align="left"><a href="mult/scre/4" target="_self" class="navilink"><img src="images/mult/scre_4.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="center"><a href="mult/scre/5" target="_self" class="navilink"><img src="images/mult/scre_5.gif" width="89" height="67" border="0" alt=""></a></td>
						<td class="lightwords" align="right" valign="middle">January 2003</td>
					</tr>
				</table>
				</td></tr></table><br>
			<!-- /MULTIMEDIA | screenshots | January -->
{% endblock %}

{% block right %}
			<!-- MULTIMEDIA | screenshots -->
				<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td bgcolor="#333333" align="right"><img src="images/mult/worm_2d.gif" width="80" height="40" border="0" alt=""><img src="images/graphics/corner_blue.gif" width="10" height="40" border="0" alt=""></td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
					<tr>
						<td>
<b>Frontend screenshots</b><br> .jpg 798x598<br>&nbsp;<br>
<a href="images/mult/scre_fron.zip" target="_self"><img src="images/mult/scre_fron.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
					<tr>
						<td>
<b>Explosion Fest screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_expl.zip" target="_self"><img src="images/mult/scre_expl.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jul screenshots</b><br> .jpg 798x598/640x448<br>&nbsp;<br>
<a href="images/mult/scre_jul.zip" target="_self"><img src="images/mult/scre_jul.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jun screenshots</b><br> .jpg 798x598<br>&nbsp;<br>
<a href="images/mult/scre_jun.zip" target="_self"><img src="images/mult/scre_jun.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>May screenshots</b><br> .jpg 640x448<br>&nbsp;<br>
<a href="images/mult/scre_may.zip" target="_self"><img src="images/mult/scre_may.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Apr screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_apr.zip" target="_self"><img src="images/mult/scre_apr.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Mar screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_mar.zip" target="_self"><img src="images/mult/scre_mar.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Feb screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_feb.zip" target="_self"><img src="images/mult/scre_feb.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>Jan screenshots</b><br> .jpg 800x600<br>&nbsp;<br>
<a href="images/mult/scre_jan.zip" target="_self"><img src="images/mult/scre_jan.gif" width="107" height="107" border="0" alt=""></a><br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
<b>right/option-click</b> and<br>
<b>'save target as'</b><br>&nbsp;<br>
Decompress using<br><a href="http://www.winzip.com" target="_blank" class="whitelink">Winzip</a>/<a href="http://www.stuffit.com" target="_blank" class="whitelink">Stuffit</a> or similar.<br>
						</td>
					</tr>
				</table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#3E5182">
					<tr>
						<td>
All screenshots on this site are copyright Team17 Software Limited.<br>&nbsp;<br>

Reproduction, in whole or in part for press material, website content or distribution
to any third party must be accompanied with the copyright notice <b>'&copy; Team17
Software Limited 2003 - www.Worms3D.com'</b> otherwise consent is prohibited.<br>
						</td>
					</tr>
				</table>
			<!-- MULTIMEDIA | screenshots -->
{%- endblock %}
