<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>..::] Worms 3D | The official website from Team17 [::..</title>
		<meta name="author" content="APJ">
		<meta name="description" content="..::] Worms 3D | The official website from Team17 [::..">
		<meta name="keywords" content="Team17, Team, 17, PC, DC, PS, PSX, PS2, N64, GB, X BOX, GC, Playstation, Playstation2, Dreamcast, X-Box, Gamecube, Alien, Breed, Addiction, Pinball, Arcade, Pool, Assassin, Body, Blows, Full, Contact, Nightlong, Phoenix, Project, X, 2, Stunt, GP, Silverball, Speris, Legacy, Superfrog, Super, Stardust, Worms, Armageddon, Reinforcements, World, Party, Blast, United, QWAK, Access, All, Areas, Profits, Warning, game, pink, hard, games, gameplay, humour">
<base href="{{ "/" | url }}" />
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
<script language="JavaScript" src="scripts/worms3d.js"></script>
<script language="JavaScript1.1" src="scripts/flash.js"></script>
<link href="scripts/worms3d_ie.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#3E5182" text="#000000" link="#000000" vlink="#000000" alink="#000000" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0" background="images/graphics/back_main.gif"><a name="top"></a>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<!-- intro -->
	<tr>
		<td align="center" valign="middle"><table width="619" border="0" cellspacing="10" cellpadding="0">
			<tr>
				<td></td>
				<td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="left"><a href="http://www.gamespy.com" target="_blank"><img src="images/index/logo_gamespy.gif" width="88" height="26" border="0" alt="" vspace="11"></a></td>
						<td width="100%" align="center"><a href="http://www.team17.com" target="_blank"><img src="images/index/logo_team17.gif" width="88" height="35" border="0" alt="" vspace="0"></a><br><a href="http://forum.team17.com/showthread.php?t=22082" target="_blank" class="navilink">we are recruiting - click for details</a></td>
						<td align="right"><a href="http://www.sega-europe.com" target="_blank"><img src="images/index/logo_sega.gif" width="88" height="22" border="0" alt="" vspace="11"></a></td>
					</tr>
				</table></td>
				<td></td>
			</tr>
			<tr>
				<td valign="top"><a href="goodies/demo" target="_self"><img src="images/index/demo.gif" width="66" height="60" border="0" alt="Demo available - click here!" vspace="5"></a></td>
				<td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A">
					<tr>
						<td align="right"><a href="support/faqs#euau" target="_self"><img src="images/index/text_date_eu-au.gif" width="44" height="44" border="0" alt="Europe / Australia - Out Now!" vspace="5"></a></td>
					</tr>
				</table><img src="images/graphics/space.gif" alt="" width="2" height="2" hspace="31" vspace="4" border="0"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A">
					<tr>
						<td align="right"><a href="support/faqs#usea" target="_self"><img src="images/index/text_date_us-ea.gif" width="44" height="44" border="0" alt="Nth America / Sth America / Far East - Out Now!" vspace="5"></a></td>
					</tr>
				</table></td>
				<td background="images/index/back.jpg"><table width="286" height="286" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #333333">
					<tr valign="bottom">
						<td align="center"><center><a href="home" target="_self"><img src="images/index/logo_w.gif" width="40" height="88" border="0" alt=""><img src="images/index/logo_o.gif" width="37" height="88" border="0" alt=""><img src="images/index/logo_rms.gif" width="97" height="88" border="0" alt=""><img src="images/index/logo_3d.gif" width="94" height="88" border="0" alt=""></a></center></td>
					</tr>
					<tr valign="bottom">
						<td align="center"><center><a href="home" target="_self"><img src="images/index/worm_1.gif" width="99" height="140" border="0" alt=""><img name="intr" src="images/index/worm_2.gif" width="72" height="140" border="0" alt=""><img src="images/index/worm_3.gif" width="85" height="140" border="0" alt=""></a></center></td>
					</tr>
					<tr valign="bottom">
						<td><a href="home" target="_self"><img src="images/index/worm_4.gif" width="284" height="24" border="0" alt=""></a></td>
					</tr>
					<tr valign="bottom">
						<td><a href="home" target="_self"><img src="images/index/worm_5.gif" width="284" height="32" border="0" alt=""></a></td>
					</tr>
				</table></td>
				<td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333" bgcolor="#38425A">
					<tr>
						<td align="right"><img src="images/index/text_enter.gif" width="44" height="34" border="0" alt="click Worm to enter site!" vspace="5"></td>
					</tr>
				</table></td>
				<td valign="top"><a href="support/patc" target="_self"><img src="images/index/patch.gif" width="66" height="60" border="0" alt="Patch available - click here!" vspace="5"></a></td>
			</tr>
			<tr>
				<td colspan="5"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #333333">
					<tr>
						<td align="center"><img src="images/platforms/pc.gif" width="29" height="29" border="0" alt="Europe / Australia - Out Now! Nth America / Sth America / Far East - Out Now!"></td>
						<td align="center"><img src="images/platforms/playstation2.gif" width="121" height="29" border="0" alt="Europe / Australia - Out Now! Nth America / Sth America / Far East - Out Now!"></td>
						<td align="center"><img src="images/platforms/gamecube.gif" width="114" height="29" border="0" alt="Europe / Australia - Out Now! Nth America / Sth America / Far East - Out Now!"></td>
						<td align="center"><img src="images/platforms/xbox.gif" width="29" height="29" border="0" alt="Europe / Australia - Out Now!"></td>
						<td align="center"><img src="images/platforms/xboxlive.gif" width="68" height="29" border="0" alt="Nth America / Sth America / Far East - Out Q2 2004!"></td>
						<td align="center"><img src="images/platforms/mac.gif" width="29" height="29" border="0" alt="All Teritories - Out Now!"></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="5"><font color="#333333"><div align="justify">Worms 3D &copy; 2003 Team17 Software, Team17 Software and Worms 3D are trademarks or registered trademarks of Team17 Software Limited. Original Concept Andy Davidson. &copy; Sega Corporation, 2003.<br>This product contains software technology licensed from GameSpy Industries, Inc. &copy; 1999-2006 GameSpy Industries, Inc. GameSpy and the &quot;Powered by GameSpy&quot; logo are trademarks of GameSpy Industries, Inc. All rights reserved.</div></font></td>
			</tr>
		</table></td>
	</tr>
	<!-- /intro -->
</table>
</body>
</html>